@import '../variables.scss';

:global(.issue-awareness-active .inventory-content) {
  margin-bottom: 150px;
}

.issueAwarenessBanner {
  cursor: default;
  position: fixed;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out;

  button {
    cursor: pointer;
  }

  img {
    display: block;
  }

  .thermo {
    font-size: 1rem;
    background-color: dimgrey;
    display: flex;

    .track {
      width: unset;
      flex-grow: 1;
    }

    .mercury {
      width: unset;
      background-color: #e8a534;
      padding: 0.125rem 0.25rem;
      word-wrap: normal;
      background-image: linear-gradient(
          -45deg,
          transparent 33%,
          rgba(0, 0, 0, 0.1) 33%,
          rgba(0, 0, 0, 0.1) 66%,
          transparent 66%
        ),
        linear-gradient(to top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
        linear-gradient(to left, #ac7b28, #e8a534);
      border-radius: 2px;
      background-size: 35px 100%, 100% 100%, 100% 100%;
    }

    .goal {
      flex-shrink: 0;
      width: unset;
      padding: 0.125rem 0.25rem;
      background: darkslategrey;
    }
  }
}
