dim-manifest-progress {
  position: fixed;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;

  .manifest-progress {
    width: 24rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    padding: 1.5rem 1.5rem;
    background-color: #222;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
    white-space: pre-wrap;

    i {
      font-size: 2rem;
      margin-bottom: .5rem;
    }

    &.ng-animate {
      transition: opacity 0.3s ease-out;
    }

    &.ng-enter, &.ng-leave.ng-leave-active {
      opacity: 0;
    }

    &.ng-leave, &.ng-enter.ng-enter-active {
      opacity: 1;
    }
  }
}
