@use '../variables' as *;

@layer base {
  :global(.stat) {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 16px;
    white-space: nowrap;
    font-size: 11px;
    gap: 2px;

    @include phone-portrait {
      font-size: 12px;
    }

    img {
      height: 14px;
      width: 14px;
    }
  }
}

.boostedValue {
  color: $stat-modded;
  font-weight: bold;
  text-shadow: rgb(0, 0, 0, 0.5) 0 0 2px;
}

.armorStats {
  composes: flexRow from '../dim-ui/common.m.scss';
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.powerFormula {
  composes: flexRow from '../dim-ui/common.m.scss';
  align-items: center;
  justify-content: space-between;

  img {
    opacity: 0.6;
    height: 24px;
    width: 24px;
  }
  img[src^='data'] {
    filter: invert(1);
  }
  *[role='button'] {
    margin: -2px -4px;
    padding: 2px 4px;
  }
  > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    &::before,
    &::after {
      font-size: 13px;
      color: var(--theme-header-characters-txt);
      margin-left: 4px;
      margin-right: 4px;
      text-decoration: none !important;
    }
    &::before {
      content: '=';
    }
    &::after {
      content: '+';
    }
  }
}

.powerStat {
  font-size: 160%;
}

.tier {
  font-weight: bold;
}

.tooltipFootnote {
  opacity: 0.6;
  width: 80%;
  margin: 10px 0 0 auto;
  text-align: right;
}

.richTooltipWrapper {
  margin: 8px 0 0 0;
}

.asterisk {
  vertical-align: top;
  margin-left: 2px;
}

.dropLevel {
  display: flex;
  justify-content: space-between;
}
