.materialCounts {
  display: grid;
  margin: auto;
  width: fit-content;
  grid-template-columns: max-content max-content max-content max-content;
  gap: 2px 6px;
  align-items: center;

  img {
    height: 20px;
    width: 20px;
  }
  .amount {
    text-align: right;
    font-weight: bold;
    font-variant-numeric: tabular-nums;
  }
  .capacity {
    color: #bbb;
  }
  .matName {
    text-align: right;
  }
  .spanGrid {
    grid-column-end: span 4;
    hr {
      margin: 3px;
    }
  }
}
