@import '../variables';

.values {
  display: flex;
  justify-content: space-between;
}

.label {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.icon {
  width: 16px;
  height: 16px;
  margin-left: 2px;
  margin-right: 2px;
}
