@use '../variables.scss' as *;

.bucketTag {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  pointer-events: none;
  img {
    size: 14px;
    filter: invert(1);
    opacity: 0.7;
  }
}

.full {
  color: var(--theme-text);
  font-weight: bold;
}

.bucketCount {
  width: fit-content;
  margin: -2px -4px -2px -20px;
  padding: 2px 4px 2px 20px;

  &[role='button'] {
    position: relative;

    @include phone-portrait {
      &::after {
        content: '';
        display: block;
        border-bottom: 1px dashed var(--theme-item-polaroid-hover-border);
        border-color: color-mix(in srgb, var(--theme-item-polaroid-hover-border), transparent 60%);
        position: absolute;
        bottom: 2px;
        left: 4px;
        right: 4px;
      }
    }
  }
}
