.bucketTag {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  img {
    height: 14px;
    width: 14px;
    filter: saturate(0) brightness(0.75) invert(var(--theme-header-characters-icon));
    opacity: 0.7;
  }
}

.full {
  color: var(--theme-text);
  font-weight: bold;
}
