<div id="header">
  <span class="menu link" ng-click="$ctrl.dropdown = !$ctrl.dropdown" dim-click-anywhere-but-here="$ctrl.dropdown = false">
    <i class="fa fa-bars"></i>
    <div class="dropdown" ng-if="$ctrl.dropdown">
      <span class="link" ng-click="$ctrl.toggleState('loadout-builder')" ng-i18next="[title]LB.LB"></span>
      <span class="link" ng-if="::$ctrl.featureFlags.vendorsEnabled" ng-class="{disabled: !$ctrl.vendorService.vendorsLoaded}" ng-click="$ctrl.toggleState('vendors')" ng-i18next="Vendors.Vendors"></span>
      <span class="link" ng-click="$ctrl.toggleState('record-books')" ng-i18next="RecordBooks.RecordBooks"></span>
      <span class="link" ng-if="::$ctrl.featureFlags.activities" ng-click="$ctrl.toggleState('activities')" ng-i18next="Activities.Activities"></span>
      <span class="link" ng-if="$ctrl.xur.available" ng-click="$ctrl.showXur($event)">Xûr</span>
      <hr>
      <span class="link" ng-click="$ctrl.toggleState('storage')" ng-i18next="Storage.Title"></span>
      <span class="link" ng-click="$ctrl.showSetting($event)" ng-i18next="Settings.Settings"></span>
      <hr>
      <span class="link" ng-click="$ctrl.showAbout($event)" ng-i18next="Header.About"></span>
      <span class="link" ng-click="$ctrl.showSupport($event)" ng-i18next="Header.SupportDIM"></span>
      <a class="link" target="_blank" rel="noopener noreferrer" href="https://teespring.com/stores/dim" ng-i18next="Header.Shop"></a>
    </div>
  </span>

  <img class="logo link" ng-class="::$ctrl.$DIM_FLAVOR" ui-sref="inventory" title="v{{::$ctrl.$DIM_VERSION}} ({{::$ctrl.$DIM_FLAVOR}})" src="~app/images/logo-type-right-light.svg" alt="DIM"/>
  <span class="link first-to-go" ng-click="$ctrl.showAbout($event)" ng-i18next="Header.About"></span>
  <span class="link first-to-go" ng-click="$ctrl.showSupport($event)" ng-i18next="Header.SupportDIM"></span>
  <a class="link first-to-go" target="_blank" rel="noopener noreferrer" href="https://teespring.com/stores/dim" ng-i18next="Header.Shop"></a>
  <span class="link first-to-go header-separator"></span>
  <span class="link second-to-go" ng-click="$ctrl.toggleState('loadout-builder')" ng-i18next="LB.LB"></span>
  <span class="link second-to-go" ng-click="$ctrl.toggleState('record-books')" ng-i18next="RecordBooks.RecordBooks"></span>
  <span class="link" ng-if="::$ctrl.featureFlags.activities" ng-click="$ctrl.toggleState('activities')" ng-i18next="Activities.Activities"></span>
  <span class="link second-to-go" ng-if="::$ctrl.featureFlags.vendorsEnabled" ng-class="{disabled: !$ctrl.vendorService.vendorsLoaded}" ng-click="$ctrl.toggleState('vendors')" ng-i18next="Vendors.Vendors"></span>
  <span class="link second-to-go" ng-if="$ctrl.xur.available" ng-click="$ctrl.showXur($event)">Xûr</span>

  <span class="header-right">
    <refresh-stores class="link"></refresh-stores>
    <span class="link" ng-click="$ctrl.toggleState('storage')" ng-i18next="[title]Storage.Title"><i class="fa fa-save"></i></span>
    <span class="link" ng-click="$ctrl.showSetting($event)" ng-i18next="[title]Settings.Settings"><i class="fa fa-cog"></i></span>
    <span class="link search-link">
      <span class="filter-help" ng-click="$ctrl.showFilters($event)" ng-i18next="[title]Header.Filters"><i class="fa fa-question-circle-o"></i></span>
      <dim-search-filter></dim-search-filter>
    </span>
    <dim-platform-choice platforms="$ctrl.platforms" current="$ctrl.currentPlatform" on-platform-change="$ctrl.platformChange(platform)" class="header-right"></dim-platform-choice>
  </span>
</div>

<div id="content" ui-view></div>
<div class="store-bounds"></div>
<dim-manifest-progress></dim-manifest-progress>
<div class="random-loadout" ng-controller="dimRandomCtrl as random">
  <a class="loadout random" href="#" ng-disabled="random.disableRandomLoadout" ng-if="::random.showRandomLoadout" ng-click="random.applyRandomLoadout($event)">&Pi;</a>
</div>
<ng-include ng-if="::$ctrl.featureFlags.colorA11y" src="'data/color-a11y.svg'"></ng-include>
