.container {
  composes: flexWrap from 'app/dim-ui/common.m.scss';
  align-items: flex-end;

  > * {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.subclass {
  :global(.item) {
    height: calc(1.1 * var(--item-size));
    width: calc(1.1 * var(--item-size));

    img {
      height: calc(1.1 * var(--item-size));
      width: calc(1.1 * var(--item-size));
    }
  }
}
