
<div>
  <h1>
    <dim-simple-item item-data="vm.item"></dim-simple-item>
    How much {{vm.item.name}} to move?
  </h1>
  <div class="ngdialog-inner-content">
    <form ng-submit="vm.finish()">
      <dim-move-amount amount="vm.moveAmount" maximum="vm.maximum"></dim-move-amount>
    </form>
    <div class="buttons">
      <button ng-click="vm.finish()">Move</button>
      <button ng-click="vm.stacksWorthClick()" ng-show="vm.stacksWorth > 0">Fill Stack ({{vm.stacksWorth}})</button>
    </div>
  </div>
</div>