<div>
  <div class="item-header" ng-class="vm.classes">
    <div class="item-title-container">
      <div ng-if="vm.item.trackable || vm.item.lockable || vm.item.dmg" class="icon">
        <div ng-if="vm.item.lockable" ng-click="vm.setItemState(vm.item, 'lock')" translate-values="{itemType: vm.item.typeName, locked: vm.item.locked}" translate-attr="{title: 'MovePopup.LockUnlock'}">
          <i class="lock fa" ng-class="{'fa-lock': vm.item.locked, 'fa-unlock-alt': !vm.item.locked, 'is-locking': vm.locking }"></i>
        </div>
        <div ng-if="vm.item.trackable" ng-click="vm.setItemState(vm.item, 'track')" translate-values="{itemType: vm.item.typeName, tracked: vm.item.tracked}" translate-attr="{title: 'MovePopup.TrackUntrack'}">
          <i class="lock fa" ng-class="{'fa-star': vm.item.tracked, 'fa-star-o': !vm.item.tracked, 'is-locking': vm.locking }"></i>
        </div>
      </div>
      <div class="item-title-link">
        <a target="_blank" rel="noopener noreferrer" href="http://db.destinytracker.com/inventory/item/{{ vm.item.hash }}#{{ vm.item.talentGrid.dtrPerks }}" class="item-title">
          {{vm.item.name}}
        </a>
      </div>
      <i translate-attr="{ title: 'Compare.ButtonHelp'}" ng-if="vm.item.comparable" class="compare-button fa fa-clone" ng-click="vm.openCompare()"></i>
      <div ng-if="!vm.showDetailsByDefault && (vm.showDescription || vm.hasDetails) && !vm.item.classified;" ng-click="vm.changeDetails(); vm.itemDetails = !vm.itemDetails">
        <i class="info fa" ng-class="{ 'fa-chevron-circle-up': vm.itemDetails, 'fa-chevron-circle-down': !vm.itemDetails }">
        </i>
      </div>
    </div>
    <div class="item-subtitle">
      <div ng-if="vm.item.trackable || vm.item.lockable || vm.item.dmg" class="icon">
        <div ng-if="vm.item.dmg && vm.item.dmg !== 'kinetic'" class="element" ng-class="::vm.item.dmg"></div>
      </div>
      <div class="item-type-info" translate-values="{ light: vm.light, statName: vm.item.primStat.stat.statName, classType: vm.classType, typeName: vm.item.typeName }" translate="MovePopup.Subtitle"></div>
      <div ng-if="vm.item.objectives" translate-values="{ percent: vm.item.percentComplete }" translate="ItemService.PercentComplete"></div>
      <dim-item-tag ng-if="vm.item.taggable" item="vm.item"></dim-item-tag>
    </div>
    <div ng-show="vm.item.reviewable && vm.item.totalReviews" class="item-review-average">
      <star-rating rating="vm.item.dtrRating" read-only></star-rating>
      <span translate="DtrReview.AverageRating" translate-values="{ itemRating: vm.item.dtrRating, numReviews: vm.item.totalReviews }"></span>
    </div>
  </div>
  <div class="item-xp-bar" ng-if="vm.item.percentComplete != null && !vm.item.complete" dim-percent-width="vm.item.percentComplete"></div>
  <div ng-if="vm.item.reviewable" class="move-popup-tabs">
    <span class="move-popup-tab" ng-class="{selected: vm.tab==='default'}" ng-click="vm.tab='default'" translate="MovePopup.OverviewTab"></span>
    <span class="move-popup-tab" ng-class="{selected: vm.tab==='reviews'}" ng-click="vm.tab='reviews'" translate="MovePopup.ReviewsTab"></span>
  </div>
  <dim-item-review item="vm.item" ng-if="vm.item.lockable" ng-show="vm.tab === 'reviews'"></dim-item-review>
  <div ng-show="vm.tab === 'default'">
    <form ng-if="vm.item.taggable" name="notes"><textarea name="data" translate-attr="{ placeholder: 'Notes.Help' }" ng-maxlength="120" ng-model="vm.item.dimInfo.notes" ng-model-options="{ debounce: 250 }" ng-change="vm.updateNote()"></textarea></form>
    <span class="textarea-error" ng-show="notes.data.$error.maxlength" translate="Notes.Error"></span>
    <div class="item-description" ng-if="vm.itemDetails && vm.showDescription" ng-bind="::vm.item.description"></div>
    <div class="item-details" ng-if="vm.item.classified" translate="ItemService.Classified2"></div>
    <dim-item-stats item="vm.item" class="stats" ng-if="vm.itemDetails && vm.hasDetails"></dim-item-stats>
    <div class="item-details item-perks" ng-if="vm.item.talentGrid && vm.itemDetails">
      <dim-talent-grid talent-grid="vm.item.talentGrid" dim-infuse="vm.infuse(vm.item, $event)"></dim-talent-grid>
    </div>
    <dim-objectives class="item-details" ng-if="vm.itemDetails" objectives="vm.item.objectives"></dim-objectives>
    <div ng-if="vm.featureFlags.debugMode" class="item-details">
      <a ui-sref="debugItem({itemId: vm.item.id})" translate="Debug.View"></a>
      <button ng-click="vm.dumpDebugInfo()" translate=Debug.Dump></a>
    </div>
  </div>
</div>
