.activities {
  width: calc(
    (40px + var(--item-size) + (3 * (var(--item-size) + 8px))) * var(--num-characters) +
      ((var(--num-characters) - 1) * 12px)
  );
  margin: 0 auto;

  .activities-characters {
    display: flex;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .activities-character {
    flex-shrink: 0;
    display: flex;
    margin-right: 12px;
    width: calc(40px + var(--item-size) + (3 * (var(--item-size) + 8px)));

    .character {
      height: 46px;
    }

    .character-box {
      cursor: default;
      border-bottom: none;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .activity-name {
    text-shadow: 2px 2px 5px black;
  }
  .activity-featured {
    color: gold;
  }
  .activity-title {
    padding: 0 16px;
    line-height: 34px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
  }
  .activity-info {
    padding: 8px 0;
    margin-bottom: 8px;
  }
  .activity-type {
    float: right;
    font-size: 0.85em;
    text-shadow: 2px 2px 5px black;
  }
  .activity-progress {
    position: relative;
  }

  .activity-skulls {
    padding: 4px 0px;
    max-width: 350px;
    margin: 0 auto;

    .small-icon {
      height: 16px;
      padding: 2px 7px;
      margin-right: 6px;
      float: left;
    }
  }

  .title {
    cursor: pointer;
    background-blend-mode: multiply;
    background: #666;

    &:hover {
      background: #aaa;
    }
  }

  .small-icon {
    height: 26px;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }

  .tier-title {
    margin-top: 10px;
    text-transform: uppercase;
    position: absolute;
    font-size: 12px;
    color: #ccc;
    &:first-child {
      margin-top: 0px;
    }
  }

  .tier-characters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .tier-row {
    text-align: center;
    img {
      padding-right: 4px;
    }
  }

  .step-icon {
    border-radius: 50%;
    background-color: rgba(245, 245, 245, 0.1);
    width: 8px;
    height: 8px;
    display: inline-block;
    border: 2px solid #fff;
    margin: 2px;
  }

  .step-icon.complete {
    border-color: #ffce1f;
    background-color: rgba(255, 206, 31, 0.4);
  }

  .weak {
    color: #aaa;
  }
}
