@use '../../variables.scss' as *;

.loadoutOptions {
  display: flex;
  flex-flow: row wrap;

  @include phone-portrait {
    font-size: 14px;
  }

  input {
    vertical-align: middle;
  }
}

.inputGroup {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-right: 4px;
  margin-bottom: 4px;

  gap: 4px;
  &:last-child {
    margin-bottom: 0;
  }
}

.loadoutName {
  width: 26em;
}

.dimInput {
  padding-left: 5px;
  height: 23px;
  background: rgb(46, 46, 46);
  border: none;
  border-bottom: 1px solid #555;
  color: var(--theme-text);
  width: 100%;

  @include phone-portrait {
    font-size: 14px;
    height: 32px;
  }

  @include interactive($hover: true, $focus: true) {
    background: black;
    outline: none;
    border-bottom: 1px solid var(--theme-accent-primary);
  }
}
