@use '../../variables.scss' as *;

.loadout-item {
  position: relative;
}

.loadout-item-class-icon {
  box-sizing: border-box;
  width: calc(var(--item-size) / 4) !important;
  height: calc(var(--item-size) / 4) !important;
  font-size: calc(var(--item-size) * 0.71);
  color: white;
  position: absolute;
  z-index: 1;
  left: 1px;
  bottom: 1px;
  display: block;
}

.loadout-warn-items {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.loadout-contents {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  padding: 0 10px;
}

.loadout-add-types {
  display: flex;
  flex-flow: row wrap;
  .loadout-add {
    margin-right: 4px;
    margin-bottom: 4px;
  }
}

.loadout-added-items {
  display: flex;
  flex-flow: row wrap;
  min-height: calc(var(--item-size) + 4px);
  margin-top: 4px;

  @include phone-portrait {
    flex-flow: column nowrap;
  }
}

// TODO: css grid?
.loadout-bucket {
  width: 100%;
  position: relative;
  display: flex;
  box-sizing: border-box;
  margin-right: 16px;
  flex-direction: column;
  flex: 0;

  @include phone-portrait {
    margin-right: 0;
  }

  .loadout-bucket-name {
    text-transform: uppercase;
    font-size: 13px;
  }

  .equipped {
    .item {
      margin: 0;
    }
  }

  .loadout-bucket-items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* prettier-ignore */
    max-width: calc(
      #{$equipped-item-total-outset} +
      var(--character-column-width)
    ); // ↑ fit 1 equipped + 3-5 items

    /* prettier-ignore */
    min-width: calc(
      #{$equipped-item-total-outset} +
      2 * (var(--item-size) + var(--item-margin))
    ); // ↑ fit at least 1 equipped + 1 unequipped item

    width: max-content;

    @include phone-portrait {
      max-width: 100%;
      width: 100%;
    }

    &.bucket-Class {
      min-width: 0;
    }

    .equipped {
      padding-bottom: 8px;
    }
  }

  .pull-item-button {
    box-sizing: border-box;
    width: calc(var(--item-size) / 2);
    height: calc((var(--item-size) + ((var(--item-size) / 5) + 4px) - 1px));
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-decoration: none;
  }

  .loadout-add {
    white-space: nowrap;
  }

  .sub-bucket {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
  }
  .sub-bucket.equipped {
    flex: 0;
    .loadout-item {
      margin: 0;
    }
  }
}
