@import '../../../scss/variables.scss';

.mode-popup {
  @include below-header;
  position: absolute;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: auto;
  margin: 0;
  padding: 15px;
  min-width: 150px;
  height: fit-content;
  background-color: #222;
  @include phone-portrait {
    right: 0px;
  }
}

.mode-label {
  padding-right: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0 0 0.5em 0;
}

.mode-row-container {
  border: 1px solid #555;
}

.mode-row {
  display: flex;
  padding: 5px;
}

.mode-column {
  width: 50%;
}
