@import '../../../scss/variables.scss';

.mode-popup {
  @include below-header;
  position: absolute;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: auto;
  margin: 0;
  padding: 15px;
  min-width: 150px;
  height: fit-content;
  background-color: black;
  @include phone-portrait {
    right: 0px;
  }

  .ratings-key {
    margin-bottom: 4px;
  }
}

.mode-label {
  padding-right: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0.5em 0 0 0;
}

#header .mode-label a.stylizedAnchor {
  font-size: 10px;
}

.mode-row {
  display: flex;
  margin: 5px;
}
