/*
Main SASS file (compiles using grunt-sass)
Author: Josh Flayhart
Created: Aug 18, 2015
Modified: Aug 20, 2015
*/

// Import Partials
@import "animation"; // css animation, keyframes
@import "objects";   // Buttons, loaders, modals, dialogues, etc.
@import "layout";    // Layout-centric stuff goes here

// Header
#header {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    height: 32px;
    background: rgb(195, 188, 180);
    color: #1a1e24;
    box-shadow: 0 8px 20px -8px #222;

    .header-right {
        float: right;
    }

    .content {
        margin: 0 auto;
        padding: 7px 1em;
        max-width: 1088px;

        // Nav Dropdown
        .nav {
            padding-left: 0;
            margin: 0;
            list-style: none;

            .dropdown {
                a {
                    color: #333;
                    margin-left: 15px;
                    text-decoration: none;
                }

                // For now hide the menu I have worked on in dimPlatformChoice directive - JFLAY2015
                .dropdown-menu {
                    display: none;
                }

                .dropdown-toggle:after {
                    @media all and (min-width: 481px) {
                        display: none;
                    }
                }
            }
        }

        .header-right span {
            margin: 0 15px 0 0;
        }

        .logo {
            background-image: url(../icon128.png);
            background-size: 20px;
            background-repeat: no-repeat;
            width: 28px;
            height: 22px;
            float: left;
        }

        span {
            margin-left: 15px;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            line-height: 18px;
            text-align: center;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &.link {
                color: white;

                &:hover {
                    color: #EEE;
                    cursor: pointer;
                }

                @media all and (max-width: 480px) {
                    display: none;
                }
            }
        }
    }
}

// Body
body {
    overflow-y: scroll;
    min-width: 410px;
    margin: 0 auto;
    padding-top: 50px;
    background-color: #434444;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 100px;

    &.about .about,
    &.setting .setting,
    &.support .support,
    &.filters .filters {
        display: inline-block;
    }

    &.filters.ngdialog-open,
    &.support.ngdialog-open,
    &.setting.ngdialog-open,
    &.about.ngdialog-open {
        overflow: hidden !important;
    }

    &.ngdialog-open {
        overflow: auto;
    }

    > div * {
        text-align: initial;
    }

    > div {
        text-align: center;
    }
}

.search-item-hidden {
    display: none !important;
}

.img.how:before {
    content: '';
    display: block;
    background-image: url(../images/how.png);
    position: absolute;
    height: 16px;
    width: 16px;
    background-size: 16px;
    right: 0;
    box-shadow: inset 0 0 10px 0px #B84;
}

.loadout-set {
    padding-left: 4px;
}

.loadout-list {
    > .loadout-set {
        padding-left: 0px;

        &:hover {
            background-color: #628e89
        }
    }
}

.vault {
    .sort-class,
    .section.postmaster {
        visibility: hidden;
    }
}

.unequippable, .equippable {
    min-height: 52px;
}

.about.ngdialog,
.setting.ngdialog,
.filters.ngdialog,
.support.ngdialog {
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    color: #fff;
    font-size: 13px;
    border: 1px solid #333;
    background-color: #333;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
}

a {
    color: #aac;
    font-size: 13px;
}

.about.ngdialog,
.setting.ngdialog,
.filters.ngdialog,
.support.ngdialog {
    .ngdialog-content {
        padding: 10px 20px;
        top: 5px;
        overflow-y: scroll;
        position: absolute;
        left: 5px;
        right: 5px;
        bottom: 5px;
    }

    .ngdialog-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        font-size: 20px;
    }

    &:before {
        content: " ";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 5px solid #f5dc56;
    }
}

.ngdialog {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ngdialog *, .ngdialog *:before, .ngdialog *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.ngdialog-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: ngdialog-fadein 0s;
    animation: ngdialog-fadein 0s;
}

.ngdialog.ngdialog-closing .ngdialog-overlay {
    -webkit-backface-visibility: hidden;
    -webkit-animation: ngdialog-fadeout 0s;
    animation: ngdialog-fadeout 0s;
}

.ngdialog-content {
    background: white;
    -webkit-backface-visibility: hidden;
    -webkit-animation: ngdialog-fadein 0s;
    animation: ngdialog-fadein 0s;
}

.ngdialog.ngdialog-closing .ngdialog-content {
    -webkit-backface-visibility: hidden;
    -webkit-animation: ngdialog-fadeout 0s;
    animation: ngdialog-fadeout 0s;
}

.ngdialog-close:before {
    content: '\00D7';
    cursor: pointer;
}

#system {
    margin: -2px 5px 0 0;
    background-color: #5b6e6c;
    color: rgba(245, 245, 245, .6);
    float: right;
}

#filter-text {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

img {
    &.elemental {
        width: 16px !important;
        vertical-align: middle;
        margin-right: 3px;
        border-radius: 50%;
        cursor: pointer;
    }

    &.kinetic {
        background-color: black;
    }

    &.arc {
        background-color: #85c5ec;
    }

    &.solar {
        background-color: #f2721b;
    }

    &.void {
        background-color: #b184c5;
    }
}

.user {
    margin-bottom: 10px
}

.title {
    margin: 0 -12px 14px;
    padding: 0 16px;
    font-weight: 500;
    background-color: rgba(10, 10, 10, 0.25);
    color: #FFF;
    line-height: 40px;
    height: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;

    .icon {
        width: 30px
    }
}

.bucket-count {
    float: right;
}

.storage {
    width: 224px;
    padding: 0 12px;
    vertical-align: top;
    display: inline-block;

    &.condensed {
        width: 278px;
    }

    &.vault {
        width: 209px;

        &.condensed {
            width: 310px;
        }
    }
}

.sub-section {
    margin-bottom: 20px;
    position: relative;
}

.unequippable {
    width: 220px;
}

.condensed .unequippable {
    width: 220px;
}

.vault {
    &.condensed .unequippable {
        width: 310px;
    }

    &.condensed .unequipped {
        width: 310px;
    }

    .unequippable {
        width: 208px;
    }

    .unequipped {
        width: 208px;

        &.on-drag-enter {
            box-shadow: 0 0 15px 2px rgba(210, 210, 210, .5);
            background-color: rgba(210, 210, 210, .5);
        }

        &.on-drag-hover {
            box-shadow: 0 0 15px 2px rgba(240, 240, 240, .7);
            background-color: rgba(240, 240, 240, .7);
        }
    }
}

.sub-section {
    clear: both;
}

.guardian .unequipped {
    width: 156px;
}

.guardian.condensed .unequipped {
    width: 208px;
}

.unequipped.on-drag-enter, .equipped.on-drag-enter {
    box-shadow: 0 0 15px 2px rgba(170, 170, 170, .5);
    background-color: rgba(170, 170, 170, .5);
}

.unequipped.on-drag-hover {
    box-shadow: 0 0 15px 2px rgba(200, 200, 200, .7) !important;
    background-color: rgba(200, 200, 200, .7) !important;
}

.sub-section.on-drag-enter .unequipped {
    box-shadow: 0 0 15px 2px rgba(170, 170, 170, .5);
    background-color: rgba(170, 170, 170, .5);
}

.sub-section.on-drag-hover .unequipped {
    box-shadow: 0 0 15px 2px rgba(200, 200, 200, .7);
    background-color: rgba(200, 200, 200, .7);
}

.item-target {
    vertical-align: top;
    position: relative;
    display: none;
    width: 44px;
    height: 44px;
    cursor: pointer;
    margin: 4px;
    background: url('../images/bg_inventory_bucket_single_crop.png');
    background-size: contain;
}

.empty .item-target {
    display: inline-block;
    box-shadow: none;
}

.counter {
    position: absolute;
    bottom: -2px;
    right: -2px;
    font-size: 10px;
    padding: 0 2px;
    background: #ddd;
    color: #000;
    min-width: 10px;
    text-align: center;
}

.damage-type {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
}

.damage-arc {
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #85c5ec transparent;
}

.damage-solar {
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #f2721b transparent;
}

.damage-void {
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #b184c5 transparent;
}

.complete {
    border-color: #f5dc56
}

.over {
    background: rgba(0, 0, 0, .5)
}

.character-box {
    position: relative;
    display: inline-block;
    width: 139px;
    height: 45px;
    padding: 0 40px 0 44px;
    margin-right: -40px;
    opacity: 1;
    background: rgba(30, 36, 43, .5);
    color: #f5f5f5;
    text-decoration: none;
    background-size: cover;

    &.vault-box {
        padding: 0 1em;
        width: 208px;
        box-sizing: border-box;
    }

    .emblem {
        position: absolute;
        top: 1px;
        left: 1px;
        width: 38px;
        height: 38px;
        background-color: rgba(0, 0, 0, .2);
        background-size: cover;
    }

    .class {
        text-transform: capitalize;
        position: relative;
        display: block;
        top: 2px;
        font-size: 16px;
        font-weight: 400;
    }

    .race-gender {
        text-transform: capitalize;
        position: relative;
        font-size: 12px;
    }

    .level {
        position: absolute;
        top: 5px;
        right: 45px;
        font-weight: 200;
        font-size: 22px;

        &.prestige {
            color: #f5dc56;
        }
        
        &:before {
            content: "\2726";
            display: inline-block;
            vertical-align: 25%;
            font-size: 50%;
        }
    }
}

.condensed .character-box {
    width: 194px;

    &.vault-box {
        width: 305px;
    }
}

.vault-box .class {
    font-size: 25px;
    line-height: 38px;
}

.levelBar {
    height: 5px;
    background-color: rgba(245, 245, 245, 0.1);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.barFill {
    background-color: #5da469;
    height: 5px;
    width: 0%;

    &.prestige {
        background-color: #f5dc56;
    }
}

.loadout-button {
    position: relative;
    display: inline;
    width: 40px;
    height: 40px;
    color: #5B6E6C;
    vertical-align: top;
    text-align: center;
    font-size: 20px;
    line-height: 41px;
    padding: 0;
    cursor: pointer;

    &:hover {
        background-color: rgba(245, 245, 245, .25);
        color: rgba(245, 245, 245, .75);
    }
    
    .active {
        background-color: rgba(10, 10, 10, .25);
        color: rgba(245, 245, 245, .75);
    }
}

.loadout-popup-content {
    line-height: 39px;
    background-color: rgba(245, 245, 245, 0.6);
}

.loadout-popup {
    display: none;
    background-color: #5b6e6c;
    border-bottom: 2px solid rgba(245, 245, 245, .6);
    color: rgba(245, 245, 245, .6);
    margin-bottom: 10px;
    width: 260px;
    position: absolute;
    left: -220px;
    z-index: 2;
    cursor: pointer;
}

.move-popup {
    background-color: rgba(21, 13, 13, 1);
    cursor: default;

    &.little {
        width: 85px;
        left: -21px;

        &:before {
            left: 39px;
        }
    }

    .item-name {
        background-color: #fff;
        color: #000;
        margin: 1px;
        padding: 1px;
        padding-left: 3px;
    }

    a {
        color: #000;
    }

    .move-button {
        background-size: cover;
        width: 37px;
        height: 37px;
        text-align: center;
        line-height: 10px;
        margin: 6px;
        cursor: pointer;
        display: inline-block;

        span {
            display: inline-block;
            text-transform: uppercase;
            background: rgba(0, 0, 0, .4);
            line-height: 40px;
            width: 100%;
            height: 100%;

            &:hover {
                background: rgba(0, 0, 0, .1)
            }
        }
    }
}

.item-name {
    &.is-arc {
        background-color: #85c5ec;
    }

    &.is-solar {
        background-color: #f2721b;
    }

    &.is-void {
        background-color: #b184c5;
    }

    &.is-arc .locked,
    &.is-solar .locked,
    &.is-void .locked {
        background-image: url('../images/lockeditem_white.png');
    }

    .locked {
        background-image: url('../images/lockeditem_black.png');
        height: 15px;
        width: 15px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: text-top;
        margin-top: 1px;
    }
}

#faq {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, .86);
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    cursor: pointer;

    .content {
        ul {
            margin: 10px 50px 0 30px
        }

        .title {
          margin: 50px 50px 0
        }
    }

    a {
        color: #fff
    }
}

#content {
    margin: 0 auto;
    padding: 2px;
    white-space: nowrap;
    display: inline-block;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  div * {
      white-space: normal;
  }
}

div[dim-loadout] {
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    z-index: 3;
    bottom: 0;
    background: rgba(195, 188, 180, .9);
    color: #1a1e24;
    box-shadow: 0 -1px 30px 2px #000;
}

.loadout-options {
    margin: 5px;

    input {
        width: 150px
    }

    span {
        display: inline-block;
        width: 65px;
        border-radius: 3px;
        background-color: #5b6e6c;
        border: 1px solid rgba(245, 245, 245, .6);
        border-bottom: 2px solid rgba(245, 245, 245, .6);
        cursor: pointer;
        color: rgba(245, 245, 245, .6);
        text-align: center;
        vertical-align: middle;
        margin-left: 10px;

        &:hover {
            background-color: #628e89
        }
    }

    p {
        display: inline;
        padding-left: 10px;
    }
}

.loadout-set {
    .button-edit,
    .button-delete {
        background-color: rgba(195, 188, 180, .9);
        color: #1a1e24;
        float: right;
        width: 50px;
        border-right: 1px solid rgba(195, 188, 180, .7);
        border-left: 1px solid rgba(195, 188, 180, .9);

        &:hover {
            background-color: rgba(195, 188, 180, .6);
        }
    }
}

.loadout-new {
    text-align: center;

    &:hover {
        background-color: #628e89
    }
}

div[class^="sort-"] {
    display: inline-block;
}

.ngdialog {
    position: absolute;
    display: block;
    background-color: black;
    top: 0;
    -webkit-overflow-scrolling: touch;
    z-index: 10000;
    width: 320px;
    top: initial;
    left: initial;
    right: initial;
    bottom: 52px;
    overflow: visible;
}

.ngdialog-content {
    background-color: transparent;
}

.drag-enter {
    background-color: rgba(255, 255, 255, .1);
}

.drag-hover {
    background-color: rgba(255, 255, 255, .2);
}

.on-dragging .ngdialog {
    display: none;
}

.move-popup-right {
    right: 0;
}

.locations {
    display: inline-block;
}

.character {
    margin-bottom: 16px;
    height: 45px;

    div[loadout-id] {
        top: 0;
    }

    .ngdialog {
        display: block;
        width: 223px;
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: initial;
        margin: 0;
        padding: 0;
        border-width: 0
    }
}

.condensed .character .ngdialog {
    width: 278px;
}

.ng-hide {
    display: none !important;
}

.close {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../images/close.png');
    background-size: 16px 16px;
    background-color: rgba(100, 100, 100, .6);
    border: 1px solid #333;
}

#loadout-contents .equipped {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/spartan.png');
    background-color: rgba(255, 0, 0, .6);
    background-size: 16px 16px;
    border: 1px solid #333;
}

/**
    Additional properties for button version
    iOS requires the button element instead of an anchor tag.
    If you want the anchor version, it requires `href="#"`.
**/

button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

/*Responsive Design*/

@media all and (max-width: 240px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 11em;
    }
    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
}
@media all and (min-width: 241px) and (max-width: 480px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 18em;
    }
    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
}
@media all and (min-width: 481px) and (max-width: 768px) {
    #toast-container > div {
        padding: 15px 15px 15px 50px;
        width: 25em;
    }
}

/** Issue #116, make Mats and Consumables 4-column **/
.section.general .sort-consumable .unequipped,
.section.general .sort-material .unequipped,
.section.postmaster .unequipped {
    width: 208px !important;
}

/** Issue #116, make Mats and Consumables 4-column **/
.condensed .section.general .sort-consumable .unequipped,
.condensed .section.general .sort-material .unequipped,
.condensed .section.postmaster .unequipped {
    width: 260px !important;
}

.something-is-sticky .sticky-header-background {
    left: 0;
    right: 0;
    top: 32px;
    background-color: #434444;
    height: 80px;
    position: fixed;
    z-index: 4;
    box-shadow: 0 8px 20px -8px #222;
}

.something-is-sticky .character.scroll-to-fixed-fixed {
    top: 52px !important;
}

.fixed-header {
    left: auto !important;
}

.something-is-sticky .fixed-header-placeholder { height: 61px !important; }
