body {
  background-color: #1E242B;
  color: #fff;
  padding-top: 3rem;
}

.navbar {
  background-color: #1E242B;
}

.navbar-toggler {
  color: #FFCE1F;
  // position: absolute;
  // top: .22rem;
  // font-size: 1.5rem;
  // padding: .4rem .7rem;
}

.type-title-double {
  font-weight: 700;
}

.navbar-brand {
  float: none;
  padding-left: .5rem;
  // margin-left: 3rem;
}

.character {
  background-color: #2A333E;

  .dropdown-menu {
    width: 100%;
    padding: 0;
    border: none;
    background-color: #2A333E;

    li {
      padding: 0 !important;
      margin: 0;
    }
  }
}

.character-card,
.character-card > div {
  height: 3.125rem;
}

.inventory img {
  margin: .25rem;
}

.item {
  width: 3.25rem;
  height: 3.25rem;
  border: .125rem solid #bbb;

  &.single {
    border-color: #ffce1f;
  }
}

div[class^="col-xs-"] {
  padding-right: .5rem;
  padding-left: .5rem;
}

.row {
  margin-right: -.5rem;
  margin-left: -.5rem;
}
