.authorizationChallenge {
  display: flex;
  margin-top: 4px;

  & div {
    margin: 0 8px;
    font-size: 40px;
    background: rgba(255, 255, 255, 0.1);
    padding: 4px 8px;
  }
}

.confirmButtons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 8px;
  margin: 4px 0;

  & button {
    margin-right: 16px;
    text-transform: uppercase;
  }
}
