@import "../../scss/pop-in.scss";

#item-farming {
  position: fixed;
  backface-visibility: hidden;
  bottom: 6rem;
  background-color: rgba(0, 0, 0, 0.9);
  left: calc(50% - 21.5rem);
  width: 43rem;
  right: 0;
  border-radius: .5rem;
  padding: .5rem 1rem;
  color: #e0e0e0;
  align-items: center;
  text-align: left;
  display: flex;
  flex-direction: row;

  button {
    color: white;
    background-color: rgba(128, 128, 128, .8);
    border-radius: 4px;
    border: none;
    width: 6rem;
    height: 3rem;
    text-align: center;
    font-size: 1.5em;
    transition: .3s background-color;
    &:hover, &:active {
      background-color: rgba(232, 165, 52, .8);
    }
  }

  .item-details {
    display: flex;
    flex-direction: row;
    margin: 0;
    span {
      flex: 1;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  .item {
    float: left;
  }

  .engram-icon {
    position: relative;
    margin-right: 1em;
  }

  .item-count {
    font-size: 16px;
    position: absolute;
    width: 100%;
    height: 94%;
    font-weight: bold;
    color: rgb(232, 165, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  h1 {
    font-size: 16px;
    margin: 0;
  }

  p {
    margin: .25em 0;
  }

  @include pop-in;
}