@use '../../variables.scss' as *;

.content {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 10px;
}

.header {
  margin: 0;
}

.preview {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  gap: 8px;
  align-items: center;
  margin-bottom: 8px;
}

.button {
  composes: dim-button from global;
  > img {
    margin: 0 !important;
    height: 32px;
    width: 32px;
  }
  &:hover,
  &:active,
  &.checked {
    background-color: $orange;
    color: black;
    > img {
      filter: none !important;
    }
  }
  &.imageButton {
    padding: 4px;
  }
}

.row {
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
}
