.sheet {
  width: fit-content;
  margin: auto;
}

.controls {
  margin: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.loadoutGrid {
  --sub-item-size: calc(var(--item-size) * 0.5);
  --item-icon-size: calc(var(--item-size) * 0.75);
  display: grid;
  width: min-content;
  grid-auto-flow: row;
  grid-template-columns: repeat(20, auto);
  row-gap: 4px;
  align-items: center;
  margin: 8px;
}

.itemImage {
  --item-size: var(--item-icon-size);
  margin: 0 5px;
  cursor: default;
  pointer-events: auto;
  grid-column: 1;
}

.smallSockets {
  --item-size: var(--sub-item-size);
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  grid-column: span 5;
  width: fit-content;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  h1 {
    margin-bottom: 0 !important;
  }
}

.itemGroups {
  display: flex;
  flex-flow: row wrap;
  column-gap: 16px;
}
