@use '../../variables.scss' as *;

.button {
  composes: resetButton from '../../dim-ui/common.m.scss';
  width: 52px;
  height: 52px;
  padding: 2px;

  @include interactive($hover: true, $focus: true) {
    background-color: var(--theme-accent-primary);
  }
}
