@use '../../variables.scss' as *;

.preview {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  gap: 8px;
  align-items: center;
  margin-bottom: 8px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
}
