<div>
    <h1>デスティニーのアイテムマネージャー「DIM」 の紹介</h1>
    <div class="ngdialog-inner-content">
        <h3><a href="%24DIM_CHANGELOG" target="_blank">Version $DIM_VERSION</a></h3>
        <p>DIM is built upon the same services used by Bungie.net and the Destiny Companion App. DIM can access the items within your Guardians inventory and the Vault for both PlayStation and Xbox. You then can drag and drop items anywhere you wish to move them.</p>
        <h2>お問い合わせ</h2>
        <table>
<tr>
<td>ツイッター</td>
                <td>レッデト</td>
                <td>ギットハブ</td>
            </tr>
<tr>
<td>Be sure to follow us to stay on top of updates and realtime application state information.
                    <br><a href="https://twitter.com/ThisIsDIM" target="_blank">@ThisIsDIM</a>
</td>
                <td>If you have questions, comments, or suggestions- let us know!
                    <br><a href="https://destinyitemmanager.reddit.com" target="_blank">/r/destinyitemmanager</a>
</td>
                <td>If you're interested in contributing to the project, visit us at our project page on GitHub.
                    <br><a href="https://github.com/DestinyItemManager/DIM/" target="_blank">DIM Git Repo</a>
</td>
            </tr>
</table>
<h2>FAQ</h2>
        <div>
            <dl>
<dt>DIMは私のデスティニーのデータにどのようにアクセスしますか？</dt>
                <dd>Any chrome extension can ask for the data a website stores on your computer. When you log into Bungie.net, you are given a token (a cookie) that is generated uniquely for your account. You use this token to communicate with Bungie securely. The token is more secure than sending your username and password with each request to Bungie's server. DIM uses this token to communicate with Bungie on your behalf.</dd>
            </dl>
<dl>
<dt>どうすればDIMのログアウトができますか？</dt>
                <dd>Your session is tied to Bungie.net. If you logout on Bungie.net, you're effectively logged out of DIM.</dd>
            </dl>
<dl>
<dt>DIMはキーボードショートカットをサポートしていますか？</dt>
                <dd>はい！使用可能なショートカットのリストを表示するには「？」を押します。</dd>
            </dl>
<dl>
<dt>私はあなたのツールを使用して、私のアイテムを失いました！</dt>
                <dd>More than likely a transfer failed, leaving your item in the vault or on another character. You could search for the item. If that doesn't turn it up, refresh the app by pressing F5. Check <a href="http://bungie.net" target="_blank">Bungie.net</a> or in game to see if your item still exists. We're sure it's still there.</dd>
            </dl>
<dl>
<dt>ちょっと、DIMは私のギャラルホルンを複製しました！</dt>
                <dd>いいえ、私たちはしませんでした。 約束する。</dd>
            </dl>
</div>
        <p>すべての画像とコンテンツはBungieの所有物です。 何か問題がある場合はお問い合わせをください。</p>
    </div>
</div>
