.minmax {
  width: 900px;
  margin: 0 auto;

  #includeVendors {
    vertical-align: middle;
  }

  .example {
    width: 10px;
    height: 10px;
    display: inline-block;
  }

  .ex-or {
    background-color: #E8A534;
  }

  .ex-and {
    background-color: #B184C5;
  }

  .locked-perk-notification img {
    width: var(--item-size);
    height: var(--item-size);
  }

  .perk-addition {
    text-align: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .perk-addition-text-container:hover {
    opacity: 1;
    transition: 1s;
  }

  .perk-select-hidden .perk-select-box {
    display:none;
  }

  .perk-addition-text-container {
    opacity: 0;
    display: table-cell;
    vertical-align: middle;
    width: var(--item-size);
    height: var(--item-size);
  }

  .perk-addition-text {
    display: block;
    font-size: 8px;
  }

  .fa-arrow-circle-left {
    padding-right: 5px;
  }

  .labels {
    float: left;
    clear: both;
  }
  .label {
    text-align: center;
    font-size: 10px;
  }
  .vendor-checkbox {
    margin: 0;
    margin-left: 10px;
  }

  .minmax-section {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    .item {
      margin: 0;
    }
  }

  .item-container {
    margin: 20px 17px 0px 0;
  }

  .item-stats {
    display:inline-block;
  }

  .locked-item {
    display:inline-block;
    margin-right:20px;
    position:relative;
    float: left;

    .empty-item {
      display: inline-block;
      background-color:#656565;
      width: var(--item-size);
      height: var(--item-size);
      border:2px solid #DDD;
    }
  }

  .item-overlay-container {
    position: relative;
    display: inline-block;
  }

  .vendor-icon-background {
    pointer-events: none;
    background-color: rgba(100, 100, 100, 0.6);
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .vendor-icon {
    width: 20px;
    height: 20px;
  }

  .excluded-item {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    position: relative;
  }

  dim-stats {
    display: inline-block;
    margin-bottom: 7px;
    margin-left: 22px;
    .stat-bars {
      width: 375px;
    }
  }
  .loadout .dim-button {
    float: left;
  }
  .set-item {
    position: relative;
    display: inline-block;
    margin-right: 7px;
    .talent-grid.smaller {
      width: 71px;
      max-height: 48px;
    }
  }
  .set-item:last-child {
    margin-right: 0;
  }

  .excluded-items {
    border: 2px solid #DDD;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 452px;
    min-height: 60px;
  }

  .excluded-container {
    margin-right: 10px;
  }

  .excluded-container:last-child {
    margin-right: 0;
  }
}

.ngdialog.perk-select-popup .perk-select-box {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  left: 0;
  top: 0;
  width: calc(((var(--item-size) + 20px) * 5) + 7px);
  min-height: var(--item-size);
  max-height: calc((var(--item-size) * 5) + 10px);
  overflow-y: auto;
  background-color: #656565;
  border: 2px solid #DDD;
  z-index: 3;
  & .perk {
    width: calc(var(--item-size) + 20px);
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
  }

  & .perk:hover, & .active-perk-or {
    background-color: #E8A534;
  }

  &.shift-held .perk:hover, & .active-perk-and {
    background-color: #B184C5;
  }

  & .perk img {
    width: var(--item-size);
    height: var(--item-size);
    display: block;
    margin: auto;
  }

  & .perk small {
    text-align: center;
    display: block;
  }
}
