.minmax {
  width: 900px;
  margin: 0 auto;

  .character-select {
    cursor: pointer;
    background-color: gray;
    padding: 10px;
    box-shadow: inset 0px 0px 1px black;
    display: inline-block;
    &:hover {
      background-color: $orange;
    }
    &.selected {
      box-shadow: none;
      background-color: $orange;
    }
    input {
      display: none;
    }
  }

  .link {
    color: white;
    &:hover {
      cursor: pointer;
    }
    i.fa {
      padding-right: 5px;
    }
  }

  .labels {
    float: left;
    clear: both;
  }
  .label {
    text-align: center;
  }

  .itemQuality {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .item-container {
    display: inline-block;
    padding-right: 3px;
    float: left;
    margin-left: 10px;
  }

  .item-stats {
    display:inline-block;
    margin-bottom:20px;
  }

  .locked-item {
    display:inline-block;
    margin-right:20px;
    position:relative;
    float: left;

    .empty-item {
      background-color:#656565;
      width:44px;
      height:44px;
      border:2px solid #DDD;
    }
  }

  .locked-item-remove {
    background-color:red;
    width:10px;
    height:10px;
    position:absolute;
    left:2px;
    top:2px;
    z-index:3;
    cursor:pointer;
    font-size:8px;
    text-align:center;
    line-height:10px;
  }

  dim-stats {
    display: inline-block;
    float: left;
    margin-bottom: 5px;
    .stats {
      width: 600px;
    }
  }
  button {
    margin-left: 15px;
  }
  .set-item {
    display: inline-block;
    margin-right: 6px;
    .talent-grid.smaller {
      max-width: 70px;
      max-height: 48px;
    }
  }
}

