// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// DIM Main stylesheet
//
// The main stylesheet for all of the styles!
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@import 'variables';
@import 'forms';

@import 'style';
@import 'move-popup';
@import 'item-header';
@import 'loadout-builder';

// TODO: Move those declaration in a better place
.scopes-dialog {
  width: 100%;
  height: 85%;
}

.mainScope {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scopeInfo {
  position: absolute;
  left: 200px;
  top: 75px;
}

.scopeData {
  list-style-type: none;
}

.scopeData li span {
  font-weight: bold;
}
