<div>
<p>El que trata de un Número Irracional</p>&#13;
<ul class="changelog-toaster">
<li>* Más estabilidad en Modo Recolector. Los objetos ya no se 'mueven' aleatoriamente.</li>&#13;
  <li>* Lógica de movimiento mejorada. DIM es ahora mas listo.</li>&#13;
  <li>* Los equipos ahora permiten la misma quemadura de subclase.</li>&#13;
  <li>* Mas soporte en internacionalización.</li>&#13;
</ul>
<p>Ver el <a href="https://github.com/DestinyItemManager/DIM/blob/master/CHANGELOG.md" target="_blank">registro de cambios</a> para la lista completa.</p>&#13;
<p>Síguenos en: <a style="margin: 0 5px;" href="http://destinyitemmanager.reddit.com" target="_blank"><i class="fa fa-reddit fa-2x"></i></a> <a style="margin: 0 5px;" href="http://twitter.com/ThisIsDIM" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></p>
</div>
