<ul>
<li>Trave um conjunto de perks clicando na caixa e selecionando os perks.</li>
    <ul>
<li>Se um perk não aparece, significa que você não tem armaduras com este perk.</li>
        <li>Se você quiser usar vários perks em uma armadura, Shift+clique nos perks desejados.</li>
        <li>
<div class="example ex-or"></div>- Armadura com qualquer um destes perks será usada ("ou")</li>
        <li>
<div class="example ex-and"></div>- Armadura com todos esses perks será usada ("e")</li>
    </ul>
<li>Arraste e solte itens nas caixas para construir sets somente com aquele equipamento.</li>
    <li>Shift+clique em um item para construir sets sem aquele equipamento</li>
    <li>Tiers mais altos são melhores</li>
    <li>
        <ul>
<li>4/5/2 (um set Tier 11) significa 4 Intelecto, 5 Disciplina, 2 Força (4+5+2 = Tier 11)</li>
            <li>Intelecto acelera o tempo de recarga da Super.</li>
            <li>Disciplina acelera o tempo de recarga de granadas.</li>
            <li>Força acelera o tempo de recarga do corpo-a-corpo.</li>
        </ul>
</li>
    <li>Tente encontrar uma armadura com perks que aumentem a quantidade de munição das armas que você mais usa.</li>
    <li>Mude o Intelecto, Disciplina e Força dentro do jogo de acordo com o que é exibido ao criar cada Loadout.</li>
    <li>Quando o nível de defesa de um item aumenta, os atributos deste item (intelecto, disciplina e força) também aumenta.</li>
</ul>
