@import '../variables.scss';

.badge {
  margin-top: -1 * $item-border-width;
  background-color: #ddd;
  color: black;
  height: calc(#{$badge-height});
  font-size: calc(#{$badge-font-size});
  width: 100%;
  display: flex;
  text-align: right;
  box-sizing: border-box;
  padding: 0 2px;
  white-space: pre;
  align-items: center;
  justify-content: flex-end;
  line-height: calc(#{$badge-height});
  overflow: hidden;
}

.primaryStat {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.review {
  display: none;

  :global(.show-reviews) & {
    display: flex;
  }

  text-align: left;
  align-items: center;

  :global(.app-icon) {
    font-size: 1.3em;
    padding-right: 1px;
  }
}

.wishlistRoll {
  display: flex;
}

.quality {
  display: none;

  :global(.itemQuality) & {
    display: block;
    padding: 0 2px;
    margin-left: -2px;
  }

  :global(.app-icon) {
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.8));
  }
}

.fullstack {
  font-weight: bold;
  color: #f2721b;
}

.capped {
  background-color: $gold;
}

.masterwork {
  background-color: #eade8b;
}

.energy-capacity {
  font-weight: bold;
  font-size: calc((var(--item-size) / 6));
  padding: 0px 2px;
  border-radius: 2px;
  color: #dddddd;
  line-height: 1;
  margin-right: 2px;
}
/* these are my calculations for colors that would look ok as text badges . not in use this moment.*/
.solar {
  background-color: #f0631e;
}
.arc {
  /* real arc: #79bbe8 rgb(121, 187, 232) - badgeinfo arc icon: #2b81bb rgb(43, 129, 187)*/
  /* #529ed1 rgb(82, 158, 209) */
  background-color: #529ed1;
}
.void {
  /* real void: #a371c2 rgb(163, 113, 194) - badgeinfo void icon: #804cce rgb(128, 76, 206) */
  /* #915ec8 rgb(145, 94, 200) */
  background-color: #915ec8;
}
