@import '../../scss/variables.scss';
@import '../../scss/pop-in.scss';

/* Clear new items */

.clear-new-items {
  display: none;
  .show-new-items & {
    display: block;
    position: fixed;
    backface-visibility: hidden;
    bottom: 0;
    right: 2rem;

    button {
      color: white;
      padding: 8px 12px;
      background-color: #555;
      border-radius: 0px;
      border: none;
      text-align: center;
      font-size: 16px;
      transition: 0.3s background-color;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
      &:hover,
      &:active {
        background-color: $orange;
      }
    }

    @include pop-in;
  }

  .new-item {
    position: static;
    display: inline-block;
    transform: scale(1.5);
    margin-right: 8px;
  }
}
