.reputation-bucket {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.factionrep {
  margin: 2px 0 0 2px;
  position: relative;

  svg {
    width: calc(var(--item-size) + 4px);
    height: calc(var(--item-size) + 4px);
  }
}
