@import '../../scss/variables.scss';

.dark-tiles .item-drag-container {
  width: calc(var(--item-size) + 8px);
  height: calc(var(--item-size) + 21px);
}

.dark-tiles .item {
  width: calc(var(--item-size) + 4px);
  height: calc(var(--item-size) + 17px);

  .item-stat {
    background-color: #262626;
    color: white;
    font-size: calc((var(--item-size) + 4px) / 5.5);
    -webkit-font-smoothing: antialiased;
  }

  .item-img {
    border: 2px solid #afadb0;
  }

  .item-review {
    .decimal {
      font-size: 0.7em;
      color: #aaa;
      display: none;
    }
    .godroll {
      color: $gold;
    }
    .fa {
      font-size: 0.8em;
      padding-right: 1px;
      padding-left: 0;
    }
  }

  .item-tag {
    // TODO: proportional size
    right: 4px;
    left: auto;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
    color: white;
  }

  .masterwork {
    &::after {
      display: none;
    }
    .overlay {
      border-width: 0px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url('../../images/masterwork.png');
    }
  }

  .exotic {
    &.masterwork {
      .overlay {
        background-image: url('../../images/exotic-masterwork.png');
      }
    }
  }

  .overlay {
    box-sizing: border-box;
    height: calc(var(--item-size) + 4px);
    width: 100%;
    position: absolute;
    opacity: 0.8;
  }

  &.ammo-overlay .item-img::before {
    right: 2px;
    bottom: 2px;
    position: absolute;
    width: calc((var(--item-size) + 4px) / 4);
    height: calc((var(--item-size) + 4px) / 6);
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.8));
  }

  &.ammo-type-1 .item-img::before {
    background-image: url('../../images/primary.png');
  }
  &.ammo-type-2 .item-img::before {
    background-image: url('../../images/special.png');
  }
  &.ammo-type-3 .item-img::before {
    background-image: url('../../images/heavy.png');
  }

  .element {
    width: 8px;
    height: 8px;
    margin-right: 2px;
    margin-right: 1px;
    transform: translateY(0.5px);
    &.void {
      filter: brightness(200%);
      background-color: transparent !important;
    }
  }

  .item-review {
    color: #ccc;
  }

  .item-render {
    background-color: #262626;
    display: grid;
    width: calc(var(--item-size) + 4px);
    height: calc(var(--item-size) + 4px);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    grid-template-areas: 'image image image plugs' 'image image image plugs' 'image image image plugs' 'attributes attributes attributes attributes';

    .image {
      grid-area: image;
      position: relative;
    }
    .image-well {
      background: rgba(183, 183, 183, 0.2);
      width: 100%;
      height: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
    }

    &.masterwork {
      .overlay {
        border-width: 0px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url('../../images/masterwork.png');
      }
    }

    &.exotic {
      &.masterwork {
        .overlay {
          background-image: url('../../images/exotic-masterwork.png');
        }
      }
    }

    .attributes {
      display: grid;
      grid-area: attributes;
      // grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 0;
      grid-template-areas: '1a 2a';
      font-size: calc((var(--item-size) + 4px) / 5.8);
      line-height: 100%;
    }

    .attribute-1 {
      text-align: left;
      grid-area: 1a;
    }

    .attribute-2 {
      text-align: right;
      grid-area: 2a;
    }

    .attributes i {
      font-size: 0.9em;
      margin-left: 1px;
    }

    .power,
    .review-score {
      position: relative;
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      vertical-align: middle;
    }

    .review-score {
      color: #cccccc;
    }

    .power {
      margin-right: calc((var(--item-size) + 4px) / 4);
      text-align: right;
    }

    .review-score,
    .tag {
      text-align: left;
      margin-left: 2px;

      .item-tag {
        position: initial;
        top: 0;
        left: 0;
      }
    }

    .power::before {
      right: calc((var(--item-size) + 4px) / -4.5);
      position: absolute;
      width: 1em;
      height: 1em;
      content: '';
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &.void {
      .power::before {
        filter: brightness(200%);
        background-image: url(https://www.bungie.net/img/destiny_content/damage_types/destiny2/void_large.png);
      }
    }

    &.solar {
      .power::before {
        background-image: url(https://www.bungie.net/img/destiny_content/damage_types/destiny2/thermal_large.png);
      }
    }

    &.arc {
      .power::before {
        background-image: url(https://www.bungie.net/img/destiny_content/damage_types/destiny2/arc_large.png);
      }
    }

    .plugs {
      display: grid;
      grid-area: plugs;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 1px;
      grid-template-areas: '1p' '2p' '3p';
    }

    .plugs > div {
      background-color: rgba(212, 212, 212, 0.18);
      display: block;
    }

    .plugs img {
      width: 100%;
      height: 100%;
      display: block;
    }

    .plug-1 {
      grid-area: 1p;
    }

    .plug-2 {
      grid-area: 2p;
    }
    .plug-3 {
      grid-area: 3p;
    }

    .item-mod {
      background-size: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }
  }
}
