@import '../../scss/variables.scss';

.dark-tiles .item-drag-container {
  width: calc(var(--item-size) + 8px);
  height: calc(var(--item-size) + ((var(--item-size) + 4px) / 5.5) + 10px);
}

.dark-tiles .diamond .item-img {
  border-color: transparent;
}

.dark-tiles .item {
  width: calc(var(--item-size) + 4px);
  height: calc(var(--item-size) + ((var(--item-size) + 4px) / 5.5) + 6px);

  .masterwork {
    .item-img {
      border-color: #eade8b;
    }
    .item-stat {
      background-color: #eade8b;
    }
  }

  .capped {
    .item-img {
      border-color: $gold;
    }
    .item-stat {
      background-color: $gold;
    }
  }

  .fullstack {
    .item-stat {
      font-weight: bold;
      color: $solar;
    }
  }

  .item-stat {
    background-color: #ddd;
    color: black;
    height: calc(((var(--item-size) + 4px) / 5.5) + 4px);
    font-size: calc((var(--item-size) + 4px) / 5.5);
    -webkit-font-smoothing: antialiased;
    width: 100%;
    display: flex;
    text-align: right;
    box-sizing: border-box;
    padding: 0 2px;
    white-space: pre;
    align-items: center;
    justify-content: flex-end;
  }

  .primary-stat {
    flex: 1;
  }

  .item-review {
    font-size: calc((var(--item-size) + 4px) / 6.5);
    .godroll {
      color: #ff5722;
    }
    .fa {
      font-size: 1em;
      padding-right: 1px;
      padding-left: 0;
    }
  }

  .icons {
    position: absolute;
    left: 4px;
    bottom: calc(((var(--item-size) + 4px) / 5.5) + 6px);
    display: flex;
    flex-direction: row;
  }

  .item-tag {
    // TODO: proportional size
    display: block;
    position: static;
    width: calc((var(--item-size) + 4px) / 5.5);
    height: calc((var(--item-size) + 4px) / 5.5);
    margin-right: 2px;
    color: #29f36a; // #5eff92;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.8));
  }

  .masterwork {
    &::after {
      display: none;
    }
    .overlay {
      background-size: calc(var(--item-size) + 2px) calc(var(--item-size) + 2px);
      background-image: url('../../images/masterwork.png');
    }
  }

  .exotic {
    &.masterwork {
      .overlay {
        background-image: url('../../images/exotic-masterwork.png');
      }
    }
  }

  .overlay {
    box-sizing: border-box;
    top: 2px;
    left: 2px;
    border-width: 0px;
    height: var(--item-size);
    width: var(--item-size);
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
  }

  .ammo-overlay {
    right: 4px;
    bottom: calc(((var(--item-size) + 4px) / 5.5) + 6px);
    position: absolute;
    width: calc((var(--item-size) + 4px) / 4);
    height: calc((var(--item-size) + 4px) / 6);
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.8));

    &.ammo-type-1 {
      background-image: url('../../images/primary.png');
    }
    &.ammo-type-2 {
      background-image: url('../../images/special.png');
    }
    &.ammo-type-3 {
      background-image: url('../../images/heavy.png');
    }
  }

  .element {
    width: 8px;
    height: 8px;
    margin-right: 2px;
    margin-right: 1px;
    transform: translateY(0.5px);
    &.void {
      filter: brightness(200%);
      background-color: transparent !important;
    }
    &.arc {
      filter: brightness(75%);
    }
  }

  .item-review {
    color: #333;
    text-align: left;
  }

  .item-xp-bar {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    width: auto;
    left: 4px;
    right: 4px;
    opacity: 0.8;
    top: 6px;
    height: calc((var(--item-size) + 4px) / 8);
    .item-xp-bar-amount {
      height: 100%;
      background-color: $xp;
    }
  }
}
