<div title="{{ vm.item.name }}" class="item">
  <div class="item-img" ng-class="{ complete: vm.item.complete, diamond: (vm.item.destinyVersion == 2 && vm.item.bucket.hash == 3284755031), masterwork: vm.item.masterwork }"
    ng-style="vm.item.icon | bungieBackground"></div>
  <div class="item-element" ng-class="::vm.item.dmg"></div>
  <div ng-class="vm.item.dimInfo.tag | tagIcon"></div>
  <div ng-if="vm.item.quality" class="item-stat item-quality" ng-style="vm.item.quality.min | qualityColor">{{
    vm.item.quality.min }}%</div>
  <div ng-if="vm.item.dtrRating.overallScore && (vm.item.dtrRating.ratingCount > 1 || vm.item.dtrRating.highlightedRatingCount > 0)"
    class="item-stat item-review">{{ vm.item.dtrRating.overallScore }}
    <font-awesome-icon icon="star" ng-style="vm.item.dtrRating.overallScore | dtrRatingColor"></font-awesome-icon>
  </div>
  <div class="item-stat item-equipment" ng-if="vm.item.primStat.value || vm.item.maxStackSize > 1">{{
    vm.item.primStat.value || vm.item.amount }}</div>
</div>
