/* INT/DIS/STR bars */
.stat-bars {
  width: 100%;
  max-width: 230px;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .phone-portrait & {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  .stat {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 8px;
    white-space: nowrap;
    &:last-child {
      margin-right: 0;
    }
    .bar {
      flex: 1;
      height: 7px;
      margin-left: 1px;
      border-radius: 1px;
      background-color: gray;
      overflow: hidden;
      .progress {
        height: 100%;
        background-color: white;
        &.complete {
          background-color: #fb9f28;
        }
      }
    }
    img {
      height: 16px;
      width: 16px;
      margin-right: 2px;
    }
  }

  &.destiny2 {
    flex-direction: column;
    .stat-row {
      display: flex;
      flex-direction: row;
      justify-items: left;
      &:first-child {
        img {
          opacity: 0.6;
        }
        img[src^='data'] {
          filter: invert(1);
        }
        .stat:nth-child(2) {
          &::before,
          &::after {
            font-size: 11px;
            color: #aaa;
          }
          &::before {
            content: '=';
            margin-right: 8px;
          }
          &::after {
            content: '+';
            margin-left: 8px;
          }
        }
      }
      &:nth-child(n + 2) {
        margin-top: 3px;
      }
    }
    .stat {
      flex: 0;
      font-size: 11px;
      color: #aaa;
    }
  }
}
