<div ui-draggable="{{ ::vm.draggable }}" id="{{ ::vm.item.index }}" drag-channel="{{ ::vm.dragChannel }}" title="{{ ::vm.item.name + '\n' + vm.item.typeName }}"
  drag="::vm.item.index" class="item" ng-click="vm.clicked(vm.item, $event)">
  <div class="item-xp-bar-small" ng-if="::vm.item.percentComplete && !vm.item.complete" dim-percent-width="::vm.item.percentComplete"></div>
  <div class="item-img" ng-class="::{ complete: vm.item.complete, diamond: (vm.item.destinyVersion == 2 && vm.item.bucket.hash == 3284755031), masterwork: vm.item.masterwork }"
    ng-style="::vm.item.icon | bungieBackground" ng-dblclick="vm.doubleClicked(vm.item, $event)"></div>
  <div ng-if="::vm.item.quality" class="item-stat item-quality" ng-style="::vm.item.quality.min | qualityColor">{{
    ::vm.item.quality.min }}%</div>
  <div ng-if="vm.item.dtrRating.overallScore && (vm.item.dtrRating.ratingCount > (vm.item.destinyVersion == 2 ? 2 : 1) || vm.item.dtrRating.highlightedRatingCount > 0)"
    class="item-stat item-review">{{ vm.item.dtrRating.overallScore }}
    <font-awesome-icon icon="star" ng-style="vm.item.dtrRating.overallScore | dtrRatingColor"></font-awesome-icon>
  </div>
  <div class="item-element" ng-class="::vm.item.dmg"></div>
  <div ng-class="vm.item.dimInfo.tag | tagIcon"></div>
  <div ng-class="::vm.badgeClassNames" ng-if="::vm.showBadge" ng-bind="::vm.badgeCount"></div>
</div>
