<div>
  <h1 class="no-badge">
    <div class="item"><div class="item-img" ng-style="vm.item.icon | bungieBackground"></div></div>
    <span ng-i18next="[i18next]({ itemname: vm.item.name })StoreBucket.HowMuch"></span>
  </h1>
  <div class="ngdialog-inner-content">
    <form ng-submit="vm.finish()">
      <!-- prettier-ignore -->
      <dim-move-amount
        amount="vm.moveAmount"
        maximum="vm.maximum"
        max-stack-size="vm.item.maxStackSize"
        on-amount-changed="vm.amountChanged"
      ></dim-move-amount>
    </form>
    <div class="buttons">
      <button ng-click="vm.finish()"><span ng-i18next="StoreBucket.Move"></span></button>
      <button ng-click="vm.stacksWorthClick()" ng-show="vm.stacksWorth > 0">
        <span ng-i18next="[i18next]({ amount : vm.stacksWorth })StoreBucket.FillStack"></span>
      </button>
    </div>
  </div>
</div>
