<div title="{{ vm.item.name }}" class="item">
  <div class="item-img"
       ng-class="{ complete: vm.item.complete }"
       ng-style="vm.item.icon | bungieBackground"></div>
  <div class="item-element"
       ng-class="::vm.item.dmg"></div>
  <div ng-class="vm.item.dimInfo.tag | tagIcon"></div>
  <div ng-if="vm.item.quality"
       class="item-stat item-quality"
       ng-style="vm.item.quality.min | qualityColor">{{ vm.item.quality.min }}%</div>
  <div ng-if="vm.item.dtrRating"
       class="item-stat item-review"
       ng-style="vm.item.dtrRating | dtrRatingColor">{{ vm.item.dtrRating }}<i class="fa fa-star"></i></div>
  <div class="item-stat item-equipment"
       ng-if="vm.item.primStat.value || vm.item.maxStackSize > 1">{{ vm.item.primStat.value || vm.item.amount }}</div>
</div>
