.drag-perf-fix {
  opacity: 0;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 8;

  .drag-perf-debug & {
    opacity: 0.1;
    background-color: red;
  }
}

.drag-perf-fix-hidden {
  display: none;
}
