@import '../variables.scss';

.shadow {
  @include below-header;
  height: var(--store-header-height);
  box-shadow: 0 1px 4px 0px black;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 9;
}

.cover {
  @include below-header;
  height: calc(var(--store-header-height) + 7px);
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 9;

  :global(.gradientBackground) & {
    background: radial-gradient(circle at 50% 70px, #454568 0%, #161626 100%);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
  }
}
