@import '../../scss/variables.scss';

@mixin item-size {
  width: var(--item-size);
  height: var(--item-size);
}

@mixin item-size-padded {
  width: calc(var(--item-size) + 4px);
  height: calc(var(--item-size) + 4px);
}

.item-stat {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 9.5px;
  padding: 0 2px;
  background: rgba(221, 221, 221, 0.85);
  color: #000;
  min-width: 10px;
  text-align: center;
  -webkit-user-select: none;
  box-sizing: content-box;
}
.itemQuality .item-quality ~ .item-stat,
.show-reviews .item-review ~ .item-stat {
  background-color: transparent;
}

.item-review {
  left: 0;
  text-align: left;
  display: none;
  .show-reviews & {
    display: block;
  }
  .app-icon {
    font-size: 0.8em;
    bottom: 1px;
    padding-left: 1px;
    position: relative;
  }
}

.item-quality {
  left: 0;
  text-align: left;
  display: none;
  .itemQuality & {
    display: block;
  }
}

dim-simple-item {
  outline: none;
}

dim-store-item,
.item-drag-container {
  width: calc(var(--item-size) + 8px);
  height: calc(var(--item-size) + 8px);
  contain: strict;
}

.item {
  @include item-size-padded;
  margin: 2px;
  position: relative;
  contain: strict;
  cursor: pointer;
  box-sizing: border-box;
  transition: opacity 0.2s, transform 0.2s;
}

.search-hidden {
  opacity: 0.2;
  transform: scale(0.85);
}

.item-xp-bar {
  height: 4px;
  width: 100%;
  background-color: $xp;
}

.item-xp-bar-small {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: $xp;
}

.item-img {
  @include item-size;
  border: 2px solid #ddd;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  box-sizing: content-box;
  &:focus {
    outline: none;
  }
  &.complete {
    border-color: $gold;
  }
  &.capped {
    border-color: $solar;
  }
  &.transparent,
  .sort-375726501 & {
    border-color: transparent;
  }
  &.diamond {
    background-color: transparent;
    border: none;
    padding: 2px;
  }
  &.masterwork {
    overflow: hidden;

    &::after {
      content: '';
      display: block;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      position: absolute;
      left: 2px;
      bottom: 2px;
      background: radial-gradient(
        ellipse at center,
        rgba(232, 165, 52, 0) 1%,
        rgba(232, 165, 52, 0) 39%,
        rgba(232, 165, 52, 0.78) 99%,
        rgba(232, 165, 52, 0.8) 100%
      );
    }
  }
}

.item-element {
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  pointer-events: none;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-color: transparent;
    border-style: solid;
  }
  &::before {
    border-width: 5px;
  }
  &.void::before {
    border-left-color: $void;
    border-top-color: $void;
  }
  &.arc::before {
    border-left-color: $arc;
    border-top-color: $arc;
  }
  &.solar::before {
    border-left-color: $solar;
    border-top-color: $solar;
  }

  .show-elements & {
    top: 46%;
    left: auto;
    right: 3px;
    height: 25%;
    width: 25%;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.7));
    background-repeat: no-repeat;
    background-size: contain;

    &::before {
      content: none;
    }

    &.void {
      background-image: url(https://www.bungie.net/img/destiny_content/damage_types/destiny2/void.png);
      filter: brightness(200%) drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.7));
    }
    &.arc {
      background-image: url(https://www.bungie.net/img/destiny_content/damage_types/destiny2/arc.png);
    }
    &.solar {
      background-image: url(https://www.bungie.net/img/destiny_content/damage_types/destiny2/thermal.png);
    }
  }
}

.item-tag {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.7));
  position: absolute;
  top: 4px;
  left: 4px;
  color: gold;
  pointer-events: none;
  &.no-tag {
    display: none;
  }
}

.complete {
  border-color: $gold;
}

/**
  New Item overlay area
**/

@keyframes new_overlay {
  0% {
    transform: translate(calc(-1.5 * var(--item-size)), calc(-1.5 * var(--item-size))) scale(2);
  }
  100% {
    transform: translate(calc(1.5 * var(--item-size)), calc(1.5 * var(--item-size))) scale(2);
  }
}

.new_overlay {
  @include item-size-padded;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  .new-item-animated & {
    will-change: transform;
    animation: new_overlay 4s linear infinite;
  }
}

.new_overlay_overflow {
  display: none;
  .show-new-items & {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    @include item-size-padded;
    overflow: hidden;
  }
}
