@import '../variables.scss';

.perks {
  display: flex;
  flex-flow: column;
  margin: 4px 0;

  > div {
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  img {
    height: 24px;
    width: 24px;
  }
}

.stats {
  margin: 4px 0 0 0;
  :global(.stat) {
    line-height: 8px;
  }
}
