@use '../variables.scss' as *;

.progressIcon {
  height: calc(var(--item-size) / 2);
  width: calc(var(--item-size) / 2);
  z-index: 1;
  border-radius: 50%;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  place-self: center;
  :global(.app-icon) {
    height: calc(-4px + var(--item-size) / 2);
    width: calc(-4px + var(--item-size) / 2);
    font-size: calc(-4px + var(--item-size) / 2);
  }
}

.succeeded {
  background-color: $green;
}

.failed {
  background-color: $red;
}

.loadoutDetails {
  font-weight: bold;
  display: block;
  margin: 4px 0;
  :global(.app-icon) {
    border-radius: 50%;
    margin-right: 4px;
  }
}

.iconList {
  --item-size: 32px;
  display: flex;
  flex-flow: row wrap;
  margin: 8px 0;
  &:last-child {
    margin-bottom: 0;
  }

  > * {
    margin: 0 4px 4px 0;
  }
}

.loadoutItemPending {
  opacity: 0.3;
  transform: scale(0.8);
}

.loadoutItemFailed {
  outline: 2px solid $red;
}

.errorList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.warning {
  margin: 8px 0;
}

.warningIcon {
  margin-right: 4px;
}
