@import '../variables.scss';

.move-amount-popup {
  max-width: 375px;
  margin: 0 auto;

  .item {
    margin-right: 0.5em;
    flex-shrink: 0;
    float: left;
  }
  .buttons {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    button {
      margin-right: 1em;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
