@use '../variables.scss' as *;

.newItem {
  display: block;
  width: calc(var(--item-size) * 0.08);
  height: calc(var(--item-size) * 0.08);
  border: calc(var(--item-size) * 0.08) solid $new-notification-dot;
  position: absolute;
  top: $item-border-width + 2px;
  right: $item-border-width + 2px;
  border-radius: 50%;
  pointer-events: none;
  background-color: white;
  filter: drop-shadow(0 0 2px rgb(0, 0, 0, 0.8));
}
