.frame {
  max-width: calc(100% - 100px);
  margin: 0 auto;
  overflow: visible !important;
  position: relative;
}

.track {
  display: block;
  touch-action: pan-x;

  > * {
    display: inline-block;
    vertical-align: top;
  }
}
