store-pager {
  display: block;
}

.character-swipe {
  overflow-x: initial !important;
  overflow-y: initial !important;
  height: 100vh !important;
}

.phone-portrait {
  .store-header {
    margin-left: 0;
  }
}
