@import '../../scss/variables.scss';

.inventory-content {
  margin: 0 auto;

  .title {
    top: 124px;
    z-index: 1;

    .phone-portrait & {
      top: 79px;
    }
  }

  .section {
    filter: var(--color-filter);
  }

  // Prevent collapsing at smaller than iPad landscape sizes
  min-width: 1024px;
  @include phone-portrait {
    min-width: auto;
  }
}

.store-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.store-cell {
  flex-shrink: 0;
  display: flex;
  /* prettier-ignore */
  width: calc(
    /* Equipped item border */ #{2 * ($equipped-item-border + $equipped-item-padding)} +
    /* Equipped + unequipped items */
    ((var(--character-columns) + 1) * (var(--item-size) + var(--item-margin))) +
    /* Column padding */
    (2 * var(--inventory-column-padding) - var(--item-margin))
  );
  flex-direction: column;
  /* Total horizontal padding ends up being (2 * var(--inventory-column-padding) - var(--item-margin)) */
  padding: 0 calc(var(--inventory-column-padding) - var(--item-margin)) 0
    var(--inventory-column-padding);
  box-sizing: border-box;

  &.vault {
    width: auto;
    /* prettier-ignore */
    min-width: calc(
      /* Equipped item border */ #{2 * ($equipped-item-border + $equipped-item-padding)} +
      /* Equipped + unequipped items */
      ((var(--character-columns) + 1) * (var(--item-size) + var(--item-margin))) +
      /* Column padding */
      (2 * var(--inventory-column-padding) - var(--item-margin))
    );
    flex: 1;
    background: rgba(0, 0, 0, 0.12);
  }

  @include phone-portrait {
    width: 100%;
  }

  &.account-wide {
    width: 100%;
    @include phone-portrait {
      width: auto;
      flex: 1;
    }
    /* prettier-ignore */
    max-width: calc(
      var(--num-characters) *
        (
          /* Equipped item border */ #{2 * ($equipped-item-border + $equipped-item-padding)} +
          /* Equipped + unequipped items */
          ((var(--character-columns) + 1) * (var(--item-size) + var(--item-margin))) +
          /* Column padding */
          (2 * var(--inventory-column-padding) - var(--item-margin))
        )
    );
  }
}

.items .store-cell:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.2);
}

.store-text {
  padding-top: 5px;
}
.store-header {
  position: fixed;
  backface-visibility: hidden;
  top: 44px;
  left: 0;
  width: auto;
  z-index: 10;
  background-color: #313233;
  filter: var(--color-filter);
  .store-cell {
    padding: 8px calc(var(--inventory-column-padding) - var(--item-margin)) 4px
      var(--inventory-column-padding);
  }
  @supports (position: sticky) {
    position: sticky;
  }
  &.sticky {
    box-shadow: 0 1px 6px 0px #222;
  }
  .phone-portrait & {
    padding-left: 0;
    overflow: hidden;
    .store-cell {
      margin: 0;
      width: 100%;
      padding: 8px 0 4px 0;
    }
    > div {
      max-width: 250px;
      margin: 0 auto;
      overflow: visible !important;
      .frame {
        overflow: visible !important;
      }
    }
  }
}
.stores {
  display: block; // 77px margin to make room for the fixed header
  margin-top: 77px;
  @supports (position: sticky) {
    margin-top: 0;
  }
}
.dim-button.bucket-button {
  align-self: center;
  margin-bottom: 8px;
  background-color: black;
  &:hover {
    background-color: #666;
  }
}
