@import '../../scss/variables.scss';

.inventory-content {
  // This assumes 3 characters
  min-width: calc((52px + 44px + (3 * (44px + 8px))) * 3 + 39px + 44px + (3 * (44px + 8px)));
  max-width: calc((52px + 44px + (3 * (44px + 8px))) * 3 + 20px + (999 * (44px + 8px)));
  min-width: calc(
    (52px + var(--item-size) + (var(--character-columns) * (var(--item-size) + 8px))) *
      var(--num-characters) + 40px + ((1 + var(--character-columns)) * (var(--item-size) + 8px))
  );
  max-width: calc(
    (52px + var(--item-size) + (var(--character-columns) * (var(--item-size) + 8px))) *
      var(--num-characters) + 20px + (var(--vault-max-columns) * (var(--item-size) + 8px))
  );
  margin: 0 auto;
  display: flex;

  &.phone-portrait {
    min-width: auto;
    max-width: auto;
  }

  .title {
    top: 124px;
    z-index: 1;

    .phone-portrait & {
      top: 79px;
    }
  }
}

.store-row {
  width: 100%;
  display: flex;
  flex-direction: row;

  // Bit of a hack to make things line up
  &.items:last-child .store-cell {
    padding-bottom: 14px;
  }

  i.collapse {
    outline: none;
    padding: 8px 7px 8px 10px;
    align-self: flex-start;
  }
}

.store-cell {
  flex-shrink: 0;
  display: flex;
  margin-right: 12px;
  width: calc(40px + 44px + (3 * (44px + 8px)));
  width: calc(40px + var(--item-size) + (var(--character-columns) * (var(--item-size) + 8px)));

  &.vault {
    max-width: calc(8px + (999 * (44px + 8px)));
    max-width: calc(8px + (var(--vault-max-columns) * (var(--item-size) + 8px)));
    background-color: rgba(245, 245, 245, 0.25);
    padding: 0 12px 1px;
    margin-left: -12px;
    margin-right: 0;
    width: auto;
    flex: 1;
  }

  &.account-wide {
    width: 100%;
    max-width: calc(
      (40px + var(--item-size) + (var(--character-columns) * (var(--item-size) + 8px))) *
        var(--num-characters) + ((var(--num-characters) - 1) * 12px)
    );
  }
}
.store-text {
  padding-top: 5px;
}

.store-header {
  position: fixed;
  backface-visibility: hidden;
  top: 44px;
  left: 0;
  width: auto;
  z-index: 10;
  padding: 8px 0 4px 8px;
  background-color: #434444;

  @supports (position: sticky) {
    position: sticky;
  }

  &.sticky {
    box-shadow: 0 1px 6px 0px #222;
  }

  .phone-portrait & {
    top: 0;

    dim-stores & {
      top: 44px;
    }

    .store-cell {
      margin: 0;
      width: 100%;
    }
  }
}

.frame {
  height: calc(100vh - #{$header-height} - 16px) !important;
  overflow-y: auto !important;
}

.stores {
  display: block;
  // 77px margin to make room for the fixed header
  margin-top: 77px;
  @supports (position: sticky) {
    margin-top: 0;
  }
}
