{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "shippedProposals": true
      }
    ],
    ["@babel/preset-react", { "useBuiltIns": true }]
  ],
  "plugins": [
    "lodash",
    "angularjs-annotate",
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }],
    "react-hot-loader/babel",
    "@babel/plugin-transform-react-constant-elements"
  ]
}
