{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions"
        ]
      },
      "modules": false,
      "loose": true,
      "exclude": ["constant-folding"],
      "debug": true
    }]
  ],
  "plugins": ["angularjs-annotate"]
}
