{
  "env": {
    "es6": true,
    "browser": true,
    "jquery": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "config/webpack.js"
      }
    }
  },
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "globals": {
    "_gaq": true,
    "chrome": true,
    "gapi": true,
    "$DIM_FLAVOR": true,
    "$DIM_BUILD_DATE": true,
    "$DIM_CHANGELOG": true,
    "$DIM_VERSION": true,
    "$DIM_API_KEY": true,
    "$DIM_WEB_API_KEY": true,
    "$DIM_CLIENT_ID": true,
    "$DIM_WEB_CLIENT_ID": true,
    "$DIM_CLIENT_SECRET": true,
    "$DIM_WEB_CLIENT_SECRET": true,
    "$GOOGLE_DRIVE_CLIENT_ID": true,
    "$featureFlags": true,
    "ga": true
  },
  "plugins": [
    "angular"
  ],
  "rules": {
    "array-callback-return": "error",
    "block-scoped-var": "error",
    "consistent-return": "error",
    "curly": "error",
    "dot-location": ["error", "property"],
    "dot-notation": "error",
    "eqeqeq": "error",
    "no-alert": "error",
    "no-eq-null": "error",
    "no-extra-bind": "error",
    "no-fallthrough": "off",
    "no-implicit-coercion": "error",
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-lone-blocks": "error",
    "no-multi-spaces": "error",
    "no-new": "error",
    "no-redeclare": "error",
    "no-return-assign": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-throw-literal": "error",
    "no-unmodified-loop-condition": "error",
    "no-unused-expressions": "error",
    "no-unused-vars": ["error", {
      "argsIgnorePattern": "(^e$|^_)"
    }],
    "no-useless-call": "error",
    "no-useless-concat": "error",
    "no-useless-escape": "error",
    "no-useless-return": "error",
    "no-void": "error",
    "prefer-promise-reject-errors": ["error", {
      "allowEmptyReject": true
    }],
    "radix": "error",
    "wrap-iife": ["error", "inside"],
    "yoda": "error",
    "no-undef-init": "error",
    "indent": ["error", 2],
    "max-len": "off",
    "no-console": "off",
    "no-multiple-empty-lines": "error",
    "array-bracket-spacing": "error",
    "block-spacing": "error",
    "camelcase": ["error", {
      "properties": "never"
    }],
    "comma-dangle": ["error", "only-multiline"],
    "comma-spacing": "error",
    "comma-style": "error",
    "computed-property-spacing": ["error", "never"],
    "key-spacing": "error",
    "keyword-spacing": "error",
    "newline-per-chained-call": ["error", {
      "ignoreChainWithDepth": 2
    }],
    "no-array-constructor": "error",
    "no-lonely-if": "error",
    "no-mixed-operators": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-negated-condition": "error",
    "no-new-object": "error",
    "no-tabs": "error",
    "func-call-spacing": ["error", "never"],
    "func-name-matching": "error",
    "new-cap": ["error"],
    "new-parens": ["error"],
    "no-template-curly-in-string": "error",
    "no-trailing-spaces": "error",
    "no-unneeded-ternary": "error",
    "no-whitespace-before-property": "error",
    "object-curly-spacing": ["error", "always"],
    "one-var": ["error", "never"],
    "operator-linebreak": ["error"],
    "padded-blocks": ["error", "never"],
    "quote-props": ["error", "as-needed"],
    "quotes": "off",
    "semi": "error",
    "semi-spacing": "error",
    "space-before-function-paren": ["error", "never"],
    "space-in-parens": "error",
    "space-infix-ops": "error",
    "space-unary-ops": "error",
    "spaced-comment": ["error", "always", {
      "exceptions": ["-", "*"]
    }],
    "arrow-parens": "error",
    "arrow-spacing": "error",
    "constructor-super": "error",
    "generator-star-spacing": "error",
    "no-class-assign": "error",
    "no-confusing-arrow": ["error", {
      "allowParens": true
    }],
    "no-const-assign": "error",
    "no-dupe-class-members": "error",
    "no-duplicate-imports": "error",
    "no-new-symbol": "error",
    "no-useless-computed-key": "error",
    "no-useless-constructor": "error",
    "no-var": "error",
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "require-yield": "error",
    "rest-spread-spacing": "error",
    "template-curly-spacing": "error",
    "yield-star-spacing": "error",
    "import/no-duplicates": "error",
    "import/no-namespace": "error",
    "import/newline-after-import": "error",
    "angular/no-private-call": "error",
    "angular/controller-as-vm": "error",
    "angular/controller-as": "error",
    "angular/di-unused": "error",
    "angular/directive-restrict": "error",
    "angular/empty-controller": "error",
    "angular/no-http-callback": "error",
    "angular/di": ["error", "function"],
    "angular/on-destroy": "error",
    "angular/no-inline-template": "error"
  }
}
