{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es6": true,
    "serviceworker": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint",
    "plugin:array-func/all"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "$featureFlags": "readonly",
    "ga": true,
    "$DIM_FLAVOR": "readonly",
    "$DIM_VERSION": "readonly",
    "$DIM_BUILD_DATE": "readonly",
    "$GOOGLE_DRIVE_CLIENT_ID": "readonly",
    "$DIM_WEB_API_KEY": "readonly",
    "$DIM_WEB_CLIENT_ID": "readonly",
    "$DIM_WEB_CLIENT_SECRET": "readonly",
    "$DIM_API_KEY": "readonly",
    "$BROWSERS": "readonly",
    "workbox": true,
    "React": true,
    "require": true,
    "module": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint",
    "lodash",
    "jsx-a11y",
    "array-func",
    "react-redux"
  ],
  "rules": {
    "no-console": "off",
    "no-empty": "off",
    "no-implicit-coercion": "error",
    "no-restricted-properties": [
      1,
      {
        "object": "_",
        "property": "forEach",
        "message": "Please use a for in loop."
      },
      {
        "object": "_",
        "property": "filter",
        "message": "Please use the native js filter."
      }
    ],
    "arrow-body-style": ["error", "as-needed"],
    "curly": ["error", "all"],
    "no-return-await": "error",
    "prefer-regex-literals": "error",
    "prefer-promise-reject-errors": "error",
    "require-atomic-updates": "off",
    "react/no-unescaped-entities": "off",
    "react/jsx-no-target-blank": "off",
    "react/display-name": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/prefer-stateless-function": "warn",
    "react/no-access-state-in-setstate": "error",
    "react/no-this-in-sfc": "error",
    "react/no-unused-state": "error",
    "react/button-has-type": "error",
    "jsx-a11y/aria-props": "error",
    "jsx-a11y/aria-proptypes": "error",
    "jsx-a11y/aria-role": "error",
    "jsx-a11y/aria-unsupported-elements": "error",
    "jsx-a11y/autocomplete-valid": "error",
    "jsx-a11y/label-has-associated-control": "error",
    "jsx-a11y/no-noninteractive-element-interactions": "error",
    "jsx-a11y/no-noninteractive-element-to-interactive-role": "error",
    "jsx-a11y/no-noninteractive-tabindex": "error",
    "jsx-a11y/no-redundant-roles": "error",
    "jsx-a11y/role-has-required-aria-props": "error",
    "jsx-a11y/role-supports-aria-props": "error",
    "lodash/collection-method-value": "error",
    "lodash/collection-return": "error",
    "lodash/no-extra-args": "error",
    "lodash/chaining": ["error", "never"],
    "lodash/identity-shorthand": ["error", "never"],
    "lodash/matches-shorthand": ["error", "never"],
    "lodash/matches-prop-shorthand": ["error", "never"],
    "lodash/prop-shorthand": ["error", "never"],
    "lodash/prefer-compact": "error",
    "lodash/prefer-filter": "error",
    "lodash/prefer-find": "error",
    "lodash/prefer-flat-map": "error",
    "lodash/prefer-immutable-method": "error",
    "lodash/prefer-map": "error",
    "lodash/prefer-reject": "error",
    "lodash/prefer-times": "error",
    "lodash/preferred-alias": "error",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-use-before-define": ["error", { "functions": false }],
    "@typescript-eslint/no-parameter-properties": "off",
    "@typescript-eslint/no-extraneous-class": "error",
    "@typescript-eslint/no-this-alias": "error",
    "@typescript-eslint/no-unnecessary-qualifier": "error",
    "@typescript-eslint/no-unnecessary-type-assertion": "error",
    "@typescript-eslint/prefer-function-type": "error",
    "@typescript-eslint/prefer-for-of": "error",
    "@typescript-eslint/prefer-optional-chain": "error",
    "@typescript-eslint/array-type": "error",
    "@typescript-eslint/no-non-null-asserted-optional-chain": "error",
    "@typescript-eslint/prefer-as-const": "error",
    "@typescript-eslint/prefer-reduce-type-parameter": "error",
    "@typescript-eslint/unified-signatures": "error",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "(^_|[iI]gnored)",
        "argsIgnorePattern": "(^_|[iI]gnored)",
        "ignoreRestSiblings": true
      }
    ],
    "array-func/prefer-array-from": "off",
    "react-redux/mapStateToProps-prefer-hoisted": "error"
  }
}
