dist/
.settings/
.idea/
.vscode/
node_modules/
build/common
build/img
build/manifest
build/api-manifest/*.json
build/*.json
build/*.zip
*.DS_Store
config/dim_travis.rsa

!do-not-delete.txt
!build/itemHashes.json
!build/progressionMeta.json
!build/img/misc/missing_icon.png

.brackets.json
.npmrc
npm-debug.log
app/*
!app/index.html
!app/icon16.png
!app/manifest.json
!app/main.js
!app/index.js