app/vendor/
dist/
app/styles
.settings/
.idea/
node_modules/
build/common
build/img
build/manifest
build/api-manifest/*.json
build/*.json
build/*.zip
*.DS_Store

!do-not-delete.txt
!build/itemHashes.json
!build/progressionMeta.json
!build/img/misc/missing_icon.png

build/extension
build/dim-extension.zip

.brackets.json
.npmrc
npm-debug.log