.modifier {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-bottom: 2px;

  img {
    width: 18px;
    height: 18px;
    margin: 0 6px 0 2px;
  }

  &.small {
    opacity: 0.5;
    margin-bottom: 0;
  }
}
