@use '../variables.scss' as *;

.guide {
  composes: flexRow from '../dim-ui/common.m.scss';
  flex-wrap: wrap;
  margin: 8px 0;
  gap: 4px;
  @include phone-portrait {
    margin: 8px 6px;
  }
}

.pill {
  composes: flexRow from '../dim-ui/common.m.scss';
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  padding: 2px 8px;
  color: white;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 150ms;
  white-space: nowrap;

  img {
    margin-right: 4px;
  }
  @media (hover: hover) {
    &:hover {
      border-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.itemCategoryIcon {
  filter: invert(1);
}

.count {
  opacity: 0.5;
  margin-left: 0.3em;
}

.synergy {
  border-color: #ccc;
}

.selected {
  border-color: $orange;
  background: rgba(0, 0, 0, 0.6);
}

.pullItem {
  display: inline-block;
  margin-left: 6px;
  margin-right: -2px;
  padding-left: 6px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  :global(.app-icon) {
    transition: transform 150ms ease-in-out;
  }
  @media (hover: hover) {
    &:hover :global(.app-icon) {
      transform: scale(1.3);
    }
  }
}
