@use '../variables.scss' as *;

.guide {
  composes: flexRow from '../dim-ui/common.m.scss';
  flex-wrap: wrap;
  margin: 8px 0;
  gap: 4px;

  @include phone-portrait {
    margin: 8px 6px;
  }
}

.pill {
  composes: pill from '../dim-ui/FilterPills.m.scss';
}

.invert {
  filter: invert(1);
}

.count {
  opacity: 0.5;
}

.synergy {
  border-color: #ccc;
}

.selected {
  border-color: var(--theme-accent-primary);
  background: rgb(0, 0, 0, 0.6);
}

.pullItem {
  display: inline-block;
  margin-left: 6px;
  margin-right: -2px;
  padding-left: 6px;
  border-left: 1px solid rgb(255, 255, 255, 0.2);

  @include interactive($hover: true) {
    :global(.app-icon) {
      transform: scale(1.3);
    }
  }
  :global(.app-icon) {
    transition: transform 150ms ease-in-out;
  }
}
