@import '../../scss/variables.scss';

.activity-rank {
  align-items: flex-start;
  margin-bottom: 0;
}

.activity-rank .faction-name {
  text-transform: uppercase;
}

.crucible-rank-icon {
  margin: 2px 10px -2px 2px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 64px;
}

.crucible-rank-progress {
  fill: none;
}

.crucible-rank-total-progress {
  stroke: $blue;
  fill: none;
}

.faction-level .rank-icon {
  height: 10px;
  margin-right: 4px;
}

.win-streak {
  margin-top: 5px;
  & > .objective-checkbox {
    height: 14px;
    width: 14px;
    &.objective-complete {
      opacity: 1;
    }
    /* yellow for crucibles, green override for gambit*/
    &.objective-complete::after {
      background-color: #dde330;
      height: 8px;
      width: 8px;
    }
  }
  .faction-2772425241 & > .objective-checkbox.objective-complete::after {
    background-color: #409a80;
  }
}

@include phone-portrait {
  .activity-rank {
    align-items: center;
  }

  .ranks-for-character {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .faction {
      flex: 1;
      flex-direction: column;
    }
  }
}
