@import '../../scss/variables.scss';

.activity-rank .faction-name {
  text-transform: uppercase;
}

.crucible-rank-icon {
  margin: 2px 10px -2px 2px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 64px;
}

.crucible-rank-progress {
  fill: none;
}

.crucible-rank-total-progress {
  stroke: $blue;
  fill: none;
}

.faction-level .rank-icon {
  height: 10px;
  margin-right: 4px;
}

@include phone-portrait {
  .crucible-ranks {
    .progress-for-character {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .faction {
      flex: 1;
      flex-direction: column;
    }
  }
}
