@import '../../scss/variables.scss';

.faction {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;

  &.faction-unavailable {
    opacity: 0.4;
  }

  .faction-info {
    display: flex;
    flex-direction: column;
  }

  .faction-name {
    font-size: 14px;
  }

  .faction-level {
    color: #a1a2a2;
  }

  .purchase-unlocked {
    background-color: $gold;
  }
}

.faction-icon {
  margin: 2px 10px -2px 2px;
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
}
