@import '../variables.scss';

.faction {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.faction-unavailable {
    opacity: 0.4;
  }

  .faction-info {
    display: flex;
    flex-direction: column;
  }

  .faction-name {
    font-size: 14px;
  }

  .faction-level {
    color: #a1a2a2;
  }

  .purchase-unlocked {
    background-color: $gold;
  }
}

.faction-icon {
  margin: 2px 14px -2px 2px;
  position: relative;
  display: inline-block;
  width: var(--item-size);
  height: var(--item-size);
}

.item-faction {
  box-sizing: border-box;
  border-radius: calc((var(--item-size) / 6));
  min-width: calc((var(--item-size) / 3));
  height: calc((var(--item-size) / 3));
  font-size: calc(#{$badge-font-size});
  padding: 0 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: calc((var(--item-size) / -12));
  right: calc((var(--item-size) / -12));
  background-color: #ddd;
  color: black;
}
