@import '../variables.scss';

.trayContainer {
  position: sticky;
  @include below-header;
  height: calc(var(--viewport-height) - var(--header-height));
  z-index: 10;
  box-sizing: border-box;
  width: 0;
}

.expanded {
  transform: translate(calc(-1 * var(--sidebar-size)), 0);
}

.sideTray {
  background-color: black;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  width: var(--sidebar-size);
  height: 100%;
  box-sizing: border-box;
  > :global(.dim-button) {
    margin: 0;
  }

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.trayButton {
  composes: resetButton from '../dim-ui/common.m.scss';
  transform: rotate(-90deg);
  background: black;
  position: absolute;
  right: 100%;
  color: white;
  padding: 8px;
  top: -25px;
  transform-origin: bottom right;
  white-space: nowrap;
  font-size: 16px;

  &:hover {
    color: black;
    background-color: $orange;
  }

  :global(.app-icon) {
    margin-left: 2px;
  }
}

.item {
  composes: flexRow from '../dim-ui/common.m.scss';
  margin: 8px 0 16px 0;
  background-color: black;
  will-change: auto;
  transform-origin: calc(var(--item-size) / 2) calc(var(--item-size) / 2);
}

.info {
  margin-left: 8px;
}

.title {
  text-transform: uppercase;
  font-weight: 600;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 14px;
}

.type {
  > * {
    display: inline;
  }
}

.classIcon {
  margin-left: 4px;
}

.perks {
  display: flex;
  flex-flow: column;
  margin: 4px 0;

  > div > div {
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  img {
    height: 24px;
    width: 24px;
  }
}

.tagButton {
  composes: dim-button from global;
  margin-right: 4px;
}

.stats {
  margin: 4px 0 0 0;
  :global(.stat-row) {
    margin-bottom: 8px;
  }
  :global(.stat) {
    line-height: 8px;
  }
}
