.milestone-quest {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;

  .complete {
    color: #A1A2A2;
  }

  .milestone-icon {
    img {
      height: 36px;
      width: 36px;
    }
    span {
      font-size: 10px;
      text-align: center;
    }
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    width: 36px;
    align-items: center;
  }

  .milestone-name {
    font-size: 14px;
  }

  .milestone-location {
    font-size: 10px;
    margin: 0 0 2px 0;
  }

  .milestone-description {
    color: #A1A2A2;
    white-space: pre-wrap;
  }

  .milestone-info {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .milestone-reward {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px 0 0 0;

    img {
      width: 17px;
      height: 17px;
      margin-right: 4px;
    }

  }

  .milestone-reward-activity {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px 0 0 0;

    img {
      width: 20px;
      height: 20px;
      margin-right: 4px;
    }

    i {
      margin-right: 4px;
    }
  }

  .milestone-challenges {
    margin: 8px 32px 0 0;

    .milestone-challenges-activity-name {
      text-transform: uppercase;
      font-size: 10px;
    }
  }

  .milestone-challenge {
    margin: 4px 0 0 -14px;
    display: flex;
    flex-direction: row;
    align-items: baseline;

    .milestone-challenge-info {
      flex: 1;
    }

    i.fa {
      margin-right: 4px;
    }

    .milestone-challenge-name {
      flex: 1;
    }

    .milestone-header {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .milestone-challenge-description {
      font-size: 10px;
      color: #A1A2A2;
    }

    .milestone-challenge-progress {
      font-size: 10px;
    }
  }


  .milestone-modifier {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 4px;

    img {
      width: 16px;
      height: 16px;
      margin: 1px 6px 0 2px;
    }

    .milestone-modifier-info {
      flex: 1;
    }

    .milestone-modifier-description {
      font-size: 10px;
      color: #A1A2A2;
    }
  }
}