.milestone-quest {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 16px;

  .milestone-icon {
    img {
      height: 36px;
      width: 36px;
    }
    span {
      font-size: 10px;
      white-space: nowrap;
    }
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    width: 36px;
    align-items: center;
  }

  .milestone-name {
    font-size: 14px;
  }

  .milestone-location {
    font-size: 10px;
    margin: 0 0 2px 0;
  }

  .milestone-description {
    color: #A1A2A2;
    white-space: pre-wrap;
  }

  .milestone-info {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .milestone-reward {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px 0 0 0;

    img {
      width: 20px;
      height: 20px;
      margin-right: 4px;
    }
  }
}