@use '../variables.scss' as *;

.pathfinderRow {
  composes: flexWrap from '../dim-ui/common.m.scss';
  box-sizing: border-box;
  margin: 16px 0;
  justify-content: center;
  gap: 24px 16px;

  > * {
    flex: 1;
    max-width: 250px;
    min-width: 150px;
  }

  @media (max-width: 1270px) {
    margin: 8px 10px;
    gap: 14px;
    width: auto;

    > * {
      flex: 0;
      width: var(--item-size);
      min-width: var(--item-size);
    }

    :global(.milestone-icon) {
      margin: 0;
    }
    :global(.milestone-info) {
      display: none !important;
    }
  }
}

.divider {
  border: 0;
  border-bottom: 1px solid var(--theme-button-bg);
  margin: 0;
}

.completed {
  :global(.milestone-icon) img {
    border-color: $xp;
    border-width: 2px;
    padding: 3px;
  }
}
