@use '../variables.scss' as *;
.powercaps {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 0.5rem;
}
.powercap {
  display: flex;
  flex-direction: column;
  align-items: center;
  .powercapLabel {
    color: #a1a2a2;
    font-size: 0.8rem;
    font-weight: 400;
  }

  .powercapValue {
    font-weight: bold;
    font-size: 0.9rem;
  }

  .pinnaclecap {
    color: $gold;
  }
}
