@import '../variables.scss';

.progress-panel {
  margin-top: 8px;
}

.progress-page {
  user-select: text;
  .progress-characters {
    display: flex;
    margin-top: 12px;
    margin-bottom: 12px;

    .character {
      height: auto;
      width: auto;
      display: flex;
      justify-content: center;
    }
  }

  .small-icon {
    height: 26px;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }

  .progress-for-character {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: min-content;
    gap: 24px 16px;
    margin: 16px 0;
    width: 100%;
    box-sizing: border-box;
    @include phone-portrait {
      margin: 16px 10px;
      width: auto;
      &.ranks-for-character {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      }
    }
  }

  hr {
    border: none;
    border-bottom: 1px solid #666;
    margin: 0 0 16px 0;
  }

  .milestone-reward-activity .app-icon {
    margin-right: 4px;
  }

  .progress-menu {
    margin-top: 16px;
  }

  .menu-link {
    .app-icon {
      opacity: 0.6;
      font-size: 10px;
    }
    img {
      height: 16px;
      width: 16px;
    }
  }
}

#factions .progress-for-character {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
