@use '../variables.scss' as *;

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: min-content;
  gap: 24px 16px;
  margin: 16px 0;
  width: 100%;
  box-sizing: border-box;

  @include phone-portrait {
    margin: 16px 10px;
    gap: 16px;
    width: auto;
    &.ranks {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
  }
}
