@use '../variables.scss' as *;

.seasonalRewardWrapper {
  composes: pursuit from './PursuitItem.m.scss';

  width: var(--item-size);
  height: var(--item-size) !important;
  cursor: default;
  img {
    border: $item-border-width solid #666;
    box-sizing: border-box;
  }
  &.free {
    background: #2b2f33;
  }
  &.premium {
    background: #016062;
  }
}

.seasonalRank {
  cursor: default;

  &.hasPremiumRewards {
    :global(.milestone-icon) {
      max-width: calc(var(--item-size) * 2.1);
      width: min-content;
    }
  }
}

.progress {
  width: 90%;
  text-align: center;
}

.seasonEnd {
  font-style: italic;
}

.seasonalRewards {
  display: flex;
  flex-direction: row;
  @include horizontal-space-children(2px);
}

.progressBar {
  position: relative;
  bottom: 0;
  left: 0;
  margin-top: 5px;
}
