@import '../../scss/variables.scss';

.infuseDialog {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  @include phone-portrait {
    --item-size: 48px;
    --item-margin: 6px;
  }

  .ngdialog-inner-content {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 130px);
  }

  .bigValue {
    font-size: 32px;
    line-height: 1em;
    @include phone-portrait {
      font-size: 22px;
    }
  }

  .infuseSourceDetailsRow {
    margin-left: 1rem;
  }

  .black {
    background-color: #222222;
  }

  .grey {
    background-color: #6d6d6d;
  }

  .green {
    color: green;
    font-weight: bold;
  }

  .infuseHeader {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;

    .item {
      margin-bottom: 0;
    }

    @include phone-portrait {
      flex-direction: column;

      .infuseControls {
        font-size: 11px;
      }
    }
  }

  .infuse-selected .item {
    outline: 2px solid black !important;
  }

  .infuse-btn {
    margin-top: 15px;
  }

  .infuseSourceItemInfo {
    padding: 0px 0px 8px 8px;
    display: flex;
    flex-direction: row;
  }

  .infuseControls {
    padding: 0px 8px 8px 8px;
    label {
      display: block;
    }
  }

  .gearsContainer {
    flex: 0 0 auto;
    width: auto;
    padding: 8px;
    overflow: hidden;

    .resultContainer {
      display: flex;
    }

    .plusSeparator {
      float: left;
      margin-top: 5px;
      font-size: 32px;
    }

    .itemGrid {
      display: flex;
      flex-wrap: wrap;
    }

    .infusionPlan {
      display: flex;
      flex: 1;

      @include phone-portrait {
        flex-direction: column;
      }

      .infusionEquation {
        display: flex;

        .icon {
          align-self: center;
          margin-right: 8px;
        }
      }
    }
  }

  .infuseSelector {
    flex: 1 1 auto;
    overflow: auto;
    justify-content: space-around;
    display: flex;

    .infuseSeparator {
      width: 1px;
      margin: 15px 8px 0px 8px;
      flex: none;
      background: white;
    }
  }

  .infuseSources,
  .infuseTargets {
    flex: 1;
  }

  .infusionBottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 0;

    .item {
      margin-bottom: 0;
    }
  }
}
