.infuseDialog {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;

  .ngdialog-inner-content {
    padding-left: 0;
    padding-right: 0;
  }

  .bigValue {
    font-size: 32px;
    line-height: 1em;
  }

  .infuseSourceDetailsRow {
    margin-left: 1rem;
  }

  .black {
    background-color: #222222;
  }

  .grey {
    background-color: #6D6D6D;
  }

  .green {
    color: green;
  }

  .infuseHeader {
    display: flex;
    flex-direction: row;
  }

  .infuse-selected {
    outline: 2px solid black !important;
  }

  .infuse-btn {
    margin-top: 15px;
  }

  .infuseSourceItemInfo {
    padding: 0px 0px 10px 25px;
    display: flex;
    flex-direction: row;
  }

  .infuseControls {
    padding: 0px 25px 10px 25px;
    label {
      display: block;
    }
  }

  .gearsContainer {
    width: auto;
    padding: 10px 25px;
    overflow: hidden;

    .resultContainer {
      display: flex;
    }

    .infusedItem {
      margin: 3px 3px 3px 3px;
    }

    .plusSeparator {
      float: left;
      margin-top: 5px;
      font-size: 32px;
    }

    .itemGrid {
      display: flex;
      max-width: calc((var(--item-size) + 8px) * 5);
      flex-wrap: wrap;
    }

    .infusionPlan {
      display: flex;

      .infusionEquation {
        display: flex;
        height: calc(var(--item-size) + 8px + 6px);

        .icon {
          align-self: center;
        }
      }
    }
  }

  .infuseSelector {
    justify-content: space-around;
    display: flex;

    .infuseSeparator {
      width: 1px;
      margin: 15px 15px 0px 15px;
      flex: none;
      background: white;
    }
  }
}

