@use '../variables.scss' as *;

.infuseDialog {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 0 auto;
}

.infuseHeader {
  @include phone-portrait {
    flex-direction: column;
  }
  :global(.item) {
    margin-bottom: 0;
  }
}

.infuseActions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 8px;

  button {
    margin-bottom: 4px;
    &:last-child {
      margin: 0;
    }
  }
}

.infuseSearch {
  flex: 1;
  margin-left: 16px;
  margin-top: auto;

  @include phone-portrait {
    margin-bottom: 8px;
    margin-left: 3px;
  }
}

.infuseSelected :global(.item) {
  outline: 2px solid var(--theme-accent-primary) !important;
}

.infusionEquation {
  display: flex;
}

.icon {
  align-self: center;
  margin: 0 8px;
}

.infuseSources {
  flex: 1;
  padding: 10px;
  min-height: 150px;
}

.infusionControls {
  display: flex;
  flex-direction: row;

  @include phone-portrait {
    flex-direction: column;
  }
}

.infuseTopRow {
  display: flex;
  flex-direction: row;

  @include phone-portrait {
    margin-bottom: 8px;
  }
}

.missingItem {
  :global(.item-img) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }
}
