@use '../../variables.scss' as *;

.empty {
  width: var(--item-size);
  height: var(--item-size);
  border: 1px solid #ddd;
  box-sizing: border-box;

  &.hasBadge {
    height: calc(var(--item-size) + #{$badge-height} - #{$item-border-width});
  }
}

.placeholder {
  composes: item from global;
  opacity: 0.3;
  object-fit: contain;
  width: 100%;
  height: 100%;
  padding: 12px;
}

.clickable {
  composes: resetButton from '../../dim-ui/common.m.scss';
  &:focus {
    border-color: var(--theme-accent-primary);
  }
  .placeholder {
    @include interactive($hover: true) {
      opacity: 1;
    }
  }
}
