@import '../../variables.scss';

.mods {
  flex: 1;
}

.modsGrid {
  --item-icon-size: calc(0.8 * var(--item-size));
  min-width: calc(5 * var(--item-icon-size) + 4 * var(--item-margin));
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--item-icon-size));
  gap: 4px;
  align-content: flex-start;
  align-items: flex-start;
  :global(.item) {
    --item-size: var(--item-icon-size);
  }
}

.showModPlacementButton {
  composes: dim-button from global;
  margin-top: 8px;
}

.modsPlaceholder {
  composes: placeholder from './LoadoutItemCategorySection.m.scss';
  flex: 1;
}

.missingItem {
  opacity: 0.3;
}
