@use '../variables.scss' as *;

.content {
  width: 100%;

  // Prevent collapsing at smaller than iPad landscape sizes
  min-width: calc(
    (var(--num-characters) + 1) *
      (var(--inventory-column-padding) * 2 + var(--character-column-width))
  );
}

.buttons {
  display: grid;
  grid-template-rows: 46px 1fr;
  padding: 16px var(--inventory-column-padding) 6px 0;
  place-items: center;
}

.singleCharacter {
  --num-characters: 1;
}

.singleCharacterButton {
  composes: resetButton from '../dim-ui/common.m.scss';

  color: #9e9db5;
  font-size: 26px;
  width: min-content;
  transition:
    transform 100ms ease-in-out,
    color 100ms ease-in-out;
  display: flex;
  align-items: center;

  @include interactive($hover: true) {
    transform: scale(1.25);
    color: var(--theme-accent-primary);
  }
}

.vaultUnderButton {
  composes: singleCharacterButton;

  font-size: 18px;

  &.under > span {
    transform: rotate(90deg);
  }
}

.inventoryContainer {
  :global(.issue-banner-shown) & {
    @include desktop {
      padding-bottom: $issue-banner-height;
    }
  }
}
