@use '../variables.scss' as *;

.inventory-title {
  .title {
    flex: none;
    cursor: default;
    padding-top: 4px;
    min-height: 28px;
    background-color: transparent;

    &:hover {
      background-color: transparent;
      .collapse {
        color: rgba(245, 245, 245, 0.25);
      }
    }
    &.collapsed {
      color: white;
      font-weight: bold;
      min-height: 32px;
      padding-bottom: 4px;
    }
  }

  .collapse-handle {
    cursor: pointer;
    height: 100%;
    padding-right: 8px;
    &:hover .collapse {
      color: $orange;
    }
  }
}

// Used in StoreBuckets only
.postmasterFull {
  background-color: rgba(151, 4, 1, 0.25) !important;
}
