@use '../variables.scss' as *;

.frame {
  // Emblem plus loadout button plus margin
  max-width: $emblem-width + 16px + 10px;
  margin: 0 auto;
  overflow: visible !important;
  position: relative;
}

.track {
  display: block;
  // Don't let the browser handle touches, we'll do it ourselves
  touch-action: none;
}

.character {
  display: inline-block;
  padding: 8px 0;
  box-sizing: border-box;
  vertical-align: top;

  > * {
    margin: 0 5px;
  }
}
