.bucketSize {
  margin-left: 4px;
  text-transform: none;
  font-size: 12px;
  letter-spacing: normal;
  font-weight: normal;
}

.postmasterFull {
  background-color: rgba(151, 4, 1, 0.75) !important;
}

.title {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: none;
  cursor: default;
  padding-top: 4px;
  min-height: 28px;
  background-color: transparent;
  padding: 0 var(--inventory-column-padding);
  box-sizing: border-box;

  &:hover {
    background-color: transparent;
  }
}

.collapsed {
  color: white;
  min-height: 32px;
  padding-bottom: 4px;
}

.handle {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  height: 100%;
  padding-right: 8px;
}

.content {
  overflow: hidden;
}
