@import '../variables.scss';

.badge {
  border-radius: 50%;
  border-radius: 10px;
  background: $orange;
  padding: 0 4px;
  color: black;
  font-size: 9px;
}

.button {
  align-self: center;
}

.buttonContents {
  align-items: center;
  display: inline-flex;
  @include horizontal-space-children(4px);
}
