/* The bucket label shown on mobile only */
.bucketLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  min-height: 34px;
  opacity: 0.8;
  margin: 0;
  padding: 0 var(--inventory-column-padding);
  gap: 0.5em;
}

.postmasterFull {
  background-color: rgba(151, 4, 1, 0.25) !important;
}

// If there's a "pull from postmaster" button, we need to stack the bucket
// vertically with the button, not side-by-side like we do when we have equipped
// and unequipped sub-buckets.
.hasButton {
  flex-direction: column;
}
