@use '../variables.scss' as *;

.sub-bucket {
  min-height: var(--item-size);
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--item-size));
  gap: var(--item-margin);
  align-content: flex-start;
  align-items: flex-start;
  padding: 4px 0 calc(var(--item-margin) + 4px) 0;
  position: relative;

  &:empty {
    min-height: 0;
    padding: 0;
  }

  &.equipped {
    display: flex;
    flex-direction: column;
    width: calc(var(--item-size) + #{$equipped-item-total-outset});
    margin-right: var(--item-margin);
  }

  &.unequipped {
    flex: 1;
    width: 100%;
  }

  &.not-equippable {
    padding-left: 6px;

    @include phone-portrait {
      padding-left: 4px;
    }
  }

  .armor-class-icon {
    box-sizing: border-box !important;
    width: var(--item-size);
    height: calc((var(--item-size) + ((var(--item-size) / 5) + 4px) - 1px));
    font-size: calc(var(--item-size) * 0.71);
    padding: 8px;
    color: #999;
  }

  .weapon-grouping-icon-wrapper {
    box-sizing: border-box !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--item-size);
    height: calc((var(--item-size) + ((var(--item-size) / 5) + 4px) - 1px));
    font-size: calc(var(--item-size) * 0.4);
    color: #999;

    .ammo-icon {
      width: 28px;
      height: 20px;
    }

    .element-icon {
      width: 50%;
      height: 0;
      padding-bottom: 50%;
      margin: 0;
    }

    .weapon-type-icon {
      width: 100%;
      height: auto;
      filter: invert(1) !important;
    }
  }
}

.pull-item-button {
  font-size: calc((var(--item-size) / 3));
  margin: calc((var(--item-size) / 8) - 4px) auto calc((var(--item-size) / 8) - 4px) auto;
  padding: 4px;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;

  @include interactive($hover: true) {
    opacity: 1;
  }
}

.vault-group {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: var(--item-margin);
  width: 100%;
  padding-bottom: var(--item-margin);
  border-bottom: 1px solid rgba(150, 150, 150, 0.5);

  &:last-of-type {
    border-bottom: none;
  }

  .inlineGroups & {
    display: contents;
  }
}
