@import '../../../scss/variables.scss';

.add-perk-options {
  width: 300px;
  height: auto;
  flex-wrap: wrap;
  background: #222;
  position: absolute;
  z-index: 3;
  top: calc(var(--item-size) - 1px);

  @include phone-portrait {
    width: 100%;
  }
}
.add-perk-options-title {
  margin: 5px 0;
  display: flex;
  .close {
    top: 5px;
    right: 5px;
  }
}
.add-perk-options-details {
  text-align: left;
  padding: 5px;
}
.add-perk-options-content {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}
.excluded-item .item-img {
  border-color: orange;
}
.empty-item {
  &.arc,
  &.solar,
  &.void {
    background-size: 100%;
  }
}

.add-perk-container {
  opacity: 0.7;
  display: table-cell;
  vertical-align: middle;
  width: var(--item-size);
  height: var(--item-size);

  &:hover {
    opacity: 1;
    transition: 0.3s;
  }

  &.has-locked {
    opacity: 1;
  }

  .add-perk-text {
    display: block;
    font-size: 9px;
  }
}

.add-perk-label {
  font-size: 10px;
}

.on-loadout-hover {
  background-color: orange;
}

.locked-items .close {
  z-index: 1;
  width: calc(var(--item-size) / 3);
  height: calc(var(--item-size) / 3);
  background-size: calc(var(--item-size) / 3);
  right: 11px;
  top: 1px;
}
