.locked-items {
  flex: 1;
}
.locked-item {
  text-align: center;
  position: relative;

  > div:first-child {
    display: flex;
    flex-wrap: wrap;
  }
  .locked-item-box {
    position: relative;
  }
  .empty-item {
    cursor: pointer;
    width: calc(var(--item-size) + 4px);
    height: calc(var(--item-size) + 4px);
    margin: 2px;
    position: relative;
    contain: strict;
    box-sizing: border-box;
    transition: opacity 0.2s, transform 0.2s;
    border: 2px solid #ddd;
  }
}
