<div ng-if="vm.service.active" id="item-farming">
  <span class="engram-icon">
    <div class="item-count">{{vm.service.itemsMoved}}</div>
    <img class="engram" ng-class="{ active: (vm.service.movingItems || vm.service.makingRoom) }" src="~app/images/engram.svg" height="60" width="60"/>
  </span>
  <span>
    <p translate="{{vm.settings.farming.makeRoomForItems ? 'FarmingMode.Desc' : 'FarmingMode.MakeRoom.Desc'}}" translate-values="{ store: vm.service.store.name, gender: vm.service.store.gender }"></p>
    <div class="item-details"><span>
      <p translate="FarmingMode.Configuration"></p>
      <p><input id="make-room-for-items" type='checkbox' ng-change="vm.settings.save()" ng-model='vm.settings.farming.makeRoomForItems' /><label for="make-room-for-items" translate-attr="{title: 'FarmingMode.MakeRoom.Tooltip'}" translate="FarmingMode.MakeRoom"></label></p>
    </span><span>
      <p translate="FarmingMode.Quickmove"></p>
      <p><dim-simple-item ng-repeat="item in vm.service.consolidate track by $index" item-data="item" ng-click="vm.consolidate(item, vm.service.store)"></dim-simple-item></p>
    </span></div>
  </span>
  <span><button ng-click="vm.stop($event)" translate="FarmingMode.Stop"></button></span>
</div>
