<div class="character-box" ng-click="vm.openLoadoutPopup($event)">
  <div class="background" ng-style="{ 'background-image': 'url(' + vm.store.background + ')' }"></div>
  <div class="details">
    <div class="emblem" ng-style="{ 'background-image': 'url(' + vm.store.icon + ')' }"></div>
    <div class="character-text">
      <div class="top">
        <div class="class">{{:: vm.store.className }}</div>
        <div class="powerLevel" ng-if="!vm.store.isVault">{{ vm.store.powerLevel }}</div>
      </div>
      <div class="bottom">
        <div class="race-gender" ng-if="::!vm.store.isVault">{{:: vm.store.genderRace }}</div>
        <div class="level" ng-if="::!vm.store.isVault">{{ vm.store.level }}</div>
      </div>
      <div class="levelBar" ng-class="{ moteProgress: !vm.store.percentToNextLevel }" ng-if="::!vm.store.isVault" title="{{vm.xpTillMote}}" dim-percent-width="vm.levelBar"></div>
    </div>
    <div class="currencies">
      <div class="currency" ng-if="::!!vm.store.isVault"> {{ vm.store.glimmer }} <img src="~app/images/glimmer.png"></div>
      <div class="currency legendaryMarks" ng-if="::!!vm.store.isVault"> {{ vm.store.legendaryMarks }} <img src="~app/images/legendaryMarks.png"></div>
    </div>
    <i class="loadout-button fa fa-chevron-circle-down" translate-attr="{ title: 'Loadouts' }"></i>
  </div>
</div>
</div>
<div class="loadout-menu" loadout-id="{{:: vm.store.id }}"></div>
<dim-stats stats="vm.store.stats" ng-if="!vm.store.isVault"></dim-stats>
<div ng-if="vm.store.isVault" class="vault-capacity">
  <div class="vault-bucket" title="{{bucket | translate}}: {{size}}/{{::capacity}}" ng-repeat="(sort, size) in vm.store.vaultCounts" ng-init="capacity = vm.store.capacityForItem({sort: sort}); bucket = 'Bucket.' + sort">
    <div class="vault-bucket-tag">{{::bucket | translate | firstLetter}}</div>
    <div class="vault-fill-bar">
      <div class="fill-bar" ng-class="{ 'vault-full': size == capacity }" dim-percent-width="size / capacity"></div>
    </div>
  </div>
</div>
