<div class="sticky-header-background" scroll-class="something-is-sticky"></div>
<dim-stores class="stores"></dim-stores>
<dim-loadout></dim-loadout>
<dim-compare></dim-compare>
<dim-item-discuss></dim-item-discuss>
<div id="drag-help" class="drag-help-hidden" translate="Help.Drag"></div>
<dim-farming></dim-farming>
<dim-clear-new-items></dim-clear-new-items>
<div class="random-loadout" ng-controller="dimRandomCtrl as random">
  <a class="loadout random" href="#" ng-disabled="random.disableRandomLoadout" ng-if="::random.showRandomLoadout" ng-click="random.applyRandomLoadout($event)">&Pi;</a>
</div>
