@import '../variables.scss';

.character-tile {
  flex: 1;
  display: flex;
  position: relative;
  z-index: 0;

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    background-color: black;
    z-index: -1;
  }

  .character-text {
    flex: 1;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    margin: 0 6px;

    .vault & {
      flex-direction: row;
      align-items: center;
      .top,
      .bottom {
        flex: 1;
      }
    }

    .app-icon {
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5))
        drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    }
  }

  .emblem {
    width: 32px;
    height: 32px;
    margin: 0 8px;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;

    @include phone-portrait {
      margin-right: 15px;
    }

    .destiny2 & {
      visibility: hidden;
    }

    &.vault {
      visibility: visible;
      height: 40px;
      width: 40px;
      margin: 8px;
    }
  }

  .class,
  .race-gender {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .powerLevel {
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-weight: 500;
  }

  .powerLevel,
  .light {
    color: $power;
    margin-top: 1px;

    .app-icon {
      vertical-align: 70%;
      font-size: 40%;
      margin-right: 2px;
    }
  }

  .level {
    margin-right: 1px;
  }

  .top,
  .bottom {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
  }

  .top {
    font-size: 20px;

    @include phone-portrait {
      .maxTotalPower {
        font-size: 12px;
        align-self: flex-end;
        padding-left: 4px;
      }
    }
  }
}

.bottom {
  font-size: 12px;
  color: white;
  @include phone-portrait {
    .vault & {
      display: grid;
      grid-template-columns: repeat(2, 16px minmax(-webkit-min-content, 1fr));
      grid-template-columns: repeat(2, 16px minmax(min-content, 1fr));
      grid-auto-rows: 16px;
      gap: 3px 2px;
    }
  }
}
