@use '../variables.scss' as *;

.character {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  position: relative;
  white-space: nowrap;
  box-sizing: border-box;
  max-width: 237px + 16px;
  width: calc(6px + var(--character-column-width) - var(--item-margin));

  @include phone-portrait {
    width: auto;
  }

  @media (hover: hover) {
    &:hover,
    &:active {
      position: relative;
      &::after {
        content: '';
        display: block;
        position: absolute;
        inset: -4px -4px -4px -4px;
        border: 1px solid white;
        pointer-events: none;
      }
    }
  }
}

.current::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-top: 13px solid var(--theme-accent-primary);
  border-right: 13px solid transparent;
}
