@use '../variables.scss' as *;

.characterTile {
  flex: 1;
  display: flex;
  position: relative;
  z-index: 0;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  background-color: black;
  z-index: -1;
}

.top,
.bottom {
  display: flex;
  flex-flow: row nowrap;
}

.top {
  font-size: 20px;

  @include phone-portrait {
    .maxTotalPower {
      font-size: 12px;
      align-self: flex-end;
      padding-left: 4px;
    }
  }
}

.bottom {
  font-size: 12px;
  color: white;
  filter: contrast(0.5);

  @include phone-portrait {
    :global(.vault) & {
      display: grid;
      grid-template-columns: repeat(2, 16px minmax(-webkit-min-content, 1fr));
      grid-template-columns: repeat(2, 16px minmax(min-content, 1fr));
      grid-auto-rows: 16px;
      gap: 3px 2px;
    }
  }
}

.characterText {
  flex: 1;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  margin: 0 6px;

  :global(.vault) & {
    flex-direction: row;
    align-items: center;
    .top,
    .bottom {
      flex: 1;
    }
  }

  :global(.app-icon) {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  }
}

.emblem {
  width: 32px;
  height: 32px;
  margin: 0 8px;
  align-self: center;
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;

  @include phone-portrait {
    margin-right: 15px;
  }

  :global(.destiny2) & {
    visibility: hidden;
  }

  :global(.vault) & {
    visibility: visible;
    height: 40px;
    width: 40px;
    margin: 8px;
  }
}

.class {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.powerLevel {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Destiny Symbols';
  font-weight: 500;
  color: $power;
  margin-top: 1px;

  :global(.app-icon) {
    vertical-align: 70%;
    font-size: 40%;
    margin-right: 2px;
  }
}

.level {
  margin-right: 1px;
}

:global(.app-icon).classIcon {
  width: auto;
  height: 16px;
  margin-right: 4px;
}

.title {
  font-style: italic;
  color: #e1c2ec;
}

.gilded {
  color: #ffc70d;
}

.gildedNum {
  font-weight: bold;
  font-style: normal;
  margin-left: 4px;
}
