@use '../variables.scss' as *;

.character {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  position: relative;
  white-space: nowrap;
  box-sizing: border-box;
  max-width: 237px + 16px;

  &.vault {
    width: calc(6px + var(--character-column-width) - var(--item-margin));

    @include phone-portrait {
      width: auto;
    }
  }

  &.current::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-top: 13px solid var(--theme-accent-primary);
    border-right: 13px solid transparent;
  }

  &.destiny2 {
    .background {
      filter: none;
    }
  }

  @media (hover: hover) {
    &:hover,
    &:active {
      position: relative;
      &::after {
        content: '';
        display: block;
        position: absolute;
        inset: -4px -4px -4px -4px;
        border: 1px solid white;
        pointer-events: none;
      }
    }
  }
}

.loadout-button {
  background-color: black;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang-ja {
  .class {
    font-size: 16px;
  }
}

.lang-ru {
  .vault .class {
    font-size: 16px;
  }
}
