@import '../../variables';

.energyOptions {
  margin: 8px 0;
}

.settingGroup {
  background-color: black;
  padding: 8px;
}

.title {
  margin-bottom: 4px;
}

.buttons {
  composes: flexRow from '../../dim-ui/common.m.scss';
}

.button {
  composes: dim-button from global;
  cursor: pointer;
  flex-grow: 1;
}

.selected {
  cursor: default;
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    background-color: $orange;
    height: 2px;
    bottom: -1px;
    left: -1px;
    right: -1px;
  }
}
