.energySelect {
  background-color: black;
  padding: 4px;
  margin-bottom: 2px;
}

.title {
  margin-bottom: 4px;
}

.unused {
  border-color: #888;
  cursor: pointer;
}

.used {
  composes: unused;
  background-color: #888;
}
