@import '../../variables';

.energyOptions {
  margin: 8px 0;
}

.settingGroup {
  background-color: black;
  padding: 8px;
}

.title {
  margin-bottom: 4px;
}

.buttons {
  composes: flexRow from '../../dim-ui/common.m.scss';
}

.button {
  cursor: pointer;
  flex-grow: 1;

  &:hover,
  &:active {
    background-color: #e2af55 !important;
    color: black !important;
  }
}
