.filters {
  margin: 8px 0;
}

.row {
  display: grid;
  grid-template-columns: min-content 1fr 25% 25%;
  gap: 4px 4px;
  margin-bottom: 2px;
  background-color: black;
  align-items: center;

  > * {
    margin: 4px 0;
    &:first-child {
      margin-left: 8px;
    }
    &:last-child {
      margin-right: 4px;
    }
  }

  label > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
  }
}

.filterRange {
  label {
    display: block;
  }

  > div {
    display: flex;
    flex-direction: row;
  }

  input[type='range'] {
    flex: 1;
    margin-right: 8px;
  }
}

.filterCheckbox {
  margin-bottom: 4px;

  input {
    margin-left: 0;
    vertical-align: middle;
  }

  label {
    cursor: pointer;
    vertical-align: middle;
  }
}
