@import '../../variables.scss';

.filters {
  margin: 8px 0;
}

.row {
  display: grid;
  grid-template-columns: min-content 1fr 45px 45px;
  gap: 4px 4px;
  margin-bottom: 2px;
  padding-right: 4px;
  background-color: black;
  align-items: center;

  > * {
    margin: 4px 0;
    @include phone-portrait {
      margin: 8px 0;
    }
    &:first-child {
      margin-left: 8px;
    }
    &:last-child {
      margin-right: 4px;
    }
  }

  label > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
  }

  > select {
    height: 18px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 4px;
    padding-right: 4px;
    background-position-x: calc(100% - 4px);
    width: 45px;
  }
}

.upgradeMaterials {
  padding: 4px;
  margin: 4px 0;
  background-color: black;
}

.materialSelect {
  width: 100%;

  button {
    width: 100%;
  }
}

.materialSpendInfo {
  width: 220px;
  @include phone-portrait {
    // width of phone minus 12 padding each side
    width: calc(100vw - 24px);
  }
}

.upgradeOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  img {
    margin: 0;
    position: absolute;
    height: 14px;
    width: 14px;
  }
}

.materialName {
  margin-left: 20px;
}
