.filters {
  margin: 8px 0;
}

.row {
  display: grid;
  grid-template-columns: 6px 1fr 25% 25%;
  gap: 4px 4px;
  margin-bottom: 4px;

  label {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.powerSelect {
  label {
    display: block;
  }

  > div {
    display: flex;
    flex-direction: row;
  }

  input[type='range'] {
    flex: 1;
    margin-right: 8px;
  }
}

.assumeMasterwork {
  margin-bottom: 4px;

  input {
    margin-left: 0;
    vertical-align: middle;
  }

  span {
    vertical-align: middle;
  }
}
