@use '../../variables' as *;

.container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 16px 10px;
  gap: 14px;
}

.perkIcon {
  border-radius: 50%;
  border: 1px solid white;
  padding: 2px;
  margin-right: 1px;

  img {
    height: 20px;
    display: block;
    margin: 2px;
  }
}

.setCount {
  color: var(--theme-text-secondary);
}

.footer {
  composes: flexRow from '../../dim-ui/common.m.scss';
  align-items: center;
}

.submitButton {
  composes: dim-button from global;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: 8px;
}

.selectedBonuses {
  --item-size: 32px;
  gap: 10px;

  > * {
    margin: 1px;
    flex-shrink: 0;
  }
}

.chosenSetBonus {
  > * {
    margin: 8px 0;
  }
}
