// TODO: really need a common version of this
.infoCard {
  composes: flexRow from '../../dim-ui/common.m.scss';
  gap: 8px;
  margin-bottom: 8px;
  cursor: pointer;

  > :first-child {
    flex-shrink: 0;
  }
}

.details {
  composes: flexColumn from '../../dim-ui/common.m.scss';
  gap: 4px;
}

.title {
  color: var(--theme-text);
  font-weight: bold;
  font-size: 14px;
}

.buttons {
  composes: flexRow from '../../dim-ui/common.m.scss';
  gap: 8px;
}

.selectedPerks {
  --item-size: 27px;
  composes: flexRow from '../../dim-ui/common.m.scss';
  gap: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

.selectedPerk {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 4px;
  gap: 6px;
  background-color: var(--theme-item-popup-panel-bg);
}
