.emptyItem {
  width: var(--item-size);
  height: var(--item-size);
  border: 1px solid #ddd;
  box-sizing: border-box;
  > div,
  > div img {
    width: 100%;
    height: 100%;
  }
}

.armorIcon {
  width: calc(var(--item-size) / 2.5) !important;
  height: calc(var(--item-size) / 2.5) !important;
  position: absolute;
  bottom: 2px;
  left: 2px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 2px;
  box-sizing: border-box;
}
