.emptyItem {
  width: var(--item-size);
  height: var(--item-size);
  border: 1px solid #ddd;
  box-sizing: border-box;
  > div,
  > div img {
    width: 100%;
    height: 100%;
  }
}

.container {
  * > :global(.closeableContainer-close) {
    visibility: hidden;
  }

  &:hover {
    * > :global(.closeableContainer-close) {
      visibility: visible;
    }
  }
}
