.iconStat {
  display: inline-block;
  height: 17px;
  width: 17px;
  background-size: 100%;
  vertical-align: middle;
  margin-right: 2px;
}

.grip {
  opacity: 0.5;
}

.ignored {
  opacity: 0.4;
}

.hiddenOption {
  display: none;
}
