@import '../variables';

.items {
  flex: 1;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  -webkit-overflow-scrolling: touch;
  contain: content;
  touch-action: none;
}

.statLabel {
  position: relative;
  padding-right: 8px;
  padding-left: 0;
  cursor: pointer;
  height: 16px;
  img {
    height: 16px;
    width: 16px;
    vertical-align: bottom;
    margin-right: 2px;
  }
}

.sorted {
  color: $orange;
}

.spacer {
  height: var(--compare-item-height, 48px);
}

.organizerLink {
  composes: dim-button from global;
  margin-left: auto;
  @include phone-portrait {
    margin-left: 0;
  }
}

.bucket {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .fixedLeft {
    border-left: none;
  }
  :global(.talent-grid) {
    padding: 4px 2px 0 2px;
    box-sizing: border-box;
    width: 150px;
    height: auto;
  }
}

.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  :global(.setting) {
    margin-right: 4px;
  }
  :global(.dim-button) {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    margin-top: 2px;
    // Undo the general mobile "big-buttons"
    padding: 4px 10px;
    font-size: 12px;
    // button outer spacing margin
    &:nth-last-child(n + 2) {
      margin-right: 3px;
    }
    // button's children's spacing margin
    :nth-child(n + 2) {
      margin-left: 4px;
    }
    img {
      margin: 0;
    }
    &:hover img {
      filter: drop-shadow(0 0 1px black);
    }
  }
}

.highlightBar {
  background-color: #202020;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  z-index: -1;
}
