.svgIcon {
  height: 1.3em;
  margin: 2.5px;
  filter: invert(1) !important;
}
.svgIconWrapper {
  filter: drop-shadow(0 0 1px black);
}

.inlineImageIcon {
  display: inline-block;
  vertical-align: middle;
  height: 1.3em;
  width: 1.3em;
}

.intrinsicIcon {
  transform: scale(1.2);
}
