@use '../variables.scss' as *;

.svgIcon {
  --item-size: 1.3em;
  img,
  svg {
    height: 1.3em;
  }
  :global(.item-img) {
    border: none;
  }
}

:global(.dim-button) {
  @include interactive($hover: true, $active: true, $selectedClass: '.selected') {
    .svgIcon {
      :global(.item-img) {
        filter: invert(1);
      }
    }
  }
}

.inlineImageIcon {
  display: inline-block;
  vertical-align: middle;
  height: 1.3em;
  width: 1.3em;
}

.intrinsicIcon {
  transform: scale(1.2);
}

.statIconAdjust {
  width: 1.1em;
  object-fit: cover;
}
