@use '../variables.scss' as *;

/* Row Headers */

.spacer {
  height: var(--compare-item-height, 48px);
}

.statList {
  display: flex;
  flex-direction: column;
}

.statLabel {
  position: relative;
  padding-right: 8px;
  padding-left: 4px;
  cursor: pointer;
  height: 16px;
  img {
    height: 16px;
    width: 16px;
    vertical-align: bottom;
    margin-right: 2px;
  }
}

.sortDesc {
  color: var(--theme-accent-primary);
}
.sortAsc {
  color: var(--theme-accent-secondary);
}

// The highlight behind each item
.highlightBar {
  background-color: rgba(255, 255, 255, 0.125);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  z-index: -1;
}

/* Items */

.compareItem {
  composes: flexColumn from '../dim-ui/common.m.scss';
  border-left: 1px solid rgba(245, 245, 245, 0.25);
  position: relative;
  // Make sure even if there are no stats that there's enough room to not clip
  // the icon (e.g. for ghosts)
  min-height: calc(var(--item-size) + 60px);
  padding-bottom: 8px;

  > * {
    padding-left: 4px;
    padding-right: 4px;
  }

  // TODO push these into sockets component?
  :global(.plug) {
    --item-size-mod: calc(26 / 50 * var(--item-size));

    @include phone-portrait {
      --item-size-mod: 26px;
    }
    // This relies on the fact that only mods are img - perks are svg
    img {
      --item-size: var(--item-size-mod) !important;
    }
  }
}

// D1 talent grids are like sockets
.talentGrid {
  padding: 4px 2px 0 2px;
  max-width: 150px;
  height: auto;
}

// The toolbar across the top of each item
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  // pull & lock buttons
  > div:nth-child(1),
  > div:nth-child(2) {
    padding: 4px;
  }
  // Tag selector
  > div > div > button {
    padding: 3px !important;
  }
}

// The "dismiss" button in the item header
.close {
  composes: resetButton from '../dim-ui/common.m.scss';
  width: 32px;
  height: 32px;
  background-size: 16px;
  background-image: url('images/close.png');
  background-position: center;
  background-repeat: no-repeat;

  @include interactive($hover: true) {
    background-color: var(--theme-accent-primary);
  }
}

// The item icon that's floated behind the stats
.itemAside {
  position: absolute;
  padding: 0;
  right: 4px;
  cursor: pointer;
}

/* COLUMN STYLES */

.initialItem {
  color: var(--theme-accent-primary);
  font-weight: bold;
}

.itemName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 2px;
  margin-bottom: 2px;
  // Add the magnifying glass icons to items that can be clicked to find them
  &.isFindable {
    cursor: pointer;
    &::after {
      content: '\f002';
      // Copied from .fas classes:
      /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      font-size: 8px;
      margin-left: 4px;
      vertical-align: initial;
    }
  }
}
