.recoil svg {
  margin-left: 5px;
  vertical-align: middle;
}

.range {
  font-size: 0.9em;
}

.stat {
  height: 16px;
  margin-right: calc(var(--item-size) + 16px);
  // the goal width is 64px at normal item tile size (50px)
  // but allow the stat bars to shrink to account for bigger tiles,
  // so that this doesn't blow out the overall compare width
  width: calc(114px - var(--item-size));
  position: relative;
}

.bar {
  position: absolute;
  top: 10%;
  height: 80%;
  width: calc(100% - 3ch);
  z-index: -1;
  left: 3ch;
  > span {
    display: block;
    background-color: rgba(255, 255, 255, 0.25);
    height: 100%;
  }
}

.value {
  z-index: 1;
}
