.svgIcon {
  img,
  svg {
    height: 1.3em;
  }
}

.inlineImageIcon {
  display: inline-block;
  vertical-align: middle;
  size: 1.3em;
}

.intrinsicIcon {
  transform: scale(1.2);
}

.statIconAdjust {
  width: 1.1em;
  object-fit: cover;
}
