@use '../variables' as *;

.organizerLink {
  composes: dim-button from global;
  margin-left: auto;

  @include phone-portrait {
    margin-left: 0;
  }
}

.bucket {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;

  :global(.setting) {
    margin-right: 4px;
  }

  // TODO: Bake some of this back into dim-button
  :global(.dim-button) {
    display: flex;
    align-items: center;
    min-height: 26px;
    // Undo the general mobile "big-buttons"
    padding: 4px 10px;
    font-size: 12px;
    // button's children's spacing margin
    gap: 4px;

    @include interactive($hover: true) {
      img {
        filter: drop-shadow(0 0 1px black);
      }
    }
    img {
      margin: 0;
    }
  }
}
