.icon {
  display: inline-block;
  background-color: white;
  width: 16px;
  height: 16px;
}

.colorized {
  background-color: transparent !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mask {
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}
