.storage {
  h2 {
    margin: 0 0 12px 0;
  }
  h3 {
    text-transform: none;
    font-size: 14px;
    margin: 0;
    font-weight: bold;
  }

  p {
    margin: 8px 0;
  }

  ul {
    margin: 8px 0;
    padding-left: 2em;
  }
}
