@use '../variables.scss' as *;

.warningBlock {
  color: var(--theme-text);
  background: $red;
  padding: 0.5em 1em;
  display: inline-block;
}

.gauge {
  flex: 1;
  background-color: rgb(0, 0, 0, 0.6);
  position: relative;
  min-height: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--theme-text);
  div {
    background-color: $green;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    &.full {
      background-color: $red;
    }
  }
}
