@import '../variables';

.dropDown {
  display: inline-block;
}

.button {
  display: inline-block;
  margin: 8px 0;
}

.menu {
  background-color: #313233;
  position: absolute;
  z-index: 2;
}

.checkButton {
  border-radius: 0;
  margin: 0;

  label {
    margin-right: 4px;
  }
  &:first-child {
    border-radius: 2px 2px 0 0;
  }

  &:last-child {
    border-radius: 0 0 2px 2px;
  }

  &:not(:last-child) {
    border-bottom: 1px solid white;
  }
}
