@import '../variables';

.dropDown {
  display: inline-block;
}

.button {
  display: inline-block;
  margin: 8px 0;
}

.menu {
  background-color: #313233;
  position: absolute;
  z-index: 2;
}

.orderedMenu {
  background-color: black;
  position: absolute;
  z-index: 2;
}

.orderedMenuItem {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px 4px 2px 8px;

  span {
    padding: 2px;
    vertical-align: middle;
  }

  &:first-child {
    border-radius: 2px 2px 0 0;
  }

  &:last-child {
    border-radius: 0 0 2px 2px;
  }

  &:not(:last-child) {
    border-bottom: 1px solid white;
  }
}

.checkButton {
  border-radius: 0;
  margin: 0;

  &:first-child {
    border-radius: 2px 2px 0 0;
  }

  &:last-child {
    border-radius: 0 0 2px 2px;
  }

  &:not(:last-child) {
    border-bottom: 1px solid white;
  }
}
