@import '../variables';

.tableContainer {
}

.table {
  min-width: 100%;
  display: grid;

  > div {
    padding: 4px 6px;
    vertical-align: top;
    text-align: left;
    padding-top: calc(var(--item-size) * 0.75 * 0.5 - 6px);
  }
}

.header {
  vertical-align: bottom;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background: #313233;
  position: sticky;
  top: $header-height;

  img {
    height: 16px;
    width: 16px;
    vertical-align: bottom;
  }
}

.alternateRow {
  background-color: rgba(255, 255, 255, 0.1);
}

.mods,
.perks,
.archetype {
  padding-top: calc(var(--item-size) * 0.5 * 0.5 - 5px) !important;
}

.name {
  font-weight: bold;
  white-space: nowrap;
}

.notes,
.wishListNote {
}

.archetype {
  white-space: nowrap;
}

.mods {
}

.selection,
.name,
.dmg,
.power,
.tag,
.wishList,
.rating,
.reacquireable,
.tier,
.source,
.year,
.season,
.event {
}

.selection {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.rating {
  white-space: nowrap;
}

.icon,
.power,
.locked,
.tag,
.wishList,
.dmg {
  text-align: center !important;
}

.icon {
  padding-top: 4px !important;
  width: calc(var(--item-size) * 0.75);
  img {
    display: block;
    width: calc(var(--item-size) * 0.75);
    height: calc(var(--item-size) * 0.75);
    box-sizing: border-box;
    pointer-events: none;
    border: 1px solid #ddd;
  }
}

.inlineIcon {
  height: 14px;
  width: 14px;
  margin-right: 0;
}

.positive {
  color: $xp;
}

.negative {
  color: #d14334;
}

.modPerks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 4px;
}

.modPerk {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    margin-right: 4px;
    height: calc(var(--item-size) * 0.5);
    width: calc(var(--item-size) * 0.5);
    flex-shrink: 0;
  }
}

.modSlot {
  height: calc(var(--item-size) * 0.5);
  width: calc(var(--item-size) * 0.5);
}

// Indicate cells that can be filtered on shift-click
.shiftHeld {
  .hasFilter {
    background-color: #6666ff;
    &:hover {
      background-color: #3333ff;
    }
  }
}
