.itemActions {
  flex: 1;
}

.actionButton {
  margin: 0 2px;
  display: inline-block;
}

.tip {
  @media (max-width: 1270px) {
    display: none;
  }
}

.label {
  padding-left: 3px;
  @media (max-width: 900px) {
    display: none;
  }
}
