@use '../variables' as *;

.selector {
  background-color: rgba(0, 0, 0, 0);
  padding: 8px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.level {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.icon {
  background-color: var(--theme-button-text);

  // TODO: don't hardcode the width here, rely on BucketIcon to calculate the correct width while
  // preserving original aspect ratio
  width: 24px;
  height: 1.3em;
  vertical-align: bottom;
  margin: 0 0.3em 0 0;
  filter: drop-shadow(0 0 1px black);
  transition: background-color 150ms ease-out;
}

.button {
  composes: dim-button from global;
  margin: 2px;
  &:hover,
  &:active,
  &.checked {
    background-color: var(--theme-accent-primary);
    color: var(--theme-text-invert);

    .icon {
      background-color: var(--theme-text-invert);
    }
  }
}

.buttonItemCount {
  opacity: 0.5;
}
