@import '../variables';

.selector {
  background-color: #222;
  padding: 8px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.level {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.button {
  composes: dim-button from global;
  margin-right: 4px;
  margin-bottom: 4px;
}

.checked {
  background-color: $orange;
}
