.itemActions {
  flex: 1;
  composes: flexRow from '../dim-ui/common.m.scss';
  align-items: center;
  gap: 4px;
}

.actionButton {
  display: inline-block;
}

.tip {
  @media (max-width: 1270px) {
    display: none;
  }
}

.label {
  padding-left: 3px;

  @media (max-width: 900px) {
    display: none;
  }
}

.keyHelp {
  margin-left: auto;
}

.storeName {
  margin-right: 8px;
}
