@use '../variables.scss' as *;

.organizer {
  width: min-content;

  :global(.issue-banner-shown) & {
    padding-bottom: $issue-banner-height;

    @include phone-portrait {
      padding-bottom: 0;
    }
  }

  :global(#spreadsheets) {
    max-width: 500px;
    background-color: #222;
    padding: 8px;
    margin-top: 16px;

    :global(.setting) {
      margin: 0 0 4px 0;
      background-color: #222;
    }

    label {
      flex: 1;
      display: block;
      margin-right: 1em;
    }

    :global(.horizontal) {
      display: flex;
      flex-direction: row;
      margin-bottom: 4px;
      align-items: center;
      &:last-child {
        margin-bottom: 0;
      }
    }
    h2 {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: normal;
      letter-spacing: 1px;
      margin: 0 0 4px 0 !important;
    }
  }
}

.noMobile {
  padding: 2em;
  font-size: 18px;
  text-align: center;
  height: 70vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
