@use '../../variables' as *;
@use './LoadoutBuilderLocksDialog.m.scss' as locks;

.loadout-builder {
  #includeVendors {
    vertical-align: middle;
  }
  .includeRares {
    vertical-align: middle;
    margin-left: 0;
  }

  .perk-select-hidden .perk-select-box {
    display: none;
  }

  .labels {
    float: left;
    clear: both;
  }

  .loadout-builder-select-box {
    display: inline-block;
    position: relative;
    height: 40px;
    width: 180px;
    padding-left: 40px;
    /* background: rgba(30, 36, 43, .5); */
    text-shadow: 1px 1px 1px #000;
    color: #f5f5f5;
    text-decoration: none;
    background-size: cover;
    &.dropdown-option {
      width: 220px;
    }
    .emblem {
      position: absolute;
      left: 0;
      top: 1px;
      width: 38px;
      height: 38px;
      background-color: rgba(0, 0, 0, 0.2);
      background-size: cover;
    }
    .class {
      text-transform: capitalize;
      position: relative;
      display: block;
      top: 0;
      font-size: 1.29em;
      font-weight: 400;
    }
    .race-gender {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 0.9em;
      position: relative;
    }
    .level {
      position: absolute;
      top: 4px;
      right: 35px;
      font-weight: 200;
      font-size: 12px;
    }
    .currency {
      position: absolute;
      top: 4px;
      right: 40px;
      font-weight: 200;
      font-size: 14px;
      img {
        vertical-align: text-bottom;
        height: 16px;
        width: 16px;
      }
    }
    .legendaryMarks {
      position: absolute;
      top: 23px;
      right: 40px;
    }
    .level.powerLevel {
      position: absolute;
      top: 18px;
      right: 35px;
      font-weight: 200;
      font-size: 12px;
      color: $gold;
    }
    .powerLevel::before {
      content: '\2726';
      display: inline-block;
      vertical-align: 25%;
      font-size: 50%;
    }
  }

  .loadout-builder-select-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(120, 120, 120, 0.7);
    width: 30px;
    height: 40px;
    color: rgba(200, 200, 200, 1);
    text-align: center;
    font-size: 15px;
    line-height: 35px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;

    @include interactive($hover: true) {
      background-color: rgba(160, 160, 160, 0.8);
      border: 1px solid rgba(32, 32, 32, 0);
      color: rgba(245, 245, 245, 1);
    }
    .active {
      background-color: rgba(10, 10, 10, 0.25);
      color: rgba(245, 245, 245, 0.75);
    }
  }
}
