<div>
    <h1>デスティニー・アイテム・マネージャー「DIM」 について</h1>
    <div class="ngdialog-inner-content">
        <h3><a href="$DIM_CHANGELOG" target="_blank">バージョン $DIM_VERSION</a></h3>
        <p>DIMはBungie.netとDestinyコンパニオンアプリが使っている同じサービスを素にして作られたクローム　エクステンションです。DIMはPlayStationとXboxのアカウント両方対応で、キャラクターや保管庫に入っているアイテムにアクセスすることができます。アイテムはドラッグアンドドロップで自由自在に移動できます。</p>
        <h2>お問い合わせ</h2>
        <table>
<tr>
<td>ツイッター</td>
                <td>レディット</td>
                <td>ギットハブ</td>
            </tr>
<tr>
<td>ツイッターで最新情報やアプリのリアルタイムステータスなどが確かめられます。フォローよろしくお願いします。
<br><a href="https://twitter.com/ThisIsDIM" target="_blank">@ThisIsDIM</a>
</td>
                <td>質問、コメント、提案があればレディットで教えてください！
<br><a href="https://destinyitemmanager.reddit.com" target="_blank">/r/destinyitemmanager</a>
</td>
                <td>もし、このプロジェクトに協力していただけるなら、このリンクからGitHubへ。
<br><a href="https://github.com/DestinyItemManager/DIM/" target="_blank">DIM Git Repo</a>
</td>
            </tr>
</table>
<h2>よくある質問</h2>
        <div>
            <dl>
<dt>DIMはどのようにデスティニーのデータを入手しますか？</dt>
                <dd>どのクロームエクステンションもあなたのコンピューターにセーブしてあるウェブサイトのデータを使う許可を聞くことができます。Bungie.netにログインする時、個人別のトークン(クッキー）が作られます。このトークンを使ってあなたのコンピューターとBungieが安全に情報交換が出来る様になります。毎回ログインする時にアカウント名とパスワードを使うより、このトークンを使ったほうが個人情報がより安全だからです。DIMもこのトークンを使ってあなたの代わりにBungieと通信します。</dd>
            </dl>
<dl>
<dt>どのようにDIMからログアウトしますか？</dt>
                <dd>あなたのセッションはBungie.netと繋がっています。Bungie.netからログアウトするとDIMからもログアウトする事になります。</dd>
            </dl>
<dl>
<dt>DIMではキーボードのショートカットを使えますか？</dt>
                <dd>使えます！使用可能なショートカットリストを表示するには「？」を押してください。</dd>
            </dl>
<dl>
<dt>このツールを使っている間にアイテムを紛失してしまった。</dt>
                <dd>アイテムの転送が失敗した可能性があります。保管庫か他のキャラクターに無いか確かめて下さい。DIMで検索してみて下さい。もし見つからないなら、ブラウザーの更新を。(F5かCommand+R) それでも見つからない場合は、<a href="https://www.bungie.net" target="_blank">Bungie.net</a> かゲームで直接、探してみてください。どこかに必ず在るはずです。</dd>
            </dl>
<dl>
<dt>ちょっと、DIMは私のギャラルホルンを複製しました！</dt>
                <dd>いいえ、こっちの仕業ではありません。 約束します。</dd>
            </dl>
</div>
        <p>すべての画像やコンテンツはBungieのプロパティです。 ご不明な点がございましたら、お問い合わせください。</p>
    </div>
</div>
