<div>
    <h1>DIMを支援する</h1>
    <div class="ngdialog-inner-content">
        <p>DIMは、無料でダウンロードして使用できる製品です。DIMのソースコードはオープンソースであり、誰でも自由に拡張することができます。あなたはDIMで広告を見ることはありません。それが私たちのコミットメントです。</p>
        <p>私たちはデスティニーの大ファンです。DIMは数時間のゲームプレイの後にキャラクター間のギア伝達が難しいために作成されました。1つのアイテムを忘れたり、タワーに何度も行ったり、ストライクをしてアイテムをアンロードするのは面倒です。DIMは、より多くのゲーム時間を得るのに役立つツールです。</p>
        <h2>私はどのように貢献できますか？</h2>
        <div>
            <dl>
<dt>DIMにチップを贈る！</dt>
                <dd>私達は <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=EE2BLN2YN2Q5L" target="_blank">「PayPal」</a> を使用してチップを受け取ります。 DIMがあなたのゲーム時間をより楽しくするなら、プロジェクトに取り組むチームをサポートすることを検討してください。</dd>
            </dl>
<dl>
<dt>翻訳チームに参加してください！</dt>
                <dd>私達は  <a href="https://www.transifex.com/destiny-item-manager/destiny-item-manager/" target="_blank">「Transifex」</a> を使用して簡単に翻訳できます。 あなたの言語にローカライズされたDIMを見たい場合は、チームに参加してください。</dd>
            </dl>
<dl>
<dt>あなたの友達とDIMを共有してください。</dt>
                <dd>ロードアウトを装備するのがいかに簡単か経験したら、決して止めないでしょう。 あなたの友人と楽しく共有しましょう！</dd>
            </dl>
<dl>
<dt>DIMのアイデアはありますか？</dt>
                <dd>私たちを訪問する<a href="http://destinyitemmanager.reddit.com" target="_blank">/r/destinyitemmanager</a>であなたのアイデアを知らせてください。DIMの周りのコミュニティだけでなく、私たちからもお聞きします。アイデアの反復と改善に最適な方法です。</dd>
            </dl>
<dl>
<dt>私はデベロッパーかデザイナーか熱狂者です。 ソースに貢献したいと思っています。</dt>
                <dd>Visit us on <a href="https://github.com/DestinyItemManager/DIM/" target="_blank">GitHub</a> and send one of the contributors a message. We're more than happy to accept pull requests.  Join us as a contributor and join our meetings where we talk about the next version, feature updates, or crushing bugs.</dd>
            </dl>
</div>
    </div>
</div>
