@use '../../variables' as *;
@use 'sass:string';

/* stylelint-disable selector-class-pattern */
.communityDescription {
  h3 {
    margin: 0;
    font-size: inherit;
  }
  p {
    margin: 0;
  }
}

// --- colors
.pvp {
  color: hsl(0, 100%, 80%);
}
.pve {
  color: hsl(220deg, 100%, 75%);
}
.green {
  color: hsl(116, 58%, 65%);
}
.yellow {
  color: hsl(51, 100%, 45%);
}
.blue {
  color: hsl(180, 100%, 45%);
}
.purple {
  color: hsl(300, 100%, 81%);
}

// copy pasted from src/app/item-popup/PlugTooltip.m.scss
.enhancedArrow {
  color: $enhancedYellow;

  &::before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 11px;

    // We need to encode the '#' prefix in the color in order to use it within the SVG.
    /* prettier-ignore */
    $escapedColorStr: '%23#{string.slice('#{$enhancedYellow}', 2)}';
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 33"><path d="M6,33 L6,16 L0,16 L9,0 L18,16 L12,16 L12,33 z" fill="#{$escapedColorStr}" /></svg>');
    background-size: 6px 11px;
    margin-right: 3px;
  }
}

// --- random styling
.center {
  text-align: center;
}
.descriptionDivider {
  margin-top: 3px;
  padding-bottom: 3px;
  border-top: 1px solid #ccc;
}
.spacer {
  padding-top: 5px;
}
.bold {
  font-weight: bold;
}
.background {
  background-color: hsla(0, 0%, 100%, 0.17);
}
.title {
  text-decoration: underline;
}
.link {
  a:link {
    color: hsl(201, 100%, 65%);
  }
  a:visited {
    color: hsl(201, 100%, 65%);
  }
}

.breakSpaces {
  white-space: break-spaces;
}
