@use '../../variables.scss' as *;

// Used in StoreHeading.tsx
:global(.loadout-menu) {
  position: absolute;
  width: 300px;
  box-sizing: border-box;
  max-height: calc(var(--viewport-height) - var(--header-height) - #{62px + 16px});
  overflow: auto;
  z-index: 2;
  color: rgba(245, 245, 245, 0.6);
  overscroll-behavior: contain;
  cursor: pointer;
  background-color: black;

  @include visible-scrollbars;

  [role='button'] {
    outline: none;
  }

  // The phone layout version
  :global(.detached) & {
    position: fixed;
    top: calc(54px + var(--header-height));
    z-index: 1000;
    width: 100vw;
    padding: 0;
    max-height: calc(
      var(--viewport-height) - 54px - var(--header-height) - env(safe-area-inset-bottom)
    );
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menuItem {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  cursor: pointer;

  @include phone-portrait {
    font-size: 14px;
    padding: 6px;
  }

  &:last-of-type {
    border: 0;
  }

  a {
    text-decoration: none;
  }

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;
  }

  > span,
  a,
  form {
    &:first-child {
      flex: 1;
      padding: 0 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap !important;
      line-height: 35px;
      :global(.app-icon),
      img {
        width: 12px;
        margin-right: 5px;
        text-align: center;

        @include phone-portrait {
          width: 14px;
          margin-right: 8px;
        }
      }
      > img:first-child {
        filter: invert(1);
      }
    }
  }

  input[type='text'] {
    border: none;
    color: white;
    outline: none;
    flex: 1;
    width: 0;
    padding: 7px;
    margin-left: 4px;
    background: #313233;
    border-radius: 4px;
    box-sizing: border-box;
  }

  &:hover,
  a:hover {
    background-color: $orange;
    color: black !important;
    > span:first-child > :global(.app-icon) {
      color: black !important;
    }
    > span:first-child > img:first-child {
      filter: none;
    }
  }

  > span:not(:first-child) {
    margin: 6px 4px 6px 4px;
    padding: 0 6px;
    display: flex;
    align-items: center;
    text-align: center;

    @include phone-portrait {
      margin: 4px 4px 4px 2px;
    }
  }
}

.altButton {
  border-radius: 4px;
  color: #888;
  background-color: #222;
  /* stylelint-disable-next-line no-descending-specificity */
  :global(.app-icon) {
    font-size: 13px;

    @include phone-portrait {
      font-size: 15px;
    }
  }
  &:hover {
    background-color: $blue;
    color: #222;
  }
}

.loadoutTypeIcon {
  color: #999;
}

.warningIcon {
  font-size: 10px;
}

.content {
  background-color: black;
  color: #e4e4e4;
}

.note {
  color: #888;
}

.filterInput {
  margin: 8px 0;
  &:hover,
  a:hover {
    background-color: black;
    color: white !important;
    cursor: default;
  }
}

.filterPills {
  margin: 8px;
}
