<div class="move-popup" item-popup item-popup-boundary-class="store-bounds">
  <div dim-move-item-properties="vm.item" dim-infuse="vm.infuse"></div>
  <dim-move-amount ng-if="vm.maximum > 1 && !vm.item.notransfer" amount="vm.moveAmount" maximum="vm.maximum" max-stack-size="vm.item.maxStackSize"></dim-move-amount>
  <div class="interaction">
    <div class="locations" ng-repeat="store in vm.stores | sortStores:vm.settings.characterOrder track by store.id">
      <div class="move-button move-vault" alt="{{ ::store.name }}" title="{{ ::store.name }}"
        ng-if="vm.canShowVault(vm.item, vm.store, store)" ng-click="vm.moveItemTo(store)"
        data-type="item" data-character="{{ ::store.id }}">
        <span ng-i18next="MovePopup.Vault"></span>
      </div>
      <div class="move-button move-equip" alt="{{ ::store.name }}" title="{{ ::store.name }}"
        ng-if="!(vm.item.owner == store.id && vm.item.equipped) && vm.item.canBeEquippedBy(store)" ng-click="vm.moveItemTo(store, true)"
        data-type="equip" data-character="{{ ::store.id }}" style="background-image: url({{ ::store.icon }})">
        <span ng-i18next="MovePopup.Equip"></span>
      </div>
      <div class="move-button move-store" alt="{{ ::store.name }}" title="{{ ::store.name }}"
        ng-if="vm.canShowStore(vm.item, vm.store, store)" ng-click="vm.moveItemTo(store)"
        data-type="item" data-character="{{ ::store.id }}" style="background-image: url({{ ::store.icon }})">
        <span ng-i18next="MovePopup.Store"></span>
      </div>
    </div>
    <div class="move-button move-consolidate" ng-i18next="[title]MovePopup.Consolidate;[alt]MovePopup.Consolidate"
      ng-if="!vm.item.notransfer && vm.item.maxStackSize > 1" ng-click="vm.consolidate()">
      <span ng-i18next="MovePopup.Take"></span>
    </div>
    <div class="move-button move-distribute" ng-i18next="[title]MovePopup.DistributeEvenly;[alt]MovePopup.DistributeEvenly"
      ng-if="vm.item.destinyVersion === 1 && !vm.item.notransfer && vm.item.maxStackSize > 1" ng-click="vm.distribute()">
      <span ng-i18next="MovePopup.Split"></span>
    </div>
  <div class="locations" ng-if="vm.item.infusable">
    <div class="move-button infuse-perk" ng-class="{ destiny2: vm.item.destinyVersion === 2 }" ng-click="vm.infuse(vm.item, $event)" ng-i18next="[title]Infusion.Infusion;[alt]Infusion.Calc" ng-class="vm.item.bucket.sort"></div>
  </div>
  </div>
  <div class="arrow" ng-class="'is-{{vm.item.dmg}}'"></div>
</div>
