<div>
  <div
    class="item-details failure-reason"
    ng-if="failureString.length"
    ng-repeat="failureString in vm.failureStrings"
  >
    {{ failureString }}
  </div>
  <div
    class="item-details failure-reason"
    ng-if="!vm.item.canPullFromPostmaster && vm.item.location.inPostmaster"
    ng-i18next="MovePopup.CantPullFromPostmaster"
  ></div>
  <div
    class="item-xp-bar"
    ng-if="vm.item.percentComplete != null && !vm.item.complete"
    dim-percent-width="vm.item.percentComplete"
  ></div>
  <div ng-if="vm.itemDetails" class="move-popup-details">
    <div ng-if="vm.item.reviewable" class="move-popup-tabs">
      <span
        class="move-popup-tab"
        ng-class="{ selected: vm.tab==='default' }"
        ng-click="vm.tab='default'"
        ng-i18next="MovePopup.OverviewTab"
      ></span>
      <span
        class="move-popup-tab"
        ng-class="{ selected: vm.tab==='reviews' }"
        ng-click="vm.tab='reviews'"
        ng-i18next="MovePopup.ReviewsTab"
      ></span>
    </div>
    <dim-item-review
      item="vm.item"
      ng-if="vm.item.reviewable"
      ng-show="vm.tab === 'reviews'"
    ></dim-item-review>
    <div ng-show="vm.tab === 'default'">
      <form ng-if="vm.item.taggable" name="notes">
        <textarea
          name="data"
          ng-i18next="[placeholder]Notes.Help"
          ng-maxlength="120"
          ng-model="vm.item.dimInfo.notes"
          ng-model-options="{ updateOn: 'blur' }"
          ng-change="vm.updateNote()"
        ></textarea>
      </form>
      <span
        class="textarea-error"
        ng-show="notes.data.$error.maxlength"
        ng-i18next="Notes.Error"
      ></span>
      <div
        class="item-description"
        ng-if="vm.showDescription"
        ng-bind="::vm.item.description"
      ></div>
      <div class="item-lore" ng-if="::vm.item.loreHash">
        <a
          target="_blank"
          rel="noopener noreferrer"
          ng-href="http://www.ishtar-collective.net/entries/{{::vm.item.loreHash}}"
          ><img src="~app/images/ishtar-collective.svg" height="16" width="16"
        /></a>
        <a
          target="_blank"
          rel="noopener noreferrer"
          ng-href="http://www.ishtar-collective.net/entries/{{::vm.item.loreHash}}"
          ><span ng-i18next="MovePopup.ReadLore"></span
        ></a>
      </div>
      <img
        class="item-details"
        ng-if="vm.item.type === 'Emblems' || vm.item.type === 'Emblem'"
        ng-src="{{vm.item.secondaryIcon | bungieIcon}}"
        width="237"
        height="48"
      />
      <div
        class="masterwork-progress"
        ng-if="vm.item.masterworkInfo && (vm.item.masterwork || vm.item.masterworkInfo.progress)"
      >
        <img
          ng-src="{{ ::vm.item.masterworkInfo.typeIcon | bungieIcon }}"
          title="{{ ::vm.item.masterworkInfo.typeName }}"
        />
        <span>
          {{ ::vm.item.masterworkInfo.typeDesc }}
          <strong> {{ ::vm.item.masterworkInfo.progress | number }} </strong></span
        >
      </div>
      <div
        class="item-details"
        ng-if="vm.item.classified"
        ng-i18next="ItemService.Classified2"
      ></div>
      <dim-item-stats
        item="vm.item"
        class="stats"
        ng-if="vm.hasDetails && vm.item.stats.length"
      ></dim-item-stats>
      <div class="item-details item-perks" ng-if="vm.item.talentGrid">
        <dim-talent-grid
          talent-grid="vm.item.talentGrid"
          dim-infuse="vm.infuse(vm.item, $event)"
        ></dim-talent-grid>
      </div>
      <div
        ng-if="vm.item.missingSockets"
        class="item-details warning"
        ng-i18next="MovePopup.MissingSockets"
      ></div>
      <sockets
        ng-if="vm.item.sockets"
        item="vm.item"
        curation-enabled="vm.curationEnabled"
        inventory-curated-roll="vm.inventoryCuratedRoll"
      ></sockets>
      <div class="item-details item-perks" ng-if="vm.item.perks">
        <div class="item-perk" ng-repeat="perk in vm.item.perks">
          <img
            ng-if="perk.displayProperties.hasIcon"
            ng-src="{{ perk.displayProperties.icon | bungieIcon }}"
          />
          <div class="item-perk-info">
            <div class="item-perk-name">{{ perk.displayProperties.name }}</div>
            <div class="item-perk-description">{{ perk.displayProperties.description }}</div>
          </div>
        </div>
      </div>
      <dim-objectives
        class="item-details"
        ng-if="vm.item.objectives"
        objectives="vm.item.objectives"
      ></dim-objectives>
      <dim-flavor-objective
        class="item-details"
        ng-if="vm.item.flavorObjective"
        objective="vm.item.flavorObjective"
      ></dim-flavor-objective>
      <div class="item-description" ng-if="vm.item.previewVendor">
        <a
          ng-click="vm.previewVendor()"
          ng-i18next="[i18next]({ type: vm.item.typeName })ItemService.PreviewVendor"
        ></a>
      </div>
      <div ng-if="vm.rewards.length" class="item-details">
        <div ng-i18next="MovePopup.Rewards"></div>
        <div class="milestone-reward" ng-repeat="reward in vm.rewards">
          <img ng-src="{{reward.item.displayProperties.icon | bungieIcon }}" />
          <span
            >{{ reward.item.displayProperties.name
            }}<span ng-if="reward.quantity > 1"> +{{ reward.quantity }}</span></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
