.item-sockets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-socket-category {
  margin-bottom: 4px;
  &:last-child {
    margin-bottom: 0;
  }
}

.item-socket-category-name {
  text-transform: uppercase;
  margin-bottom: 2px;
}

.item-socket {
  margin-right: 4px;
  display: flex;
  flex-direction: column;

  img {
    -webkit-touch-callout: none;
    width: 34px;
    height: 34px;
    &.notChosen {
      opacity: .4;
    }
  }
  &.disabled {
    opacity: .4;
  }
}
