<div class="item-socket-category" ng-repeat="category in $ctrl.sockets.categories | orderBy:'category.index' track by category.category.hash">
  <div class="item-socket-category-name">{{category.category.displayProperties.name}}</div>
  <div class="item-sockets">
    <div class="item-socket"
      ng-class="{ disabled: !socketInfo.enabled }"
      ng-repeat="socketInfo in category.sockets track by $index">
      <div class="socket-container"
           ng-repeat="socket in socketInfo.plugOptions track by $index">
        <div ng-if="socket != socketInfo.plug && socket.bestRated" class="circle-container">
          <div class="blue-circle">
            <i class="fa fa-circle" aria-hidden="true"></i>
          </div>
        </div>
        <img class="item-mod"
          ng-src="{{ socket.displayProperties.icon | bungieIcon }}"
          ng-class="{ notChosen: socket != socketInfo.plug }"
          press-tip="{{ socket.displayProperties.description }}{{ socketInfo.enableFailReasons }}{{socket.bestRated ? $ctrl.bestRatedText : ''}}"
          press-tip-title="{{ socket.displayProperties.name }}">
      </div>
    </div>
  </div>
</div>