.item-sockets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-socket-category {
  margin-bottom: 4px;
  &:last-child {
    margin-bottom: 0;
  }
}

.item-socket-category-name {
  text-transform: uppercase;
  margin-bottom: 2px;
  display: flex;
}

.item-socket {
  margin-right: 4px;
  display: flex;
  flex-direction: column;

  &.disabled {
    opacity: .4;
  }
}

.category-name {
  display: inline-block;
}

.best-rated-key {
  display: flex;
  text-transform: none !important;
  padding-left: 20px;
}

.best-rated-tip-container {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.best-rated-tip {
  background-color: #888888;
  width: 15px;
  height: 15px;
  margin-top: 5px;
}

.circle-container {
  position: absolute;
  top: 0;
  right: 0;
}

.thumbs-up {
  color: #6dcc66;
}

.socket-container {
  position: relative;
  display: inline-block;

  img {
    -webkit-touch-callout: none;
    width: 34px;
    height: 34px;
    display: block;
    &.notChosen {
      opacity: .4;
    }
  }
}
