<div class="item-socket-category" ng-repeat="category in $ctrl.sockets.categories | orderBy:'category.index' track by category.category.hash">
  <div class="item-socket-category-name">
    <div>{{category.category.displayProperties.name}}</div>
    <div ng-if="$ctrl.anyBestRatedUnselected(category)" class="best-rated-key">
        <div class="best-rated-tip-container">
          <div class="best-rated-tip"></div>
          <div class="circle-container">
            <div class="thumbs-up"><i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
          </div>
        </div>
        <div class="tip-text" ng-i18next="DtrReview.BestRatedKey"></div>
      </div>
  </div>
  <div class="item-sockets">
    <div class="item-socket"
      ng-class="{ disabled: !socketInfo.enabled }"
      ng-repeat="socketInfo in category.sockets track by $index">
      <div class="socket-container"
            ng-repeat="socket in socketInfo.plugOptions track by $index">
        <div ng-if="socket != socketInfo.plug && socket.bestRated" class="circle-container">
          <div class="thumbs-up"><i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
        </div>
        <img class="item-mod"
          ng-src="{{ socket.displayProperties.icon | bungieIcon }}"
          ng-class="{ notChosen: socket != socketInfo.plug }"
          press-tip="{{ socket.plug.plugCategoryHash == '2109207426' || socket.plug.plugCategoryHash == '2989652629' ? '<strong>' + $ctrl.item.masterworkInfo.statName + ' ' + $ctrl.item.masterworkInfo.statValue + '</strong>\n' : ''}}{{ socket.displayProperties.description ? socket.displayProperties.description : ((socket.displayProperties.name !== socketInfo.plugOptionsPerks[$index].displayProperties.name) ? socketInfo.plugOptionsPerks[$index].displayProperties.name +'\n' : '')+ socketInfo.plugOptionsPerks[$index].displayProperties.description }}{{ socketInfo.enableFailReasons }}{{socket != socketInfo.plug && socket.bestRated ? $ctrl.bestRatedText : ''}}"
          press-tip-title="{{ socket.displayProperties.name }}">
      </div>
    </div>
  </div>
</div>
