@use '../variables.scss' as *;

.account {
  cursor: pointer;
  line-height: 15px;
  text-align: left;
  position: relative;
  font-size: 16px;
  margin: 1px 0 0 0;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* Match the "D2" branding */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  :global(.app-icon) {
    margin: 0 0 0 4px;
    &.first {
      border-left: 1px solid #666;
      padding-left: 0.25em;
      margin-left: 0.375em;
    }
  }
}

.selectedAccount {
  border-left: 4px solid var(--theme-accent-primary);
  padding-left: calc(1rem - 4px) !important;
  padding-right: 24px;
  height: 100%;
  box-sizing: border-box;
}
