@use '../variables.scss' as *;

.accountSelect {
  color: white;
  height: auto;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1em;

  a {
    text-decoration: none;

    &:focus,
    &:active {
      outline: none;
    }
    > div {
      padding: 10px 2rem 10px 1rem;
      color: #aaa;

      &:hover,
      &:focus {
        color: black;
        background-color: $orange;
      }
    }
  }
}

.logout {
  composes: account from './Account.m.scss';
  margin-top: 20px;
}

.accountName {
  padding: 2px 2rem 4px 1rem;
}
