@use '../variables.scss' as *;

.accountSelect {
  color: var(--theme-text);
  height: auto;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1em;

  a {
    text-decoration: none;
    > div {
      padding: 10px 2rem 10px 1rem;

      @include interactive($hover: true, $focus: true) {
        color: var(--theme-text-invert);
        background-color: var(--theme-accent-primary);
      }
    }
  }
}

.logout {
  composes: account from './Account.m.scss';
  composes: resetButton from '../dim-ui/common.m.scss';
  text-align: left;
  padding: 10px 2rem 10px 1rem;

  :global(.app-icon) {
    margin: 0;
  }
}

.accountName {
  all: initial;
  font: inherit;
  font-size: 12px;
  color: var(--theme-text-secondary);
}
