@import '../../scss/variables.scss';

.record-books {
  h1 {
    display: flex;
    align-items: flex-end;
    flex-direction: row;

    span {
      flex: 1;
    }
  }

  > .title {
    margin-bottom: 10px;
  }

  .record-book {
    margin-bottom: 10px;
  }

  .book-icon {
    height: 26px;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }

  .record-book-page {
    background: #555;
    margin: 8px 0 0 0;
    padding: 8px;

    .title {
      margin: 0;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-left: 2px;
      background: transparent;
      padding: 0 4px;
      min-height: 0;
    }

    p {
      margin: 0;
      color: #e0e0e0;
    }
  }

  .record-page-records {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 8px;
  }

  .record-book-completion {
    float: right;
  }

  .hide-completed {
    float: right;
    font-size: 12px;
    font-weight: normal;
  }

  .record {
    width: calc(50% - 18px);
    background: #333;
    padding: 8px;
    margin: 2px 0px;
    display: flex;
    flex-direction: row;

    @include phone-portrait {
      width: 100%;
    }

    h3 {
      margin: 0;
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: normal;
    }

    p {
      margin: 0 0 8px 0;
      color: #e0e0e0;
    }
  }

  &.hide-complete {
    .record,
    .record-book-page {
      &.complete {
        display: none;
      }
    }
  }

  .record-info {
    flex: 1;
    margin-left: 10px;
  }

  .record-icon {
    border-radius: 50%;
    background-color: rgba(245, 245, 245, 0.1);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 75%;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border: 2px solid #fff;
  }

  .complete .record-icon {
    border-color: #ffce1f;
    background-color: rgba(255, 206, 31, 0.4);
  }
}
