<div>
  <h1>À propos de Destiny Item Manager (DIM)</h1>
  <div class="ngdialog-inner-content">
    <h3><a href="$DIM_CHANGELOG" target="_blank">Version $DIM_VERSION</a></h3>
    <p>
      DIM est construit à partir des mêmes services que Bungie.net et l'application Compagnon de Destiny. DIM peut accéder aux objets dans l'inventaire de vos Gardiens et de vos coffres sur Playstation et Xbox. Vous pouvez dès lors glisser-déposer des objets n'importe où vous les voulez.
    </p>
    <h2>Nous Contacter</h2>
    <table>
        <tr>
            <td>Twitter</td>
            <td>Reddit</td>
            <td>GitHub</td>
        </tr>
        <tr>
            <td>
                Suivez-nous pour rester informé des mises à jour et des informations en temps réel sur le status de l'application.
                <br />
                <a href="https://twitter.com/ThisIsDIM" target="_blank">@ThisIsDIM</a>
            </td>
            <td>
                Si vous avez des questions, des commentaires, ou des suggestions - faites-le nous savoir!
                <br />
                <a href="https://destinyitemmanager.reddit.com" target="_blank">/r/destinyitemmanager</a>
            </td>
            <td>
                Si vous souhaitez contribuer à ce projet, retrouvez-nous sur la page de notre projet sur Github.
                <br />
                <a href="https://github.com/DestinyItemManager/DIM/" target="_blank">DIM Git Repo</a>
            </td>
        </tr>
    </table>
    <h2>FAQ</h2>
    <p>
        <dl>
            <dt>Comment est-ce que DIM a accès à mes données sur Desriny?</dt>
            <dd>N'importe quelle extension chrome peut demander accès aux données d'un site web stockées sur votre ordinateur. Quand vous vous connectez sur Bungie.net, vous êtes attribué un jeton (un cookie) qui est généré uniquement pour votre compte. Vous utilisez ce jeton pour communiquer avec Bungie en sécurité. Ce jeton est plus sécurisé que d'envoyer votre pseudo and mot de passe avec chaque requête au serveur de Bungie. DIM utilise ce jeton pour communiquer avec Bungie en votre nom.</dd>
        </dl>
        <dl>
            <dt>Comment puis-je me déconnecter de DIM?</dt>
            <dd>Votre session est liée à Bungie.net. Si vous vous déconnnectez de Bungie.net, vous vous déconnectez de DIM.</dd>
        </dl>
        <dl>
          <dt>Est-ce que DIM supporte des raccourcis clavier?</dt>
          <dd>Oui! Tapez "?" pour afficher une liste de raccourcis disponibles.</dd>
        </dl>
        <dl>
            <dt>J'ai perdu mes objets en utilisant votre outil!</dt>
            <dd>Il est plus que probable que votre transfer a échoué, laissant votre objet dans les coffres ou sur un autre perso. Vous pouvez rechercher votre objet. Si vous ne le trouvez pas, relancer l'app en appuyant sur F5. Verifiez <a href="http://bungie.net" target="_blank">Bungie.net</a> ou le jeu pour voir si votre objet existe toujours. Nous sommes sûres qu'il y est toujours.</dd>
        </dl>
        <dl>
            <dt>Hey, DIM a dupliqué mon Gjallahorn!</dt>
            <dd>Non, non. Promis.</dd>
        </dl>
    </p>

    <p>Toutes images et contenu sont la propriété de Bungie. Veuillez nous contacter s'il y a un problème.</p>
  </div>
</div>
