.flex {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.loadout-builder {
  margin-top: 10px;
}

.loadout-builder-row {
  margin: 10px 0;
}

.mr4 {
  > * {
    margin-right: 4px;
    margin-bottom: 4px;
  }
}

.column {
  flex-direction: column;
}

.generated-build {
  padding-bottom: 20px;

  // &:first-child {
  //   margin-top: 40px;
  //   border-top: 1px solid white;
  //   padding-top: 40px;
  // }

  .generated-build-buttons {
    padding-bottom: 5px;
    > * {
      margin-right: 4px;
    }
    .light {
      .app-icon {
        font-size: 10px;
        vertical-align: -0.125em;
        margin-right: 0;
      }
    }
  }
  .generated-build-items {
    display: flex;
    align-items: center;
    padding-left: 2px;
  }
  .item-mod {
    width: 32px;
    height: 32px;
    border: 1px solid #999999;
    border-radius: 50%;
    background-color: #4887ba;
    transform: scale(0.9);
  }
}

.icon-stat {
  height: 17px;
  width: 17px;
  background-size: 100%;
}
.icon-Mobility {
  background-image: url('../../images/mobility.png');
}
.icon-Resilience {
  background-image: url('../../images/resilience.png');
}
.icon-Recovery {
  background-image: url('../../images/recovery.png');
}
