<div>
    <h1>Über Destiny Item Manager (DIM)</h1>
    <div class="ngdialog-inner-content">
      <h3><a ng-href="{{$DIM_CHANGELOG}}" target="_blank">Version {{$DIM_VERSION}} ({{$DIM_FLAVOR}})</a></h3>
        <p>DIM basiert auf denselben Diensten wie Bungie.net und der Destiny Companion App. DIM kann auf die Items in deinem Hüter-Inventar und dem Tresor auf PlayStation und Xbox zugreifen. Du kannst dann Elemente per Drag &amp; Drop verschieben, wenn Du sie verschieben möchtest.</p>
        <h2>Kontaktiere uns</h2>
        <table>
<tr>
<td>Twitter</td>
                <td>Reddit</td>
                <td>GitHub</td>
            </tr>
<tr>
<td>Folge uns, um Informationen zu DIM erhalten und immer auf dem neuesten Stand zu sein.
                <br><a href="https://twitter.com/ThisIsDIM" target="_blank">@ThisIsDIM</a>
</td>
                <td>Wenn du Fragen, Kommentare oder Anregungen hast - lass es uns wissen!
                <br><a href="https://destinyitemmanager.reddit.com" target="_blank">/r/destinyitemmanager</a>
</td>
                <td>Wenn du an dem Projekt mitwirken möchtest, besuche uns auf unserer Projektseite auf GitHub.
                <br><a href="https://github.com/DestinyItemManager/DIM/" target="_blank">DIM Git Repo</a>
</td>
            </tr>
</table>
<h2>FAQ</h2>
        <div>
            <dl>
<dt>Wie bekommt DIM Zugriff auf meine Destiny-Daten?</dt>
                <dd>Jede Chrome-Erweiterung kann nach den Daten, die eine Website auf dem Computer speichert fragen. Wenn du dich bei Bungie.net anmeldest erhältst du einen Token (ein Cookie), das für dein Konto einzigartig ist. Dieses Token wird verwendet, um mit Bungie sicher zu kommunizieren. Das Token ist sicherer als mit jeder Anfrage an den Bungie Server den Benutzernamen und das Passwort mitzusenden. DIM verwendet dieses Token um in deinem Namen mit Bungie zu kommunizieren.</dd>
            </dl>
<dl>
<dt>Wie kann ich mich von DIM abmelden?</dt>
                <dd>Deine Sitzung ist an Bungie.net gebunden. Wenn du dich auf Bungie.net abmeldest, wirst du auch von DIM abgemeldet.</dd>
            </dl>
<dl>
<dt>Unterstützt DIM Tastaturkürzel?</dt>
                <dd>Ja! Drücke "?" um eine Liste der Kürzel zu sehen.</dd>
            </dl>
<dl>
<dt>Ich habe einen Gegenstand verloren durch eure Erweiterung verloren!</dt>
                <dd>Sehr wahrscheinlich ist eine Übertragung fehlgeschlagen, so dass der Gegenstand im Tresor oder auf einem anderen Charakter gelandet ist. Du kannst nach dem Gegenstand suchen. Wenn du ihn trotzdem nicht findest, aktualisiere die App, indem du F5 drückst. Schau auf <a href="https://www.bungie.net" target="_blank">Bungie.net</a> oder im Spiel nach, um zu sehen wo sich der Gegenstand befindet. Wir sind sicher, er ist da.</dd>
            </dl>
<dl>
<dt>Hey, DIM hat mein Gjallarhorn dupliziert!</dt>
                <dd>Nein, haben wir nicht. Versprochen.</dd>
            </dl>
</div>
        <p>Alle Bilder und Inhalte sind Eigentum von Bungie. Tritt bitte mit uns in Verbindung, wenn es irgendwelche Probleme gibt.</p>
    </div>
</div>
