<ul>
    <li>Sperre einen bestimmten Perk, indem du auf einen Slot klickst und den Perk wählst</li>
    <ul>
        <li>Wenn ein Perk nicht auftaucht besitzt du keinen Gegenstand mit diesem Perk</li>
        <li>Um Rüstung mit mehreren Perks zusammen zu nutzen, benutze Shift+Klick bei den Perks</li>
        <li><div class="example ex-or"></div>- Rüstung mit einer dieser Perks wird benutzt ("oder")</li>
        <li><div class="example ex-and"></div>- Rüstung mit all diesen Perks wird benutzt ("und")</li>
    </ul>
    <li>Klicke und ziehe Items in die Felder um Sets aus nur diesen Items zu erstellen</li>
    <li>Shift+Klick ein Item um Sets ohne dieses zu erstellen</li>
    <li>Höhere Tiers sind besser</li>
    <li>
        <ul>
            <li>4/5/2 (ein Tier 11 Build) ist 4 Intellekt, 5 Disziplin, 2 Stärke (4+5+2 = Tier 11)</li>
            <li>Intellekt beschleunigt die Super Aufladezeit</li>
            <li>Disziplin  beschleunigt die Granaten Aufladezeit</li>
            <li>Stärke  beschleunigt die Nahkampf Aufladezeit</li>
        </ul>
    </li>
    <li>Versuche Rüstung zu finden, welche dir mehr Munition für Waffenklassen geben, die du benutzt.</li>
    <li>Verändere Intellekt, Disziplin oder Stärke im Spiel auf die Werte, die beim Erstellen des Loadouts angezeigt werden.</li>
    <li>Wenn der Verteidigungswert für ein Item ansteigt, nehmen auch die Stats für dieses Item (Int / Dis / Stä) zu.</li>
</ul>
