<div>
  <div class="item-header" ng-class="vm.classes">
    <div>
      <span ng-if="vm.item.trackable || vm.item.lockable || vm.item.dmg" class="icon">
        <span ng-if="vm.item.lockable" ng-click="vm.setItemState(vm.item, 'lock')" title="{{!vm.item.locked ? 'Lock':'Unlock'}} {{::vm.item.typeName}}">
          <i class="lock fa" ng-class="{'fa-lock': vm.item.locked, 'fa-unlock-alt': !vm.item.locked, 'is-locking': vm.locking }"></i>
        </span>
      <span ng-if="vm.item.trackable" ng-click="vm.setItemState(vm.item, 'track')" title="{{!vm.item.tracked ? 'Track':'Untrack'}} {{::vm.item.typeName}}">
          <i class="lock fa" ng-class="{'fa-star': vm.item.tracked, 'fa-star-o': !vm.item.tracked, 'is-locking': vm.locking }"></i>
        </span>
      </span>
      <a target="_blank" rel="noopener noreferrer" href="http://db.destinytracker.com/inventory/item/{{ vm.item.hash }}#{{ vm.item.talentGrid.dtrPerks }}" class="item-title">
        {{vm.item.name}}
      </a>
    </div>
    <div>
      <span ng-if="vm.item.trackable || vm.item.lockable || vm.item.dmg" class="icon">
        <img ng-if="vm.item.dmg && vm.item.dmg !== 'kinetic'" class="element" ng-src="/images/{{ ::vm.item.dmg }}.png"/>
      </span> {{ vm.light }} {{ vm.classType }} {{ vm.item.typeName }} <i ng-if="vm.featureFlags.compareEnabled && vm.item.talentGrid && vm.item.equipment && vm.item.lockable" class="fa fa-clone" ng-click="vm.openCompare()"></i>
      <span ng-if="vm.item.objectives" translate-values="{ percent: vm.item.percentComplete }" translate="ItemService.PercentComplete"></span>
      <span ng-if="!vm.showDetailsByDefault && (vm.showDescription || vm.hasDetails) && !vm.item.classified;" ng-click="vm.changeDetails(); vm.itemDetails = !vm.itemDetails">
        <i class="info fa" ng-class="{ 'fa-chevron-circle-up': vm.itemDetails, 'fa-chevron-circle-down': !vm.itemDetails }">
        </i>
      </span>
      <dim-item-tag ng-if="vm.item.lockable && vm.featureFlags.tagsEnabled" item="vm.item"></dim-item-tag>
    </div>
  </div>
  <div class="item-xp-bar" ng-if="vm.item.percentComplete != null && !vm.item.complete">
    <div dim-percent-width="vm.item.percentComplete"></div>
  </div>
  <form ng-if="vm.item.lockable && vm.featureFlags.tagsEnabled" name="notes"><textarea name="data" translate-attr="{ placeholder: 'Notes.Help' }" class="item-notes" ng-maxlength="120" ng-model="vm.item.dimInfo.notes" ng-model-options="{ debounce: 250 }" ng-change="vm.updateNote()"></textarea></form>
  <span class="item-notes-error" ng-show="notes.data.$error.maxlength" translate="Notes.Error"></span>
  <div class="item-description" ng-if="vm.itemDetails && vm.showDescription" ng-bind="::vm.item.description"></div>
  <div class="item-details" ng-if="vm.item.classified" translate="ItemService.Classified2"></div>
  <div class="stats" ng-if="vm.itemDetails && vm.hasDetails">
    <div class="stat-box-row" ng-repeat="stat in vm.item.stats track by $index">
      <span class="stat-box-text stat-box-cell"> {{ stat.name }} </span>
      <span class="stat-box-outer">
        <span ng-if="stat.bar && stat.value && (stat.value === stat.equippedStatsValue || !stat.comparable)" class="stat-box-inner" dim-percent-width="stat.value / stat.maximumValue"></span>
      <span ng-if="stat.bar && stat.value && stat.value < stat.equippedStatsValue && stat.comparable" class="stat-box-inner" dim-percent-width="stat.value / stat.maximumValue"></span>
      <span ng-if="stat.bar && stat.value < stat.equippedStatsValue && stat.comparable" class="stat-box-inner lower-stats" dim-percent-width="(stat.equippedStatsValue - stat.value) / stat.maximumValue"></span>
      <span ng-if="stat.bar && stat.value > stat.equippedStatsValue && stat.comparable" class="stat-box-inner" dim-percent-width="stat.equippedStatsValue / stat.maximumValue"></span>
      <span ng-if="stat.bar && stat.value > stat.equippedStatsValue && stat.comparable" class="stat-box-inner higher-stats" dim-percent-width="(stat.value - stat.equippedStatsValue) / stat.maximumValue"></span>
      <span ng-if="!stat.bar && (!stat.equippedStatsName || stat.comparable)" ng-class="{ 'higher-stats': (stat.value > stat.equippedStatsValue), 'lower-stats': (stat.value < stat.equippedStatsValue)}">{{ stat.value }}</span>
      </span>
      <span class="stat-box-val stat-box-cell" ng-class="{ 'higher-stats': (stat.value > stat.equippedStatsValue && stat.comparable), 'lower-stats': (stat.value < stat.equippedStatsValue && stat.comparable)}" ng-show="{{ stat.bar }}">{{ stat.value }}
        <span ng-if="stat.bar && vm.featureFlags.qualityEnabled && vm.settings.itemQuality && stat.qualityPercentage.min" ng-style="stat.qualityPercentage.min | qualityColor:'color'">({{ stat.qualityPercentage.range }})</span>
      </span>
    </div>
    <div class="stat-box-row" ng-if="vm.featureFlags.qualityEnabled && vm.item.quality && vm.item.quality.min">
      <span class="stat-box-text stat-box-cell" translate="Stats.Quality"></span>
      <span class="stat-box-cell" ng-style="vm.item.quality.min | qualityColor:'color'" translate-values="{ range: vm.item.quality.range }" translate="Stats.OfMaxRoll"></span><span><a href="https://github.com/DestinyItemManager/DIM/wiki/View-how-good-the-stat-(Int-Dis-Str)-roll-on-your-armor-is" target="_blank"><i class="fa fa-question-circle" translate-attr="{ title: 'Stats.PercentHelp'}"></i></a></span>
    </div>
  </div>
  <div class="item-details item-perks" ng-if="vm.item.talentGrid && vm.itemDetails">
    <dim-talent-grid talent-grid="vm.item.talentGrid" dim-infuse="vm.infuse(vm.item, $event)"></dim-talent-grid>
  </div>
  <div class="item-details item-objectives" ng-if="vm.item.objectives.length && vm.itemDetails">
    <div class="objective-row" ng-switch="objective.displayStyle" ng-repeat="objective in vm.item.objectives track by $index" ng-class="{'objective-complete': objective.complete, 'objective-boolean': objective.boolean }">
      <div ng-switch-when="trials">
        <i class="fa fa-circle trials" ng-repeat="i in objective.completionValue | range track by $index" ng-class="{'incomplete': $index >= objective.progress, 'wins': objective.completionValue === 9}"></i>
        <span ng-if="objective.completionValue === 9 && objective.progress > 9"> + {{ objective.progress - 9 }}</span>
      </div>
      <div ng-switch-default class="objective-checkbox">
        <div></div>
      </div>
      <div ng-switch-default class="objective-progress">
        <div class="objective-progress-bar" dim-percent-width="objective.progress / objective.completionValue"></div>
        <div class="objective-description" title="{{ objective.description }}">{{ objective.displayName || (objective.complete ? 'Complete' : 'Incomplete') }}</div>
        <div class="objective-text">{{ objective.display || (objective.progress + "/" + objective.completionValue) }}</div>
      </div>
    </div>
  </div>
  <div ng-if="vm.featureFlags.debugMode" class="item-details">
    <a ui-sref="debugItem({itemId: vm.item.id})" translate="Debug.View"></a>
    <button ng-click="vm.dumpDebugInfo()" translate=Debug.Dump></a>
  </div>
</div>