<div>
    <h1>Sobre o Destiny Item Manager (DIM)</h1>
    <div class="ngdialog-inner-content">
        <h3><a href="$DIM_CHANGELOG" target="_blank">Versão $DIM_VERSION</a></h3>
        <p>O DIM tem como base os mesmos serviços do Bungie.net e o aplicativo Destiny Companion. O DIM pode acessar os itens em seu inventário e cofre em ambas as plataformas PlayStation e Xbox. Você pode então arrastar e soltar os itens para qualquer personagem ou local que deseja mover.</p>
        <h2>Fale Conosco</h2>
        <table>
<tr>
<td>Twitter</td>
                <td>Reddit</td>
                <td>GitHub</td>
            </tr>
<tr>
<td>Siga-nos para se manter informado sobre atualizações e notificação em tempo real sobre o aplicativo.
                    <br><a href="https://twitter.com/ThisIsDIM" target="_blank">@ThisIsDIM</a>
</td>
                <td>Se você tem dúvidas, comentários ou sugestões, mande pra gente!
                    <br><a href="https://destinyitemmanager.reddit.com" target="_blank">/r/destinyitemmanager</a>
</td>
                <td>Se você está interessado em contribuir com o projeto, visite nossa página no GitHub.
                    <br><a href="https://github.com/DestinyItemManager/DIM/" target="_blank">Repositório no GitHub</a>
</td>
            </tr>
</table>
<h2>FAQ</h2>
        <div>
            <dl>
<dt>Como o DIM obtém acesso aos meus dados do Destiny?</dt>
                <dd>Qualquer extensão do Chrome pode solicitar acesso às informações armazenadas em seu computador. Quando você faz seu login no Bungie.net você é solicitado a armazenar um token (um cookie) que é gerado exclusivamente para a sua conta. Você usa esse token para se identificar com segurança com os servidores da Bungie, pois usar este token é muito mais seguro do que enviar seu usuário e senha a cada requisição. O DIM usa esse token para se comunicar com a Bungie e obter informações dos seus personagens e itens.</dd>
            </dl>
<dl>
<dt>Como posso fazer logout do DIM?</dt>
                <dd>Sua sessão está vinculada ao Bungie.net. Se você fizer logout do Bungie.net automaticamente você fará logout do DIM também.</dd>
            </dl>
<dl>
<dt>O DIM suporta teclas de atalhos?</dt>
                <dd>Sim! Pressione "?" para ver a lista de teclas de atalhos disponíveis.</dd>
            </dl>
<dl>
<dt>Eu perdi um item usando a ferramenta de vocês!</dt>
                <dd>Muito provavelmente sua transferência falhou e seu item está no Cofre ou em outro personagem. Você pode usar o campo de busca para encontrá-lo. Caso não encontre, pressione F5 para atualizar a página. Verifique no <a href="http://bungie.net" target="_blank">Bungie.net</a> ou no próprio jogo se o item realmente existe. Temos plena certeza que ele está em algum lugar.</dd>
            </dl>
<dl>
<dt>Ei, o DIM duplicou minha Gjallarhorn!</dt>
                <dd>Não, não duplicamos. Temos certeza disso.</dd>
            </dl>
</div>
        <p>Todo o conteúdo e imagens são propriedade da Bungie. Por favor, contate-nos no caso de qualquer problema.</p>
    </div>
</div>
