<ul>
<li>Lock a set of perks by clicking a lock bucket and selecting perks</li>
    <ul>
<li>If a perk doesn't appear it means that you own no armor with that perk</li>
        <li>To use armor with multiple perks together shift+click the desired perks</li>
        <li>
<div class="example ex-or"></div>- Armor with any of these perks will be used ("or")</li>
        <li>
<div class="example ex-and"></div>- Armor with all of these perks will be used ("and")</li>
    </ul>
<li>Drag and drop items into the locked buckets to build sets with only that gear</li>
    <li>Shift+clique em um item para construir sets sem aquele equipamento</li>
    <li>Tiers mais altos são melhores</li>
    <li>
        <ul>
<li>4/5/2 (um set Tier 11) significa 4 Intelecto, 5 Disciplina, 2 Força (4+5+2 = Tier 11)</li>
            <li>Intelecto acelera o tempo de recarga da Super.</li>
            <li>Disciplina acelera o tempo de recarga de granadas.</li>
            <li>Força acelera o tempo de recarga do corpo-a-corpo.</li>
        </ul>
</li>
    <li>Tente encontrar uma armadura com perks que aumentem a quantidade de munição das armas que você mais usa.</li>
    <li>Mude o Intelecto, Disciplina e Força dentro do jogo de acordo com o que é exibido ao criar cada Loadout.</li>
    <li>Quando o nível de defesa de um item aumenta, os atributos deste item (intelecto, disciplina e força) também aumenta.</li>
</ul>
