<div>
	<p>The One about an Irrational Number</p>
	<ul class="changelog-toaster">
		<li>* Improved Farming mode stability. Items no longer 'thrash' around.</li>
		<li>* Improved move logic. DIM is even smarter now.</li>
		<li>* Loadouts now permit the same burn of subclass.</li>
		<li>* More internationalization support.</li>
	</ul>
	<p>Veja o <a href="https://github.com/DestinyItemManager/DIM/blob/master/CHANGELOG.md" target="_blank">changelog</a> completo.</p>
	<p>Siga-nos no: <a href="http://destinyitemmanager.reddit.com" style="margin: 0 5px;" target="_blank"><i class="fa fa-reddit fa-2x"></i></a> <a href="http://twitter.com/ThisIsDIM" style="margin: 0 5px;" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></p>
</div>
