<div>
    <h1>Apoie o DIM</h1>
    <div class="ngdialog-inner-content">
        <p>O DIM é gratuito para baixar e usar. O código-fonte do DIM é open-source e livre para qualquer um aperfeiçoá-lo. Você nunca verá propagandas no DIM, essa é nossa promessa.</p>
        <p>Somos todos grandes fãs de Destiny. O DIM tomou forma nessas horas de gameplay porque sentimos uma enorme dificuldade em transferir itens entre personagens, esquecer de um item, voltar para a Torre, mover itens para o cofre, trocar novamente de personagem. O DIM é a ferramenta que irá te ajudar a ganhar mais tempo no jogo.</p>
        <h2>Como posso ajudar?</h2>
        <div>
            <dl>
<dt>Faça uma doação!</dt>
                <dd>Nós usamos o <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=EE2BLN2YN2Q5L" target="_blank">PayPal</a> para receber doações. Se o DIM fez diferença nas suas horas de jogo, dê seu suporte à equipe que trabalha no projeto.</dd>
            </dl>
<dl>
<dt>Junte-se à equipe de tradução!</dt>
                <dd>Nós usamos o <a href="https://www.transifex.com/destiny-item-manager/destiny-item-manager/" target="_blank">Transifex</a> para facilitar as traduções. Se você quer ver o DIM traduzido para o seu idioma, junte-se à equipe.</dd>
            </dl>
<dl>
<dt>Compartilhe o DIM com seus amigos.</dt>
                <dd>Uma vez que tenha visto o quão fácil é transferir e equipar seus itens usando o DIM, você não vai mais conseguir largar. Compartilhe essa facilidade com seus amigos!</dd>
            </dl>
<dl>
<dt>Você tem uma ideia nova para o DIM?</dt>
                <dd>Visite nossa página em <a href="http://destinyitemmanager.reddit.com" target="_blank">/r/destinyitemmanager</a> (em inglês) e conte-nos sobre sua ideia. Você irá interagir conosco e com o resto da comunidade do DIM, uma excelente forma de debater e aprimorar uma ideia nova.</dd>
            </dl>
<dl>
<dt>Eu sou desenvolvedor/designer/entusiasta e quero contribuir com o código-fonte.</dt>
                <dd>Visite nosso <a href="https://github.com/DestinyItemManager/DIM/" target="_blank">GitHub</a> e envie uma mensagem aos colaboradores. Ficaremos felizes em aceitar novos pull requests. Junte-se a nós como colaborador e faça parte de nossas discussões sobre próximas versões, atualizações, correções de bugs.</dd>
            </dl>
</div>
    </div>
</div>
