<div class="move-popup"
     dim-click-anywhere-but-here="closeThisDialog()">
  <div dim-move-item-properties="vm.item"
       dim-compare-item="vm.compareItem"></div>
  <div class="item-details more-item-details"
       ng-if="vm.item.equipment && vm.compareItems.length">
    <div ng-i18next="Vendors.Compare">:</div>
    <div class="compare-items">
      <dim-simple-item ng-repeat="ownedItem in vm.compareItems track by ownedItem.index"
                       item-data="ownedItem"
                       ng-click="vm.setCompareItem(ownedItem)"
                       ng-class="{ selected: (ownedItem.index === vm.compareItem.index) }"></dim-simple-item>
    </div>
  </div>
  <div class="item-description"
       ng-if="!vm.item.equipment">You have {{vm.compareItemCount}} of these.</div>
</div>
