@use '../../variables.scss' as *;

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  @include phone-portrait {
    flex-direction: column;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.build {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px 0 4px 0;
}

.header {
  color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 4px;
}

.items {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  max-width: 800px;

  // Prevents odd number of columns messing up the layout
  @media (max-width: 1079px) {
    max-width: 500px;
  }

  > * {
    margin-right: 14px;
    margin-bottom: 14px;
  }
}
