@use '../../variables.scss' as *;

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  gap: 16px;

  @include phone-portrait {
    flex-direction: column;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.build {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px 0 16px 0;
  gap: 4px;
}

.items {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  gap: 14px;
}
