@use '../../variables.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
  gap: 8px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 14px;
  width: fit-content !important;

  @include phone-portrait {
    padding-left: 12px;
    padding-right: 12px;
  }

  &:last-child {
    border-bottom: 0;
  }
}

.build {
  composes: flexRow from '../../dim-ui/common.m.scss';
  gap: 16px;

  @include phone-portrait {
    flex-direction: column;
  }
}

.items {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  gap: 14px;
}
