.buttons {
  text-align: center;
  margin-right: 14px;
  margin-bottom: 14px;

  // Matches GeneratedSetItem width
  width: calc(var(--item-size) + ((0.59 * var(--item-size)) * 2) + 10px);

  > * {
    // Smallest width for en:"Compare Loadout" string to be a single line
    min-width: 121px;
    // Matches three action buttons to the same height as two socket slots
    height: calc((((0.59 * var(--item-size)) * 2) - 4px) / 3);
    min-height: 25px;
    margin-bottom: 4px;
  }
}

.combos {
  margin-right: 8px;
}
