@import '../../variables';

.container {
  font-size: 1.2em;
  margin-bottom: 5px;

  img {
    vertical-align: middle;
    height: 16px;
    width: 16px;
  }
}

.light {
  color: $gold;
  margin-right: 14px;

  :global(.app-icon) {
    font-size: 10px;
    vertical-align: -0.125em;
    margin-right: 0;
  }
}

.tierLightContainer {
  margin-bottom: 5px;
}

.tierLightSegment {
  margin-right: 5px;
}

.existingLoadout {
  margin: 0;
  color: #e8a534;
  font-size: 0.9em;
}

.loadoutName {
  font-weight: bold;
}

.statSegmentContainer {
  display: flex;
  flex-flow: row wrap;

  // Prevents odd number of columns messing up the layout
  @media (min-width: 780px) and (max-width: 1079px) {
    max-width: 500px;
  }
}

.statSegment {
  white-space: nowrap;
  min-width: 120px;
  margin-right: 14px;
}

.nonActiveStat {
  opacity: 0.4;
}

.warning {
  color: yellow;
  margin-right: 4px;
}
