@import '../../variables';

.container {
  img {
    vertical-align: middle;
    height: 16px;
    width: 16px;
  }

  @media screen and (min-width: 694px) {
    min-width: 694px;
  }
}

.light {
  color: $gold;
  margin-right: 4px;

  :global(.app-icon) {
    font-size: 10px;
    vertical-align: -0.125em;
    margin-right: 0;
  }
}

.statSegment {
  &::after {
    content: ' | ';
  }
}

.nonActiveStat {
  opacity: 0.4;
}

.warning {
  color: yellow;
  margin-right: 4px;
}
