@import '../../variables.scss';

.lockedItems {
  display: grid;
  gap: 2px;
  --item-icon-size: calc(0.65 * var(--item-size) - #{2 * $item-border-width});
  :global(.item) {
    --item-size: var(--item-icon-size);
  }
}
