.materials-exchange
{
    display: flex;
    max-width: 1240px;
    margin: 0 auto;

    .stats-panel
    {
        width:100%;

        .stats-body {
            display:flex;
            .guardian-selector{
                flex: 0 1 auto;

                .guardian{
                min-width: 290px;
                cursor: pointer;
                opacity: 0.2;
                &.selected{
                    opacity: 1;
                }
                +:hover{
                    opacity:1;
                    transition: opacity .2s ease-in;
                }
                }
            }
            .faction-details{
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                .faction-selector{
                    flex: 1 1 auto;
                    display: flex;
                    justify-content: space-around;

                    .faction{
                       &:hover{
                         cursor: pointer;
                         background-color: rgba(245, 245, 245, 0.1);
                       }
                       &.selected{
                        background-color: rgba(245, 245, 245, 0.25);
                      }
                    }
                }
                .faction-info{
                    table tr td.col{
                        width:25%;
                    }
                }
            }
        }

    }
    .mats-panel
    {
        flex: 0 1 auto;
    }

    table
    {
        width: 100%;
        tr td
        {
            text-align: center;
            vertical-align: middle;
        }
    }
    .collapsible-section{
        min-width: 340px;
        .title{
            display:flex;
            .heading{
                flex-grow: 1;
            }
        }
        .materials-cell
        {
            display: flex;
            width: calc(40px + var(--item-size) + (var(--character-columns) * (var(--item-size) + 8px)));
            width: auto;
            max-width: calc(8px + (var(--vault-max-columns) * (var(--item-size) + 8px)));
            margin-right: 12px;
            margin-right: 0;
            padding: 0 12px 1px;
            background-color: rgba(245, 245, 245, .25);
            flex-shrink: 0;
            flex: 1;
            justify-content: center;
        }
    }

    .toggleRep{
      opacity: 0.2;
      &.selected{
        opacity: 1;
      }
    }


    .dim-button.dim-button__character-select
    {
        font-size: medium;
    }
}
