<div class="sticky-header-background" scroll-class="something-is-sticky"></div>
<dim-stores class="stores" stores="$ctrl.stores" buckets="$ctrl.buckets"></dim-stores>
<loadout-drawer stores="$ctrl.stores" account="$ctrl.account"></loadout-drawer>
<dim-compare></dim-compare>
<dim-item-discuss></dim-item-discuss>
<div ng-if="$ctrl.featureFlags.dnd" id="item-drag-box" class="drag-locations drag-help-hidden">
  <dim-move-locations ng-if="$ctrl.item" item="$ctrl.item"></dim-move-locations>
</div>
<div id="drag-help" class="drag-help drag-help-hidden" ng-i18next="Help.Drag"></div>
<d2-farming></d2-farming>
<dim-clear-new-items account="$ctrl.account"></dim-clear-new-items>
<random-loadout stores="$ctrl.stores"></random-loadout>
