@use '../variables.scss' as *;

.loadoutOptions {
  width: 100%;

  @include phone-portrait {
    font-size: 14px;
  }

  form {
    display: flex;
    flex-flow: row wrap;
    margin-right: 4px;
    margin-bottom: 4px;
    width: 100%;
    gap: 4px;
    &:last-child {
      margin-bottom: 0;
    }

    > a {
      margin-left: auto;
    }
  }

  summary {
    font-weight: bold;
    margin-bottom: 4px;
  }

  details {
    margin-top: 4px;
  }
}
