@use '../variables.scss' as *;

.body {
  padding: 10px;
  max-height: 50vh;

  @include phone-portrait {
    max-height: unset;
  }
}

.notes {
  margin-top: 8px;
  font-size: 14px;

  summary {
    font-weight: bold;
    cursor: pointer;
  }
  &[open] summary {
    margin-bottom: 4px;
  }
}

// Group together buttons so they don't wrap onto different lines
.inputGroup {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 4px;
}

.header {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-areas:
    'identifiers title'
    'identifiers notes';
  gap: 0 12px;

  > *:nth-child(1) {
    grid-area: identifiers;
  }
  > *:nth-child(2) {
    grid-area: title;
  }
  > *:nth-child(3) {
    grid-area: notes;
  }
}
