@import '../variables.scss';

// Used in StoreHeading.tsx
:global(.loadout-menu) {
  position: absolute;
  width: 300px;
  box-sizing: border-box;
  max-height: calc(var(--viewport-height) - var(--header-height) - #{62px + 16px});
  overflow: auto;
  z-index: 2;
  color: rgba(245, 245, 245, 0.6);
  overscroll-behavior: contain;
  cursor: pointer;
  background-color: black;

  @include visible-scrollbars;

  [role='button'] {
    outline: none;
  }

  // The phone layout version
  :global(.detached) & {
    position: fixed;
    top: calc(54px + var(--header-height));
    z-index: 1000;
    width: 100vw;
    padding: 0;
    max-height: calc(
      var(--viewport-height) - 54px - var(--header-height) - env(safe-area-inset-bottom)
    );
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menuItem {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  overflow: hidden;
  background-color: black;
  cursor: pointer;

  @include phone-portrait {
    font-size: 14px;
    padding: 6px;
  }

  &:last-of-type {
    border: 0;
  }

  a {
    text-decoration: none;
  }

  > span,
  a {
    &:first-child {
      flex: 1;
      padding: 0 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap !important;
      line-height: 35px;
      :global(.app-icon) {
        width: 12px;
        margin-right: 5px;
        text-align: center;
        @include phone-portrait {
          width: 14px;
          margin-right: 8px;
        }
      }
    }
  }

  &:hover,
  a:hover {
    background-color: $orange;
    color: black !important;
    > span:first-child > :global(.app-icon) {
      color: black !important;
    }
  }

  > span:not(:first-child) {
    margin: 6px 4px 6px 4px;
    padding: 0 6px;
    display: flex;
    align-items: center;
    text-align: center;
    @include phone-portrait {
      margin: 4px 4px 4px 2px;
    }
  }
}

.altButton {
  border-radius: 4px;
  color: #888;
  background-color: #222;
  /* stylelint-disable-next-line no-descending-specificity */
  :global(.app-icon) {
    font-size: 13px;
    @include phone-portrait {
      font-size: 15px;
    }
  }
  &:hover {
    background-color: $blue;
    color: #222;
  }
}

.loadoutTypeIcon {
  color: #666;
}

.warningIcon {
  color: yellow;
}

.content {
  background-color: #3a4150;
  color: #e4e4e4;
}
