@import '../variables.scss';

.contents {
  display: flex;
  flex-flow: row wrap;
  margin-top: 10px;
  @include flex-gap(12px, $marginBottom: 10px);
  @include phone-portrait {
    @include flex-gap(12px, $marginBottom: 10px);
  }
}

.mods {
  flex: 1;
}
