@use '../variables.scss' as *;

.dimInput {
  padding-left: 5px;
  height: 23px;
  background: var(--theme-input-bg);
  border: none;
  border-bottom: 1px solid #555;
  color: var(--theme-text);
  width: 100%;
  font-size: 18px;
  max-width: 50em;

  display: flex;
  flex-direction: row;

  @include phone-portrait {
    height: 32px;
  }

  &:hover,
  &:focus {
    background: black;
    outline: none;
    border-bottom: 1px solid var(--theme-accent-primary);
  }

  > input {
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
    padding: 0 0;
    font-size: 18px;
    // because our fake input is higher and this is used by textcomplete
    line-height: 1.5;
  }
}
