@use '../../variables.scss' as *;

.footer {
  composes: flexRow from '../../dim-ui/common.m.scss';
  align-items: center;
}

.selectedPlugs {
  composes: flexRow from '../../dim-ui/common.m.scss';
  flex: 1;
  align-items: center;
  overflow: auto;
  height: var(--item-size);

  > * {
    margin-right: 4px;
  }
}

.submitButton {
  composes: dim-button from global;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: 8px;
}
