.header {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 4px;
}
