@use '../../variables' as *;

.clarityDescription {
  margin-top: 2px;
  border-left: 2px solid $communityBlue;
  padding-left: 6px;
  color: var(--theme-text-secondary);
  h3 {
    display: none;
  }
}

.stack {
  font-weight: bold;
  font-size: 16px;
  margin-right: 4px;
}

.buttons {
  composes: flexRow from '../../dim-ui/common.m.scss';
  align-items: center;
  gap: 6px;
}

.volumeRocker {
  composes: flexColumn from '../../dim-ui/common.m.scss';
  gap: 4px;
  :global(.dim-button) {
    padding-bottom: 0;
    padding-top: 0;
    height: calc(calc(var(--item-size) / 2) - 2px);
  }
}
