@use '../../variables' as *;

.clarityDescription {
  margin-top: 2px;
  border-left: 2px solid $communityBlue;
  padding-left: 6px;
  color: var(--theme-text-secondary);
  h3 {
    display: none;
  }
}

.stack {
  font-weight: bold;
  font-size: 16px;
  margin-right: 4px;
}

.buttons {
  composes: flexRow from '../../dim-ui/common.m.scss';
  align-items: center;
  gap: 4px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
}
