@import '../../variables';
@import '../../dim-ui/common.m.scss';

.categories {
  composes: flexRow;
}

.category {
  margin-right: 16px;
}

.title {
  margin-bottom: 4px;
}

.socket {
  border: 1px solid #ddd;

  &:not(:last-child) {
    margin-right: 4px;
  }

  img {
    height: var(--item-size);
    width: var(--item-size);
  }
}

.sockets {
  composes: flexRow;
}
