@import '../../variables';

.optionsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;

  @include phone-portrait {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.super {
  grid-column: 1;
  grid-row: 1 / span 2;
  display: flex;
  justify-content: center;
}

.superImage {
  width: 188px;
  height: 188px;
}

.abilities {
  margin-top: 48px;
  grid-column: 2;
  grid-row: 1;

  @include phone-portrait {
    margin-top: 16px;
  }
}

.aspects {
  margin-top: 48px;
  grid-column: 3;
  grid-row: 1;

  @include phone-portrait {
    margin-top: 16px;
  }
}

.fragments {
  margin-top: 24px;
  grid-column: 2 / span 3;
  grid-row: 2;

  @include phone-portrait {
    margin-top: 16px;
  }
}
