@import '../../variables';

.container {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height: 100%;
}

.background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height: 100%;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.contents {
  padding: 8px 10px;
}

.title {
  font-size: large;
}

.subclasses {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #979797;
  > * {
    cursor: pointer;
    margin-right: 8px;
  }
}

.subclass {
  opacity: 0.5;
}

.selected {
  opacity: 1;
}

.submitButton {
  composes: dim-button from global;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: 8px;
}
