.optionsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.super {
  grid-column: 1;
  grid-row: 1 / span 2;
  display: flex;
  justify-content: center;
}

.abilities {
  grid-column: 2;
  grid-row: 1;
}

.aspects {
  grid-column: 3;
  grid-row: 1;
}

.fragments {
  grid-column: 2 / span 3;
  grid-row: 2;
}
