.st-jude-toaster {
  cursor: pointer;

  &.maximized {
    padding: 1.5rem;
    width: 600px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    font-size: 1rem;

    .st-jude-info.visible {
      opacity: 1;
    }
  }
  position: fixed;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out;

  p {
    font-size: 1 rem;
  }

  img {
    display: block;
  }

  .twitter {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 35px;
    right: 6px;
  }

  .progress {
    position: absolute;
    bottom: 5px;
    width: 80%;
    left: 10%;
    right: 10%;
    line-height: 1rem;
  }

  .underlay {
    position: absolute;
    bottom: 5px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: 1rem;
    width: 100%;
    text-align: right;
    padding-right: 2px;
    box-sizing: border-box;
  }

  .overlay {
    text-align: right;
    box-sizing: border-box;
    padding-right: 2px;
    position: absolute;
    bottom: 5px;
    height: 1rem;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    width: 5%;
    background: #f37323;
  }

  .st-jude-container {
    margin: 1rem;
    margin-top: 2rem;
  }

  .st-jude-options {
    display: flex;

    .left {
      margin-right: 0.5rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .right {
      margin-left: 0.5rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .st-jude-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .st-jude-hide {
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;

    svg {
      height: 1.5rem !important;
      width: 1.5rem !important;
    }
  }

  .st-jude-donate {
    margin: 6px 0;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5rem;
    background-color: #f37423;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
  }
}

.store-buckets {
  margin-bottom: 100px;
}

.android .store-buckets,
.ios .store-buckets {
  margin-bottom: 0;
}
