<!doctype html>
<html lang="" ng-app="dimApp" ng-csp>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>DIM v3</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body ng-app="dimApp" ng-strict-di>
  <div ng-controller="dimAppCtrl as app" ng-click="app.about = false">
    <div id="header">
      <div class="content">
        <span class="header-right">
          <div dim-platform-choice class="header-right"></div>
          <div dim-search-filter class="header-right"></div>
          <div class="header-right dropdown-filters">
            <label for="select-filters"><span class="link" ng-click="app.showFilters($event)">Filters</span></label>
            <select name="" id="select-filters" class="" ng-model="selectFilter" ng-change="app.triggerFilters(selectFilter)">
              <option value="">-</option>
              <optgroup label="Damage Type">
                <option value="is:arc">Arc</option>
                <option value="is:void">Void</option>
                <option value="is:solar">Solar</option>
                <option value="is:kinetic">Kinetic</option>
              </optgroup>
              <optgroup label="Weapon Class">
                <option value="is:class">Class</option>
                <option value="is:primary">Primary</option>
                <option value="is:special">Special</option>
                <option value="is:heavy">Heavy</option>
              </optgroup>
              <optgroup label="Armor Category">
                <option value="is:helmet">Helmet</option>
                <option value="is:gauntlets">Gauntlets</option>
                <option value="is:chest">Chest</option>
                <option value="is:leg">Leg</option>
                <option value="is:classitem">Class Item</option>
              </optgroup>
              <optgroup label="Rarity Type">
                <option value="is:common">Common</option>
                <option value="is:uncommon">Uncommon</option>
                <option value="is:rare">Rare</option>
                <option value="is:legendary">Legendary</option>
                <option value="is:exotic">Exotic</option>
              </optgroup>
              <optgroup label="Leveling State">
                <option value="is:incomplete">Incomplete</option>
                <option value="is:upgraded">Upgraded</option>
                <option value="is:complete">Complete</option>
              </optgroup>
              <optgroup label="XP Status">
                <option value="is:xpincomplete">Incomplete</option>
                <option value="is:xpcomplete">Complete</option>
              </optgroup>
              <optgroup label="Class Affinity">
                <option value="is:titan">Titan</option>
                <option value="is:hunter">Hunter</option>
                <option value="is:warlock">Warlock</option>
              </optgroup>
            </select>
          </div>
        </span>
        <span>Destiny Item Manager v3</span>
        <span class="link" ng-click="app.showAbout($event)">About</span>
        <span class="link" ng-click="app.showSupport($event)">Support DIM</span>
        <div class="my-super-awesome-loading-box" ng-show="loadingTracker.active()">
          <div class="spinner-wrap">
            <div class="sprite-spinner" style="width: 22px; height: 22px;">
              <img src="images/spiffygif_22x22.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <toaster-container toaster-options="{ 'time-out': 10000, limit: 6 }"></toaster-container>
    <div class="about modal-dialog" ng-show="app.about"></div>
    <div class="donate modal-dialog" ng-show="app.donate"></div>
    <div class="filters modal-dialog" ng-show="app.filters"></div>
    <div id="content" ui-view></div>
  </div>

  <!-- begin vendor scripts -->
  <script src="vendor/jquery/dist/jquery.min.js"></script>
  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="vendor/angular-animate/angular-animate.min.js"></script>
  <script src="scripts/toaster.js"></script>
  <script src="vendor/angular-native-dragdrop/draganddrop.js"></script>
  <script src="vendor/ngDialog/js/ngDialog.min.js"></script>
  <script src="vendor/Angular.uuid2/dist/angular-uuid2.min.js"></script>
  <script src="vendor/underscore/underscore-min.js"></script>
  <script src="vendor/lz-string/libs/lz-string.min.js"></script>
  <script src="vendor/angular-chrome-storage/angular-chrome-storage.js"></script>
  <script src="vendor/angular-messages/angular-messages.min.js"></script>
  <script src="vendor/angular-promise-tracker/promise-tracker.js"></script>
  <script src="vendor/verge/verge.js"></script>
  <!-- end vendor scripts -->

  <!-- begin app scripts -->
  <script src="scripts/dimApp.module.js"></script>
  <script src="scripts/dimApp.config.js"></script>
  <script src="scripts/services/dimRateLimit.factory.js"></script>
  <script src="scripts/services/dimBungieService.factory.js"></script>
  <script src="scripts/services/dimItemDefinitions.factory.js"></script>
  <script src="scripts/services/dimPlatformService.factory.js"></script>
  <script src="scripts/services/dimLoadoutService.factory.js"></script>
  <script src="scripts/services/dimStoreService.factory.js"></script>
  <script src="scripts/services/dimItemService.factory.js"></script>
  <script src="scripts/loadout/dimLoadout.directive.js"></script>
  <script src="scripts/loadout/dimLoadoutPopup.directive.js"></script>
  <script src="scripts/shell/dimAppCtrl.controller.js"></script>
  <script src="scripts/shell/dimPlatformChoice.directive.js"></script>
  <script src="scripts/shell/dimSearchFilter.directive.js"></script>
  <script src="scripts/shell/dimClickAnywhereButHere.directive.js"></script>
  <script src="scripts/store/dimStores.directive.js"></script>
  <script src="scripts/store/dimStoreItems.directive.js"></script>
  <script src="scripts/store/dimStoreItem.directive.js"></script>
  <script src="scripts/store/dimStoreHeading.directive.js"></script>
  <script src="scripts/move-popup/dimMovePopup.directive.js"></script>
  <script src="scripts/move-popup/dimMoveItemProperties.directive.js"></script>
  <!--
  <script src="scripts/services/platform.factory.js"></script>
  <script src="scripts/services/item.factory.js"></script>>-->
  <!-- end app scripts -->
</body>

</html>
