<!doctype html>
<html lang="" ng-app="dim">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>DIM v4</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="styles/v4.css">
</head>

<body ng-controller="dimAppCtrl as vm">
  <div>
    <nav class="navbar navbar-dark navbar-fixed-top">
      <div class="row row-xs row-xs-center">
        <div class="col-xs-2">
          <button class="navbar-toggler hidden-sm-up fa fa-bars fa-lg" type="button"></button>
        </div>
        <div class="col-xs-4">
          <a class="navbar-brand" href="#">DIM</a>
        </div>
        <div class="col-xs-6 text-right">
          <button  class="navbar-toggler fa fa-tag fa-lg" type="button"></button>
          <button  id="toggleFilterPanel" class="navbar-toggler fa fa-filter fa-lg" type="button"></button>
          <button  class="navbar-toggler fa fa-ellipsis-v fa-lg" type="button"></button>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="dropdown character">

        <div class="row row-xs-center header"  id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="col-xs-12 character-card">
            <div class="row row-xs-center">
              <div class="col-xs-2">
                <img ng-src="{{ vm.current.engram }}" width="32" height="32" />
              </div>
              <div class="col-xs-8">
                <div>{{ vm.current.class }} {{ vm.current.level }}</div>
                <div>{{ vm.current.sex }} {{ vm.current.race }}</div>
              </div>
              <div class="col-xs-2">
                <div>{{ vm.current.lightLevel }}</div>
              </div>
            </div>
          </div>
        </div>

        <ul class="dropdown-menu" aria-labelledby="dLabel" class="row">

          <li class="col-xs-12 character-card">
            <div class="row row-xs-center header">
              <div class="col-xs-12">
                <div class="row row-xs-center">
                  <div class="col-xs-2">
                    <img src="http://www.bungie.net/common/destiny_content/icons/66e5d267b1c8cfd41a109f9fdc3942e3.jpg" width="32" height="32" />
                  </div>
                  <div class="col-xs-8">
                    <div>Titan 34</div>
                    <div>Male Human</div>
                  </div>
                  <div class="col-xs-2">
                    <div>280</div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="col-xs-12 character-card">
            <div class="row row-xs-center header">
              <div class="col-xs-12">
                <div class="row row-xs-center">
                  <div class="col-xs-2">
                    <img src="http://www.bungie.net/common/destiny_content/icons/01e92aa9288da062ef7cd735e6b25909.jpg" width="32" height="32" />
                  </div>
                  <div class="col-xs-8">
                    <div>Hunter 34</div>
                    <div>Female Awoken</div>
                  </div>
                  <div class="col-xs-2">
                    <div>280</div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="col-xs-12 character-card">
            <div class="row row-xs-center header">
              <div class="col-xs-12">
                <div class="row row-xs-center">
                  <div class="col-xs-2">
                  </div>
                  <div class="col-xs-10">
                    <div>Vault</div>
                  </div>
                </div>
              </div>
            </div>
          </li>

        </ul>
      </div>

      <div class="row row-xs-center inventory" ng-repeat="type in vm.types">
        <div class="col-xs-12" ng-init="items = vm.getItemsByType(vm.current, type)">
          <div class="row row-xs-center">
            <div class="col-xs-12 type-title" ng-class="{ 'type-title-double': vm.multiselectEnabled}">
              <span style="text-transform: capitalize;">{{ type }}</span> Weapons
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3" ng-dblclick="vm.double()">
              <span ng-repeat="item in items.equipped" class="tint" ng-class="{ 'single': item.single, 'double': item.double }">
                <img ng-class="{ 'single': vm.isItemSelected(item) }" ng-tap="vm.single(item)" ng-doubletap="vm.double(item)" class="item" ng-src="{{ item.image }}">
              </span>
            </div>
            <div class="col-xs-9">
              <span ng-repeat="item in items.unequipped" class="tint" ng-class="{ 'single': item.single, 'double': item.double }">
                <img ng-class="{ 'single': vm.isItemSelected(item) }" ng-tap="vm.single(item)" ng-doubletap="vm.double(item)" class="item" ng-src="{{ item.image }}">
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div id="filterPanel">Mah filters!</div>
  </div>
  <script src="vendor/jquery/dist/jquery.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
  <script src="vendor/angular/angular.js"></script>
  <script src="vendor/underscore/underscore-min.js"></script>
  <script src="vendor/hammerjs/hammer.js"></script>

  <script src="v4-scripts/dim.module.js"></script>
  <script src="v4-scripts/dimAppCtrl.controller.js"></script>

  <script>
    $("#toggleFilterPanel").on("click", function(){
      $("#toggleFilterPanel").toggleClass("selected");
      $("#filterPanel").toggleClass("visible");
    });

    $(document).scroll(function(){
     $('.row-1').toggleClass('scrolled', $(this).scrollTop() > 1);
    });
  </script>
</body>

</html>
