@import '../variables.scss';

:global(canvas) {
  position: fixed !important;
  top: 0;
  left: 0;
}

.banner {
  font-size: 24px;
  line-height: 24px;
  padding: 12px 24px;
  background-color: black;
  z-index: 9999;
}

.confettiToggle {
  background-color: black;
  padding: 3px 8px;
  display: flex;
  align-items: center;
}

.thanks {
  font-size: 0.99rem;
}

.amazing {
  font-weight: bold;
  color: #d6272e;
}

.toaster {
  cursor: pointer;

  &.maximized {
    padding: 1.5rem;
    width: 600px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    font-size: 1rem;
  }
  position: fixed;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out;

  p {
    font-size: 1 rem;
    &:first-child {
      margin-top: 0;
    }
  }

  img {
    display: block;
  }
}

.link {
  color: $orange;
}

.incentives {
  display: flex;
}

.container {
  margin: 1rem;
  cursor: default;
}

.gametwogive {
  width: 200px;
  height: 101px;
}

.thermo {
  font-size: 1rem;
  background-color: dimgrey;
  display: flex;

  .track {
    width: unset;
    flex-grow: 1;
  }

  .mercury {
    width: unset;
    background-color: #d6272e;
    padding: 0.125rem 0.25rem;
  }

  .goal {
    flex-shrink: 0;
    width: unset;
    padding: 0.125rem 0.25rem;
    background: darkslategrey;
  }
}

.buttongroup {
  justify-content: center;
  display: flex;
  padding-top: 0.5rem;

  button,
  a {
    cursor: pointer;
    padding: 0.25rem 0.375rem;
    margin: 0 0.5rem;
  }

  .streaming {
    background-color: #c00 !important;
  }
}
