<div>
<p>Quello riguardo un Numero Irrazionale</p>&#13;
<ul class="changelog-toaster">
<li>* Stabilità della Modalità Farming migliorata. Gli oggetti non vengono più trasferiti 'a caso'.</li>&#13;
  <li>* Migliorata la logica di spostamento. DIM è ancora più furba ora.</li>&#13;
  <li>* I Loadout ora permettono le stesse "braci" della sottoclasse scelta</li>&#13;
  <li>* Più lingue vengono supportate</li>&#13;
</ul>
<p>Guarda il  <a href="https://github.com/DestinyItemManager/DIM/blob/master/CHANGELOG.md" target="_blank">changelog</a> per vedere tutti i cambiamenti.</p>&#13;
<p>Seguici su: <a style="margin: 0 5px;" href="http://destinyitemmanager.reddit.com" target="_blank"><i class="fa fa-reddit fa-2x"></i></a> <a style="margin: 0 5px;" href="http://twitter.com/ThisIsDIM" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></p>
</div>
