@import '../variables';

.buttons {
  composes: item-details from global;
  composes: flexRow from 'app/dim-ui/common.m.scss';
  @include horizontal-space-children(8px);
}

.insertButton {
  composes: dim-button from global;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: none;

  @include horizontal-space-children(8px);
}
