@import '../variables.scss';

.interaction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0d0d16;
}

.collapsed .hideWhenCollapsed {
  display: none;
}

.collapseButton {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;

  &:hover :global(.app-icon) {
    color: $orange;
  }

  .collapsed & {
    padding: 5px 0 15px;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  :global(.app-icon) {
    margin: 7px 10px 0;
    display: block;
    width: 16px;
    font-size: 16px;
  }

  [data-popper-placement^='left'] & {
    transform: scaleX(-1);
  }
}

.moveLocations {
  flex-direction: column;
  align-items: inherit;
  justify-self: flex-end;
  padding: 6px 8px 0 8px;
  &:last-child {
    padding-bottom: 8px;
  }
}

.moveLocationIcons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 4px 0 0 0;
}

.move,
.equip {
  cursor: pointer;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  &:nth-child(n + 2) {
    margin-left: 8px;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 36px;
    width: 36px;
    object-fit: cover;
  }

  :global(.app-icon) {
    position: absolute;
    height: 60%;
    width: 60%;
    top: 7px;
    left: 7px;
    filter: drop-shadow(1px 1px 2px black);
  }

  &:hover {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      border: 1px solid white;
    }
  }
}

.disabled {
  filter: contrast(0.5) brightness(0.5);
  cursor: default;
  pointer-events: none;
}

.vaultLabel {
  margin-left: 8px;
}
