@import '../variables.scss';

.interaction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #161626;

  :global(.item-tag-selector) {
    color: white;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    font-size: 12px;

    option {
      color: white;
      background: black;
    }
  }
}

.entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;

  img,
  :global(.app-icon),
  .null {
    display: block;
    margin-right: 8px;
    height: 16px;
    width: 16px;
    font-size: 16px;
    text-align: center;
  }
  :global(.app-icon) {
    color: #eee;
  }

  .classIcon {
    filter: invert(1);
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
}

.itemTagSelector {
  composes: entry;
  padding-top: 12px;
  padding-bottom: 6px;

  :global(.app-icon) {
    margin-top: 1px;
  }
}

.actionButton {
  composes: entry;
  cursor: pointer;

  &:hover {
    background: $orange;
    color: black;
    :global(.app-icon) {
      color: black;
    }
    .classIcon {
      filter: none;
    }
  }
}

.disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
