@use '../variables.scss' as *;

.interaction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--theme-item-popup-actions-bg);
  user-select: none;
  box-shadow:
    0 0 0 1px var(--theme-item-popup-border),
    var(--theme-drop-shadow);
}

.collapseButton {
  composes: resetButton from 'app/dim-ui/common.m.scss';
  display: flex;
  justify-content: flex-end;
  cursor: pointer;

  @include interactive($hover: true) {
    :global(.app-icon) {
      color: var(--theme-accent-primary);
    }
  }

  :global(.app-icon) {
    margin: 7px 10px 0;
    display: block;
    width: 16px;
    font-size: 16px;
  }

  .collapsed & {
    padding: 5px 0 15px;
    justify-content: center;
    border-bottom: 1px solid var(--theme-item-popup-border);
  }

  [data-popper-placement^='left'] & {
    transform: scaleX(-1);
  }
}
