.emoteWheel {
  margin-left: 13px;
  display: grid;
  gap: 4px;
  place-items: center;
  grid-template:
    min-content min-content min-content min-content min-content min-content '  .      slot0     .  '
    'slot2 collection slot3'
    '  .      slot1     .  ';
  & > div > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
