.energymeter {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 30px;
  gap: 2px;
}
.energymeter-labels {
  grid-area: 1/1/2/10;
  display: flex;
  justify-content: space-between;
}
.energymeter-masterwork {
  grid-area: 1/10/2/11;
}
.energymeter-labels,
.energymeter-masterwork {
  &.solar {
    background-color: #f0631e88;
  }
  &.arc {
    background-color: #79bbe888;
  }
  &.void {
    background-color: #a371c288;
  }
}
.energymeter-increments {
  display: flex;
  align-items: center;
  justify-content: center;
  &.disabled::after,
  &.unused::after,
  &.used::after {
    content: '';
    display: block;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    box-sizing: border-box;
    width: 100%;
  }
  &.disabled::after {
    border-width: 0;
    height: 4px;
    background-color: #8888;
  }
  &.unused::after {
    height: 8px;
  }
  &.used::after {
    height: 8px;
    background-color: #fff;
  }
}
