@import '../variables.scss';

.weaponSockets {
  flex-direction: column;
  flex-wrap: nowrap;
}

.row {
  composes: flexRow from '../dim-ui/common.m.scss';
  align-items: center;
  border-bottom: 1px solid #333;
  padding: 6px 10px;

  &:last-child {
    border-bottom: none;
  }

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.archetype {
  background-color: #333;
  margin: 0 -10px 12px -10px;
  width: 100%;
  border-bottom: none;

  .minimal & {
    background-color: transparent;
  }

  :global(.socket-container) img {
    width: 26px;
    height: 26px;
  }

  :global(.item-socket-category-Consumable) img {
    width: 32px;
    height: 32px;
  }
}

.archetypeMod {
  flex: 1;
  img {
    width: 26px;
    height: 26px;
    transform: scale(1.4);
    margin-right: 6px;
    margin-left: 2px;

    .minimal & {
      width: 16px !important;
      height: 16px !important;
      transform: scale(1.4);
    }
  }
}

.perks {
  :global(.item-socket) {
    padding-right: 6px;
    margin-right: 6px;
  }
}

.stats {
  color: #aaa;
}
