@use '../variables.scss' as *;

// Horizontal list of sockets
.item-sockets {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

// Uppercased title for socket categories
.item-socket-category-name {
  text-transform: uppercase;
  margin-bottom: 2px;
}

.plug-stats {
  display: grid;
  grid-template: auto / auto 1fr;
  column-gap: 4px;
  margin-top: 4px;
  > div {
    &:nth-child(2n + 1) {
      font-weight: bold;
      justify-self: end;
    }
  }
  img {
    vertical-align: bottom;
    margin-right: 2px;
  }
}

.thumbs-up {
  background: #ddd;
  border-radius: 50%;
  color: #0b486b;
  padding: 3px;
  font-size: 8px !important;
  letter-spacing: normal;
  .socket-container & {
    position: absolute;
    top: -4px;
    right: -5px;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.9));
  }
}

.socket-container {
  position: relative;
  display: flex;
  flex-direction: row;

  .item-socket-category-Consumable & {
    border: 1px solid #888;
  }

  img,
  .perk-circle {
    -webkit-touch-callout: none;
    width: calc(32 / 50 * var(--item-size));
    height: calc(32 / 50 * var(--item-size));
    display: block;
  }
}
