// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Move Popup
//
// The popup displaying info and actions for an single item.
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@import '../../scss/variables.scss';

.move-popup-dialog {
  min-height: 77px;
  width: 375px;
  z-index: 8;

  background-color: black;
  @supports (backdrop-filter: blur(30px)) {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(30px);
  }
  box-shadow: 0 -1px 24px 4px #222;

  .arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
  }

  &[x-placement^='top'] .arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
  }

  &[x-placement^='bottom'] .arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;

    border-bottom-color: white;

    &.is-Exotic {
      border-bottom-color: $exotic;
    }
    &.is-Legendary {
      border-bottom-color: $legendary;
    }
    &.is-Rare {
      border-bottom-color: $rare;
    }
    &.is-Uncommon {
      border-bottom-color: $uncommon;
    }
    &.is-Common {
      border-bottom-color: $common;
    }
  }
  &[x-placement^='right'] .arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
  }
  &[x-placement^='left'] .arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
  }
  textarea {
    resize: vertical;
  }
}

.move-popup-tabs {
  display: flex;
  justify-content: space-around;
}
.move-popup-tab {
  opacity: 0.8;
  padding: 5px 0 3px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid transparent;
  &.selected {
    opacity: 1;
    border-bottom: 2px solid $orange;
  }
  &:hover {
    opacity: 1;
  }
}

/**
 * Move Popup - Details
 */

.item-details {
  margin: 10px;
  box-sizing: border-box;

  &.warning {
    background-color: #bd362f !important;
    padding: 8px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    a {
      color: white;
      font-size: 12px;
    }
  }
}

.item-description {
  margin: 5px 10px;
  white-space: pre-wrap;
}

.item-lore {
  margin: 5px 10px;
  img {
    vertical-align: text-bottom;
  }
}

.masterwork-progress {
  margin: 4px 0px;
  padding: 4px 10px 4px;
  background: #333;

  strong {
    color: orange;
  }

  img {
    width: 16px;
    height: 16px;
    margin-bottom: -4px;
  }
}

.item-perks {
  margin: 5px 10px;
}

.item-perk {
  display: flex;
  flex-direction: row;

  img {
    height: 48px;
    width: 48px;
  }
}

.item-perk-info {
  flex: 1;
  margin-left: 8px;
}
.item-perk-name {
  font-weight: bold;
  margin-bottom: 2px;
}
.failure-reason {
  color: white;
  background-color: #923c3c;
  margin: 0;
  padding: 2px 8px;
}

.ammo-type {
  $ammo-height: 10px;
  background-size: (1.4 * $ammo-height) $ammo-height;
  height: $ammo-height + 4px;
  width: (1.4 * $ammo-height) + 4px;
  margin-right: 4px;
  background-color: rgba(0, 0, 0, 0.7);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-top: 1px;
  flex-shrink: 0;
}

.ammo-primary {
  background-image: url('../../../destiny-icons/general/ammo_primary.svg');
}
.ammo-special {
  background-image: url('../../../destiny-icons/general/ammo_special.svg');
}
.ammo-heavy {
  background-image: url('../../../destiny-icons//general/ammo_heavy.svg');
}

.sheet {
  .move-popup {
    width: auto;
    box-shadow: none;
  }
}
