@import '../variables.scss';

$item-header-spacing: 5px;
$icon-bg-fill: rgba(0, 0, 0, 0.4);
$icon-bg-shadow: rgba(0, 0, 0, 1);

.item-header {
  background-color: #fff;
  color: #000;
  overflow: hidden;
  padding: 8px 10px;

  .item-review-average {
    margin-left: 1rem;
    .rating-icon {
      filter: drop-shadow(0 0 4px white);
    }
  }

  a {
    color: #000;
  }

  .item-subtitle,
  .item-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .item-type-info,
  .item-title-link {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-items: center;
    margin-right: 4px;
  }

  .fa {
    cursor: pointer;
  }

  &.is-arc {
    background-color: $arc;
  }
  &.is-solar {
    background-color: $solar;
  }
  &.is-void {
    background-color: $void;
  }

  &.is-Common {
    background-color: $common;
  }
  &.is-Uncommon {
    background-color: $uncommon;
  }
  &.is-Rare {
    background-color: $rare;
  }
  &.is-Legendary {
    background-color: $legendary;
  }
  &.is-Exotic {
    background-color: $exotic;
  }
  &.is-Uncommon,
  &.is-Rare,
  &.is-Legendary {
    color: white;
    a,
    select,
    .item-title {
      color: white;
    }
    .small-icon {
      filter: none;
    }
  }

  .item-title {
    color: #000;
    font-size: 19px;
    text-decoration: none;
    @include destiny-header;
    overflow: hidden;
    text-overflow: ellipsis;

    font-weight: 500;
  }
  .icon {
    display: inline-block;
    text-align: center;
    margin-right: 2px;
    width: 16px;
  }
  .element {
    display: inline-block;
    height: 16px;
    vertical-align: top;
    width: 16px;
    filter: drop-shadow(0px 0px 1px $icon-bg-shadow) drop-shadow(0px 0px 0px $icon-bg-shadow);
    &.void {
      background-image: radial-gradient(
        closest-side at center,
        $icon-bg-fill 0%,
        $icon-bg-fill 90%,
        transparent 90%,
        transparent 100%
      );
    }
    &.arc {
      background-image: radial-gradient(
        closest-side at center,
        $icon-bg-fill 0%,
        $icon-bg-fill 15%,
        transparent 15%,
        transparent 100%
      );
    }
    &.solar {
      background-image: radial-gradient(
        circle at 50% 60%,
        $icon-bg-fill 0%,
        $icon-bg-fill 40%,
        transparent 40%,
        transparent 100%
      );
    }
  }

  .small-icon {
    height: 20px;
    width: 20px;
    margin-right: 4px;
    filter: invert(1);
  }

  .info {
    font-size: 16px;
    margin-left: 8px;
  }

  .sheet & {
    padding-top: 14px;
    padding-right: 48px;
  }

  &.masterwork {
    background-image: url('../../images/masterworkHeader.png');
    background-repeat: repeat-x;
    background-size: cover;
    background-position: top center;
    &.is-Exotic {
      background-image: url('../../images/exoticMasterworkHeader.png');
    }
    &.is-Legendary .item-title {
      text-shadow: 0 0 3px black;
    }
  }
}
