// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Move Popup
//
// The popup displaying info and actions for an single item.
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@use '../variables.scss' as *;

.arrow {
  width: $theme-tooltip-arrow-size;
  height: $theme-tooltip-arrow-size;
  border-style: solid;
  position: absolute;
  border-width: $theme-tooltip-arrow-size;
  border-color: transparent;
}

.desktopPopupRoot {
  pointer-events: none;
}

.movePopupDialog {
  // Mod drawer has z-index of 14 and needs to sit over this
  z-index: 13;

  --background-color: rgba(0, 0, 0, 1);

  &.exotic {
    --background-color: rgba(22, 18, 4, 1);
  }
  &.legendary {
    --background-color: rgba(14, 8, 17, 1);
  }
  &.rare {
    --background-color: rgba(10, 15, 21, 1);
  }
  &.uncommon {
    --background-color: rgba(8, 17, 9, 1);
  }
  &.common {
    --background-color: rgba(18, 18, 18, 1);
  }

  &[data-popper-placement^='top'] .arrow {
    width: 0;
    height: 0;
    border-bottom-width: 0;
    border-top-color: var(--theme-tooltip-background-color);
    bottom: calc(-1 * $theme-tooltip-arrow-size);
  }

  &[data-popper-placement^='bottom'] .arrow {
    width: 0;
    height: 0;
    border-top-width: 0;
    border-bottom-color: var(--theme-tooltip-background-color);
    top: calc(-1 * $theme-tooltip-arrow-size);

    &.exotic {
      border-bottom-color: $exotic;
    }
    &.legendary {
      border-bottom-color: $legendary;
    }
    &.rare {
      border-bottom-color: $rare;
    }
    &.uncommon {
      border-bottom-color: $uncommon;
    }
    &.common {
      border-bottom-color: $common;
    }
  }
  &[data-popper-placement^='right'] .arrow {
    width: 0;
    height: 0;
    border-left-width: 0;
    border-right-color: var(--theme-tooltip-background-color);
    left: calc(-1 * $theme-tooltip-arrow-size);
  }
  &[data-popper-placement^='left'] .arrow {
    width: 0;
    height: 0;
    border-right-width: 0;
    border-left-color: var(--theme-tooltip-background-color);
    right: calc(-1 * $theme-tooltip-arrow-size);
  }
  textarea {
    resize: vertical;
  }
}

.popupBackground {
  background-color: var(--background-color);
  contain: content;
  box-shadow: 0 -1px 24px 4px #161626;

  @include phone-portrait {
    box-shadow: none;
  }
}

.desktopPopup {
  display: flex;
  flex-direction: row;
  .movePopupDialog[data-popper-placement^='right'] & {
    flex-direction: row-reverse;
  }
}

.desktopPopupBody {
  width: 320px;
  display: block;
  pointer-events: auto;
}

.desktopActions {
  display: block;
  > div {
    pointer-events: auto;
  }
}

.mobileItemActions {
  padding: 5px 0;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  z-index: 1;
  background: #111;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
  &:empty {
    display: none;
  }
}

.mobileMoveLocations {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
