@use '../variables.scss' as *;

.movePopupTabs {
  display: flex;
  justify-content: space-around;
}
.movePopupTab {
  composes: resetButton from '../dim-ui/common.m.scss';
  color: hsl(0, 0%, 80%);
  padding: 5px 0 3px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #222;
  background-color: black;

  @include interactive($hover: true) {
    color: var(--theme-text);
    background-color: #3f3f3f;
  }

  @include phone-portrait {
    font-size: 16px;
  }
  &.selected {
    border-bottom-color: var(--theme-accent-primary);
  }
}
