@import '../variables.scss';

.stats {
  margin: 10px;
  display: grid;
  grid-auto-rows: 12px;
  grid-template-columns: repeat(2, min-content) 1fr;
  grid-gap: 4px 0;

  &.hasIcons {
    grid-template-columns: repeat(3, min-content) 1fr;
  }

  .stat-box-row {
    display: contents;
    &.masterworked {
      color: $orange;
      .stat-box-text {
        font-weight: bold;
      }
    }
    &.modded {
      color: $blue;
      .stat-box-text {
        font-weight: bold;
      }
    }
  }
  .stat-box-cell {
    display: table-cell;
    line-height: 12px;
    white-space: nowrap;
    vertical-align: middle;
  }
  .stat-box-text {
    grid-column: 1;
    text-align: right;
    margin-right: 8px;
  }
  .stat-box-val {
    grid-column: 2;
    text-align: right;
    font-variant-numeric: tabular-nums;
  }
  .stat-box-trailer {
    text-align: left;
  }
  .stat-recoil {
    display: table-cell;
    height: 12px;
    line-height: 9px;
    margin-left: 8px;
    svg {
      margin-right: 4px;
    }
  }
  .stat-box-outer {
    display: table-cell;
    height: 12px;
    line-height: 12px;
    background-color: #333;
    margin-left: 8px;
    grid-column: -2 / -1;
  }
  .stat-box-icon {
    margin-left: 4px;
  }
  .stat-box-container {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .stat-box-inner {
    display: block;
    height: 100%;
    float: left;
    line-height: 12px;
    background-color: #555;
    background-color: white;
    color: black;
    line-height: 20px;
    &.masterwork-stats {
      background-color: $orange;
    }
    &.modded-stats {
      background-color: $blue;
    }
    &.rating-chart-bar-color {
      background-color: $orange;
    }
  }
  .stat-box-quality-summary {
    grid-column: 2 / -1;
    a {
      margin-left: 4px;
    }
  }

  .stat-icon {
    height: 12px;
    width: 12px;
    vertical-align: bottom;
  }
}

.item-stat-quality {
  display: none;
  margin-left: 4px;
  .itemQuality & {
    display: inline;
  }
}
