@import '../variables.scss';

.sockets {
  display: flex;
  flex-direction: column;
}

.socket {
  composes: flexRow from '../dim-ui/common.m.scss';
  align-items: flex-start;
  border-bottom: 1px solid #333;
  padding: 4px 8px;
  flex-wrap: wrap;

  &:first-child {
    padding-right: 50px;
  }

  &:last-child {
    border-bottom: none;
  }
}

.plug {
  composes: flexRow from '../dim-ui/common.m.scss';
  align-items: flex-start;
  margin-right: 0.7em;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  h2 {
    font-size: 12px;
    line-height: 12px;
    margin: calc((24 / 50 * var(--item-size) + 4px) / 2 - 6px) 0 4px 0;
  }
}

.perkIconWrapper {
  grid-area: icon;
  align-self: flex-start;
  position: relative;

  display: block;
  padding: 1px;
  flex-shrink: 0;

  svg {
    display: block;
    width: calc(30 / 50 * var(--item-size));
    height: calc(30 / 50 * var(--item-size));
  }

  :global(.thumbs-up) {
    position: absolute;
    top: -4px;
    right: -5px;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.9));
  }
}

.perkInfo {
  composes: flexColumn from '../dim-ui/common.m.scss';
  align-items: flex-start;
  margin-left: 6px;
  white-space: pre-wrap;

  > div {
    color: #aaa;
  }
}

.selected {
  flex: 1;
}

.disabled {
  opacity: 0.5;
}

.plugLabel {
  margin-left: 1em;
}
