@use '../variables' as *;

.armorIntrinsicDescription {
  color: var(--theme-text-secondary);
  white-space: pre-line;
  h3 {
    color: var(--theme-text);
  }
}
.clarityDescription {
  margin-top: 2px;
  border-left: 2px solid $communityBlue;
  padding-left: 6px;
}
.minimalSockets {
  flex-flow: column nowrap;
}
.generalSockets {
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
  gap: 4px 16px;

  &.minimalSockets {
    margin: 0;
  }
}

// Uppercased title for socket categories
.socketCategoryHeader {
  text-transform: uppercase;
  margin-bottom: 2px;
}
