@use '../variables.scss' as *;

.weaponSockets {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 10px;
}

.perks {
  position: relative;
  :global(.item-sockets) {
    // TODO: adjust these through CSS vars?
    gap: 3px;
  }

  // Draw lines between the sockets (columns), like in game.
  // TODO: maybe get rid of this
  :global(.item-socket) {
    border-right: 0.5px solid #444;
    padding-right: 3px;

    &:last-child {
      border: none;
      padding-right: 0;
    }
  }
}

.stats {
  color: var(--theme-text-secondary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.displayStyleButton {
  composes: resetButton from '../dim-ui/common.m.scss';
  position: absolute;
  right: 10px;
  top: 8px;
  border-radius: 50%;
  padding: 4px;
  width: 24px;
  height: 24px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--theme-text);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);

  @include interactive($hover: true, $active: true) {
    background-color: var(--theme-accent-primary) !important;
    color: var(--theme-text-invert) !important;
  }
}

.minimal {
  > * {
    margin-bottom: 4px !important;
  }
}

.grid {
  margin: 8px 10px;

  .minimal & {
    margin: 0;
    gap: 0;

    // Remove line between sockets in minimal mode
    :global(.item-socket) {
      border: none;
      padding: 0;
    }
  }

  :global(.item-socket) {
    gap: 0;
  }

  :global(.plug) {
    padding: calc(2 / 50 * var(--item-size));

    @include phone-portrait {
      padding: 2px;
      --item-size: 32px;
    }
  }
}
