@use '../variables.scss' as *;

.header {
  composes: resetButton from 'app/dim-ui/common.m.scss';
  display: block;
  text-align: left;
  width: 100%;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: -0.02em;
  padding: 10px;

  background-color: #555;
  color: #eee;
}

.armory {
  &:hover,
  &:focus-visible {
    outline: none;
    h1 {
      text-decoration: underline;
    }
    cursor: pointer;
  }
}

.title {
  @include destiny-header;
  font-size: 21px !important;
  line-height: 24px;
  text-decoration: none;
  margin: 0 !important;
  padding: 0;

  // Prevent the title running into the sheet close button
  @include phone-portrait {
    margin: 0 32px 0 0 !important;
  }
}

.subtitle {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.type,
.details {
  display: flex;
  align-self: flex-end;
  align-items: center;
}

.type {
  flex: 1;
}

.elementIcon {
  height: 16px;
  width: 16px;
}

.rare,
.common,
.exotic {
  .elementIcon {
    filter: drop-shadow(0 0 1px #222) drop-shadow(0 0 0 #222);
  }
}

.breakerIcon {
  margin: 0 4px;
  width: 15px;
  height: 15px;
}

.ammoIcon {
  margin: 0 2px 0 6px;
  height: 14px;
  width: 19px;
}

.itemType {
  opacity: 0.7;
}

.power {
  margin: 0 4px 0 2px;
}

.primary {
  opacity: 0.9;
}

.masterwork {
  background-image: url('../../images/masterworkHeader.png');
  background-repeat: repeat-x;
  background-size: cover;
  background-position: top center;
  &.exotic {
    background-image: url('../../images/exoticMasterworkHeader.png');
  }
}

.common {
  background-color: $common;
}

.common,
.exotic {
  color: #222;
  /* stylelint-disable-next-line no-descending-specificity */
  a {
    color: #222;
  }
}

.uncommon {
  background-color: $uncommon;
}

.rare {
  background-color: $rare;
}

.pursuit {
  background-color: #333;
  color: #eee;
  /* stylelint-disable-next-line no-descending-specificity */
  a {
    color: #eee;
  }
}

.legendary {
  background-color: $legendary;
  .primary {
    opacity: 0.8;
  }
}

.exotic {
  background-color: $exotic;
  .itemType {
    opacity: 0.9;
  }
}
