.move-amount {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
  padding: 0 10px;
}

.move-amount-slider {
  flex: 1;
  margin: 0 10px;
}

.move-amount input[type='text'] {
  margin-left: 10px;
  width: 3em;
}

.move-amount-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
