@import '../variables.scss';

// TODO: composes itemDetails for that padding

.descriptionTools {
  composes: flexRow from '../dim-ui/common.m.scss';
  margin: 5px 10px;

  @include horizontal-space-children(10px);
}

.addNote {
  cursor: pointer;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  &:hover {
    color: $orange;
  }
  &.noNotesYet {
    display: inline-block;
  }
}
.addNoteTag {
  font-weight: bold;
}

.description {
  margin: 5px 10px 5px;
  white-space: pre-wrap;
}

.officialDescription {
  composes: description;
  font-style: italic;
  overflow: auto;
}

.wishListLabel {
  font-weight: bold;
}
.wishListTextContent {
  font-style: italic;
}
.loreLink {
  white-space: nowrap;
  img {
    vertical-align: text-bottom;
    margin-right: 0.2em;
  }
}
