// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Move Popup
//
// The popup displaying info and actions for an single item.
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@import '../variables.scss';

.move-popup-dialog {
  min-height: 77px;
  width: 375px;
  z-index: 8;

  --backgroundColor: 0, 0%, 0%;

  &.is-Exotic {
    --backgroundColor: 48, 71%, 5%;
  }
  &.is-Legendary {
    --backgroundColor: 279, 36%, 5%;
  }
  &.is-Rare {
    --backgroundColor: 213, 34%, 6%;
  }
  &.is-Uncommon {
    --backgroundColor: 126, 35%, 5%;
  }
  &.is-Common {
    --backgroundColor: 0, 0%, 7%;
  }
  > div:first-child {
    height: 100%;
    background-color: #{'hsl(var(--backgroundColor))'};
    contain: content;
  }
  box-shadow: 0 -1px 24px 4px #222;

  .arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
  }

  &[x-placement^='top'] .arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
  }

  &[x-placement^='bottom'] .arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;

    border-bottom-color: white;

    &.is-Exotic {
      border-bottom-color: $exotic;
    }
    &.is-Legendary {
      border-bottom-color: $legendary;
    }
    &.is-Rare {
      border-bottom-color: $rare;
    }
    &.is-Uncommon {
      border-bottom-color: $uncommon;
    }
    &.is-Common {
      border-bottom-color: $common;
    }
  }
  &[x-placement^='right'] .arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
  }
  &[x-placement^='left'] .arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
  }
  textarea {
    resize: vertical;
  }
}

.move-popup-tabs {
  display: flex;
  justify-content: space-around;
}
.move-popup-tab {
  color: hsl(0, 0%, 80%);
  padding: 5px 0 3px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid transparent;
  &.selected {
    opacity: 1;
    border-bottom: 2px solid $orange;
  }
  &:hover {
    color: white;
    background-color: #3f3f3f;
  }
}

/**
 * Move Popup - Details
 */

.item-popup-collapsed {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item-details-body {
  overflow: hidden;
}

.item-details {
  margin: 10px;
  box-sizing: border-box;

  &.warning {
    background-color: $red !important;
    padding: 8px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    a {
      color: white;
      font-size: 12px;
    }
  }
}

.item-description {
  margin: 5px 10px;
  white-space: pre-wrap;
  font-style: italic;
}

.item-lore {
  margin: 5px 10px;
  img {
    vertical-align: text-bottom;
  }
}

.item-shader {
  display: block;
  margin: 15px auto;
}

.masterwork-progress {
  margin: 4px 0px;
  padding: 4px 10px 4px;
  background: #333;

  strong {
    color: $orange;
  }

  img {
    width: 16px;
    height: 16px;
    margin-bottom: -4px;
  }
}

.item-perks {
  margin: 5px 10px;
}

.item-perk {
  display: flex;
  flex-direction: row;

  img {
    height: 48px;
    width: 48px;
  }
}

.item-perk-info {
  flex: 1;
  margin-left: 8px;
}
.item-perk-name {
  font-weight: bold;
  margin-bottom: 2px;
}
.failure-reason {
  color: white;
  background-color: #923c3c;
  margin: 0;
  padding: 2px 8px;
}

.ammo-type {
  background-size: 26px;
  height: 15px;
  width: 20px;
  margin-right: 4px;
  background-color: rgba(0, 0, 0, 0.7);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-top: 1px;
  flex-shrink: 0;
}

.ammo-primary {
  background-image: url(https://www.bungie.net/common/destiny2_content/icons/dc4bb9bcdd4ae8a83fb9007a51d7d711.png);
}
.ammo-special {
  background-image: url(https://www.bungie.net/common/destiny2_content/icons/b6d3805ca8400272b7ee7935b0b75c79.png);
}
.ammo-heavy {
  background-image: url(https://www.bungie.net/common/destiny2_content/icons/9fa60d5a99c9ff9cea0fb6dd690f26ec.png);
}

.sheet {
  .move-popup {
    width: auto;
    box-shadow: none;
  }
}

.item-popup {
  .sheet-header {
    padding: 0;
    border: none;
  }
  .sheet-close {
    color: black;
    opacity: 0.7;
  }
  .sheet-handle div {
    background-color: black;
    opacity: 0.7;
  }

  &.is-Uncommon,
  &.is-Rare,
  &.is-Legendary {
    .sheet-close {
      color: white;
    }
    .sheet-handle div {
      background-color: white;
    }
  }
}

.owned-icon,
.acquired-icon {
  width: calc(var(--item-size) / 4) !important;
  height: calc(var(--item-size) / 4) !important;
  font-size: calc(var(--item-size) / 6) !important;
  border-radius: 50%;
  padding: 3px;
  box-sizing: border-box;
  .mods & {
    width: calc(var(--item-size) / 2.5) !important;
    height: calc(var(--item-size) / 2.5) !important;
    font-size: calc(var(--item-size) / 5) !important;
    vertical-align: -0.5em;
    padding: 0px;
    filter: invert(1);
    background: none !important;
  }
}

.acquired-icon {
  background: #3c94ff;
}

.owned-icon {
  background: #44bd32;
}
