@import '../variables.scss';

// TODO: composes itemDetails for that padding

.descriptionTools {
  composes: flexRow from '../dim-ui/common.m.scss';
  margin: 5px 10px;

  @include horizontal-space-children(10px);
}

.addNote {
  cursor: pointer;
  &:hover {
    color: $orange;
  }
}
.addNoteTag {
  font-weight: bold;
}

.description {
  margin: 5px 10px 5px;
  white-space: pre-wrap;
}

.officialDescription {
  composes: description;
  font-style: italic;
}

.wishListNotes {
  composes: description;
  font-style: italic;
}

.lore {
  flex: 1;
  img {
    vertical-align: text-bottom;
  }
}
