.armorIntrinsicDescription {
  color: #aaa;
  white-space: pre-line;
  h3 {
    color: white;
  }
}
.clarityDescription {
  margin-top: 1em;
}
.clarityDescriptionCommunityOnly {
  margin-top: 2px;
}
.minimalSockets {
  flex-flow: column nowrap;
}
.generalSockets {
  margin: 10px;
  &.minimalSockets {
    margin: 0;
  }
}
