.itemPerk {
  composes: flexRow from '../dim-ui/common.m.scss';
  gap: 8px;

  img {
    height: 48px;
    width: 48px;
  }

  > *:nth-child(2) {
    flex: 1;
  }
}

.itemPerkName {
  font-weight: bold;
  margin-bottom: 2px;
}
