.armorIntrinsicDescription {
  color: #aaa;
  white-space: pre-line;
  h3 {
    color: white;
  }
}
.clarityDescription {
  margin-top: 2px;
  border-left: 2px solid #0d7fad;
  padding-left: 6px;
}
.minimalSockets {
  flex-flow: column nowrap;
}
.generalSockets {
  margin: 10px;
  &.minimalSockets {
    margin: 0;
  }
}
