@use '../variables' as *;

.objectives {
  margin: 4px 0;
  padding: 8px;
  background-color: #0b0b11;
  border-radius: 4px;
}
.perkName {
  font-weight: bold;
}
.requirement {
  font-style: italic;
}
.clarityDescription {
  margin-top: 2px;
  border-left: 2px solid $communityBlue;
  padding-left: 6px;
  margin-left: -8px;
}
.tooltip {
  .clarityDescription {
    margin: 0;
    padding: 0;
    border-left: none;
  }
}
