@import '../variables';

.objectives {
  margin: 4px 0;
  padding: 8px;
  background-color: #333;
  border-radius: 4px;
}
.requirement {
  font-style: italic;
}
.clarityDescription {
  margin-top: 2px;
  border-left: 2px solid $communityBlue;
  padding-left: 6px;
}
