@use '../variables.scss' as *;

// A global class becuse some things still tweak the size of the plug image.
// TODO: customize with CSS vars instead
:global(.plug) {
  position: relative;
  display: flex;
  flex-direction: row;

  :global(.item-socket-category-Consumable) & {
    border: 1px solid #888;
  }

  img,
  :global(.perk-circle) {
    -webkit-touch-callout: none;
    width: calc(32 / 50 * var(--item-size));
    height: calc(32 / 50 * var(--item-size));
    display: block;
  }
}

.none {
  fill: transparent;
}

// Another plug was selected by the user
.notSelected {
  fill: #4887ba80;
}

.plugged {
  fill: #4887ba;
}
// This has been selected by the user but isn't the original plugged item
.selected {
  fill: $orange;
}

.cannotRoll {
  fill: #ba594880;

  &.plugged {
    fill: #ba5948b8;
  }

  &.selected {
    fill: #ba5948;
  }
}

.disabled {
  opacity: 0.4;
}

.selectable {
  cursor: pointer;
}

.hasMenu {
  cursor: pointer;
  &:hover,
  &:focus-visible {
    outline: 1px solid $orange;
  }
}
