.setBonus {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

// Sadly we have to draw our own circle around the perk
.perkIcon {
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid white;
  padding: 2px;
  height: var(--set-bonus-icon-size, 24px);
  width: var(--set-bonus-icon-size, 24px);
  display: block;
}

.perk {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 4px;
  gap: 3px;
  text-wrap: balance;
  background-color: var(--theme-item-popup-panel-bg);
  &.justCircle {
    --set-bonus-icon-size: 16px;
    background-color: transparent;
    flex: unset;
    padding: 0;
    .perkIcon {
      margin: 0;
    }
  }
}

.activePerk {
  background-color: #4887ba;
}

.gearList {
  composes: flexRow from '../dim-ui/common.m.scss';
  gap: 2px;
}

.gearListIcon {
  height: 3em;
  border: 1px solid #ddd;
}

.unsatisfied {
  opacity: 0.4;
}

.setBonusesStatus {
  display: flex;
  gap: 4px;
  & > div {
    display: flex;
  }
}

.perkNameSubheader {
  --set-bonus-icon-size: 18px;
  display: flex;
  gap: 6px;
  align-items: center;
  img {
    margin: -1px 0;
  }
}
