@use '../variables.scss' as *;

.selectedPlug {
  composes: flexRow from '../dim-ui/common.m.scss';
  min-height: var(--item-size);
  display: grid;
  grid-template-columns: var(--item-size) 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas: 'mod name button' 'mod desc button';
  gap: 0 8px;
  max-height: min(25vh, 18em);

  @include phone-portrait {
    grid-template-columns: var(--item-size) 1fr;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:
      'mod name'
      'mod desc'
      'mod button';
    gap: 8px 8px;
    height: auto;
  }
}

.modIcon {
  composes: flexColumn from '../dim-ui/common.m.scss';
  align-items: center;
  grid-area: mod;

  :global(.item-img) {
    border-color: var(--theme-item-socket-border);
  }
}

.modName {
  grid-area: name;
  font-weight: bold;
  margin: 0;
}

.modDescription {
  composes: flexColumn from '../dim-ui/common.m.scss';
  gap: 8px;
  grid-area: desc;
  overflow: auto;

  @include phone-portrait {
    max-height: 25vh;
  }
}
.modRequirement {
  font-style: italic;
}

.modClarityDescription {
  border-left: 2px solid $communityBlue;
  padding-left: 6px;
}

.itemStats {
  composes: flexColumn from '../dim-ui/common.m.scss';
  gap: 8px;
  max-width: 20em;
}

.source {
  font-style: italic;
  opacity: 0.7;
}

.material {
  composes: flexRow from '../dim-ui/common.m.scss';
  align-items: center;
  margin-top: 4px;
  font-size: 10px;
  img {
    height: 16px;
    width: 16px;
    margin-right: 0;
  }
}

.insertButton {
  composes: dim-button from global;
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-area: button;
  align-self: center;
  transition: none;
  gap: 8px;

  > span {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include phone-portrait {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.insertLabel {
  width: 100%;
}

.perk {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2px 0 0 0;

  img {
    width: 17px;
    height: 17px;
    margin-right: 4px;
  }
}
