@use '../variables.scss' as *;

.notUnlocked {
  > * {
    opacity: 0.3;
  }
}

.socketDetailsSheet {
  // This fits 14 plugs + scroll bar
  max-width: 820px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 24px;
  > * {
    margin-right: 8px;
    line-height: 0;
  }
}

.clickableMod {
  cursor: pointer;

  :global(.item-img) {
    border-color: var(--theme-item-socket-border);
  }
}

.categoryIcon {
  height: 24px;
  width: 24px;
}

.modList {
  margin: 8px 10px;
}

.selected,
.clickableMod:focus {
  outline: 2px solid var(--theme-accent-primary) !important;
}

.energyElement {
  height: 16px;
  width: 16px;
}
