@import '../variables.scss';

.socketDetailsSheet {
  max-width: 800px;
  margin: 0 auto;

  :global(.sheet-header) h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    > * {
      margin-right: 8px;
      line-height: 0;
    }
  }
}

.categoryIcon {
  height: 24px;
  width: 24px;
}

.modList {
  margin: 8px 10px;
}

.notUnlocked {
  > * {
    opacity: 0.3;
  }
}

.selected {
  outline: 2px solid $orange;
}

.energyElement {
  height: 16px;
  width: 16px;
}

.material {
  composes: flexRow from '../dim-ui/common.m.scss';
  align-items: center;
  margin-top: 4px;
  font-size: 10px;
  img {
    height: 16px;
    width: 16px;
  }
}

.selectedPlug {
  composes: flexRow from '../dim-ui/common.m.scss';
  min-height: calc(var(--item-size) + 20px);
  > * {
    flex: 1;
  }
}

.modIcon {
  composes: flexColumn from '../dim-ui/common.m.scss';
  flex: 0;
  width: var(--item-size);
  align-items: center;
  margin-right: 8px;
}

.modDescription {
  composes: flexColumn from '../dim-ui/common.m.scss';
  flex: 1;

  h3 {
    font-weight: bold;
    margin: 0;
  }
}

.itemStats {
  margin: 0;
}
