@use '../variables.scss' as *;

.catalystProgressTitle {
  margin-bottom: 4px;
}

.catalystProgress {
  composes: flexColumn from '../dim-ui/common.m.scss';
  background: var(--theme-item-popup-panel-bg);
  padding: 4px 10px;

  // Add spacer when adjacent to crafted weapon progress
  :global(.crafted-progress) + & {
    margin-top: 4px;
  }

  :global(.objective-progress) {
    background: var(--theme-item-popup-progress-bar-bg);
  }
}
