.record-books {
  max-width: 900px;
  min-width: 450px;
  margin: 0 auto;

  .record-book {
    margin-bottom: 10px;
  }

  .book-icon {
    height: 26px;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }

  .record-book-page {
    background: #555;
    margin: 10px 10px 0 10px;
    padding: 10px;

    h2 {
      margin: 0;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    p {
      margin: 0;
      color: #e0e0e0;
    }
  }

  .record-page-records {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
  }

  .record-book-completion {
    float: right;
  }

  .record {
    width: calc(50% - 22px);
    background: #333;
    padding: 10px;
    margin: 2px 0px;
    display: flex;
    flex-direction: row;

    h3 {
      margin: 0;
      font-size: 16px;
      letter-spacing: 1px;
      font-weight: normal;
    }

    p {
      margin: 0 0 8px 0;
      color: #e0e0e0;
    }
  }

  .record-info {
    flex: 1;
    margin: 0 10px 0 12px;
  }

  .record-icon {
    border-radius: 50%;
    background-color: rgba(245, 245, 245, 0.1);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 75%;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;

    &.complete {
      border-color: #ffce1f;
      background-color: rgba(255,206,31,0.4);
    }
  }
}
