@import '../../variables.scss';

.activityIcon {
  height: 18px;
  margin-right: 3px;
  vertical-align: bottom;
}

.bountyGuide {
  margin: 0;

  :global(.progress-for-character) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--item-size), 1fr));
  }
}

.title {
  display: flex;
  margin: 8px 0;
  padding-bottom: 1px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 0.5px solid #666;
}

.suggestedBounties {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--item-size), 1fr));
  grid-gap: 6px 0;
  margin-bottom: 8px;

  > div {
    cursor: pointer;
  }
}
