@import '../../variables.scss';

.activityIcon {
  height: 18px;
  vertical-align: bottom;
}

.bountyGuide {
  display: flex;
  grid-column: 1 / -1;
  margin: 0;
}

.title {
  display: flex;
  grid-column: 1 / -1;
  margin-bottom: 8px;
  padding-bottom: 1px;
  margin-top: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 0.5px solid #666;
}

.activityItems {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--item-size), 1fr));
}
