@import '../../variables.scss';

.activePursuits {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--item-size), 1fr));
  & > div {
    padding-bottom: 7px;
  }

  :global(.milestone-quest .milestone-icon) {
    margin-right: 0px;
  }

  :global(.records) {
    display: block;
    grid-column: 1 / -1;

    & > div {
      margin-bottom: 5px;
    }
  }
}

.bountyGuide {
  display: flex;
  grid-column: 1 / -1;
  margin: 0;
}

.noQuests {
  grid-column: 1 / -1;
}

.message {
  text-align: center;
  padding: 10px 5px;
  border-radius: 5px;
  background-color: rgba(50, 0, 0, 0.8);
  opacity: 0.6;
}
