<div>
    <h1>Riguardo Destiny Item Manager (DIM)</h1>
    <div class="ngdialog-inner-content">
        <h3><a ng-href="{{$DIM_CHANGELOG}}" target="_blank">Versione {{$DIM_VERSION}} ({{$DIM_FLAVOR}})</a></h3>
        <p>DIM si basa sui servizi usati da Bungie.net e dalla Destiny Companion App. DIM può accedere agli oggetti all'interno dell'inventario e del deposito del tuo Guardiano, sia su Playstation che su Xbox. Tu puoi trascinarli e rilasciarli ovunque tu voglia muoverli.</p>
        <h2>Contattaci</h2>
        <table>
<tr>
<td>Twitter</td>
                <td>Reddit</td>
                <td>GitHub</td>
            </tr>
<tr>
<td>Assicurati di seguirci per essere sempre informato sugli aggiornamenti e conoscere in tempo reale lo stato dell'applicazione.
                    <br><a href="https://twitter.com/ThisIsDIM" target="_blank">@ThisIsDIM</a>
</td>
                <td>Se hai domande, commenti o suggerimenti - facci sapere!
                    <br><a href="https://destinyitemmanager.reddit.com" target="_blank">/r/destinyitemmanager</a>
</td>
                <td>Se sei interessato a contribuire al progetto, visita la pagina su GitHub.
                    <br><a href="https://github.com/DestinyItemManager/DIM/" target="_blank">Repo Git di DIM</a>
</td>
            </tr>
</table>
<h2>FAQ</h2>
        <div>
            <dl>
<dt>Come fa DIM ad avere accesso ai miei dati di Destiny?</dt>
                <dd>Qualsiasi estensione di Chrome può richiedere i dati, che un sito web salva sul tuo computer. Quando effettui l'accesso su Bungie.net, ti viene dato un gettone (un cookie), che viene generato unicamente per il tuo account. Si usa questo gettone per comunicare con Bungie in modo sicuro. Questo gettone è più sicuro rispetto al mandare il tuo nome utente e la tua password allegati a ogni richiesta ai server di Bungie. DIM usa questo gettone per comunicare con Bungie a tuo nome.</dd>
            </dl>
<dl>
<dt>Come posso effettuare il log out da DIM?</dt>
                <dd>La tua sessione è legata a Bungie.net. Se effettui il log out da Bungie.net, ti disconnetti anche da DIM.</dd>
            </dl>
<dl>
<dt>Su DIM funzionano le scelte rapide da tastiera (scorciatoie)?</dt>
                <dd>Sì! Premi "?" per vedere una lista delle scelte rapide disponibili.</dd>
            </dl>
<dl>
<dt>Ho perso un mio oggetto utilizzando DIM!</dt>
                <dd>Molto probabilmente un trasferimento fallito, che ha lasciato il tuo oggetto nel deposito o a un altro personaggio. Puoi cercare quell'oggetto. Se ciò non dovesse funzionare, aggiorna l'applicazione premendo F5. Controlla su <a href="https://www.bungie.net" target="_blank">Bungie.net</a> oppure nel gioco per vedere se il tuo oggetto esiste ancora. Siamo sicuri che è ancora lì.</dd>
            </dl>
<dl>
<dt>Hey, DIM ha duplicato il mio Gjallarhorn!</dt>
                <dd>No, non è vero. Giuro.</dd>
            </dl>
</div>
        <p>Tutte le immagini e i contenuti sono proprietà di Bungie. Contattaci se ci dovessero essere problemi.</p>
    </div>
</div>
