<ul>
  <li>Per costruire un loadout basato su uno specifico set di perk clicca su uno dei riquadri soprastanti e seleziona i perk desiderati</li>
  <ul>
    <li>Se un perk non è visibile, significa che non possiedi alcuna armatura con quel perk</li>
    <li>Per utilizzare un'armatura con più perk fai shift+click sui perk desiderati</li>
    <li><div class="example ex-or"></div> - Verranno utilizzate armature, che presentano almeno uno dei perk selezionati</li>
    <li><div class="example ex-and"></div> - Verranno utilizzate armature, che presentano tutti i perk selezionati</li>
  </ul>
  <li>Trascina e rilascia un oggetto nel suo riquadro per costruire un set con quella specifica armatura</li>
  <li>Shift+click per escludere un oggetto dal set</li>
  <li>Utilizzare Tier più alte è meglio</li>
  <li>
    <ul>
      <li>4/5/2 (una build Tier 11) corrisponde a 4 Intelletto, 5 Disciplina, 2 Forza (4+5+2 = Tier 11)</li>
      <li>L'Intelletto riduce il tempo di ricarica della Super</li>
      <li>La Disciplina riduce il tempo di ricarica delle Granate</li>
      <li>La Forza riduce il tempo di ricarica del Corpo a Corpo</li>
    </ul>
  </li>
  <li>Cerca di trovare armature con perk, che aumentino le munizioni per i tipi di armi che vuoi utilizzare.</li>
  <li>All'interno del gioco seleziona i perk di Intelletto/Disciplina/Forza, che sono mostrati, per creare ogni loadout.</li>
  <li>Quando la difesa di un oggetto aumenta, aumentano anche le sue statistiche (intelletto/disciplina/forza).</li>
</ul>
