<div>
    <h1>Supportare DIM</h1>
    <div class="ngdialog-inner-content">
        <p>DIM è un prodotto, che si può scaricare e usare gratuitamente. Il codice sorgente di DIM è open source, e chiunque può contribuire a migliorarlo. Non vedrai mai pubblicità in DIM. Ci impegniamo a tal fine.</p>
        <p>Siamo tutti grandissimi fan di Destiny. DIM è nato durante le ore di gioco, poiché conoscevamo il dolore di trasferire oggetti tra i personaggi, dimenticandone uno, o i viaggi alla torre per svuotare i propri ROC degli assalti. DIM è lo strumento che ti aiuterà a risparmiare tempo nel gioco.</p>
        <h2>Come posso contribuire?</h2>
        <div>
            <dl>
<dt>Fai una donazione a DIM!</dt>
                <dd>Accettiamo donazioni su <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=EE2BLN2YN2Q5L" target="_blank">PayPal</a>. Se DIM ti ha aiutato a riasparmiare tempo mentre giochi, supporta il team, che lavora al progetto.</dd>
            </dl>
<dl>
<dt>Unisciti al Team Traduzione!</dt>
                <dd>Utilizziamo <a href="https://www.transifex.com/destiny-item-manager/destiny-item-manager/" target="_blank">Transifex</a> per facilitare le traduzioni. Se vuoi vedere DIM nella tua lingua, unisciti al team.</dd>
            </dl>
<dl>
<dt>Condividi DIM con i tuoi amici.</dt>
                <dd>Una volta provato quanto è facile equipaggiare un loadout, non potrai tornare indietro. Condividi il divertimento con i tuoi amici!</dd>
            </dl>
<dl>
<dt>Hai qualche idea per DIM?</dt>
                <dd>Vieni a trovarci su <a href="http://destinyitemmanager.reddit.com" target="_blank">/r/destinyitemmanager</a> e facci sapere della tua idea. Scoprirai con noi e con la community di DIM come iterare e migliorare un'idea nel migliore dei modi.</dd>
            </dl>
<dl>
<dt>Sono uno sviluppatore/designer/entusiasta e sto cercando di contibruire al codice sorgente.</dt>
                <dd>Vieni a trovarci su <a href="https://github.com/DestinyItemManager/DIM/" target="_blank">GitHub</a> e invia un messaggio a uno dei collaboratori. Siamo più che felici di accettare "pull requests". Unisciti a noi come collaboratore e prendi parte ai nostri incontri, dove parliamo di nuove versioni, particolari aggiornamenti o bug.</dd>
            </dl>
</div>
    </div>
</div>
