.infuseDialog {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;

  small {
    font-size: 10px;
  }

  .ngdialog-inner-content {
    padding-left: 0;
    padding-right: 0;
  }

  .locked {
    position: absolute;
  }

  .bigValue {
    font-size: 32px;
    line-height: 1em;
  }

  .infuseSourceDetailsRow {
    margin-left: 1rem;
  }

  .results {
    margin-bottom: 2px;
  }

  .black {
    background-color: #222222;
  }

  .grey {
    background-color: #6D6D6D;
  }

  .green {
    color: green;
  }

  .infuseHeader {
    display: flex;
    flex-direction: row;
  }

  .infuseResults {
    flex: 1;
  }

  .infuse-selected {
    outline: 2px solid black !important;
  }

  .bestInfusion label {
    display: inline;
    margin-right: 22px;
  }

  .infuse-hidden {
    opacity: 0.35;
  }

  .infuse-excluded {
    filter: greyscale();
    opacity: 0.15;
  }

  .infuseSourceItemInfo {
    padding: 0px 0px 10px 25px;
    display: flex;
    flex-direction: row;
  }

  .infuseControls {
    padding: 0px 25px 10px 25px;
    label {
      display: block;
    }
  }

  .gearsContainer {
    width: auto;
    padding: 10px 25px;
    overflow: hidden;

    .item {
      float: left;
      margin: 3px 3px;
    }
    .infusedItem {
      float: left;
      margin: 3px 10px 3px 3px;
    }
    .plusSeparator {
      float: left;
      margin-top: 5px;
      font-size: 32px;
    }
  }
}