@use '../variables.scss' as *;

.timeline {
  width: 300px;
  margin-left: 1em;
  float: right;
  box-sizing: border-box;
  position: relative;
  border: 4px solid rgba(255, 255, 255, 0.3);

  @include phone-portrait {
    width: 100%;
    float: none;
    margin: 1em 0;
  }

  [twdiv='yes'] {
    overflow: auto;
    height: 80vh;
    background-color: black;
    @include phone-portrait {
      height: 50vh;
    }
  }
}
