@use '../variables.scss' as *;

.upgrade {
  color: $upgrade-notification-dot !important;
  font-size: 18px !important;
  margin-right: 4px;
}

.badgeNew {
  display: inline-block;
  background-color: $new-notification-dot;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin: 0 4px 0 0 !important;
  vertical-align: middle;
}
