.fa-2x {
  font-size: 2em;
}

.user-review {
  &--header {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    align-items: center;

    star-rating {
      font-size: 1.2em;
    }
  }

  &--thumbs {
    display: flex;
    margin-left: 16px;
  }

  &--thumbs-up {
    padding-right: 20px;
  }

  &--thumbs-up-button {
    color: #6dcc66;
  }

  &--thumbs-down-button {
    color: #cc6666;
  }

  &--vote-summary {
    flex: 1;
    > span {
      margin-right: 4px;
    }
    .mehroll {
      color: #ccc;
    }
    .rating-icon {
      font-size: 16px;
    }
  }
}

.review-setting-table {
  display: flex;
  flex-direction: column;
  margin: 10px;

  &--name {
    width: 75%;
    float: left;
    padding: 5px;
  }

  &--value {
    width: 20%;
    float: right;
  }
}

.community-review {
  border-top: 1px solid #444;
  margin: 10px;

  &:first-child {
    margin-top: 0;
  }

  &--reviews {
    max-height: 350px;
    overflow: auto;
  }

  &--details {
    textarea {
      height: 120px;
    }
  }

  &--message {
    text-align: center;
    margin: 20px 10px;
  }

  &--who {
    display: flex;
    padding-top: 5px;
    > *:first-child {
      flex: 1;
    }
  }

  &--who__special {
    color: gold;
  }

  &--clickable {
    cursor: pointer;
  }

  &--review {
    word-wrap: break-word;
    margin-top: 2px;
  }

  &--report-container {
    display: flex;
  }

  &--report {
    color: black;
    border-radius: 10px;
    padding: 10px 10px 10px 36px;
    margin: 10px;
    border: 1px solid #ff0000;
    background: #ff9999;
    font-size: larger;
  }

  &--report-buttons {
    display: flex;
  }

  &--report-cancel {
    margin-left: auto;
  }

  &--thumbs-down {
    color: #cc6666 !important;
    font-size: 14px;
  }

  &--thumbs-up {
    color: #6dcc66 !important;
    font-size: 14px;
  }

  &--days-ago,
  &--game-mode {
    color: hsla(0, 0%, 100%, 0.7);
    font-size: 11px;
    font-style: italic;
  }
}
