.user-review {
  &--header {
    display: flex;
    justify-content: space-between;
    margin: 10px;

    star-rating {
      font-size: 1.2em;
    }
  }

  &--thumbs {
    display: flex;
  }

  &--thumbs-up {
    padding-right: 20px;
  }

  &--thumbs-up-button {
    color: #6dcc66;
  }

  &--thumbs-down-button {
    color: #cc6666;
  }
}

.review-setting-table {
  display: flex;
  flex-direction: column;
  margin: 10px;

  &--name {
    width: 75%;
    float: left;
    padding: 5px;
  }

  &--value {
    width: 20%;
    float: right;
  }
}

.community-review {
  border-top: 1px dashed #444;
  margin: 10px;

  &--reviews {
    max-height: 350px;
    overflow: auto;
  }

  &--details {
    textarea {
      height: 120px;
    }
  }

  &--message {
    text-align: center;
    margin: 20px 10px;
  }

  &--who,
  &--procon {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
  }

  &--game-mode-for {
    display: flex;
    margin-right: 9px;
  }

  &--game-mode {
    display: flex;
    opacity: 0.9;
  }

  &--procon > *:first-child {
    margin-right: 9px;
  }

  &--who__special {
    color: gold;
  }

  &--clickable {
    cursor: pointer;
  }

  &--review {
    word-wrap: break-word;
  }

  &--report-container {
    display: flex;
  }

  &--report {
    color: black;
    border-radius: 10px;
    padding: 10px 10px 10px 36px;
    margin: 10px;
    border: 1px solid #ff0000;
    background: #ff9999;
    font-size: larger;
  }

  &--report-buttons {
    display: flex;
  }

  &--report-cancel {
    margin-left: auto;
  }

  &--thumbs-down {
    color: #cc6666 !important;
  }

  &--thumbs-up {
    color: #6dcc66 !important;
  }

  &--chart-container {
    width: 95%;
    display: flex;
  }

  &--review-chart {
    &.stats {
      border-spacing: 0 3px;

      .stat-box-row {
        margin-bottom: 3px;
      }
      .stat-box-cell {
        line-height: 10px;
      }
      .stat-box-outer {
        height: 10px;
        line-height: 10px;
      }
      .stat-box-inner {
        line-height: 10px;
      }
    }
  }
}
