<div ng-if="$ctrl.canReview == false">
  <form class="settings">
    <div ng-if="$ctrl.featureFlags.reviewsEnabled" class="review-setting-table">
      <div>
        <div class="review-setting-table--name">
          <label for="showReviews" ng-i18next="Settings.ShowReviews"></label>
          <a
            class="fa fa-question-circle stylizedAnchor"
            aria-hidden="true"
            href="https://github.com/DestinyItemManager/DIM/blob/master/docs/RATINGS.md"
            target="_blank"
            rel="noopener noreferrer"
          ></a>
        </div>
        <div class="review-setting-table--value">
          <input
            type="checkbox"
            id="showReviews"
            ng-change="$ctrl.valueChanged('showReviews')"
            ng-model="$ctrl.showReviews"
          />
        </div>
      </div>
      <div>
        <div class="review-setting-table--name">
          <label for="allowIdPostToDtr" ng-i18next="Settings.AllowIdPostToDtr"></label>
          <div>
            <label class="fineprint" ng-i18next="Settings.AllowIdPostToDtrLine2"></label>
            <a
              class="fa fa-question-circle stylizedAnchor"
              aria-hidden="true"
              href="https://github.com/DestinyItemManager/DIM/blob/master/docs/PRIVACY.md"
              target="_blank"
              rel="noopener noreferrer"
            ></a>
          </div>
        </div>
        <div class="review-setting-table--value">
          <input
            type="checkbox"
            id="allowIdPostToDtr"
            ng-change="$ctrl.valueChanged('allowIdPostToDtr')"
            ng-model="$ctrl.allowIdPostToDtr"
          />
        </div>
      </div>
    </div>
  </form>
</div>

<div
  ng-if="$ctrl.item.destinyVersion !== 2"
  class="link community-review--chart-container"
  ng-click="$ctrl.toggleChart()"
>
  <div class="collapse-handle">
    <i
      class="fa collapse"
      ng-class="$ctrl.isCollapsed ? 'fa-plus-square-o': 'fa-minus-square-o'"
    ></i>
  </div>
  <div
    ng-if="$ctrl.canCreateReview && $ctrl.shouldDrawChart()"
    class="community-review--review-chart stats"
    ng-show="!$ctrl.isCollapsed"
  >
    <div class="stat-box-row" ng-repeat="rating in $ctrl.reviewLabels track by $index">
      <span class="stat-box-text stat-box-cell"> {{ rating }} </span>
      <span class="stat-box-outer"
        ><span class="stat-box-container">
          <span
            class="stat-box-inner rating-chart-bar-color"
            dim-percent-width="{{ $ctrl.reviewData[$index] / $ctrl.totalReviews }}"
          ></span> </span
      ></span>
    </div>
  </div>
</div>

<div ng-if="$ctrl.canCreateReview" class="user-review--header">
  <span ng-i18next="DtrReview.YourReview"></span>

  <div ng-if="$ctrl.item.destinyVersion === 2" class="user-review--thumbs">
    <div class="user-review--thumbs-up link" ng-click="$ctrl.setUserVote(1)">
      <span class="user-review--thumbs-up-button">
        <i
          class="fa fa-2x"
          ng-class="{'fa-thumbs-o-up': $ctrl.item.dtrRating.userReview.voted !== 1, 'fa-thumbs-up': $ctrl.item.dtrRating.userReview.voted === 1}"
          aria-hidden="true"
        ></i>
      </span>
    </div>

    <div class="user-review--thumbs-down">
      <span class="user-review--thumbs-down-button" ng-click="$ctrl.setUserVote(-1)">
        <i
          class="fa fa-2x"
          ng-class="{'fa-thumbs-o-down': $ctrl.item.dtrRating.userReview.voted !== -1, 'fa-thumbs-down': $ctrl.item.dtrRating.userReview.voted === -1}"
          aria-hidden="true"
        ></i>
      </span>
    </div>
  </div>

  <div ng-if="$ctrl.item.destinyVersion === 1">
    <star-rating
      rating="$ctrl.item.dtrRating.userReview.rating"
      on-rating-change="$ctrl.setRating(rating)"
      ng-blur="$ctrl.reviewBlur()"
      ng-click="$event.stopPropagation()"
    ></star-rating>
  </div>

  <span ng-show="$ctrl.expandReview">
    <span class="dim-button" ng-click="$ctrl.submitReview()" ng-i18next="DtrReview.Submit"></span>
    <span class="dim-button" ng-click="$ctrl.toggleEdit()" ng-i18next="DtrReview.Cancel"></span>
  </span>
</div>

<div ng-if="$ctrl.canReview" class="community-review--details" ng-show="$ctrl.expandReview">
  <div ng-if="$ctrl.item.destinyVersion === 2" class="community-review--mode">
    <label for="reviewMode" ng-i18next="DtrReview.ForGameMode"></label>
    <select
      id="reviewMode"
      ng-model="$ctrl.item.dtrRating.userReview.mode"
      ng-options="::reviewModeOption.mode as reviewModeOption.description for reviewModeOption in $ctrl.reviewModeOptions"
    >
    </select>
  </div>
  <textarea
    ng-i18next="[placeholder]DtrReview.Help"
    ng-if="$ctrl.item.destinyVersion === 1"
    ng-model="$ctrl.item.dtrRating.userReview.review"
    ng-blur="$ctrl.reviewBlur()"
  ></textarea>
  <textarea
    ng-i18next="[placeholder]DtrReview.Help"
    ng-if="$ctrl.item.destinyVersion === 2"
    ng-model="$ctrl.item.dtrRating.userReview.text"
    ng-blur="$ctrl.reviewBlur()"
  ></textarea>
  <div ng-if="$ctrl.procon" class="community-review--procon">
    <textarea
      ng-i18next="[placeholder]DtrReview.HelpPros"
      ng-model="$ctrl.item.dtrRating.userReview.pros"
      ng-blur="$ctrl.reviewBlur()"
    ></textarea>
    <textarea
      ng-i18next="[placeholder]DtrReview.HelpCons"
      ng-model="$ctrl.item.dtrRating.userReview.cons"
      ng-blur="$ctrl.reviewBlur()"
    ></textarea>
  </div>
</div>

<div ng-if="$ctrl.canReview" class="community-review--reviews" ng-hide="$ctrl.expandReview">
  <div
    ng-if="$ctrl.submitted"
    class="community-review--message"
    ng-i18next="DtrReview.ThankYou"
  ></div>
  <div
    ng-if="!$ctrl.item.dtrRating.reviewsResponse.reviews.length && !$ctrl.submitted"
    class="community-review--message"
    ng-i18next="DtrReview.NoReviews"
  ></div>
  <div ng-if="$ctrl.procon" class="community-review--procon">
    <div>
      <div ng-i18next="DtrReview.Pros"></div>
      <div ng-repeat="pro in $ctrl.aggregate.pros" ng-bind="pro"></div>
    </div>
    <div>
      <div ng-i18next="DtrReview.Cons"></div>
      <div ng-repeat="con in $ctrl.aggregate.cons" ng-bind="con"></div>
    </div>
  </div>
  <div
    class="community-review"
    ng-repeat="review in $ctrl.item.dtrRating.reviewsResponse.reviews | filter : { isIgnored: '!true' }"
  >
    <div ng-if="$ctrl.item.destinyVersion === 1">
      <div
        ng-class="{'link community-review--clickable' : review.isReviewer}"
        ng-click="$ctrl.editReview(review.reviewId)"
      >
        <div class="community-review--who">
          <star-rating rating="review.rating" read-only></star-rating>
          <div
            ng-bind="review.reviewer.displayName"
            ng-class="{ 'community-review--who__special': review.isHighlighted }"
          ></div>
          <div ng-bind="review.timestamp | date:'mediumDate'"></div>
          <div
            ng-class="{'fa fa-pencil-square-o' : review.isReviewer,
                          'link fa fa-flag fa-2x community-review--clickable' : !review.isReviewer && !review.isHighlighted }"
            aria-hidden="true"
            ng-click="$ctrl.openFlagContext(review.reviewId)"
          ></div>
        </div>
        <div class="community-review--review" ng-bind="review.review"></div>
      </div>
      <div
        class="community-revew--report-container"
        ng-show="$ctrl.toggledFlags.indexOf(review.reviewId) != -1"
      >
        <div class="community-review--report">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          <span ng-i18next="DtrReview.VerifyReport"></span>
        </div>
        <div class="community-review--report-buttons">
          <button
            class="dim-button community-review--report-yes"
            ng-click="$ctrl.reportReview(review.reviewId); $event.stopPropagation();"
          >
            <i class="fa fa-flag" aria-hidden="true"></i>
            <span ng-i18next="DtrReview.ReallyReport"></span>
          </button>
          <button
            class="dim-button community-review--report-cancel"
            ng-click="$ctrl.closeFlagContext(review.reviewId)"
          >
            <i class="fa fa-ban" aria-hidden="true"></i> <span ng-i18next="DtrReview.Cancel"></span>
          </button>
        </div>
      </div>
    </div>
    <div ng-if="$ctrl.item.destinyVersion === 2">
      <div
        ng-class="{'link community-review--clickable' : review.isReviewer}"
        ng-click="$ctrl.editReview(review.id)"
      >
        <div class="community-review--who">
          <div ng-if="review.voted === 1">
            <span class="community-review--thumbs-up">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            </span>
          </div>
          <div ng-if="review.voted === -1">
            <span class="community-review--thumbs-down">
              <i class="fa fa-thumbs-down" aria-hidden="true"></i>
            </span>
          </div>
          <div
            ng-bind="review.reviewer.displayName"
            ng-class="{ 'community-review--who__special': review.isHighlighted }"
          ></div>
          <div ng-bind="review.timestamp | date:'mediumDate'"></div>
          <div
            ng-if="!$ctrl.item.isVendorItem"
            ng-class="{'fa fa-pencil-square-o' : review.isReviewer,
                            'link fa fa-flag fa-2x community-review--clickable' : !review.isReviewer && !review.isHighlighted }"
            aria-hidden="true"
            ng-click="$ctrl.openFlagContext(review.id)"
          ></div>
        </div>
        <div class="community-review--game-mode">
          <div class="community-review--game-mode-for" ng-i18next="DtrReview.ForGameMode"></div>
          <div
            class="community-review--game-mode"
            ng-bind="$ctrl.translateReviewMode(review)"
          ></div>
        </div>
        <div class="community-review--review" ng-bind="review.text"></div>
      </div>
      <div
        class="community-revew--report-container"
        ng-show="$ctrl.toggledFlags.indexOf(review.id) != -1"
      >
        <div class="community-review--report">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          <span ng-i18next="DtrReview.VerifyReport"></span>
        </div>
        <div class="community-review--report-buttons">
          <button
            class="dim-button community-review--report-yes"
            ng-click="$ctrl.reportReview(review.id); $event.stopPropagation();"
          >
            <i class="fa fa-flag" aria-hidden="true"></i>
            <span ng-i18next="DtrReview.ReallyReport"></span>
          </button>
          <button
            class="dim-button community-review--report-cancel"
            ng-click="$ctrl.closeFlagContext(review.id)"
          >
            <i class="fa fa-ban" aria-hidden="true"></i> <span ng-i18next="DtrReview.Cancel"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
