.user-review--header {
  display: flex;
  justify-content: space-between;
  margin: 10px;

  star-rating {
    font-size: 1.2em;
  }
}

.review-setting-table {
  display: flex-column;
  margin: 10px;

  &--name {
    width: 75%;
    float: left;
    padding: 5px;
  }

  &--value {
    width: 20%;
    float: right;
  }
}

.community-review {
  border-top: 1px dashed #444;
  margin: 10px;

  &--reviews {
    max-height: 350px;
    overflow: auto;
  }

  &--details {
    textarea {
      height: 120px;
    }
  }

  &--message {
    text-align: center;
    margin: 20px 10px;
  }

  &--who, &--procon {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    opacity: .9;
  }

  &--procon > *:first-child {
    margin-right: 9px;
  }

  &--who__special {
    color: gold;
  }

  &--clickable {
    cursor: pointer;
  }

  &--review {
    word-wrap: break-word;
  }

  &--report-container {
    display: flex;
  }

  &--report {
    color:black;
    border-radius:10px;
    padding:10px 10px 10px 36px;
    margin:10px;
    border:1px solid #ff0000;
    background: #ff9999;
    font-size: larger;
  }

  &--report-buttons {
    display: flex;
  }

  &--report-cancel {
    margin-left: auto;
  }

  &--chart-container {
    width: 95%;
    display: flex;
  }

  &--review-chart {
    &.stats {
      width: 100%;
      display: table;
      border-spacing: 0 3px;
    
      .stat-box-row {
        overflow: hidden;
        margin-bottom: 3px;
        display: table-row;
      }
      .stat-box-wrap {
        white-space: normal !important;
      }
      .stat-box-cell {
        display: table-cell;
        line-height: 10px;
        white-space: nowrap;
        vertical-align: middle;
      }
      .stat-box-text {
        padding-right: 8px;
        padding-left: 10px;
        text-align: right;
      }
      .stat-box-val {
        text-align: left;
        padding-right: 10px;
        padding-left: 5px;
      }
      .higher-stats {
        color: #7DC878;
      }
      .lower-stats {
        color: #985C58;
      }
      .stat-box-outer {
        display: table-cell;
        height: 10px;
        line-height: 10px;
        background-color: #333;
        width: 100%;
      }
      .stat-box-container {
        display: flex;
        width: 100%;
        height: 100%;
      }
      .stat-box-inner {
        display: block;
        height: 100%;
        float: left;
        line-height: 10px;
        background-color: #333;
        background-color: white;
        color: black;
        line-height: 20px;
        &.higher-stats {
          background-color: #7DC878;
        }
        &.lower-stats {
          background-color: #985C58;
        }
        &.rating-chart-bar-color {
          background-color: #E8A534;
        }
      }
    }
  }
}
