@import '../../../scss/variables.scss';

.items {
  display: flex;
  align-items: flex-start;
  width: min-content;

  :global {
    .item-drag-container {
      flex-shrink: 0;
    }

    .socket-container {
      img {
        width: 24px;
        height: 24px;
      }
    }

    .item-socket-category {
      margin-right: 0;
    }
    .sockets {
      flex-direction: column;
    }

    .item-sockets {
      flex-wrap: nowrap;
    }
    .item-socket {
      margin-right: 2px;
    }
    .item-socket-category-Reusable .item-socket {
      border: none;
      padding: 0;
    }

    .item-details {
      clear: both;
      margin: 0;
    }
  }
}

.altPerk {
  background-color: scale-color($orange, $alpha: -50%) !important;
  border: 1px solid $orange !important;
}
