@import '../../../scss/variables.scss';

.sets {
  max-width: max-content;

  @include phone-portrait {
    h2 {
      margin-right: 12px;
    }
    p {
      margin: 0 12px;
    }
  }
}

.newLoadout {
  float: right;
}

.numSets {
  font-size: 12px;
  text-transform: none;
  letter-spacing: normal;
}

.key {
  margin-right: 1em;
  &::before {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    border: 1px solid black;
    margin-right: 4px;
    vertical-align: bottom;
  }
}

.altPerkKey {
  composes: key;
  &::before {
    background-color: scale-color($orange, $alpha: -50%) !important;
    border: 1px dashed $orange !important;
  }
  color: $orange;
}

.selectedPerkKey {
  composes: key;
  &::before {
    background-color: scale-color($xp, $alpha: -50%) !important;
    border: 1px solid $xp !important;
  }
  color: $xp;
}
