@import '../../../scss/variables.scss';

.sets {
  max-width: max-content;

  @include phone-portrait {
    h2 {
      margin-right: 12px;
    }
    p {
      margin: 0 12px;
    }
  }
}

.newLoadout {
  float: right;
}

.numSets {
  font-size: 12px;
  text-transform: none;
  letter-spacing: normal;
}
