<div>
  <h1><img src="~app/images/logo-light.svg" alt="DIM Logo" height="36" width="36"/> <span ng-i18next="Views.About.Header"></span></h1>
  <div class="ngdialog-inner-content">
    <a ng-href="{{ $DIM_CHANGELOG }}" target="_blank" rel="noopener noreferrer"><span ng-i18next="[i18next]({ version: $DIM_VERSION, flavor: $DIM_FLAVOR, date: $DIM_BUILD_DATE })Views.About.Version"></span></a>
    <p ng-i18next="Views.About.HowItsMade"></p>
    <p ng-if="$DIM_FLAVOR == 'release'" ng-i18next="Views.About.ReleaseSchedule"></p>
    <p ng-if="$DIM_FLAVOR == 'beta'" ng-i18next="Views.About.BetaSchedule"></p>
    <h2 ng-i18next="Views.About.ContactUs"></h2>
    <table>
      <tr>
        <td ng-i18next="Views.About.Twitter"></td>
        <td ng-i18next="Views.About.Reddit"></td>
        <td ng-i18next="Views.About.GitHub"></td>
      </tr>
      <tr>
        <td><span ng-i18next="Views.About.TwitterHelp"></span>
          <br><a href="https://twitter.com/ThisIsDIM" target="_blank" rel="noopener noreferrer">@ThisIsDIM</a>
        </td>
        <td><span ng-i18next="Views.About.RedditHelp"></span>
          <br><a href="https://destinyitemmanager.reddit.com" target="_blank" rel="noopener noreferrer">/r/destinyitemmanager</a>
        </td>
        <td ng-i18next="[html:i18next]({ link: '<a href=\'https://github.com/DestinyItemManager/DIM/\' target=\'_blank\' rel=\'noopener noreferrer\'>GitHub</a>' })Views.About.GitHubHelp"></td>
      </tr>
    </table>
    <h2 ng-i18next="Views.About.FAQ"></h2>
    <div>
      <dl>
        <dt ng-i18next="Views.About.Translation"></dt>
        <dd ng-i18next="[html:i18next]({ link: '<a href=\'https://poeditor.com/join/project/jsZDAbfHpX\' target=\'_blank\' rel=\'noopener noreferrer\'>POEditor</a\>' })Views.About.TranslationText"></dd>
      </dl>
      <dl>
        <dt ng-i18next="Views.About.FAQAccess"></dt>
        <dd ng-i18next="Views.About.FAQAccessAnswer"></dd>
      </dl>
      <dl>
        <dt ng-i18next="Views.About.FAQLogout"></dt>
        <dd ng-i18next="Views.About.FAQLogoutAnswer"></dd>
      </dl>
      <dl>
        <dt ng-i18next="Views.About.FAQKeyboard"></dt>
        <dd ng-i18next="Views.About.FAQKeyboardAnswer"></dd>
      </dl>
      <dl>
        <dt ng-i18next="Views.About.FAQLostItem"></dt>
        <dd ng-i18next="[html:i18next]({ link: '<a href=\'https://www.bungie.net\' target=\'_blank\' rel=\'noopener noreferrer\'>Bungie.net</a>' })Views.About.FAQLostItemAnswer"></dd>
      </dl>
      <dl>
        <dt ng-i18next="Views.About.FAQDupeGally"></dt>
        <dd ng-i18next="Views.About.FAQDupeGallyAnswer"></dd>
      </dl>
    </div>
    <p ng-i18next="Views.About.BungieCopyright"></p>
  </div>
</div>
