<div ng-controller="dimSettingsCtrl as vm">
    <h1 translate="Views.About.Header"></h1>
    <div class="ngdialog-inner-content">
        <a ng-href="{{$DIM_CHANGELOG}}" target="_blank"><span translate="Views.About.Version"></span> {{$DIM_VERSION}} ({{$DIM_FLAVOR}})</a>
        <p translate="Views.About.HowItsMade"></p>
        <h2 translate="Views.About.ContactUs"></h2>
        <table>
            <tr>
                <td translate="Views.About.Twitter"></td>
                <td translate="Views.About.Reddit"></td>
                <td translate="Views.About.GitHub"></td>
            </tr>
            <tr>
                <td><span translate="Views.About.TwitterHelp"></span>
                  <br><a href="https://twitter.com/ThisIsDIM" target="_blank">@ThisIsDIM</a>
                </td>
                <td><span translate="Views.About.RedditHelp"></span>
                    <br><a href="https://destinyitemmanager.reddit.com" target="_blank">/r/destinyitemmanager</a>
                </td>
                <td><span translate="Views.About.GitHubHelp"></span>
                    <br><a href="https://github.com/DestinyItemManager/DIM/" target="_blank"><span translate="Views.About.GitHubRepo"></span></a>
                </td>
            </tr>
        </table>
        <h2 translate="Views.About.FAQ"></h2>
        <div>
            <dl>
                <dt translate="Views.About.Transifex"></dt>
                <dd><a href="https://www.transifex.com/destiny-item-manager/destiny-item-manager/" target="_blank">Transifex</a></dd>
                <dd translate="Views.About.TransifexText"></dd>
            </dl>
            <dl>
                <dt translate="Views.About.FAQAccess"></dt>
                <dd translate="Views.About.FAQAccessAnswer"></dd>
            </dl>
            <dl>
                <dt translate="Views.About.FAQLogout"></dt>
                <dd translate="Views.About.FAQLogoutAnswer"></dd>
            </dl>
            <dl>
                <dt translate="Views.About.FAQKeyboard"></dt>
                <dd translate="Views.About.FAQKeyboardAnswer"></dd>
            </dl>
            <dl>
                <dt translate="Views.About.FAQLostItem"></dt>
                <dd translate="Views.About.FAQLostItemAnswer"></dd>
            </dl>
            <dl>
                <dt translate="Views.About.FAQDupeGally"></dt>
                <dd translate="Views.About.FAQDupeGallyAnswer"></dd>
            </dl>
        </div>
        <p translate="Views.About.BungieCopyright"></p>
    </div>
</div>
