<div class="minmax" ng-controller="dimMinMaxCtrl as vm" ng-class="{ itemQuality: vm.featureFlags.qualityEnabled }">
  <back-link></back-link>
  <h1 translate="LB"></h1>

  <dim-min-max-char-select active-characters="vm.activeCharacters" selected-character="vm.selectedCharacter" on-selected-change="vm.onSelectedChange(prev, new)"></dim-min-max-char-select>

  <dim-loadout></dim-loadout>

  <p>
    <span class='dim-button' ng-click="vm.showGear=!vm.showGear" translate-values="{ class: vm.i18nClassNames[vm.active] }" translate>{{!vm.showGear ? 'LB.ShowGear' : 'LB.HideGear'}}</span>
  </p>
  <div class="section" ng-show="vm.showGear">
    <span translate="Bucket.Armor"></span>: <select ng-model='vm.type' ng-change="vm.testchange()" ng-options="val as type for (val, type) in vm.i18nItemNames"></select>
    <label>
      <input class="vendor-checkbox" type="checkbox" id="includeVendors" ng-model="vm.includeVendors" ng-change="vm.onIncludeVendorsChange()">
      <span translate="LB.Vendor"></span>
    </label>

    <div class="minmax-section">
      <div ng-repeat="item in vm.ranked[vm.type] | orderBy:'-quality.min'">
        <div class="item-container" ng-if="item.primStat.value >= 280">
          <div class="item-stats">
            <div ng-repeat="stat in item.stats track by $index" ng-init="normalStat = item.normalStats[stat.statHash]" ng-style="normalStat.qualityPercentage | qualityColor:'color'">
              <small ng-if="normalStat.scaled === 0">-</small>
              <span ng-if="normalStat.scaled > 0"><small ng-bind="normalStat.scaled"></small>/<small ng-bind="stat.split"></small></span>
            </div>
          </div>
          <dim-min-max-item shift-click-callback="vm.excludeItem" item-data="item" store-data="vm.getStore(item.owner)"></dim-min-max-item>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <p>
      <span class='dim-button locked-button' ng-click="vm.lockEquipped()" translate="LB.LockEquipped"></span>
      <span class='dim-button locked-button' ng-click="vm.clearLocked()" translate="LB.ClearLocked"></span>
      <span translate="LB.Locked"></span> - <small translate="LB.LockedHelp"></small>
    </p>
    <dim-min-max-locks class="minmax-section" locked-items="vm.lockeditems" locked-perks="vm.lockedperks" active-perks="vm.activePerks"
      i18n-item-names="vm.i18nItemNames"
      locked-items-valid="vm.lockedItemsValid($data, type)"
      on-drop="vm.onDrop($data, type)"
      on-remove="vm.onRemove(type)"
      get-store="vm.getStore(owner)"
      on-perk-locked="vm.onPerkLocked(perk, type, $event)">
    </dim-min-max-locks>
  </div>
  <div class="section" ng-show="vm.excludeditems.length">
    <p><span translate="LB.Exclude"></span> - <small translate="LB.ExcludeHelp"></small></p>
    <div class="minmax-section">
      <div class="excluded-container">
        <div drag-channel="Helmet, Gauntlets, Chest, Leg, ClassItem, Ghost, Artifact" drop-channel="Helmet, Gauntlets, Chest, Leg, ClassItem, Ghost, Artifact" ui-on-drop="vm.onExcludedDrop($data, $channel)" drop-validate="vm.excludedItemsValid($data, $channel)">
          <div class="excluded-items">
            <div class="excluded-item" ng-repeat="excludeditem in vm.excludeditems track by excludeditem.index">
              <dim-min-max-item item-data="excludeditem" store-data="vm.getStore(excludeditem.owner)"></dim-min-max-item>
              <div class="close" ng-click="vm.onExcludedRemove(excludeditem.index)" role="button" tabindex="0"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>
  </p>
  <div ng-show="vm.progress >= 1 && vm.hasSets">
    <p><span translate="LB.FilterSets"></span> (<span translate="Stats.Intellect"></span>/<span translate="Stats.Discipline"></span>/<span translate="Stats.Strength"></span>):
      <select ng-model='vm.activesets' ng-change="vm.onActiveSetsChange()" ng-options="val disable when val.charAt(0) == '-' for val in vm.allSetTiers"></select>
      <span class="dim-button" ng-click='vm.showAdvanced=!vm.showAdvanced;vm.showHelp=false' translate="LB.AdvancedOptions"></span>
      <span class="dim-button" ng-click='vm.showHelp=!vm.showHelp;vm.showAdvanced=false' translate="LB.Help"></span>
      <span><div ng-show="vm.showAdvanced">
        <p>
          <label>
            <select ng-model="vm.fullMode" ng-change="vm.onModeChange()" ng-options="(item ? 'LB.ProcessingMode.Full' : 'LB.ProcessingMode.Fast') | translate for item in [false, true]">
            </select>
            <span translate="LB.ProcessingMode"></span>
          </label>
          <small>-
            <span ng-hide="vm.fullMode" translate="LB.ProcessingMode.HelpFast"></span>
            <span ng-show="vm.fullMode" translate="LB.ProcessingMode.HelpFull"></span></small>
        </p>
        <p>
          <label>
            <select ng-model="vm.scaleType" ng-change="vm.onModeChange()">
              <option ng-if="vm.featureFlags.qualityEnabled" value="scaled" translate="LB.Scaled"></option>
              <option value="base" translate="LB.Current"></option>
            </select>
            <span translate="LB.LightMode"></span>
          </label>
          <small>-
            <span ng-show="vm.scaleType === 'scaled'" translate="LB.LightMode.HelpScaled"></span>
            <span ng-show="vm.scaleType === 'base'" translate="LB.LightMode.HelpCurrent"></span></small>
        </p>
        <p>
          <label>
            <input id="includeRares" type="checkbox" ng-model="vm.showBlues" ng-change="vm.onModeChange()">
            <span translate="LB.IncludeRare"></span>
          </label>
        </p>
      </div></span>
      <span><div ng-show="vm.showHelp">
        <ul>
          <li translate="LB.Help.Lock"></li>
          <ul>
            <li translate="LB.Help.NoPerk"></li>
            <li translate="LB.Help.MultiPerk"></li>
            <li><div class="example ex-or"></div> - <span translate="LB.Help.Or"></span></li>
            <li><div class="example ex-and"></div> - <span translate="LB.Help.And"></span></li>
          </ul>
          <li translate="LB.Help.DragAndDrop"></li>
          <li translate="LB.Help.ShiftClick"></li>
          <li translate="LB.Help.HigherTiers"></li>
          <ul>
            <li translate="LB.Help.Tier11Example"></li>
            <li translate="LB.Help.Intellect"></li>
            <li translate="LB.Help.Discipline"></li>
            <li translate="LB.Help.Strength"></li>
          </ul>
          <li translate="LB.Help.Synergy"></li>
          <li translate="LB.Help.ChangeNodes"></li>
          <li translate="LB.Help.StatsIncrease"></li>
        </ul>
      </div></span>
    </p>
  </div>
  <div ng-show="vm.progress >= 1 && !vm.hasSets">
    <p ng-show="!vm.showBlues" translate="LB.Missing1"></p>
    <p ng-show="vm.showBlues" translate="LB.Missing2"></p>
    <p>
      <label>
        <input class="includeRares" type="checkbox" ng-model="vm.showBlues" ng-change="vm.onModeChange()">
        <span translate="LB.IncludeRare"></span>
      </label>
    </p>
  </div>
  <div ng-show="vm.progress < 1 && vm.hasSets">
    <p><span translate="LB.Loading"></span> <span>({{vm.progress*100 | number:2}}%)</span></p>
  </div>
  <div ng-show="vm.progress >= 1">
    <div class="section loadout" ng-repeat="setType in vm.activeHighestSets">
      <div><dim-stats stats="setType.tiers[vm.activesets].stats"></dim-stats><span class='dim-button' ng-click="vm.newLoadout(setType.set)" translate="Loadouts.Create"></span><span class='dim-button equip-button' ng-click="vm.equipItems(setType.set)" translate="LB.Equip"></span></div>
      <div class="minmax-section">
        <div class="set-item" ng-repeat="armorpiece in setType.set.armor">
          <dim-min-max-item shift-click-callback="vm.excludeItem" item-data="armorpiece.item" store-data="vm.getStore(armorpiece.item.owner)"></dim-min-max-item>
          <dim-talent-grid class="smaller" talent-grid="armorpiece.item.talentGrid" perks-only="true"></dim-talent-grid>
          <div class="label"><small translate="{{setType.tiers[vm.activesets].configs[0][armorpiece.item.type] === 'int'? 'Stats.Intellect': setType.tiers[vm.activesets].configs[0][armorpiece.item.type] === 'dis'? 'Stats.Discipline' : setType.tiers[vm.activesets].configs[0][armorpiece.item.type] === 'str'? 'Stats.Strength' : 'Stats.NoBonus'}}"></small></div>
          <div class="other-configs" ng-if="$index > 0" ng-show="collapsedConfigs[$parent.$parent.$parent.$index]" ng-repeat="config in setType.tiers[vm.activesets].configs">
            <small translate="{{config[armorpiece.item.type] === 'int'? 'Stats.Intellect' : config[armorpiece.item.type] === 'dis'? 'Stats.Discipline' : config[armorpiece.item.type] === 'str'? 'Stats.Strength' : 'Stats.NoBonus'}}"></small>
          </div>
        </div>
      </div>
      <div ng-show="setType.tiers[vm.activesets].configs.length > 1" class="expand-configs" ng-model="collapsedConfigs[$index]" ng-click="collapsedConfigs[$index]=!collapsedConfigs[$index]">
        <div ng-show="!collapsedConfigs[$index]"><span translate-attr="{ title: 'LB.ShowConfigs'}"><i class="fa fa-caret-right"></i></span> <span translate="LB.ShowAllConfigs"></span></div>
        <div ng-show="collapsedConfigs[$index]"><span translate-attr="{ title: 'LB.HideConfigs'}"><i class="fa fa-caret-up"></i></span> <span translate="LB.HideAllConfigs"></span></div>
      </div>
    </div>
  </div>
</div>
