<div>
  <p>v3.16 - Make Room for Postmaster</p>
  <p>We have a walk through of the <a href="https://www.youtube.com/watch?v=lFl-7crEuOw&feature=youtu.be&list=PLcZ0JmnRQrWjg4TqrcGFcMWjgz9txfhRC" target="_blank">Compare Items feature on YouTube</a>.  There are several other walk throughs in the collection.</p>
  <p>What's new in this release...</p>
  <ul class="changelog-toaster">
    <li>A new "Make room for Postmaster items" auto layout will clear out enough space on your character to pick up all the stuff you've accumulated at the Postmaster.</li>
    <li>Vendor items now explain what you need to do to get them.</li>
    <li>Resolved issues with Loadouts not transfering unequipable items.</li>
    <li>Compare tool will highlight item in your inventory when clicking on its name.</li>
    <li>Added stat search, for example: "stat:rof:>= 22".</li>
  </ul>
  <p>View the <a href="https://github.com/DestinyItemManager/DIM/blob/master/CHANGELOG.md" target="_blank">changelog</a> for
    the full set.</p>
  <p>Follow us on: <a style="margin: 0 5px;" href="http://destinyitemmanager.reddit.com" target="_blank"><i class="fa fa-reddit fa-2x"></i></a>    <a style="margin: 0 5px;" href="http://twitter.com/ThisIsDIM" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></p>
</div>
