<div>
  <p>v4.42.0</p>
  <ul class="changelog-toaster">
<li>Compare tool shows ratings, and handles missing stats better.</li>
<li>Fixed display of masterwork mod and ornaments.</li>
<li>Remove Auras from inventory since they're part of Emblems now.</li>
<li>Fancy new emblems show all their counters correctly.</li>
<li>Improved moving mods, shaders, and consumables via search loadouts. They can now go to any character (not just the active one) and aren't limited to 9 items.</li>
<li>Pausing over a drop zone to trigger the move-amount dialog works every time now, not just the first time.</li>
  </ul>
  <p>View the <a href="https://github.com/DestinyItemManager/DIM/blob/master/docs/CHANGELOG.md" target="_blank" rel="noopener noreferrer">changelog</a> for
    the full history.</p>
  <p>Follow us on: <a style="margin: 0 5px;" href="http://destinyitemmanager.reddit.com" target="_blank" rel="noopener noreferrer"><i class="fa fa-reddit fa-2x"></i></a>
  <a style="margin: 0 5px;" href="http://twitter.com/ThisIsDIM" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></p>
</div>

