<div>
  <p>v3.18.0 - On The Record Update</p>
  <p>Ben Hollis has updated Record Books in DIM and pulled them into their own page. It should help the completionist among you.</p>
  <ul class="changelog-toaster">
    <li>Fix "Make room for postmaster".</li>
    <li>Record books have been moved out of the inventory into their own page. Get a better look at your records, collapse old books, and narrow records down to only those left to complete.</li>
    <li>Fix changing new-item shine, item quality display, and show elemental damage icon preferences. They should apply immediately now, without a reload.</li>
  </ul>
  <p>View the <a href="https://github.com/DestinyItemManager/DIM/blob/master/CHANGELOG.md" target="_blank">changelog</a> for
    the full set.</p>
  <p>Follow us on: <a style="margin: 0 5px;" href="http://destinyitemmanager.reddit.com" target="_blank"><i class="fa fa-reddit fa-2x"></i></a>    <a style="margin: 0 5px;" href="http://twitter.com/ThisIsDIM" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></p>
</div>
