<div>
  <p>v4.19.0</p>
  <ul class="changelog-toaster">
<li>Added `stack:` to search filters for easier maintenance of modifications.</li>
<li>Add missing type filters for D2 (try `is:modifications`)!</li>
<li>Bring back keyboard shortcuts for tagging (hit ? to see them all).</li>
<li>The "Max Light" calculation is even more accurate now.</li>
<li>Added `PowerMod` column to CSV export indicating whether or not a weapon or piece of armor has a power mod</li>
<li>Support sorting by base power.</li>
<li>Hide "split" and "take" button for D2 consumables.</li>
<li>OK really really fix the vault count.</li>
<li>Fix showing item popup for some D1 items.</li>
<li>Changed how we do Google Drive log-in - it should be smoother on mobile.</li>
<li>Completed objectives will now show as "complete".</li>
<li>Bring back the yellow triangle for current character on mobile.</li>
<li>Updated `is:dupelower` search filter for items to tie break by primary stat.</li>
  </ul>
  <p>View the <a href="https://github.com/DestinyItemManager/DIM/blob/master/docs/CHANGELOG.md" target="_blank" rel="noopener noreferrer">changelog</a> for
    the full history.</p>
  <p>Follow us on: <a style="margin: 0 5px;" href="http://destinyitemmanager.reddit.com" target="_blank" rel="noopener noreferrer"><i class="fa fa-reddit fa-2x"></i></a>
  <a style="margin: 0 5px;" href="http://twitter.com/ThisIsDIM" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></p>
</div>

