<div class="debugItem" ng-controller="dimDebugItemCtrl as vm">
  <back-link></back-link>

  <div class="section" ng-if="vm.item">
    <div dim-move-item-properties="vm.fullItem"></div>

    <p>Hash: <a href="http://db.destinytracker.com/inventory/item/{{ vm.item.hash }}#{{ vm.item.talentGrid.dtrPerks }}">{{vm.item.hash}}</a></p>
    <h2>Item JSON (as it appears from Bungie's API):</h2>
    <p ng-if="!vm.originalItem">Enable debug mode (ctrl+alt+shift+d) and refresh items to see this.</p>
    <pre>{{vm.originalItem | json}}</pre>
    <h2>Item Definition JSON (from Manifest):</h2>
    <pre>{{vm.definition | json}}</pre>
    <h2>DIM Item JSON (after processing):</h2>
    <pre>{{vm.item | json}}</pre>
  </div>
</div>
