<div id="filter-view" ng-controller="dimSettingsCtrl as vm">
  <h1 ng-i18next="Header.Filters"></h1>
  <div class="ngdialog-inner-content">
    <p ng-i18next="Filter.ClickFilters"></p>
    <p ng-i18next="[i18next]({ example: 'is:arc light:>300', not: 'not:', notexample: 'not:engram' })Filter.Combine"></p>
    <table>
      <tr>
        <td ng-i18next="Filter.Filter"></td>
        <td ng-i18next="Filter.Description"></td>
      </tr>
      <tr>
        <td>
          <dim-filter-link filter="item name"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.PartialMatch"></td>
      </tr>
      <tr>
        <td>
          <dim-filter-link filter="is:arc"></dim-filter-link>
          <dim-filter-link filter="is:solar"></dim-filter-link>
          <dim-filter-link filter="is:void"></dim-filter-link>
          <dim-filter-link filter="is:kinetic"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.DamageType"></td>
      </tr>
      <tr>
        <td>
          <dim-filter-link filter="light:value"></dim-filter-link>
          <dim-filter-link filter="light:&gt;=value"></dim-filter-link>
          <dim-filter-link filter="light:&gt;value"></dim-filter-link>
          <dim-filter-link filter="light:&lt;value"></dim-filter-link>
          <dim-filter-link filter="light:&lt;=value"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.LightLevel"></td>
      </tr>
      <tr>
        <td>
          <dim-filter-link filter="stack:value"></dim-filter-link>
          <dim-filter-link filter="stack:&gt;=value"></dim-filter-link>
          <dim-filter-link filter="stack:&gt;value"></dim-filter-link>
          <dim-filter-link filter="stack:&lt;value"></dim-filter-link>
          <dim-filter-link filter="stack:&lt;=value"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.StackLevel"></td>
      </tr>
      <tr>
        <td>
          <dim-filter-link filter="level:value"></dim-filter-link>
          <dim-filter-link filter="level:&gt;=value"></dim-filter-link>
          <dim-filter-link filter="level:&gt;value"></dim-filter-link>
          <dim-filter-link filter="level:&lt;value"></dim-filter-link>
          <dim-filter-link filter="level:&lt;=value"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.RequiredLevel"></td>
      </tr>
      <tr>
        <td>
          <dim-filter-link filter="stat:impact:value"></dim-filter-link>
          <dim-filter-link filter="stat:impact:&gt;=value"></dim-filter-link>
          <dim-filter-link filter="stat:impact:&gt;value"></dim-filter-link>
          <dim-filter-link filter="stat:impact:&lt;value"></dim-filter-link>
          <dim-filter-link filter="stat:impact:&lt;=value"></dim-filter-link>
        </td>
        <td><span ng-i18next="Filter.Stats"></span>
          <ul>
            <li ng-if="vm.settings.destinyVersion === 2">stat:rpm:</li>
            <li ng-if="vm.settings.destinyVersion === 1">stat:rof:</li>
            <li>stat:charge:</li>
            <li>stat:impact:</li>
            <li>stat:range:</li>
            <li>stat:stability:</li>
            <li>stat:reload:</li>
            <li>stat:magazine:</li>
            <li>stat:aimassist: or stat:aa:</li>
            <li>stat:equipspeed:</li>
          </ul>
        </td>
      </tr>
      <tr ng-if="vm.settings.destinyVersion === 1">
        <td>
          <dim-filter-link filter="quality:value"></dim-filter-link>
          <dim-filter-link filter="quality:&gt;=value"></dim-filter-link>
          <dim-filter-link filter="quality:&gt;value"></dim-filter-link>
          <dim-filter-link filter="quality:&lt;value"></dim-filter-link>
          <dim-filter-link filter="quality:&lt;=value"></dim-filter-link>
        </td>
        <td ng-i18next="[i18next]({ percentage: 'percentage', quality: 'quality' })Filter.Quality"></td>
      </tr>
      <tr>
        <td>
          <dim-filter-link filter="is:light"></dim-filter-link>
          <dim-filter-link filter="has:light"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.ContributeLight"></td>
      </tr>
      <tr>
        <td>
          <dim-filter-link filter="is:weapon"></dim-filter-link>
          <dim-filter-link filter="is:armor"></dim-filter-link>
          <dim-filter-link ng-if="vm.settings.destinyVersion === 1" filter="is:cosmetic"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.Categories"></td>
      </tr>
      <tr>
        <td>
          <dim-filter-link filter="is:equipment"></dim-filter-link>
          <dim-filter-link filter="is:equippable"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.Equipment"></td>
      </tr>
      <tr>
        <td>
          <dim-filter-link filter="is:transferable"></dim-filter-link>
          <dim-filter-link filter="is:movable"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.Transferable"></td>
      </tr>
      <tr>
        <td>
          <dim-filter-link filter="is:equipped"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.Equipped"></td>
      </tr>
      <tr>
        <td>
          <dim-filter-link filter="is:weapon"></dim-filter-link>
          <dim-filter-link filter="is:class"></dim-filter-link>
          <dim-filter-link ng-if="vm.settings.destinyVersion === 1" filter="is:primary"></dim-filter-link>
          <dim-filter-link ng-if="vm.settings.destinyVersion === 1" filter="is:special"></dim-filter-link>
          <dim-filter-link ng-if="vm.settings.destinyVersion === 1" filter="is:heavy"></dim-filter-link>
          <dim-filter-link ng-if="vm.settings.destinyVersion === 2" filter="is:kinetic"></dim-filter-link>
          <dim-filter-link ng-if="vm.settings.destinyVersion === 2" filter="is:energy"></dim-filter-link>
          <dim-filter-link ng-if="vm.settings.destinyVersion === 2" filter="is:power"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.WeaponClass"></td>
      </tr>
      <tr>
        <td>
          <dim-filter-link filter="is:armor"></dim-filter-link>
          <dim-filter-link filter="is:helmet"></dim-filter-link>
          <dim-filter-link filter="is:gauntlets"></dim-filter-link>
          <dim-filter-link filter="is:chest"></dim-filter-link>
          <dim-filter-link filter="is:leg"></dim-filter-link>
          <dim-filter-link filter="is:classitem"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.ArmorCategory"></td>
      </tr>
      <tr>
        <td>
          <dim-filter-link filter="is:common"></dim-filter-link>
          <dim-filter-link filter="is:uncommon"></dim-filter-link>
          <dim-filter-link filter="is:rare"></dim-filter-link>
          <dim-filter-link filter="is:legendary"></dim-filter-link>
          <dim-filter-link ng-if="vm.settings.destinyVersion === 1" filter="is:sublime"></dim-filter-link>
          <dim-filter-link filter="is:exotic"></dim-filter-link>
          <dim-filter-link filter="is:white"></dim-filter-link>
          <dim-filter-link filter="is:green"></dim-filter-link>
          <dim-filter-link filter="is:blue"></dim-filter-link>
          <dim-filter-link filter="is:purple"></dim-filter-link>
          <dim-filter-link filter="is:yellow"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.RarityTier"></td>
      </tr>

      <tr ng-if="vm.settings.destinyVersion === 2">
        <td>
          <dim-filter-link filter="is:powermod"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.PowerMod"></td>
      </tr>
      <tr ng-if="vm.settings.destinyVersion === 1">
        <td>
          <dim-filter-link filter="is:intellect"></dim-filter-link>
          <dim-filter-link filter="is:discipline"></dim-filter-link>
          <dim-filter-link filter="is:strength"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.NamedStat"></td>
      </tr>
      <tr>
        <td>
          <dim-filter-link filter="is:infusable"></dim-filter-link>
          <dim-filter-link filter="is:infuse"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.Infusable"></td>
      </tr>
      <tr ng-if="vm.settings.destinyVersion === 1">
        <td>
          <dim-filter-link filter="is:ascended"></dim-filter-link>
          <dim-filter-link filter="is:unascended"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.Ascended"></td>
      </tr>
      <tr ng-if="vm.settings.destinyVersion === 1">
        <td>
          <dim-filter-link filter="is:reforgeable"></dim-filter-link>
          <dim-filter-link filter="is:reforge"></dim-filter-link>
          <dim-filter-link filter="is:rerollable"></dim-filter-link>
          <dim-filter-link filter="is:reroll"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.Reforgeable"></td>
      </tr>
      <tr ng-if="vm.settings.destinyVersion === 1">
        <td>
          <dim-filter-link filter="is:complete"></dim-filter-link>
          <dim-filter-link filter="is:incomplete"></dim-filter-link>
          <dim-filter-link filter="is:xpincomplete, is:needsxp"></dim-filter-link>
          <dim-filter-link filter="is:xpcomplete"></dim-filter-link>
          <dim-filter-link filter="is:upgraded"></dim-filter-link>
        </td>
        <td><span ng-i18next="Filter.Leveling.Leveling"></span>
          <ul>
            <li ng-i18next="[i18next]({ term: 'complete' })Filter.Leveling.Complete"></li>
            <li ng-i18next="[i18next]({ term: 'incomplete' })Filter.Leveling.Incomplete"></li>
            <li ng-i18next="[i18next]({ term: 'xpincomplete/needsxp' })Filter.Leveling.NeedsXP"></li>
            <li ng-i18next="[i18next]({ term: 'xpcomplete' })Filter.Leveling.XPComplete"></li>
            <li ng-i18next="[i18next]({ term: 'upgraded' })Filter.Leveling.Upgraded"></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <dim-filter-link filter="is:titan"></dim-filter-link>
          <dim-filter-link filter="is:hunter"></dim-filter-link>
          <dim-filter-link filter="is:warlock"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.Class"></td>
      </tr>
      <tr>
        <td>
          <dim-filter-link filter="is:dupe"></dim-filter-link>
          <dim-filter-link filter="is:duplicate"></dim-filter-link>
          <dim-filter-link filter="is:dupelower"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.Dupe"></td>
      </tr>
      <tr>
        <td>
          <dim-filter-link filter="is:locked"></dim-filter-link>
          <dim-filter-link filter="is:unlocked"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.Locked"></td>
      </tr>
      <tr ng-if="vm.settings.destinyVersion === 1">
        <td>
          <dim-filter-link filter="is:tracked"></dim-filter-link>
          <dim-filter-link filter="is:untracked"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.Tracked"></td>
      </tr>
      <tr>
        <td>
          <dim-filter-link filter="is:stackable"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.Stackable"></td>
      </tr>
      <tr>
        <td>
          <dim-filter-link filter="is:pulserifle"></dim-filter-link>
          <dim-filter-link filter="is:scoutrifle"></dim-filter-link>
          <dim-filter-link filter="is:handcannon"></dim-filter-link>
          <dim-filter-link filter="is:autorifle"></dim-filter-link>
          <dim-filter-link filter="is:sniperrifle"></dim-filter-link>
          <dim-filter-link filter="is:shotgun"></dim-filter-link>
          <dim-filter-link filter="is:fusionrifle"></dim-filter-link>
          <dim-filter-link filter="is:sidearm"></dim-filter-link>
          <dim-filter-link filter="is:rocketlauncher"></dim-filter-link>
          <dim-filter-link ng-if="vm.settings.destinyVersion === 1" filter="is:machinegun"></dim-filter-link>
          <dim-filter-link filter="is:sword"></dim-filter-link>
          <dim-filter-link ng-if="vm.settings.destinyVersion === 1" filter="is:primaryweaponengram"></dim-filter-link>
          <dim-filter-link ng-if="vm.settings.destinyVersion === 1" filter="is:specialweaponengram"></dim-filter-link>
          <dim-filter-link ng-if="vm.settings.destinyVersion === 1" filter="is:heavyweaponengram"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.WeaponType"></td>
      </tr>
      <tr>
        <td>
          <dim-filter-link filter="is:engram"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.Engrams"></td>
      </tr>
      <tr ng-if="vm.settings.destinyVersion === 1">
        <td>
          <dim-filter-link filter="is:glimmeritem"></dim-filter-link>
          <dim-filter-link filter="is:glimmerboost"></dim-filter-link>
          <dim-filter-link filter="is:glimmersupply"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.Glimmer.Glimmer">
          <ul>
            <li ng-i18next="Filter.Glimmer.Any"></li>
            <li ng-i18next="Filter.Glimmer.Boost"></li>
            <li ng-i18next="Filter.Glimmer.Item"></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <dim-filter-link filter="is:new"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.NewItems"></td>
      </tr>
      <span ng-if="vm.featureFlags.tagsEnabled">
        <tr>
          <td>
            <dim-filter-link filter="tag:none"></dim-filter-link>
            <dim-filter-link filter="tag:favorite"></dim-filter-link>
            <dim-filter-link filter="tag:keep"></dim-filter-link>
            <dim-filter-link filter="tag:junk"></dim-filter-link>
            <dim-filter-link filter="tag:infuse"></dim-filter-link>
          </td>
          <td><ul>
            <li ng-i18next="Filter.Tags.NoTag"></li>
            <li ng-i18next="Filter.Tags.Favorite"></li>
            <li ng-i18next="Filter.Tags.Keep"></li>
            <li ng-i18next="Filter.Tags.Dismantle"></li>
            <li ng-i18next="Filter.Tags.Infuse"></li>
          </ul></td>
        </tr>
        <tr>
          <td>
            <dim-filter-link filter="notes:value"></dim-filter-link>
          </td>
          <td ng-i18next="Filter.Notes"></td>
        </tr>
      </span>
      <span ng-if="vm.featureFlags.reviewsEnabled">
        <tr>
          <td>
            <dim-filter-link filter="is:rated"></dim-filter-link>
          </td>
          <td ng-i18next="Filter.Rated"></td>
        </tr>
        <tr>
          <td>
            <dim-filter-link filter="rating:value"></dim-filter-link>
            <dim-filter-link filter="rating:&gt;=value"></dim-filter-link>
            <dim-filter-link filter="rating:&gt;value"></dim-filter-link>
            <dim-filter-link filter="rating:&lt;value"></dim-filter-link>
            <dim-filter-link filter="rating:&lt;=value"></dim-filter-link>
          </td>
          <td ng-i18next="Filter.Rating"></td>
        </tr>
      </span>
      <tr ng-if="vm.settings.destinyVersion === 1">
        <td>
          <dim-filter-link filter="is:year1"></dim-filter-link>
          <dim-filter-link filter="is:year2"></dim-filter-link>
          <dim-filter-link filter="is:year3"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.Year"></td>
      </tr>
      <tr>
        <td>
          <dim-filter-link filter="is:inloadout"></dim-filter-link>
          <dim-filter-link filter="not:inloadout"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.InLoadout"></td>
      </tr>
    <tr ng-if="vm.settings.destinyVersion === 1">
      <td>
        <dim-filter-link filter="is:ornament"></dim-filter-link>
        <dim-filter-link filter="is:ornamentmissing"></dim-filter-link>
        <dim-filter-link filter="is:ornamentunlocked"></dim-filter-link>
      </td>
      <td ng-i18next="Filter.Ornament"></td>
    </tr>
      <tr>
        <td>
          <dim-filter-link filter="is:postmaster"></dim-filter-link>
          <dim-filter-link filter="is:inpostmaster"></dim-filter-link>
        </td>
        <td ng-i18next="Filter.Postmaster"></td>
      </tr>
      <tr ng-if="vm.settings.destinyVersion === 1">
        <td>
          <dim-filter-link filter="is:fwc"></dim-filter-link>
          <dim-filter-link filter="is:do"></dim-filter-link>
          <dim-filter-link filter="is:nm"></dim-filter-link>
          <dim-filter-link filter="is:speaker"></dim-filter-link>
          <dim-filter-link filter="is:variks"></dim-filter-link>
          <dim-filter-link filter="is:shipwright"></dim-filter-link>
          <dim-filter-link filter="is:osiris"></dim-filter-link>
          <dim-filter-link filter="is:xur"></dim-filter-link>
          <dim-filter-link filter="is:shaxx"></dim-filter-link>
          <dim-filter-link filter="is:cq"></dim-filter-link>
          <dim-filter-link filter="is:eris"></dim-filter-link>
          <dim-filter-link filter="is:ev"></dim-filter-link>
          <dim-filter-link filter="is:gunsmith"></dim-filter-link>
        </td>
        <td>
          <span ng-i18next="[html:i18next]({ vendor: vm.filters.vendors.FWC, context: 'noname' })Filter.Vendor"></span>
          <span ng-i18next="[html:i18next]({ vendor: vm.filters.vendors.DO, context: 'noname' })Filter.Vendor"></span>
          <span ng-i18next="[html:i18next]({ vendor: vm.filters.vendors.NM, context: 'noname' })Filter.Vendor"></span>
          <span ng-i18next="[html:i18next]({ vendor: vm.filters.vendors.Speaker, context: 'noname' })Filter.Vendor"></span>
          <span ng-i18next="[html:i18next]({ vendor: 'Variks', context: 'noname' })Filter.Vendor"></span>
          <span ng-i18next="[html:i18next]({ vendor: vm.filters.vendors.Shipwright, name: '(Amanda Holliday)' })Filter.Vendor"></span>
          <span ng-i18next="[html:i18next]({ vendor: 'Osiris', context: 'noname' })Filter.Vendor"></span>
          <span ng-i18next="[html:i18next]({ vendor: 'Xûr', context: 'noname' })Filter.Vendor"></span>
          <span ng-i18next="[html:i18next]({ vendor: 'Shaxx', context: 'noname' })Filter.Vendor"></span>
          <span ng-i18next="[html:i18next]({ vendor: vm.filters.vendors.CQ, name: '(Arcite-99)' })Filter.Vendor"></span>
          <span ng-i18next="[html:i18next]({ vendor: 'Eris Morn', context: 'noname' })Filter.Vendor"></span>
          <span ng-i18next="[html:i18next]({ vendor: vm.filters.vendors.EV, name: '(Tess Everis)' })Filter.Vendor"></span>
          <span ng-i18next="[html:i18next]({ vendor: vm.filters.vendors.Gunsmith, name: '(Banshee-44)' })Filter.Vendor"></span>
        </td>
      </tr>
      <tr ng-if="vm.settings.destinyVersion === 1">
        <td>
          <dim-filter-link filter="is:vanilla"></dim-filter-link>
          <dim-filter-link filter="is:qw"></dim-filter-link>
          <dim-filter-link filter="is:ib"></dim-filter-link>
          <dim-filter-link filter="is:vog"></dim-filter-link>
          <dim-filter-link filter="is:ce"></dim-filter-link>
          <dim-filter-link filter="is:poe"></dim-filter-link>
          <dim-filter-link filter="is:trials"></dim-filter-link>
          <dim-filter-link filter="is:ttk"></dim-filter-link>
          <dim-filter-link filter="is:coe"></dim-filter-link>
          <dim-filter-link filter="is:kf"></dim-filter-link>
          <dim-filter-link filter="is:srl"></dim-filter-link>
          <dim-filter-link filter="is:cd"></dim-filter-link>
          <dim-filter-link filter="is:roi"></dim-filter-link>
          <dim-filter-link filter="is:af"></dim-filter-link>
          <dim-filter-link filter="is:wotm"></dim-filter-link>
          <dim-filter-link filter="is:dawning"></dim-filter-link>
          <dim-filter-link filter="is:aot"></dim-filter-link>
        </td>
        <td>
          <span ng-i18next="[html:i18next]({ release: vm.filters.releases.Vanilla })Filter.Release"></span>
          <span ng-i18next="[html:i18next]({ activity: vm.filters.activities.QW })Filter.Activity"></span>
          <span ng-i18next="[html:i18next]({ activity: vm.filters.activities.IB })Filter.Activity"></span>
          <span ng-i18next="[html:i18next]({ activity: vm.filters.activities.VoG })Filter.Activity"></span>
          <span ng-i18next="[html:i18next]({ activity: vm.filters.activities.CE })Filter.Activity"></span>
          <span ng-i18next="[html:i18next]({ activity: vm.filters.activities.PoE })Filter.Activity"></span>
          <span ng-i18next="[html:i18next]({ activity: vm.filters.activities.ToO })Filter.Activity"></span>
          <span ng-i18next="[html:i18next]({ release: vm.filters.releases.tTK })Filter.Release"></span>
          <span ng-i18next="[html:i18next]({ activity: vm.filters.activities.CoE })Filter.Activity"></span>
          <span ng-i18next="[html:i18next]({ activity: vm.filters.activities.KF })Filter.Activity"></span>
          <span ng-i18next="[html:i18next]({ activity: vm.filters.activities.SRL })Filter.Activity"></span>
          <span ng-i18next="[html:i18next]({ activity: vm.filters.activities.CD })Filter.Activity"></span>
          <span ng-i18next="[html:i18next]({ release: vm.filters.releases.RoI })Filter.Release"></span>
          <span ng-i18next="[html:i18next]({ activity: vm.filters.activities.AF })Filter.Activity"></span>
          <span ng-i18next="[html:i18next]({ activity: vm.filters.activities.WotM })Filter.Activity"></span>
          <span ng-i18next="[html:i18next]({ activity: vm.filters.activities.Dawning })Filter.Activity"></span>
          <span ng-i18next="[html:i18next]({ activity: vm.filters.activities.AoT })Filter.Activity"></span>
        </td>
      </tr>
    </table>
  </div>
</div>
