<div class="infuseDialog" ng-controller="dimInfuseCtrl as vm" dim-click-anywhere-but-here="vm.closeDialog()">
  <h1 translate="Infusion"></h1>
  <div class="ngdialog-inner-content">
  <div class="infuseHeader">

    <div class="infuseSourceItemInfo">
      <dim-simple-item class="infuseSourceItem" item-data="vm.source"></dim-simple-item>

      <div class="infuseSourceDetailsRow">
        <div><strong>{{vm.source.name}}</strong></div>
        <div>{{vm.source.type}}</div>
      </div>

      <div class="infuseSourceDetailsRow">
        <div>{{vm.stat.statName}}</div>
        <div class="bigValue">{{vm.source.primStat.value}}</div>
      </div>
    </div>

    <div class="infuseControls">
      <label><input class="controls" type="checkbox" id="infuse-all" ng-model="vm.getAllItems" ng-change="vm.getItems()"><span translate="Infusion.ShowItems"></span></label>
      <label><input class="controls" type="checkbox" id="infuse-locked" ng-model="vm.showLockedItems" ng-change="vm.getItems()"><span translate="Infusion.LockedItems"></span></label>
    </div>
  </div>

  <div class="gearsContainer grey infuseTargets">
    <span ng-if="!vm.infusable.length"><strong translate="Infusion.NoItems"></strong></span>
    <span ng-if="vm.infusable.length" translate="Infusion.InfuseItems"></span>
    <div ng-repeat="value in vm.infusable track by value.index">
      <dim-simple-item ng-class="{ 'infuse-selected': value == vm.target }" item-data="value" ng-click="vm.selectItem(value, $event)"></dim-simple-item>
    </div>
  </div>

  <div class="gearsContainer black">
    <div ng-show="vm.infused != 0">
      <dim-simple-item class="infusedItem" item-data="vm.target"></dim-simple-item>
      <div class="result">
        <span translate="Infusion.BringGear"></span>
        <span class="bigValue">{{vm.infused}}</span>
        <span class="green">(+ {{vm.infused - vm.source.primStat.value}})</span>
        <span translate="Infusion.Using3"> </span><span class="currency"><img alt="Legendary Marks" title="Legendary Marks" src="~app/images/legendaryMarks.png"></span>
        <span ng-if="vm.exotic">+ 1 <span class="currency"><img alt="Exotic Shards" title="Exotic Shards" src="https://www.bungie.net/common/destiny_content/icons/e6d2a0561e784ae224e2aa53aa66e8a7.jpg"></span></span>
        <span>+ 250 <span class="currency"><img alt="Glimmer" title="Glimmer" src="~app/images/glimmer.png"></span></span>
        <span>+ {{vm.wildcardMaterialCost | number}} <span class="currency"><img alt="Materials" title="Materials" ng-src="{{vm.wildcardMaterialIcon | bungieIcon}}"></span></span>
      </div>
      <button ng-if="vm.getAllItems" ng-disabled="vm.transferInProgress" ng-click="vm.transferItems()" translate="Infusion.TransferItems"></button>
    </div>
  </div>
</div>
