<div ng-controller="dimMaterialsExchangeCtrl as vm" class="materials-exchange">
	<!--<a ui-sref='inventory' class="link"><i class='fa fa-arrow-circle-left'></i><span translate="Help.BackToDIM"></span></a>-->

	<div class="stats-panel">



	<div class="section">
		<div class="title">
		<span translate="MaterialsExchange"></span>
	</div>

<div class="stats-body">
	<div class="guardian-selector">
		<div ng-click="vm.setActiveCharacter(character)" ng-class="{selected: vm.activeCharacter === character}" ng-repeat="character in vm.characters track by $index" class="guardian">
			<div class="character-box" ng-style="{ 'background-image': 'url(' + character.background + ')' }">
					<div class="emblem" ng-style="{ 'background-image': 'url(' + character.icon + ')' }"></div>
					<div class="class">{{:: character.className }}</div>
					<div class="race-gender">{{:: character.genderRace }}</div>
			</div>
		</div>
	</div>


	<div class="faction-details">
		<div class="faction-selector">
			<div class="faction" ng-class="{selected : vm.activeFaction.hash == key}" ng-click="vm.setActiveFaction(key)" ng-repeat="(key,rep) in vm.activeCharacter.factions"
				title="{{rep.faction.factionName}} {{rep.progressToNextLevel}}/{{rep.nextLevelAt}}">
				<image ng-src="{{rep.faction.factionIcon | bungieIcon}}" />
			</div>
		</div>
		<div class="faction-info">
      <div class="collapsible-section">
			<div class="title">
				<span class="heading">{{vm.activeFaction.faction.factionName}}</span>
			</div>
			<table>
				<tr class="row">
					<td class="col" translate="MaterialsExchange.CurrentRank"></td>
					<td class="col" translate="MaterialsExchange.CurrentRep"></td>
					<td class="col" translate="MaterialsExchange.NewRank"></td>
					<td class="col" translate="MaterialsExchange.NewRep"></td>
				</tr>
				<tr class="row">
					<td class="col">{{vm.activeFaction.level}}</td>
					<td class="col">{{vm.activeFaction.progressToNextLevel}}/{{vm.activeFaction.nextLevelAt}}</td>
					<td class="col">{{vm.newRank}}</td>
					<td class="col">{{vm.newExperience}}/{{vm.activeFaction.nextLevelAt}}</td>
				</tr>
			</table>
		</div>
		</div>
	</div>
</div>
	</div>
	</div>

	<div class="mats-panel">
		<dim-collapsible-section translate-attr="{ title: 'MaterialsExchange.OnHand' }" title="MaterialsExchange.OnHand">
			<table>
				<tbody>
					<tr>
						<td ng-repeat="item in vm.materials">

						<div class="toggleRep" ng-click="vm.toggleItem(item)" ng-class="{selected : vm.repPool[item.hash]}">
                <dim-simple-item item-data="item"></dim-simple-item>
            </div>

						</td>
					</tr>
					<tr>
						<td ng-repeat="item in vm.materials">
							{{vm.calculateRep(item) / 2500}}
						</td>
					</tr>
					<tr>
						<td ng-repeat="item in vm.planataryMats">
              <div class="toggleRep" ng-click="vm.toggleItem(item)" ng-class="{selected : vm.repPool[item.hash]}">
            		<dim-simple-item item-data="item"></dim-simple-item>
              </div>
						</td>
					</tr>
					<tr>
						<td ng-repeat="item in vm.planataryMats">
							{{vm.calculateRep(item) / 2500}}
						</td>
					</tr>
				</tbody>
			</table>
		</dim-collapsible-section>

		<dim-collapsible-section translate-attr="{ title: 'MaterialsExchange.FromTrade' }" is-collapsed="true" title="MaterialsExchange.FromTrade">
			<table ng-show="vm.variksMats[0]">
				<tbody>
					<tr>
						<td>
							<dim-simple-item item-data="vm.variksMats[0]"></dim-simple-item>
						</td>
						<td>+</td>
						<td>
							<div title="Glimmer" alt=" Glimmer" class="item ng-isolate-scope">
								<div class="item-elem">
									<div class="img" style="background-image: url({{vm.GlimmerIcon}});">
										<div class="item-stat item-equipment stat-damage-">{{vm.variksMats[0].amount * 250}}</div>
									</div>
								</div>
							</div>
						</td>
						<td><i class="fa fa-arrow-right" /></td>
						<td>
							<dim-simple-item item-data="vm.variksMats[1]"></dim-simple-item>
						</td>
						<td>=</td>
						<td>
							{{vm.calculateRep(vm.variksMats[1])}}
						</td>
					</tr>
				</tbody>
			</table>

			<table ng-show="vm.gunSmithMats[0]">
				<tbody>
					<tr>
						<td>
							<div title="Glimmer" alt=" Glimmer" class="item ng-isolate-scope">
								<div class="item-elem">
									<div class="img" style="background-image: url({{vm.GlimmerIcon}});">
										<div class="item-stat item-equipment stat-damage-">{{vm.glimmer}}</div>
									</div>
								</div>
							</div>
						</td>
						<td><i class="fa fa-arrow-right" /></td>
						<td>
							<dim-simple-item item-data="vm.gunSmithMats[0]"></dim-simple-item>
						</td>
						<td>=</td>
						<td>
							{{vm.calculateRep(vm.gunSmithMats[0]) / 2500}}
						</td>
					</tr>
				</tbody>
			</table>

			<table ng-show="vm.xurMats[0] && vm.xurMats[1]">
				<tbody>
					<tr>
						<td>
							<dim-simple-item item-data="vm.xurMats[0]"></dim-simple-item>
						</td>
						<td><i class="fa fa-arrow-right" /></td>
						<td>
							<dim-simple-item item-data="vm.xurMats[1]"></dim-simple-item>
						</td>
						<td>=</td>
						<td>
							{{vm.calculateRep(vm.xurMats[1]) / 2500}}
						</td>
					</tr>
				</tbody>
			</table>

			<table ng-show="vm.erisMats[0] && vm.erisMats[1]">
				<tbody>
					<tr>
						<td>
							<dim-simple-item item-data="vm.erisMats[0]"></dim-simple-item>
						</td>
						<td><i class="fa fa-arrow-right" /></td>
						<td>
							<dim-simple-item item-data="vm.erisMats[1]"></dim-simple-item>
						</td>
						<td>=</td>
						<td>
							{{vm.calculateRep(vm.erisMats[1]) / 2500}}
						</td>
					</tr>
				</tbody>
			</table>
		</dim-collapsible-section>
	</div>
</div>
</div>
