<div ng-controller="dimSettingsCtrl as vm">
  <h1 translate="Settings"></h1>
  <div class="ngdialog-inner-content">
<!--  <input ng-if='vm.showSync()' type='button' class='btn' ng-click='vm.driveSync()' value='Sync with Drive' />-->
  <form class="settings">
    <table>
      <tr>
        <td>
          <label for="language" translate="Settings.Language"></label>
        </td>
        <td>
          <select id="language" ng-model="vm.settings.language" ng-options="code as name for (code, name) in vm.languageOptions" required></select>
        </td>
      </tr>
      <tr>
        <td>
          <label for="condensedItems" translate-attr="{ title: 'Settings.HideUnfilteredHelp'}" translate="Settings.HideUnfiltered"></label>
        </td>
        <td>
          <input type="checkbox" ng-model="vm.settings.hideFilteredItems"/>
        </td>
      </tr>
      <tr>
        <td>
          <label for="details" translate-attr="{ title: 'Settings.AlwaysShowDetailsHelp'}" translate="Settings.AlwaysShowDetails"></label>
        </td>
        <td>
          <input type="checkbox" id="details" ng-model="vm.settings.itemDetails"/>
        </td>
      </tr>
      <tr ng-if="vm.featureFlags.qualityEnabled">
        <td>
          <label for="itemQuality" translate-attr="{ title: 'Settings.EnableAdvancedStatsHelp'}" translate="Settings.EnableAdvancedStats"></label>
        </td>
        <td>
          <input type="checkbox" id="itemQuality" ng-model="vm.settings.itemQuality"/>
        </td>
      </tr>
      <tr>
        <td>
          <label for="showNewItems" translate-attr="{ title: 'Settings.ShowOverlayHelp'}" translate="Settings.ShowOverlay"></label>
        </td>
        <td>
          <input type="checkbox" id="showNewItems" ng-model="vm.settings.showNewItems"/>
        </td>
      </tr>
      <tr ng-if="vm.settings.showNewItems">
        <td>
          <label for="showNewAnimation" translate-attr="{ title: 'Settings.ShowAnimationsHelp'}" translate="Settings.ShowAnimations"></label>
        </td>
        <td>
          <input type="checkbox" id="showNewAnimation" ng-model="vm.settings.showNewAnimation"/>
        </td>
      </tr>
      <tr>
        <td>
          <label for="showElements" translate-attr="{ title: 'Settings.ShowElementalHelp'}" translate="Settings.ShowElemental"></label>
        </td>
        <td>
          <input type="checkbox" id="showElements" ng-model="vm.settings.showElements"/>
        </td>
      </tr>
      <tr>
        <td>
          <label for="itemSort" translate-attr="{ title: 'Settings.SetSortHelp'}" translate="Settings.SetSort"></label>
        </td>
        <td>
          <label>
            <input type="radio" ng-model="vm.settings.itemSort" value="primaryStat"><span translate="Settings.SortPrimary"></span></label>
          <br>
          <label>
            <input type="radio" ng-model="vm.settings.itemSort" value="rarityThenPrimary"><span translate="Settings.SortRarity"></span></label>
          <br>
          <label ng-show="vm.settings.itemQuality">
            <input type="radio" ng-model="vm.settings.itemSort" value="quality"><span translate="Settings.SortRoll"></span></label>
        </td>
      </tr>
      <tr ng-if="vm.supportsCssVar">
        <td>
          <label for="charCol" translate-attr="{ title: 'Settings.InventoryColumnsHelp'}" translate="Settings.InventoryColumns"></label>
        </td>
        <td>
          <select id="charCol" ng-model="vm.settings.charCol" ng-options="option.id as option.name for option in vm.charColOptions" required></select>
        </td>
      </tr>
      <tr ng-if="vm.supportsCssVar">
        <td>
          <label for="charCol" translate-attr="{ title: 'Settings.VaultColumnsHelp'}" translate="Settings.VaultColumns"></label>
        </td>
        <td>
          <select id="charCol" ng-model="vm.settings.vaultMaxCol" ng-options="option.id as option.name for option in vm.vaultColOptions" required></select>
        </td>
      </tr>
      <tr ng-if="vm.supportsCssVar">
        <td>
          <label for="itemSize" translate-attr="{ title: 'Settings.SizeItemHelp'}" translate="Settings.SizeItem"></label>
        </td>
        <td>
          <input ng-model="vm.settings.itemSize" type="range" min="38" max="66" ng-change="vm.save()" /> <button ng-click="vm.resetItemSize()" translate>Settings.ResetToDefault</button>
        </td>
      </tr>
      <tr>
        <td>
          <label translate-attr="{ title: 'Settings.CharacterOrderHelp'}" translate="Settings.CharacterOrder"></label>
        </td>
        <td>
          <label>
            <input type="radio" ng-model="vm.settings.characterOrder" value="mostRecent" ng-model-options="{ updateOn: 'default blur' }"><span translate="Settings.CharacterOrderRecent"></span></label>
            <br>
          <label>
            <input type="radio" ng-model="vm.settings.characterOrder" value="mostRecentReverse" ng-model-options="{ updateOn: 'default blur' }"><span translate="Settings.CharacterOrderReversed"></span></label>
            <br>
          <label>
            <input type="radio" ng-model="vm.settings.characterOrder" value="fixed" ng-model-options="{ updateOn: 'default blur' }"><span translate="Settings.CharacterOrderFixed"></span></label>
        </td>
      </tr>
      <tr>
        <td>
          <label for="spreadsheetLinks" translate-attr="{ title: 'Settings.ExportSSHelp'}" translate="Settings.ExportSS"></label>
        </td>
        <td>
          <div id="spreadsheetLinks">
            <button ng-click="vm.downloadWeaponCsv()" ng-disabled="vm.loadingTracker.active()" title="Download Csv"> <i class="fa fa-table"></i> <span translate="Bucket.Weapons"></span></button>
            <button ng-click="vm.downloadArmorCsv()" ng-disabled="vm.loadingTracker.active()" title="Download Csv"> <i class="fa fa-table"></i> <span translate="Bucket.Armor"></span></button>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label for="resetHiddenInfos" translate="Settings.DIMPopups"></label>
        </td>
        <td>
          <button ng-click="vm.resetHiddenInfos()" translate="Settings.DIMPopupsReset"></button>
        </td>
      </tr>
      <tr ng-if="vm.featureFlags.importExport">
        <td>
          <label for="exportButtons" translate="Settings.ImportExport"></label>
        </td>
        <td>
          <div id="exportButtons">
            <button ng-click="vm.exportData()" translate="Settings.Export"></button></br>
            <button ng-click="vm.importData()" translate="Settings.Import"></button></br>
            <input type="file" id="importFile">
          </div>
        </td>
      </tr>
    </table>
  </form>
  </div>
</div>
