<div>
    <h1 translate="Views.Support"></h1>
    <div class="ngdialog-inner-content">
        <p translate="Views.Support.FreeToDownload"></p>
        <p translate="Views.Support.Fans"></p>
        <h2 translate="Views.Support.Contribute"></h2>
        <div>
            <dl>
                <dt translate="Views.Support.Paypal"></dt>
                <dd><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=EE2BLN2YN2Q5L" target="_blank">PayPal</a></span></dd>
                <dd translate="Views.Support.PaypalText"></dd>
            </dl>
            <dl>
                <dt translate="Views.Support.Transifex"></dt>
                <dd><a href="https://www.transifex.com/destiny-item-manager/destiny-item-manager/" target="_blank">Transifex</a></dd>
                <dd translate="Views.Support.TransifexText"></dd>
            </dl>
            <dl>
                <dt translate="Views.Support.Share"></dt>
                <dd translate="Views.Support.ShareText"></dd>
            </dl>
            <dl>
                <dt translate="Views.Support.Reddit"></dt>
                <dd><a href="http://destinyitemmanager.reddit.com" target="_blank">/r/destinyitemmanager</a></dd>
                <dd translate="Views.Support.RedditText"></dd>
            </dl>
            <dl>
                <dt translate="Views.Support.GitHub"></dt>
                <dd><a href="https://github.com/DestinyItemManager/DIM/" target="_blank">GitHub</a></dd>
                <dd translate="Views.Support.GitHubText"></dd>
            </dl>
        </div>
    </div>
</div>
