<div class="dim-page dim-static-page">
    <h1 ng-i18next="Views.Support.Support"></h1>
    <p ng-i18next="Views.Support.FreeToDownload"></p>
    <p ng-i18next="[html:i18next]({ link: '<a href=\'https://opencollective.com/dim\' target=\'_blank\' rel=\'noopener noreferrer\'>OpenCollective</a>' })Views.Support.OpenCollective"></p>
    <p><span ng-i18next="[html:i18next]({ link: '<a href=\'https://teespring.com/stores/dim\' target=\'_blank\' rel=\'noopener noreferrer\'>Teespring</a>' })Views.Support.Teespring"></span></p>
    <h2 ng-i18next="Views.Support.Sponsors"></h2>
    <p ng-i18next="Views.Support.SponsorsDetail"></p>
    <div class="backers">
      <a ng-repeat="i in 5 | range track by $index" ng-href="https://opencollective.com/dim/sponsor/{{ $index }}/website" target="_blank" rel="noopener noreferrer"><img ng-src="https://opencollective.com/dim/sponsor/{{ $index }}/avatar.svg"></a>
    </div>
    <h2 ng-i18next="Views.Support.Backers"></h2>
    <p ng-i18next="Views.Support.BackersDetail"></p>
    <div class="backers">
      <a ng-repeat="i in 100 | range track by $index" ng-href="https://opencollective.com/dim/backer/{{ $index }}/website" target="_blank" rel="noopener noreferrer"><img ng-src="https://opencollective.com/dim/backer/{{ $index }}/avatar.svg"></a>
    </div>
</div>
