<div>
  <h1>Über Destiny Item Manager (DIM)</h1>
  <div class="ngdialog-inner-content">
    <h3><a href="$DIM_CHANGELOG" target="_blank">Version $DIM_VERSION</a></h3>
    <p>
      DIM basiert auf denselben Diensten von Bungie.net und der Destiny Companion App. DIM kann auf die Elemente in deinem Hüter-Inventar und den Tresor für PlayStation und Xbox zugreifen. Du kannst dann Elemente per Drag & Drop verschieben, wenn Du sie verschieben möchtest.
    </p>
    <h2>Kontaktiere uns</h2>
    <table>
        <tr>
            <td>Twitter</td>
            <td>Reddit</td>
            <td>GitHub</td>
        </tr>
        <tr>
            <td>
                Folge uns, um über Updates und Informationen zu DIM benachrichtigt zu werden.
                <br />
                <a href="https://twitter.com/ThisIsDIM" target="_blank">@ThisIsDIM</a>
            </td>
            <td>
                Wenn du Fragen, Kommentare oder Anregungen hast - lass es uns wissen!
                <br />
                <a href="https://destinyitemmanager.reddit.com" target="_blank">/r/destinyitemmanager</a>
            </td>
            <td>
                Wenn du an dem Projekt mitwirken möchtest, besuche uns auf unserer Projektseite auf GitHub.
                <br />
                <a href="https://github.com/DestinyItemManager/DIM/" target="_blank">DIM Git Repo</a>
            </td>
        </tr>
    </table>
    <h2>FAQ</h2>
    <p>
        <dl>
            <dt>Wie bekommt DIM Zugriff auf meine Destiny-Daten?</dt>
            <dd>Jede Chrome-Erweiterung kann nach den Daten, die eine Website auf dem Computer speichert, fragen. Wenn du dich bei Bungie.net anmeldest, erhältst du einen Token (ein Cookie), das für dein Konto eindeutig erzeugt wird. Dieses Token wird verwendet, um mit Bungie sicher zu kommunizieren. Das Token ist sicherer als das Senden des Benutzernamens und des Passwortes mit jeder Anfrage an den Server von Bungie. DIM verwendet dieses Token zur Kommunikation mit Bungie.</dd>
        </dl>
        <dl>
            <dt>Wie kann ich mich von DIM abmelden?</dt>
            <dd>Deine Sitzung ist an Bungie.net gebunden. Wenn du dich auf Bungie.net abmeldest, wirst du auch von DIM abgemeldet.</dd>
        </dl>
        <dl>
          <dt>Unterstützt DIM Tastaturkürzel?</dt>
          <dd>Ja! Drücke "?" um eine Liste der Kürzel zu sehen.</dd>
        </dl>
        <dl>
            <dt>Ich habe durch DIM einen Gegenstand verloren!</dt>
            <dd>Sehr wahrscheinlich ist eine Übertragung fehlgeschlagen, so dass das Element in dem Tresor oder auf einem anderen Charakter ist. Du kannst nach dem Gegenstand suchen. Wenn dies nicht geht, aktualisiere die App, indem du F5 drückst. Prüfe oder im Spiel, um zu sehen, ob der Gegenstand existiert. Wir sind sicher, es ist da.</dd>
        </dl>
        <dl>
            <dt>Hey, DIM hat mein Gjallarhorn dupliziert!</dt>
            <dd>Nein, haben wir nicht. Versprochen.</dd>
        </dl>
    </p>

    <p>Alle Bilder und Bilder und Inhalte sind Eigentum von Bungie. Tritt mit uns bitte in Verbindung, wenn es irgendwelche Probleme gibt.</p>
  </div>
</div>
