<ul>
	<li>Sperre eine bestimmte Art von Perk, indem du auf ein Schloss-Feld klickst und den Perk wählst</li>
	<li style="list-style: none; display: inline">
		<ul>
			<li>Wenn ein Perk nicht auftaucht besitzt du keinen Gegenstand mit diesem Perk</li>
			<li>Um Rüstung mit mehreren Perks zu nutzen, klicke mit Shift+Klick auf die Perks</li>
			<li>
				<div class="example ex-or"></div>- Rüstung mit irgendeinem dieser Perks wird benutzt ("oder")
			</li>
			<li>
				<div class="example ex-and"></div>- Rüstung mit all diesen Perks wird benutzt ("und")
			</li>
		</ul>
	</li>
	<li>Klicke und ziehe Items in die Felder um Sets aus nur dieser Ausrüstung zu erstellen</li>
	<li>Shift+Klick ein Item um Sets ohne diese Ausrüstung zu erstellen</li>
	<li>Höhere Stufen sind besser</li>
	<li>
		<ul>
			<li>4/5/2 (ein Stufe 11 Set) ist 4 Intellekt, 5 Disziplin, 2 Stärke (4+5+2 = Stufe 11)</li>
			<li>Intellekt beschleunigt die Super Abklingzeit</li>
			<li>Disziplin beschleunigt die Granaten Aufladezeit</li>
			<li>Stärke beschleunigt die Nahkampf Aufladezeit</li>
		</ul>
	</li>
	<li>Versuche Rüstung zu finden, welche dir mehr Munition für Waffenklassen geben, die du benutzt.</li>
	<li>Verändere Intellekt, Disziplin oder Stärke im Spiel auf die Werte, die beim Erstellen des Loadouts angezeigt werden.</li>
	<li>Wenn der Verteidigungswert für ein Rüstungsteil ansteigt, nehmen auch die Werte für dieses Rüstungsteil (Int/Dis/Stä) zu.</li>
</ul>
