<div>
	<p>Über eine irrationale Zahl</p>
	<ul class="changelog-toaster">
		<li>* Verbesserter Sammel-Modus. Gegenstände fliegen nicht mehr überall herum.</li>
		<li>* Verbesserte Bewegungs-Logik. DIM ist nun noch schlauer.</li>
		<li>* Loadouts übernehmen nun die Schadensart des Fokus</li>
		<li>* Besserer internationaler Support.</li>
	</ul>
	<p>Siehe <a href="https://github.com/DestinyItemManager/DIM/blob/master/CHANGELOG.md" target="_blank">changelog</a> für das komplette Set.</p>
	<p>Folge uns auf: <a href="http://destinyitemmanager.reddit.com" style="margin: 0 5px;" target="_blank"><i class="fa fa-reddit fa-2x"></i></a> <a href="http://twitter.com/ThisIsDIM" style="margin: 0 5px;" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></p>
</div>
