<div>
<p>Über eine irrationale Zahl</p>&#13;
<ul class="changelog-toaster">
<li>* Verbesserter Sammel-Modus. Gegenstände fliegen nicht mehr überall herum.</li>&#13;
  <li>* Verbesserte Bewegungs-Logik. DIM ist nun noch schlauer.</li>&#13;
  <li>* Loadouts können jetzt Fokusse der selben Schadensart speichern</li>&#13;
  <li>* Besserer internationaler Support.</li>&#13;
</ul>
<p>Siehe <a href="https://github.com/DestinyItemManager/DIM/blob/master/CHANGELOG.md" target="_blank">changelog</a> für das komplette Set.</p>&#13;
<p>Folge uns auf: <a style="margin: 0 5px;" href="http://destinyitemmanager.reddit.com" target="_blank"><i class="fa fa-reddit fa-2x"></i></a> <a style="margin: 0 5px;" href="http://twitter.com/ThisIsDIM" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></p>
</div>
