<div>
  <h1>Supporting DIM</h1>
  <div class="ngdialog-inner-content">
    <p>
      DIM ist ein kostenloses Tool. Der Quellcode ist Open-Source und kann von jedem
      angepasst und verbessert werden. Du wirst niemals Werbung in DIM sehen.
      Das ist unser Versprechen.
    </p>
    <p>
      Wir sind alle große Fans von Destiny. DIM erwachte in diesen Stunden des Gameplays zum Leben,
      in denen wir den Schmerz fühlten, bei der Übertragung von Gegenständen zwischen den Charaktern
      ausgerechnet diesen einen wichtigen Gegenstand vergessen zu haben.
      Oder die vielen Flüge zum Turm um uns von den Strike Playlisten zu entladen.
      DIM ist das Tool, das dir hilft, mehr Spielzeit zu bekommen.
    </p>
    <h2>Wie kann ich zum Projekt beitragen?</h2>
    <p>
      <dl>
        <dt>Gib DIM eine Spende!</dt>
        <dd>
          Wir benutzen <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=EE2BLN2YN2Q5L" target="_blank">PayPal</a>
          für Spenden. Wenn DIM einen Unterschied in deiner Spielzeit macht, unterstütze das Team, das an dem Projekt arbeitet.
        </dd>
      </dl>
      <dl>
        <dt>Teile DIM mit deinen Freunden.</dt>
        <dd>
          Sobald du erlebt hast, wie einfach es ist, ein Loadout zu erstellen/übertragen, wirst du gefesselt.
          Teile den Spaß mit deinen Freunden!
        </dd>
      </dl>
      <dl>
        <dt>Hast du eine Idee für DIM?</dt>
        <dd>
          Besuche uns auf <a href="http://destinyitemmanager.reddit.com" target="_blank">/r/destinyitemmanager</a>
          und lass uns von deiner Idee wissen. Du wirst von uns hören,
          sowie auch von der Community rund um DIM, was ein großartiger Weg ist,
          um die Idee zu iterieren und zu verbessern.
        </dd>
      </dl>
      <dl>
        <dt>Ich bin ein Entwickler/Designer/Enthusiast und ich möchte gerne was beitragen.</dt>
        <dd>
          Besuche uns auf <a href="https://github.com/kyleshay/DIM" target="_blank">GitHub</a>
          und sende einem der beitragenden Personen eine Nachricht. Wir sind mehr als glücklich
          Pull Requests zu akzeptieren. Tritt uns als Unterstützer bei nehme an unseren Treffen teil,
          bei denen wir über die nächste Version, zukünftige Updates oder Bugs zu zerschmettern.
        </dd>
      </dl>
    </p>
  </div>
</div>
