// Light theme
[data-theme='theme-light'] {
  // Base colours
  --theme-accent-primary: rgb(218, 92, 14); // Interaction styles (hover, active, focus)
  --theme-accent-secondary: #68a0b7; // Secondary interactions

  // Generic fills for modal backgrounds (see below)
  --theme-fill-modal: #000; // Base fill for popups, drawers, dropdowns etc
  --theme-fill-modal-actions: #161616; // Layered/contextual modals (search, item actions)

  // Text
  --theme-text: #777;
  --theme-text-invert: #fff;

  // Buttons
  --theme-button-bg: rgba(0, 0, 0, 0.2);
  --theme-button-text: black;

  // Icons
  --theme-icon-tile: #999;

  // Input field (text boxes and text areas)
  --theme-input-bg: #333;

  // Shadows
  --theme-drop-shadow: 0 0 10px 0 #999;

  // Tooltips
  --theme-tooltip-header-bg: #0a0a0f;
  --theme-tooltip-body-bg: #151523;
  --theme-tooltip-border: #8e8e9e;
  --theme-tooltip-minimal-bg: #5d5970;

  // App background gradient pattern
  --theme-app-bg-gradient-start: hsl(200, 6%, 19%);
  --theme-app-bg-gradient-end: hsl(240, 5%, 9%);
  --theme-app-bg-gradient: radial-gradient(
    circle at 50% 70px,
    var(--theme-app-bg-gradient-start) 0%,
    var(--theme-app-bg-gradient-end) 100%
  );

  // App
  --theme-app-bg: #eee;
  // The color of PWA elements like the title bar. This cannot be a gradient.
  --theme-pwa-chrome-background: #202034;

  // Header
  --theme-header-nav-bg: #ccc;
  --theme-header-nav-slideout-menu-bg: var(--theme-fill-modal);
  --theme-header-characters-bg: #ddd;
  --theme-header-characters-txt: #555;

  // Dropdown menu
  --theme-dropdown-menu-bg: var(--theme-fill-modal);

  // Search
  --theme-search-bg: white;
  --theme-search-dropdown-bg: var(--theme-fill-modal-actions);
  --theme-search-dropdown-border: transparent;

  // Items
  --theme-item-polaroid: #aaa;
  --theme-item-polaroid-txt: #000;
  --theme-item-polaroid-hover-border: var(--theme-accent-primary);
  --theme-item-polaroid-masterwork: #e0d069;
  --theme-item-polaroid-masterwork-txt: #000;
  --theme-item-polaroid-masterwork-border: white;

  // Item popup
  --theme-item-popup-border: #666;
  --theme-item-popup-arrow: var(--theme-fill-modal-actions);
  --theme-item-popup-actions-bg: #dedede;
  --theme-item-popup-panel-bg: #333; // Panels for progress (masterwork, crafted, catalyst) and archetype
  --theme-item-popup-progress-bar-bg: #222;

  // Item feed
  --theme-item-feed-bg: var(--theme-fill-modal);

  // Item sheet (compare, armory)
  --theme-item-sheet-bg: var(--theme-fill-modal);

  // Organizer
  --theme-organizer-row-odd-bg: #27263a;
  --theme-organizer-row-even-bg: #1d1c2b;
}
