.user-review--header {
  display: flex;
  justify-content: space-between;
  margin: 10px;

  star-rating {
    font-size: 1.2em;
  }
}

.community-review {
  border-top: 1px dashed #444;
  margin: 10px;

  &--reviews {
    max-height: 350px;
    overflow: auto;
  }

  &--details {
    textarea {
      height: 120px;
    }
  }

  &--message {
    text-align: center;
    margin: 20px 10px;
  }

  &--who, &--procon {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    opacity: .9;
  }

  &--procon > *:first-child {
    margin-right: 9px;
  }

  &--who__special {
    color: gold;
  }
}
