.user-review__header {
  display: flex;
  justify-content: space-between;
  margin: 10px;

  star-rating {
    font-size: 1.2em;
  }
}

.community-review {
  border-top: 1px dashed #444;
  margin: 10px;
}

.community-review__reviews {
  max-height: 350px;
  overflow: auto;
}

.community-review__details {
  textarea {
    height: 120px;
  }
}

.community-review__message {
  text-align: center;
  margin: 20px 10px;
}

.community-review__who, .community-review__procon {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  opacity: .9;
}
.community-review__procon > *:first-child {
  margin-right: 9px;
}

.community-review__who--special {
  color: gold;
}
