<div class="perk-select-box" ng-class="{'shift-held' : vmd.shiftHeld }" dim-click-anywhere-but-here="closeThisDialog()">
  <div class="perk" ng-class="{'active-perk-or' : vmd.lockedPerks[vmd.type][perk.hash].lockType === 'or', 'active-perk-and' : vmd.lockedPerks[vmd.type][perk.hash].lockType === 'and'}" ng-repeat="perk in vmd.perks[vmd.type]" ng-click="vmd.onPerkLocked({perk: perk, type: vmd.type, $event: $event})">
    <img ng-src="{{perk.icon | bungieIcon}}" ng-attr-title="{{perk.description}}" />
    <small>{{perk.name}}</small>
  </div>
</div>