item-icon {
  margin-right: 4px;
  margin-bottom: 4px;

  .forsaken-item {
    background-color: #262626;
    display: grid;
    width: var(--item-size);
    height: var(--item-size);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    grid-template-areas: "image image image plugs" "image image image plugs" "image image image plugs" "attributes attributes attributes attributes";

    .image-well {
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.masterwork .overlay {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('../../../images/masterwork.png');
}

.exotic.masterwork .overlay {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('../../../images/exotic-masterwork.png');
}


.image {
  grid-area: image;
  position: relative;
}

.attributes {
  display: grid;
  grid-area: attributes;
  // grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap:0;
  grid-template-areas: "1a 2a";
  font-size: calc(var(--item-size) / 4.8);
  line-height: 100%;
}
.attributes > div {
  text-align: right;
}
.attribute-1 {
  grid-area: 1a;
}
.attribute-2 {
  grid-area: 2a;
}

.power {
  position: relative;
  text-align: right;
  display: inline-block;
  margin-right: 2px;
  height: 100%;
  vertical-align: middle;
}

// .void .power {
//   color: #8765bb;
// }

// .arc .power {
//   color: #80d6ff;
// }

// .solar .power {
//   color: #ff8d00;
// }

.power::before {
  right: 100%;
  position: absolute;
  width: 1em;
  height: 1em;
  content: '';
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
}

.void .power::before {
  filter: brightness(200%);
  background-image: url(https://www.bungie.net/img/destiny_content/damage_types/destiny2/void_large.png);
}

.solar .power::before {
  background-image: url(https://bungie.net/img/destiny_content/damage_types/destiny2/thermal_large.png);
}

.arc .power::before {
  background-image: url(https://bungie.net/img/destiny_content/damage_types/destiny2/arc_large.png);
}


.plugs {
  display: grid;
  grid-area: plugs;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1px;
  grid-template-areas: "1p" "2p" "3p";
}

.plugs > div {
  background-color: rgba(212, 212, 212, 0.18);
  display: block;
}

.plugs img {
  width: 100%;
  height: 100%;
  display: block;
}

.plug-1 {
  grid-area: 1p;
}

.plug-2 {
  grid-area: 2p;
}
.plug-3 {
  grid-area: 3p;
}