@import 'ceaser-easing';
@import '../variables.scss';

.page {
  :global .perk-image {
    &.locked-perk {
      border-color: $orange;
    }
  }
}

.menu {
  :global(.search-filter) {
    width: 100%;
    box-sizing: border-box;
    background: black;
    margin: 12px 0;
  }

  h3 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 4px;
  }
}

.menuContent {
  @include phone-portrait {
    padding: 0 12px;
  }

  :global(.search-filter) {
    min-width: 0;
  }

  > * {
    margin-top: 8px;
  }
}

.processing {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-size: 1.2em;
  padding: 10px 10px;
  position: fixed;
  left: 50%;
  @include below-header;

  white-space: nowrap;
  z-index: 10;

  > div {
    margin-right: 8px;
  }

  > span {
    font-size: 1.4em;
  }

  @include phone-portrait {
    left: 0;
    width: 100%;
  }
}
