@use '../variables.scss' as *;

.page {
  :global .perk-image {
    &.locked-perk {
      border-color: var(--theme-accent-primary);
    }
  }
}

.menuContent {
  box-sizing: border-box;

  @include phone-portrait {
    padding: 0 10px;
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.toolbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  box-sizing: border-box;

  @include phone-portrait {
    padding: 0 10px;
  }
  gap: 4px;
}

.guide {
  box-sizing: border-box;

  @include phone-portrait {
    padding: 0 10px;
  }
  user-select: text;
  p,
  li {
    font-size: 14px;
  }
  ol {
    padding-left: 1.25em;
  }
}

.undoRedo {
  display: flex;
  flex-direction: row;
  margin: 6px 0;

  > * {
    flex: 1;
  }
  gap: 4px;
}

.speedReport {
  user-select: text;
  margin-left: 1em;
  > :global(.app-icon) {
    margin-right: 0.5em;
  }
}

// Style for sections borrowed from LoadoutEdit
.loadoutEditSection {
  font-size: 12px; // reset from where PageWithMenu sets it to 14px
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px;
  gap: 0;
  // Fit 5 mods across, regardless of what the user's item size is
  --item-size: 47px;
  --loadout-edit-subclass-columns: 4;
}
