@import 'ceaser-easing';
@import '../variables.scss';

.page {
  :global .perk-image {
    &.locked-perk {
      border-color: orange;
    }
  }
}

.menu {
  :global(.search-filter) {
    width: 100%;
    box-sizing: border-box;
    background: black;
    margin: 12px 0;
  }

  h3 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 4px;
  }
}

.menuContent {
  @include phone-portrait {
    padding: 0 12px;
  }

  :global(.search-filter) {
    min-width: 0;
  }
}

.processing {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-size: 1.2em;
  padding: 10px 10px;
  position: fixed;
  top: $header-height;
  left: 50%;
  transform: translateX(-50%);

  white-space: nowrap;
  z-index: 10;

  > div {
    margin-right: 8px;
  }

  > span {
    font-size: 1.4em;
  }

  @include phone-portrait {
    width: 100%;
  }
}

.processingEnter {
  transform: translateY(-250px) translateX(-50%);
}

.processingEnter.processingEnterActive {
  transform: translateY(-0) translateX(-50%);
  transition: transform 200ms $easeOutCubic;
}

.processingExit {
  transform: translateY(-0) translateX(-50%);
}

.processingExit.processingExitActive {
  transform: translateY(-250px) translateX(-50%);
  transition: transform 200ms $easeInCubic;
}
