@use '../variables.scss' as *;

.noBuildsExplainerContainer {
  @include phone-portrait {
    padding: 0 10px;
  }
}

.noBuildsFoundMsg {
  border-top: 1px solid rgb(255, 255, 255, 0.3);
  padding-top: 20px;

  > :global(.app-icon) {
    padding-right: 4px;
  }
}

.problemDescription {
  > :not(:first-child) {
    margin-left: 8px;
  }
}

.modRow {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--item-size));
  grid-template-rows: repeat(auto-fill, minmax(var(--item-size), 1fr));
  justify-content: space-around;
  margin-bottom: 3px;

  :global(.item-drag-container) {
    margin: 0;
  }
}

.suggestionList {
  > * {
    padding-bottom: 4px;
  }
}
