.perks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  margin-bottom: 16px;
}

.bucket {
  h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 4px 0;
  }
}
