@import '../variables.scss';

// These classes are used in item-picker, mod-picker, exotic-picker and search results

.item-picker {
  .sheet-contents > div {
    padding: 8px;
  }
  .item {
    cursor: pointer;
  }
}

.item-picker-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  :global(.search-filter) {
    flex: 1;
    margin-left: 0;
    min-width: 0;
  }
}

.item-picker-item {
  position: relative;
}

.item-picker-item-class-icon {
  box-sizing: border-box;
  width: calc(var(--item-size) / 4) !important;
  height: calc(var(--item-size) / 4) !important;
  font-size: calc(var(--item-size) * 0.71);
  color: white;
  position: absolute;
  z-index: 1;
  left: 1px;
  bottom: 1px;
  display: block;
}
