@use '../variables.scss' as *;

// These classes are used in item-picker, mod-picker, exotic-picker and search results

.grid {
  composes: sub-bucket from global;
  margin: 10px;
}

.itemPickerItem {
  composes: resetButton from '../dim-ui/common.m.scss';
  position: relative;
}

.classIcon {
  box-sizing: border-box;
  width: calc(var(--item-size) / 4) !important;
  height: calc(var(--item-size) / 4) !important;
  font-size: calc(var(--item-size) * 0.71);
  color: white;
  position: absolute;
  z-index: 1;
  left: 1px;
  bottom: 1px;
  display: block;
}
