<div id="loadout-drawer" ng-if="vm.show" class="loadout-create">
  <div ng-messages="vm.form.name.$error" ng-if="vm.form.$submitted || vm.form.name.$touched">
    <div ng-message="required"><span translate="Loadouts.NameRequired"></span></div>
    <div ng-message="minlength">...</div>
    <div ng-message="maxlength">...</div>
  </div>
  <div class="loadout-content">
    <div id="loadout-options">
      <form name="vm.form">
        <input class="dim-input" name="name" ng-model="vm.loadout.name" minlength="1" maxlength="50" required type="search" translate-attr="{ placeholder: 'Loadouts.LoadoutName' }" />
        <select name="classType" ng-model="vm.loadout.classType" ng-options="item.value as item.label for item in vm.classTypeValues"></select>
        <button ng-disabled="vm.form.$invalid" ng-click="vm.save()" translate="Loadouts.Save"></button>
        <button ng-disabled="vm.form.$invalid || !vm.loadout.id" ng-click="vm.saveAsNew()" translate="Loadouts.SaveAsNew"></button>
        <button ng-click="vm.cancel()" translate="Loadouts.Cancel"></button>
        <span><img src="~app/images/spartan.png" style="border: 1px solid #333; background-color: #f00; margin: 0 2px; width: 16px; height: 16px;  vertical-align: text-bottom;"> <span translate="Loadouts.ItemsWithIcon"></span></span>
        <p id="loadout-error"></p>
      </form>
    </div>
    <p ng-if="vm.loadout.warnitems.length" translate="Loadouts.VendorsCannotEquip">:</p>
    <div ng-if="vm.loadout.warnitems.length" class="loadout-contents">
      <div ng-repeat="item in vm.loadout.warnitems" id="loadout-warn-item-{{:: $index }}" class="loadout-item">
        <dim-simple-item item-data="item"></dim-simple-item>
        <div class="fa warn"></div>
      </div>
    </div>
    <p ng-if="vm.loadout.warnitems.length" translate="Loadouts.VendorsCanEquip">:</p>
    <div id="loadout-contents" class="loadout-contents">
      <div ng-repeat="value in vm.types track by value" class="loadout-{{ value }} loadout-bucket" ng-if="vm.loadout.items[value].length">
        <div ng-repeat="item in vm.loadout.items[value] | sortItems:vm.settings.itemSort track by item.index" ng-click="vm.equip(item)" id="loadout-item-{{:: $id }}" class="loadout-item">
          <dim-simple-item item-data="item"></dim-simple-item>
          <div class="close" ng-click="vm.remove(item, $event); vm.form.name.$rollbackViewValue(); $event.stopPropagation();"></div>
          <div class="equipped" ng-show="item.equipped"></div>
        </div>
      </div>
    </div>
    <dim-stats stats="vm.stats" ng-if="vm.hasArmor" ng-class="{ complete: vm.completeArmor }"></dim-stats>
  </div>
</div>
