<div>
  <h1>Acerca de Destiny Item Manager (DIM)</h1>
  <div class="ngdialog-inner-content">
    <h3><a href="$DIM_CHANGELOG" target="_blank">Versión $DIM_VERSION</a></h3>
    <p>
      DIM esta construido sobre los mismos servicios que utiliza Bungie.net y la Aplicación complementaria de Destiny. DIM puede accesar los artículos dentro de el Inventario de tus Guardianes y el Depósito para ambos Xbox y PlayStation. Después puedes arrastrar y soltar los objetos a donde gustes moverlos.
    </p>
    <h2>Contáctanos</h2>
    <table>
        <tr>
            <td>Twitter</td>
            <td>Reddit</td>
            <td>GitHub</td>
        </tr>
        <tr>
            <td>
                Asegúrate de seguirnos para estar informado de las actualizaciones e información de la aplicación en tiempo real.
                <br />
                <a href="https://twitter.com/ThisIsDIM" target="_blank">@ThisIsDIM</a>
            </td>
            <td>
                Si tienes preguntas, comentarios o sugerencias, háznoslas saber!
                <br />
                <a href="https://destinyitemmanager.reddit.com" target="_blank">/r/destinyitemmanager</a>
            </td>
            <td>
                Si estas interesado en contribuir al proyecto, visíta la página del proyecto en GitHub.
                <br />
                <a href="https://github.com/DestinyItemManager/DIM/" target="_blank">DIM Git Repo</a>
            </td>
        </tr>
    </table>
    <h2>Preguntas Frecuentes</h2>
    <p>
        <dl>
            <dt>¿Cómo accede DIM a mis datos de Destiny?</dt>
            <dd>Cualquier extensión de Chrome puede pedir acceso a los datos que una página web guarda en tu computadora. Cuando inicias sesión en Bungie.net, se te proporciona un  token (una cookie) que es generada únicamente para tu cuenta. Utilizas este token para comunicarte con Bungie de manera segura. El token es mas seguro que estar enviando tus credenciales con cada requisito hecho a los servidores de Bungie. DIM utiliza este token para comunicarse con Bungie por ti.</dd>
        </dl>
        <dl>
            <dt>¿Cómo puedo cerrar sesión en DIM?</dt>
            <dd>Tu sesión esta ligada a Bungie.net. Si cierras sesión en Bungie.net, estas efectivamente cerrando sesión en DIM.</dd>
        </dl>
        <dl>
          <dt>¿Cuenta DIM con soporte para atajos de teclado (shortcuts)?</dt>
          <dd>Sí! Presiona la tecla "?" para ver una lista de los atajos disponibles.</dd>
        </dl>
        <dl>
            <dt>¡Perdí mi artículo usando tu herramienta!</dt>
            <dd>Es muy probable que la transferencia falló, lo cual deja tu artículo en el Depósito o en otro personaje. Puedes buscar ese objeto. Si incluso así no aparece, actualiza la aplicación presionando F5. Asegúrate de revisar <a href="http://bungie.net" target="_blank">Bungie.net</a> o en el juego para verificar que tu objeto todavía existe. Estamos seguros de que todavía esta ahí.</dd>
        </dl>
        <dl>
            <dt>Hey, DIM duplicó mi Gjallarhorn!</dt>
            <dd>No, no lo hicimos. Lo prometo.</dd>
        </dl>
    </p>

    <p>Todas las imagenes y contenido son propiedad de Bungie. Por favor contáctanos si hay algún problema.</p>
  </div>
</div>
