<ul>
  <li>Fija un conjunto de mejoras dando clicl al botón de fijar y seleccionando las mejoras</li>
  <ul>
    <li>Si una mejora no aparece, quiere decir que no tienes armadura que cuente con esa mejora</li>
    <li>Para usar armadura con múltiples mejoras juntas, presiona shift+click en las mejoras deseadas</li>
    <li><div class="example ex-or"></div> - Armadura con cualquiera de éstas mejoras será usada ("o")</li>
    <li><div class="example ex-and"></div> - Armadura con todas éstas mejoras será usada ("y")</li>
  </ul>
  <li>Arrastra y suelta objetos en las cajas fijas para crear conjuntos con solo ese equipo</li>
  <li>Shift click en un objeto para crear conjuntos sin ese equipo</li>
  <li>Niveles altos son mejores</li>
  <li>
    <ul>
      <li>4/5/2 (equipo nivel 11) es 4 de Intelecto, 5 de Disciplina y 2 de Fuerza (4+5+2 = Nivel 11)</li>
      <li>El Intelecto acelera la recarga de tiempo del Súper</li>
      <li>La Disciplina acelera la recarga de tiempo de la Granada</li>
      <li>La fuerza acelera la recarga de tiempo de el Cuerpo a Cuerpo</li>
    </ul>
  </li>
  <li>Intenta encontrar armadura que tenga mejoras de incremento de munición para el tipo de armas que frecuentemente usas.</li>
  <li>Cambia los nodos de Intelecto, Disciplina y Fuerza en el juego a lo que se muestra para crear cada equipo.</li>
  <li>Mientras el nivel de defensa de los objetos incremente, las estadísticas en ese objeto (int/dis/fuer) tambien incrementan.</li>
