<div>
<p>The One about an Irrational Number</p>&#13;
<ul class="changelog-toaster">
<li>* Improved Farming mode stability. Items no longer 'thrash' around.</li>&#13;
  <li>* Improved move logic. DIM is even smarter now.</li>&#13;
  <li>* Loadouts now permit the same burn of subclass.</li>&#13;
  <li>* More internationalization support.</li>&#13;
</ul>
<p>View the <a href="https://github.com/DestinyItemManager/DIM/blob/master/CHANGELOG.md" target="_blank">changelog</a> for the full set.</p>&#13;
<p>Follow us on: <a style="margin: 0 5px;" href="http://destinyitemmanager.reddit.com" target="_blank"><i class="fa fa-reddit fa-2x"></i></a> <a style="margin: 0 5px;" href="http://twitter.com/ThisIsDIM" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></p>
</div>
