@import '../../scss/variables.scss';

.character-dropdown {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  height: 45px;
  z-index: 2;
  position: relative;

  &.row {
    width: 100%;
    flex-direction: row;
  }
  .character-tile {
    width: 100%;
  }
}

.character-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include phone-portrait {
    justify-content: center;
  }

  .character-tile {
    min-width: 230px;
  }

  .character-box {
    border-bottom: none;
  }
}

.unselected {
  opacity: 0.4;
}
