.character-select {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  height: 45px;
  z-index: 2;
  position: relative;

  &.row {
    width: 100%;
    flex-direction: row;
  }
  .character-tile {
    width: 100%;
  }
  .unselected {
    opacity: 0.4;
  }
}
