@use '../variables.scss' as *;

.type {
  > * {
    display: inline;
  }
}

.perks {
  display: flex;
  flex-direction: column;
  margin: 4px 0;
  gap: 4px;

  > div {
    margin-left: -3px;
    padding-left: 4px;
  }

  .multiPerk {
    border-left: 2px solid #888;
    padding-left: 2px;
  }
}

.perk {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;

  > img {
    height: 24px;
    width: 24px;
    margin-left: -1px;
  }
}

.stats {
  margin: 4px 0 0 0;
  gap: 4px !important;

  :global(.stat) {
    color: var(--theme-text) !important;
  }
}

.armorStats {
  :global(.stat) {
    line-height: 8px;
  }
}

.customTotals {
  gap: 0 !important;
  flex-wrap: wrap;
}
