@use '../variables.scss' as *;

.list {
  padding: 10px;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.item {
  composes: flexRow from '../dim-ui/common.m.scss';
  align-items: flex-start;
  margin: 8px 0;
  gap: 8px;
  padding-left: 1px; // to account for the item hover outline
}

.info {
  flex: 1;
}

.title {
  @include destiny-header;
  text-decoration: none;
  font-size: 14px;
}

.classIcon {
  margin-left: 4px;
}

.clearButton {
  margin: 2px 0;
  width: 100%;
  text-align: left;
}
