@import '../variables.scss';

.closedBar {
  position: fixed;
  z-index: 10;
  width: 22px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  &:hover {
    background-color: #666;
  }
}

.closedBarText {
  transform: rotate(-90deg);
  white-space: nowrap;
  padding-right: 315px;
  :global(.app-icon) {
    margin-left: 17px;
    font-size: 17px;
  }
}

.header {
  display: flex;
  align-content: center;
  font-size: 18px;
  margin: 8px 0;
  > div {
    align-self: center;
  }
}

.emblem {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
}

.content {
  position: sticky;
  top: $header-height;
  height: calc(100vh - #{$header-height});
  overflow-y: auto;
  padding: 0 15px;
  z-index: 10;
  min-width: 275px;
  width: 275px;
  background-color: rgba(0, 0, 0, 0.15);

  :global(.store-cell) {
    padding: 0;
  }

  :global(.store-row) {
    display: block;
  }

  :global(.title) {
    background-color: transparent;
    padding: 0 8px;
  }

  :global(.title.collapsed) {
    margin-bottom: 0;
  }

  :global(.dim-button.bucket-button) {
    border-radius: 5px;
    padding: 8px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);

    &:hover {
      background: $orange;
      color: black;
    }
    :global(.badge) {
      margin: 0 5px;
    }
  }

  @include phone-portrait {
    margin-top: 15px;
  }
}
