@import '../variables.scss';

// Mode toggle
.inventoryToggle {
  position: fixed;
  top: 60px;
  right: 15px;
  z-index: 100;
  padding: 0;

  padding: 4px 10px;
  display: flex;

  @include phone-portrait {
    top: 110px;
    right: 7px;
    display: none;
  }
}

.alt {
  position: absolute;
  top: 52px;

  @include phone-portrait {
    display: none;
    top: inherit;
    right: 7px;
    position: fixed;
    bottom: 7px;
  }
}

.beta {
  margin-left: 6px;
  font-size: 0.8em;
  background-color: lightseagreen;
  color: black;
  padding: 2px 4px;
  border-radius: 5px;
}
