@import '../variables.scss';

// Mode toggle
.inventoryToggle {
  padding: 0;
  padding: 4px 10px;
  display: flex;
  width: fit-content;
}

.beta {
  margin-left: 6px;
  font-size: 0.8em;
  background-color: lightseagreen;
  color: black;
  padding: 2px 4px;
  border-radius: 5px;
}
