@use '../variables.scss' as *;

.breakerIcon {
  width: var(--breaker-size, calc(#{dim-item-px(24)}));
  height: var(--breaker-size, calc(#{dim-item-px(24)}));
}

.invert {
  filter: var(--theme-item-polaroid-invert);
}
