@import '../variables.scss';

.select {
  display: flex;
  justify-content: space-between;
}

.horizontal {
  composes: select;
  flex-direction: row;
  flex-wrap: wrap;

  .tile {
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
  }

  @include phone-portrait {
    justify-content: center;
  }
}

.vertical {
  composes: select;
  flex-direction: column;
  align-items: center;

  .tile {
    margin-bottom: 4px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.tile {
  height: 46px;
  min-width: 230px;
  @include phone-portrait {
    min-width: 260px;
    margin-bottom: 6px;

    > div {
      margin: 0 5px;
    }
  }
}

.unselected {
  opacity: 0.4;
}

.pager {
  overflow: hidden;
  > div {
    max-width: 250px;
    @include phone-portrait {
      max-width: 260px;
    }

    margin: 0 auto;
    overflow: visible !important;
  }
}

.frame {
  overflow: visible !important;
}

.track {
  overflow: visible !important;
}
