@use '../variables.scss' as *;

// TODO: Move to common button library!
.checkButton {
  composes: dim-button from global;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 2px 4px 2px 10px;

  @include phone-portrait {
    padding: 6px 10px 6px 16px;
  }

  // Don't do hover
  @include interactive($hover: true, $active: true) {
    background-color: rgb(255, 255, 255, 0.2) !important;
    color: var(--theme-text) !important;
  }

  > *:nth-last-child(n + 2) {
    margin-right: auto;
  }
  > *:last-child {
    margin-left: 6px;
    flex-shrink: 0;
  }
}
