@import '../variables.scss';

.classSelect {
  composes: flexRow from './common.m.scss';
  justify-content: space-between;
  @include horizontal-space-children(8px);
}

.button {
  composes: resetButton from './common.m.scss';
  color: white;
  width: 25%;
  padding: 8px;
  border: 1px solid transparent;
  > :global(.app-icon) {
    width: 100%;
    height: 100%;
  }
}

.selected {
  border: 1px solid white;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
