@use '../variables.scss' as *;

.title {
  padding: 0 16px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  min-height: 34px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:hover,
  &.collapsed {
    background-color: rgba(0, 0, 0, 0.4);
    color: #ccc;
  }

  span[role='button'] {
    cursor: pointer;
    outline: none;
  }
  .bucket-count {
    float: right;
  }
  .icon {
    width: 30px;
  }

  &.disabled-collapsed {
    color: #888;
    cursor: not-allowed;
  }
}

.collapse-icon {
  font-size: 16px;
  &:hover {
    color: $orange;
  }
  margin-left: -4px;
  width: 10px;
  margin-right: 6px;
  .collapsed & {
    margin-left: -2px;
    margin-right: 4px;
  }
}

.collapse-handle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.collapse-content {
  overflow: hidden;
}
