@use '../variables.scss' as *;

.confirmButton {
  overflow: hidden;
  max-width: 100%;

  // keep flexed things from trying to extend past the edges
  & div,
  & span {
    max-width: 100%;
    overflow: hidden;
  }

  // applies to both the icon, children container and the "confirm" message container
  & > div {
    // while transitioning out of confirm mode, linger the message, then sweep it away slowly
    transition: height 0.5s ease-in 0.5s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.confirmMode {
    color: var(--theme-text) !important;

    @include interactive($hover: true) {
      background-color: #af7d27 !important;
    }
    // as elements transition into confirm mode, snap confirm message into place quickly
    & > div {
      transition: height 0.1s;
    }

    &[class~='danger'] {
      @include interactive($hover: true) {
        background-color: #a22 !important;
      }
    }
  }
}
