.statWeightRow {
  composes: flexRow from '../dim-ui/common.m.scss';
  align-items: center;
  gap: 2px;

  & > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .divider::after {
    content: '+';
    opacity: 0.7;
  }

  img {
    height: 1.5em;
  }
}
