@use '../variables.scss' as *;

/* Button */

@layer base {
  .dim-button {
    cursor: pointer;
    padding: 4px 10px;
    display: inline-block;
    background-color: var(--theme-button-bg);
    color: var(--theme-button-txt);
    font-size: 12px;
    line-height: calc(16 / 12);
    font-family: 'Open Sans', sans-serif, 'Destiny Symbols';
    text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.25);
    border: 1px solid transparent;
    transition: all 150ms ease-out;
    box-sizing: border-box;
    text-align: center;

    @include phone-portrait {
      font-size: 14px;
      line-height: calc(18 / 14);
      padding: 8px 16px;
    }

    @include interactive($hover: true, $active: true) {
      background-color: var(--theme-accent-primary) !important;
      color: var(--theme-text-invert) !important;
      img {
        filter: invert(1) drop-shadow(0 0 1px black);
      }
    }
    img {
      height: 1.3em;
      width: auto;
      vertical-align: bottom;
      margin: 0 0.3em;
      filter: drop-shadow(0 0 1px black);
      transition: filter 150ms ease-out;
      &:only-child {
        margin: 0;
      }
    }

    &.selected {
      background-color: var(--theme-accent-primary) !important;
      color: var(--theme-text-invert) !important;
      img {
        filter: invert(1) drop-shadow(0 0 1px black);
      }
    }

    // Don't invert images/icons on buttons when they're not monochrome
    // e.g. kinetic slot filters in compare/organizer, or material cost for mod preview
    .dontInvert {
      filter: invert(0) !important;

      @include interactive($hover: true, $active: true) {
        filter: invert(0) drop-shadow(0 0 1px black) !important;
      }

      .selected {
        filter: invert(0) drop-shadow(0 0 1px black) !important;
      }
    }

    input {
      display: none;
    }

    &[disabled] {
      opacity: 0.5;
      cursor: not-allowed;

      @include interactive($hover: true, $active: true) {
        background-color: var(--theme-button-bg) !important;
        color: var(--theme-text) !important;
        img {
          filter: drop-shadow(0 0 1px black);
        }
      }
      &.selected {
        background-color: var(--theme-button-bg) !important;
        color: var(--theme-text) !important;
        img {
          filter: drop-shadow(0 0 1px black);
        }
      }
    }
    &.danger {
      @include interactive($hover: true) {
        background-color: $red !important;
      }
    }
    // Set focus styles
    &:focus {
      border-color: var(--theme-accent-primary);
      outline: none;
    }
    // For browsers that support :focus-visible, remove focus styles when focus-visible would be unset
    &:focus:not(:focus-visible) {
      border-color: transparent;
    }

    & .app-icon {
      margin-right: 4px;
      &:only-child {
        margin-right: unset;
      }
    }
  }

  a.dim-button {
    text-decoration: none;
  }

  .dim-button-primary {
    background-color: rgb(255, 255, 255, 0.3);
    font-weight: bold;
  }
}
