@use '../variables.scss' as *;

.button {
  composes: dim-button from global;
  display: block;
}

.menu {
  position: absolute;
  background: var(--theme-dropdown-menu-bg);
  color: var(--theme-text);
  font-size: 12px;
  z-index: 100;
}

.menuItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 10em;
  padding: 6px 9px;
  white-space: nowrap;

  @include phone-portrait {
    padding: 8px 16px;
    font-size: 14px;
  }

  :global(.app-icon) {
    color: var(--theme-text) !important;
    width: 16px;
    text-align: center;
    margin-right: 4px;
    font-size: 12px !important;
    height: 12px;
  }

  img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
}

.highlighted {
  background-color: var(--theme-accent-primary);
  color: var(--theme-text-invert) !important;
  :global(.app-icon) {
    color: var(--theme-text-invert) !important;
  }
}

.disabled {
  color: #999 !important;

  :global(.app-icon) {
    color: #999 !important;
  }
  &.highlighted {
    background-color: transparent;
  }
}

.kebabButton {
  composes: resetButton from './common.m.scss';
  padding: 4px 8px;
  color: #999;
  transition: all 150ms ease-out;

  @include interactive($hover: true, $active: true, $focus: true) {
    color: white;
  }
}

.separator {
  height: 1px;
  background-color: #555;
}

.arrow {
  font-size: 10px !important;
  width: 10px !important;
  height: 10px !important;
  margin-left: 6px;
}
