.element {
  width: calc((8 / 50) * var(--item-size));
  height: calc((8 / 50) * var(--item-size));
  margin-right: 1px;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  filter: saturate(2.5);

  // The D1 icons are a bit too small in the item badge, so we'll make them a
  // bit bigger
  &.d1Badge {
    width: calc((10 / 50) * var(--item-size));
    height: calc((10 / 50) * var(--item-size));
  }
}
