@use '../variables.scss' as *;

.element {
  width: calc(var(--element-size, #{dim-item-px(8)}));
  height: calc(var(--element-size, #{dim-item-px(8)}));
  margin-right: 1px;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  filter: saturate(2.5);

  // The D1 icons are a bit too small in the item badge, so we'll make them a
  // bit bigger
  &.d1Badge {
    width: calc(1.25 * var(--element-size, #{dim-item-px(8)}));
    height: calc(1.25 * var(--element-size, #{dim-item-px(8)}));
  }

  // Really this is just Kinetic damage
  &.invert {
    filter: invert(0.7);
  }

  &.fixContrast {
    filter: brightness(var(--theme-item-polaroid-element-adjust-brightness)) saturate(2.5);
  }
}
