// <div class=`energyMeterIncrements small`> (or medium)
//   <div class=used/><div class=used/><div class=unused/><div class=unavailable/><div class=unavailable/>
// </div>
//
// results:
// ■ ■ ■ □ ▬ ▬

.energyMeterIncrements {
  display: flex;
  align-items: center;

  border-color: white;

  .unavailable,
  .used,
  .unused {
    display: block;
    flex-grow: 1;
    border-style: solid;
  }
  .unavailable {
    height: 0;
    border-color: #888;
  }
  .used {
    background: white;
  }
  &.small {
    .unavailable,
    .used,
    .unused {
      border-width: 1px;
      margin: 0 0.5px;
    }

    .used,
    .unused {
      height: 2px;
    }
  }

  &.medium {
    .unavailable,
    .used,
    .unused {
      border-width: 3px;
      margin: 0 1px;
    }

    .used,
    .unused {
      height: 6px;
    }
  }

  @mixin increment-style($color) {
    .unused {
      border-color: $color;
    }
    .used {
      border-color: $color;
      background: $color;
    }
  }

  &.solar {
    @include increment-style(#f0631e);
  }
  &.arc {
    @include increment-style(#79bbe8);
  }
  &.void {
    @include increment-style(#8e749e);
  }
  &.stasis {
    @include increment-style(#4d88ff);
  }
}
