.dim-error {
  margin: 1em 0;
  padding: 1em;
  border: 2px solid rgba(255, 255, 255, 0.5);
  h2 {
    margin: 0 0 1em 0;
  }
  a {
    color: white;
    font-size: 12px;
  }
  background-color: #bd362f !important;
}
