@use '../variables.scss' as *;

.textBlockWrapper {
  position: relative;
  overflow: hidden;

  @include interactive($hover: true) {
    cursor: pointer;
  }
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: inset 0 -31px 20px -20px black;
  }
  &.open {
    @include interactive($hover: true) {
      cursor: default;
    }
  }
  &.open::after {
    display: none;
  }
}
