.fileInput {
  text-align: center;
  padding: 8px;
  border: 1px dashed #999;
  width: 100%;
  box-sizing: border-box;
}

.instructions {
  font-weight: bold;
}

.dragActive {
  border-style: solid;
}
