@use '../variables.scss' as *;

.guide {
  composes: flexRow from '../dim-ui/common.m.scss';
  flex-wrap: wrap;
  margin-top: 8px;
  margin-bottom: 8px;
  gap: 4px;

  @include phone-portrait {
    margin: 8px 6px;
  }
}

.pill {
  composes: resetButton from '../dim-ui/common.m.scss';
  composes: flexRow from '../dim-ui/common.m.scss';
  align-items: center;
  background: rgb(0, 0, 0, 0.4);
  border-radius: 12px;
  padding: 2px 8px;
  color: white;
  border: 1px solid transparent;
  transition: border-color 150ms;
  white-space: nowrap;
  gap: 4px;
  user-select: none;

  @include interactive($hover: true) {
    border-color: rgb(255, 255, 255, 0.3);
  }

  .darkBackground & {
    background-color: rgb(255, 255, 255, 0.2);
  }

  :global(.app-icon) {
    font-size: 10px;
  }
}

.selected {
  border-color: var(--theme-accent-primary) !important;
  background: rgb(0, 0, 0, 0.6);
}
