.pageLoading {
  position: relative;
}

.pageLoadingEnter {
  opacity: 0;
}
.pageLoadingEnter.pageLoadingEnterActive {
  opacity: 1;
  transition: opacity 100ms ease-in 500ms;
}

.pageLoadingExit {
  > section {
    transform: scale(1);
  }
}
.pageLoadingExit.pageLoadingExitActive {
  > section {
    opacity: 0;
    transition: all 100ms ease-out;
  }
}
