@use '../variables.scss' as *;

.page {
  composes: dim-page from global;

  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 14px 0 10px;

  @include phone-portrait {
    flex-direction: column;
    padding: 0;
  }

  h2 {
    text-transform: uppercase;
    letter-spacing: 2px;

    @include phone-portrait {
      margin-left: var(--inventory-column-padding);
      margin-right: calc(var(--inventory-column-padding) - var(--item-margin));
    }
  }
}

.contents {
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  h2:first-child {
    margin-top: 8px;
  }
  :global(.issue-banner-shown) & {
    padding-bottom: $issue-banner-height;
    @include phone-portrait {
      padding-bottom: 0;
    }
  }
}

.menu {
  font-size: 14px;
  flex-shrink: 0;
  margin-right: 12px;
  margin-top: 8px;
  position: sticky;
  top: calc(var(--header-height) + 8px);
  width: 230px + 8px;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  max-height: calc(var(--viewport-height) - var(--header-height) - 8px);

  > div {
    width: 230px;
    padding: 4px;
  }

  // Add in some width when a scrollbar is present!
  // It'd be cooler if https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-gutter existed.
  &.menuScrollbars {
    width: 230px + 17px + 8px; // Windows scrollbars are 17px, then padding
  }

  @include phone-portrait {
    position: static;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: none;
    > div {
      width: 100%;
      padding: 0;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

.menuHeader {
  margin-bottom: 4px;
  padding-bottom: 1px;
  margin-top: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 0.5px solid #666;
}

.menuButton {
  display: flex;
  text-decoration: none;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
  min-height: 24px;

  img {
    height: 24px;
    width: 24px;
    margin-right: 4px;
  }
  span:not(:global(.app-icon)) {
    flex: 1;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
