@use '../variables.scss' as *;
@use 'sass:color';

$ribbon-width: 6px;
$arrow-size: 15px; // ensure this stays in sync with 'popperArrowSize' in 'usePopper.ts'
$minimal-arrow-size: 10px;
$background-color: #151523;
$border-color: #5d5970;
$horizontal-padding: 11px;

.control {
  user-select: none;
  touch-action: none;
  -webkit-touch-callout: none;
}

.tooltip {
  --ribbon-color: #8e8e9e;

  position: absolute;
  background-color: $background-color;
  color: #dadaea;
  width: fit-content;
  max-width: 306px;
  border: 1px solid $border-color;
  border-top-width: $ribbon-width;
  border-radius: $ribbon-width;
  box-shadow: 0 0 24px 6px #080811;
  text-align: left;
  z-index: 99999;
  white-space: pre-wrap;
  box-sizing: border-box;
  user-select: none;

  // The 'ribbon' at the top of the tooltip. We can't use border or an inset box shadow because the change in
  // color between the left/right and top edges results in weird slanted artifacts.
  &::after {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--ribbon-color);
    height: $ribbon-width;
    top: -$ribbon-width;
    left: -1px;
    right: -1px;
    border-radius: $ribbon-width $ribbon-width 0 0;
  }

  &.wideTooltip {
    max-width: 100vw;
  }

  hr {
    border-color: $border-color;
  }

  p {
    margin-bottom: 0;
  }

  .header {
    background-color: #0a0a0f;
    padding: 6px $horizontal-padding;

    h2 {
      font-size: 14px;
      margin: 0;
      color: white;
      @include destiny-header;
    }

    h3 {
      font-size: 12px;
      margin: 0;
      color: #8e8e9e;
    }
  }

  .content {
    padding: 8px $horizontal-padding;
  }

  .arrow {
    --length: #{$arrow-size * 0.5};
    width: calc(var(--length) * 2);
    height: calc(var(--length) * 2);
    border-width: 0;
    border-style: solid;
    position: absolute;
    border-color: $border-color;
  }

  &[data-popper-placement='top'] .arrow {
    width: 0;
    height: 0;
    border-width: var(--length) var(--length) 0 var(--length);
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    bottom: calc(var(--length) * -1);
  }
  &[data-popper-placement='bottom'] .arrow {
    width: 0;
    height: 0;
    border-width: 0 var(--length) var(--length) var(--length);
    border-color: transparent transparent var(--ribbon-color) transparent;
    top: calc(#{-$ribbon-width} - var(--length));
  }
  &[data-popper-placement='right'] .arrow {
    width: 0;
    height: 0;
    border-width: var(--length) var(--length) var(--length) 0;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    left: calc(var(--length) * -1);
  }
  &[data-popper-placement='left'] .arrow {
    width: 0;
    height: 0;
    border-width: var(--length) 0 var(--length) var(--length);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    right: calc(var(--length) * -1);
  }

  &.minimalTooltip {
    border-radius: 3px;
    --ribbon-color: #{$border-color};
    background-color: $border-color;
    border: none;
    box-shadow: 0 0 10px 3px #080811;

    // hide ribbon
    &::after {
      display: none;
    }

    .content {
      padding: 3px 6px;
    }

    .arrow {
      --length: #{$minimal-arrow-size * 0.5};
    }
    &[data-popper-placement='bottom'] .arrow {
      top: calc(var(--length) * -1);
    }
  }

  .section:not(:empty) {
    margin: 8px #{-$horizontal-padding} -8px #{-$horizontal-padding};
    padding: 5px $horizontal-padding 7px $horizontal-padding;
    border-top: 1px solid rgba($border-color, 0.5);

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }

    &:first-child {
      margin-top: -7px;
      border-top: none;
    }
  }
}

@mixin tooltip-ribbon-color($color) {
  --ribbon-color: #{$color};
}

@mixin tooltip-section-color($color) {
  &:not(:empty) {
    color: color.mix(white, $color, 80%);
    background-color: rgba($color, 0.175);
    border-top-color: $background-color;
  }
}
