@import '../variables.scss';

.tippy-box {
  position: absolute;
  background-color: #444;
  color: white;
  width: fit-content;
  max-width: 250px;
  border-top: 5px solid #888;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 8px;
  text-align: left;
  z-index: 99999;
  white-space: pre-wrap;

  h2 {
    background-color: #444;
    margin: 0 0 4px 0;
    font-size: 14px;
    @include destiny-header;
  }

  .tippy-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: #444;
  }

  .tippy-content {
    width: fit-content;
    > div {
      width: fit-content;
    }
  }
}

.tippy-box[data-placement^='top'] {
  margin-bottom: 5px;
}
.tippy-box[data-placement^='top'] .tippy-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tippy-box[data-placement^='bottom'] {
  margin-top: 5px;
}
.tippy-box[data-placement^='bottom'] .tippy-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tippy-box[data-placement^='right'] {
  margin-left: 5px;
}
.tippy-box[data-placement^='right'] .tippy-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.tippy-box[data-popper-placement^='left'] {
  margin-right: 5px;
}
.tippy-box[data-popper-placement^='left'] .tippy-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
