@use '../variables' as *;
.buttons {
  composes: flexRow from '../dim-ui/common.m.scss';
  gap: 4px;
}

.button {
  composes: dim-button from global;
  flex-grow: 1;
}

.selected {
  composes: selected from global;
  cursor: default;
}
