.horizontalScrollContainer {
  flex: 1;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  -webkit-overflow-scrolling: touch;
  contain: content;
  touch-action: none;
}
