@import '../variables.scss';

$control-color: rgba(255, 255, 255, 0.5);

.sheet {
  // 100vh isn't really useful on Safari. We'll do this in code.
  // max-height: calc(100vh - #{$header-height} - 88px);
  left: 0;
  right: 0;
  position: fixed;
  backface-visibility: hidden;
  z-index: 12;
  bottom: 0;
  background-color: black;
  color: #e0e0e0;
  box-shadow: 0 -1px 24px 0px #222;
  user-select: none;
  overflow: hidden;

  .sheet-header {
    padding: 14px 10px 8px 10px;
    border-bottom: 1px solid #333;
    border-top: 5px solid $control-color;
    cursor: grab;
    // without a min-height, the border-bottom sticks through the close sheet button
    min-height: 26px;
    flex-shrink: 0;

    h1 {
      @include destiny-header;
      font-size: 16px;
      margin: 0 28px 8px 0;
      display: block;
    }
  }

  .sheet-footer {
    border-top: 1px solid #333;
    padding: 8px 10px;
    padding-bottom: calc(8px + constant(safe-area-inset-bottom));
    padding-bottom: calc(8px + env(safe-area-inset-bottom));
    flex-shrink: 0;

    // Add space for iOS' touch dead zone
    @media not all and (display-mode: standalone) {
      .ios & {
        margin-bottom: 44px;
      }
    }
  }

  .sheet-container {
    display: flex;
    flex-direction: column;
    // 100vh isn't really useful on Safari. We'll do this in code.
    // max-height: calc(100vh - #{$header-height} - 88px);
    position: relative;
  }

  .sheet-contents {
    flex: 1;
    overflow-y: auto;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    z-index: 0;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);

    /*
    &::-webkit-scrollbar {
      all: unset;
    }

    &::-webkit-scrollbar-track {
      all: unset;
    }

    &::-webkit-scrollbar-thumb {
      all: unset;
    }
    */

    &.sheet-has-footer {
      padding-bottom: 0;
    }
  }

  .sheet-close {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    padding: 18px 12px 12px 12px;
    color: $control-color;
    cursor: pointer;
    .app-icon {
      height: 24px;
      width: 24px;
    }
    &:active {
      color: rgba(255, 255, 255, 1);
    }
  }
}
