@use '../variables.scss' as *;

.page {
  composes: dim-page from global;

  padding: 16px 1em;
  font-size: 14px;
  user-select: auto;

  form {
    padding: 0;
  }
  h1 {
    flex-shrink: 0;
    margin: 0;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width: 800px) {
      font-size: 20px;
    }

    img {
      margin-right: 8px;
    }
  }
  h2 {
    a {
      color: var(--theme-accent-primary);
      text-decoration: underline;
      text-underline-offset: 6px;
      :global(.app-icon) {
        margin-right: 6px;
      }
    }
  }
  > p {
    margin: 5px 0;
  }
}
