@use '../variables.scss' as *;

.dialog {
  position: fixed;
  background-color: #08080f;
  color: var(--theme-text);
  top: 0;
  top: env(safe-area-inset-top, 0);
  margin-top: 0;
  border: 1px solid #707070;
  border-top-width: 6px;
  box-shadow: 0 0 24px 6px #080811;
  padding: 0;
  width: 40em;
  box-sizing: border-box;
  overflow: visible;
  cursor: default;

  @include phone-portrait {
    min-width: 100%;
    max-width: 100%;
    border-left: none;
    border-right: none;
  }

  &::backdrop,
  & + :global(.backdrop) {
    background: rgb(0, 0, 0, 0.6);
  }
}

.title {
  margin: 16px;

  h2 {
    font-size: 14px;
    margin: 0;
    font-weight: 600;
  }
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
  margin: 16px;
  align-items: center;
}

.body {
  margin: 16px;
}
