.ammoIcon {
  width: 28px;
  height: 20px;
}

.elementIcon {
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  margin: 0;
}

.weaponTypeIcon {
  width: 100%;
  height: auto;
  filter: invert(1) !important;
}
