@use '../variables.scss' as *;

.deepsightProgress {
  display: flex;
  gap: 4px;

  :global(.objective-progress) {
    background: var(--theme-background-item-progress-bar);
  }
}

.deepsightProgressSection {
  padding: 4px 10px 4px;
  background: var(--theme-background-item-progress-panel);
  flex-grow: 1;
}
