@use '../variables.scss' as *;

.catalystProgressTitle {
  margin-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;

  color: var(--theme-accent-primary);
  font-weight: bold;
}

.catalystProgress {
  display: flex;
  flex-direction: column;
  background: var(--theme-item-popup-panel-bg);
  gap: 4px;

  // Add spacer when adjacent to crafted weapon progress
  :global(.crafted-progress) + & {
    margin-top: 4px;
  }

  :global(.objective-progress) {
    background: var(--theme-item-popup-progress-bar-bg);
  }
}

.catalystProgressSection {
  padding: 4px 10px 4px;
  flex-grow: 1;
}
