.deepsightProgress {
  padding: 4px 10px 4px;
  background: #333;
}

.deepsightObjectiveProgress {
  background: #222;
}

.element {
  margin-bottom: 2px;

  img {
    width: 20px;
    height: 20px;
    margin: 0 4px -5px 0;
  }
}
