@use '../variables.scss' as *;

.deepsightProgress {
  display: flex;

  :global(.objective-progress) {
    background: #222;
  }
  > :nth-child(n + 2) {
    margin-left: 4px;
  }
}

.deepsightProgressSection {
  padding: 4px 10px 4px;
  background: #333;
  flex-grow: 1;
}
