<div class="storage">
  <back-link></back-link>

  <h1 translate="Storage.Title"></h1>

  <div class="storage-stats">
    <p translate="Storage.Explain"></p>
    <ul>
      <li ng-repeat="(key, value) in $ctrl.dataStats" translate="Storage.{{key}}" translate-values="{value: value}"></li>
      </li>
    </ul>
  </div>

  <button class="dim-button" ng-click="$ctrl.forceSync()">
    <i class="fa fa-save"></i>
    <span translate="Storage.ForceSync"></span>
  </button>

  <div ng-repeat="adapter in $ctrl.syncService.adapters"
       ng-switch="adapter.name"
       ng-class="{ enabled: adapter.enabled }">
    <h2>
      <i class="fa" ng-class="adapter.enabled ? 'fa-check-circle-o' : 'fa-times-circle-o'"></i>
      <span translate="Storage.{{adapter.name}}"></span>
    </h2>

    <div ng-switch-when="GoogleDriveStorage">
      <button ng-if="!adapter.enabled" class="dim-button" ng-click="$ctrl.driveSync()">
        <i class="fa fa-sign-in"></i>
        <span translate="Storage.DriveSync"></span>
      </button>
      <button ng-if="adapter.enabled" class="dim-button" ng-click="$ctrl.driveLogout()">
        <i class="fa fa-sign-out"></i>
        <span translate="Storage.DriveLogout"></span>
      </button>
    </div>

    <ul>
      <li ng-repeat="(key, value) in $ctrl.adapterStats[adapter.name]" translate="Storage.{{key}}" translate-values="{value: value}"></li>
      </li>
      <li ng-if="!$ctrl.adapterStats[adapter.name]" translate="Storage.NoData"></li>
    </ul>
  </div>

  <div class="importExport">
    <h2 translate="Storage.ImportExport"></h2>
    <div id="exportButtons">
      <div>
        <button class="dim-button" ng-click="$ctrl.exportData()">
          <i class="fa fa-download"></i>
          <span translate="Storage.Export"></span>
        </button>
      </div>
      <div>
        <button class="dim-button" ng-click="$ctrl.importData()">
          <i class="fa fa-upload"></i>
          <span translate="Storage.Import"></span>
        </button>
        <input type="file" id="importFile">
      </div>
    </div>
  </div>
</div>
