<div>
<p>Aquele sobre números irracionais.</p>&#13;
<ul class="changelog-toaster">
<li>* Melhorias de estabilidade do Modo Farm. Os itens não vão mais se mover por aí.</li>&#13;
  <li>* Lógica de movimentação melhorada. O DIM está mais esperto agora. </li>&#13;
  <li>* Sets agora permitem a mesma queimadura de subclasse.</li>&#13;
  <li>* Melhor suporte à internacionalização.</li>&#13;
</ul>
<p>Veja o <a href="https://github.com/DestinyItemManager/DIM/blob/master/CHANGELOG.md" target="_blank">changelog</a> completo.</p>&#13;
<p>Siga-nos no: <a style="margin: 0 5px;" href="http://destinyitemmanager.reddit.com" target="_blank"><i class="fa fa-reddit fa-2x"></i></a> <a style="margin: 0 5px;" href="http://twitter.com/ThisIsDIM" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></p>
</div>
