@use '../variables.scss' as *;

.metric {
  position: relative;
  box-sizing: border-box;
  background: rgb(255, 255, 255, 0.05);
  border: 1px solid #666;
  padding: 12px 12px 12px 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  user-select: text;
  gap: 8px;
}

.masterworked {
  color: $gold;
}

.completed {
  border-color: $gold;
}

.info {
  flex: 1;
}

.name {
  font-size: 14px;
}

.value {
  float: right;
  font-weight: bold;
  font-size: 16px;
  text-align: right;
  margin-left: 4px;
}

.goal {
  font-size: 11px;
  font-weight: normal;
  color: var(--theme-text-secondary);
  text-align: right;
}

.icon {
  margin-top: -13px;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4px 0 0;
  color: var(--theme-text-secondary);
  img {
    filter: invert(0.7);
  }
}

.hasProgressBar {
  padding-bottom: 18px;
}

.progressBar {
  position: absolute;
  width: 100%;
  height: 6px;
  left: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255, 0.1);

  &.complete {
    background-color: $xp;
  }
}

.progressFill {
  height: 100%;
  background-color: white;
}
