@use '../variables.scss' as *;

.presentation-node {
  .collapse-icon {
    margin-right: 8px;
  }

  /* indent child nodes more than their parent */
  > * > .presentation-node {
    margin-left: 10px;

    > .title {
      background-color: rgba(0, 0, 0, 0.2);
      &:hover,
      &.collapsed {
        background-color: rgba(0, 0, 0, 0.4);
      }

      /* styling for completed triumph categories */
      .completed {
        color: $gold;
        background-color: rgba(245, 220, 86, 0.1);
        opacity: 0.7;
        &.hide-complete {
          cursor: default;
          .collapse-icon {
            opacity: 0;
          }
        }
      }
    }
  }
  /* unless they are top children of locked-open top nodes */
  /* stylelint-disable-next-line no-descending-specificity */
  &.always-expanded > * > .presentation-node {
    margin-left: 0;
    > .title {
      background-color: rgba(0, 0, 0, 0.2);
      &:hover,
      &.collapsed {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }

  /* always expanded (weapon icons & some top level parents(collections)) */
  /* stylelint-disable-next-line no-descending-specificity */
  &.always-expanded > .title {
    background-color: rgba(0, 0, 0, 0);
    cursor: default;
    padding-left: 0;
  }
  /* always expanded, non-top-level nodes (weapon icons) */
  & .presentation-node.always-expanded {
    /* stylelint-disable-next-line no-descending-specificity */
    > .title {
      background-color: rgba(0, 0, 0, 0);
      opacity: 1;
      display: flex;
    }
  }
}
