@import '../variables';

.page {
  margin-top: 8px;
  user-select: text;
}

.presentationNodeOptions {
  @include vertical-space-children(8px);
  @include phone-portrait {
    padding: 8px var(--inventory-column-padding) 0 var(--inventory-column-padding);
  }
}
