<back-link></back-link>

<div class="activities">
  <div class="activity" ng-repeat="activity in $ctrl.activities track by $index">

    <div class="activity-header">
      <div class="activity-title" ng-style="::activity.image | bungieBackground" ng-class="{ 'activity-featured': activity.featured }">
        <img class="small-icon" ng-src="{{ ::activity.icon | bungieIcon }}" /> {{ ::activity.name }} <i ng-if="::activity.featured"  class="fa fa-star"></i>
      </div>
    </div>

    <div class="activity-progress" ng-repeat="tier in activity.tiers track by $index">
      <div class="tier-title">{{ ::tier.name }}</div>
      <div class="tier-row" ng-if="tier.characters.length" ng-repeat="character in tier.characters track by $index">
        <span>
          <img class="small-icon" ng-src="{{ ::character.icon }}" /> {{ ::character.name }}
        </span>
        <span>
          <span class="step-icon" ng-class="{ complete: step.complete }" ng-repeat="step in character.steps track by $index"></span>
        </span>
      </div>
    </div>

    <div class="activity-skulls" ng-if="::activity.skulls" ng-repeat="skull in activity.skulls">
      <img class="small-icon" ng-src="{{ ::skull.icon | bungieIcon }}" />
      {{ ::skull.displayName }} - {{ ::skull.description }}
    </div>
  </div>
</div>
