@use '../../variables.scss' as *;

.over {
  border-color: $orange !important;
  color: $orange;
}

.options {
  position: absolute;
  left: 12px;
  right: 12px;
  z-index: 1;

  > div {
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(var(--item-size) + ((var(--item-size) / 5) + 4px) - 1px);
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.8);
    margin-bottom: var(--item-margin);
    font-weight: bold;
  }
}

.dragOver {
  visibility: hidden;
}

.icon {
  margin-right: 4px;
}
