@import '../../variables.scss';

.loadoutOptions {
  width: 100%;

  @include phone-portrait {
    font-size: 14px;
  }

  form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-right: 4px;
    margin-bottom: 4px;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
    @include horizontal-space-children(4px);

    > a {
      margin-left: auto;
    }
  }

  summary {
    font-weight: bold;
    margin-bottom: 4px;
  }

  details {
    margin-top: 4px;
  }
}
