@use '../../variables.scss' as *;

.contents {
  display: flex;
  flex-flow: row wrap;
  @include flex-gap(12px, $marginBottom: 10px);
  @include phone-portrait {
    @include flex-gap(12px, $marginBottom: 10px);
  }
}

.mods {
  flex: 1;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  margin: 10px auto;
  @include flex-gap(4px);
}
