@use '../../variables.scss' as *;

.contents {
  display: flex;
  flex-flow: row wrap;
  gap: 12px;
}

.mods {
  flex: 1;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  margin: 10px auto;
  gap: 4px;
}
