html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*
 * Variables
 */
/*
 * Globals
 */
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

body {
  font-size: 14px;
  font-family: 'Open Sans';
  margin-top: 50px; }

/*
 * Typography
 */
h1 {
  font-weight: lighter;
  font-size: 48px;
  color: #000000;
  margin: 0; }

h2 {
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
  margin: 0; }

h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #222222;
  margin: 0; }

h4 {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #4A4A4A;
  margin: 0; }

.device-text {
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  color: #222222;
  letter-spacing: -.9px;
  text-transform: uppercase; }

.xbox {
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  color: #1C8627;
  text-transform: uppercase; }

.playstation {
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  color: #265BAD;
  text-transform: uppercase; }

.blizzard {
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  color: #0C50A0;
  text-transform: uppercase;}

span.spacer:before {
  margin-left: 8px;
  content: "• "; }

/**
 * Layout
 */
/* Positioning Elements */
.row {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2em; }
  .row::after {
    clear: both;
    content: "";
    display: block; }
  .row .col-1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%; }
    .row .col-1:last-child {
      margin-right: 0; }
  .row .col-2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .row .col-2:last-child {
      margin-right: 0; }
  .row .col-3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .row .col-3:last-child {
      margin-right: 0; }
  .row .col-4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .row .col-4:last-child {
      margin-right: 0; }
  .row .col-5 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    .row .col-5:last-child {
      margin-right: 0; }
  .row .col-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .row .col-6:last-child {
      margin-right: 0; }
  .row .col-7 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    .row .col-7:last-child {
      margin-right: 0; }
  .row .col-8 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .row .col-8:last-child {
      margin-right: 0; }
  .row .col-9 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .row .col-9:last-child {
      margin-right: 0; }
  .row .col-10 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .row .col-10:last-child {
      margin-right: 0; }
  .row .col-11 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%; }
    .row .col-11:last-child {
      margin-right: 0; }
  .row .col-12 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .row .col-12:last-child {
      margin-right: 0; }

/**
 * Top Navigation
 */
header {
  width: 100%;
  max-width: 100%;
  position: fixed;
  z-index: 999;
  top: 0px;
  background: #222222;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center; }
  header .row {
    flex-grow: 1; }
    header .row .logo {
      text-align: left;
      width: 71px; }
    header .row .col-10 {
      text-align: right;
      display: none; }
      header .row .col-10 li {
        display: inline-block; }
        header .row .col-10 li a {
          font-weight: bold;
          font-size: 14px;
          display: inline-block;
          padding: 0px 15px;
          color: #ffffff;
          text-decoration: none; }
        header .row .col-10 li.vertical-break {
          font-size: 20px;
          display: inline-block;
          padding: 0px 15px;
          text-decoration: none;
          color: #ffffff; }

/**
 * Mobile Menu
 */
.mobile-menu {
  display: block;
  background: none;
  border: none;
  text-indent: -99999px;
  cursor: pointer;
  margin: -10px 0 0; }
  .mobile-menu:focus {
    outline: none; }
  .mobile-menu span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
    .mobile-menu span:first-child {
      transform-origin: 0% 0%; }
    .mobile-menu span:nth-last-child(2) {
      transform-origin: 0% 100%; }

.sliding-panel-content {
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 220px;
  background: #404040;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  transform: translateX(-220px);
  transition: all 0.25s linear;
  z-index: 999999; }
  .sliding-panel-content ul {
    padding: 0;
    margin: 0; }
    .sliding-panel-content ul .mobile-heading {
      padding: 20px; }
  .sliding-panel-content li {
    list-style: none; }
  .sliding-panel-content li a {
    border-bottom: 1px solid #333;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 1em;
    text-decoration: none; }
    .sliding-panel-content li a:focus {
      background-color: #5BB1CE; }
    .sliding-panel-content li a:hover {
      background-color: #5BB1CE;
      color: #fff; }
  .sliding-panel-content.is-visible {
    transform: translateX(0); }

.sliding-panel-fade-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  z-index: 1; }
  .sliding-panel-fade-screen.is-visible {
    opacity: 0.4;
    visibility: visible; }

/**
 * Sections
 */
.hero {
  background: -webkit-linear-gradient(135deg, #F49600, #EE6D0D);
  /* Safari 5.1-6.0 */
  background: -o-linear-gradient(135deg, #F49600, #EE6D0D);
  /* Opera 11.1-12.0 */
  background: -moz-linear-gradient(135deg, #F49600, #EE6D0D);
  /* Firefox 3.6-15 */
  background: linear-gradient(135deg, #F49600, #EE6D0D);
  /* Standard syntax */
  height: 600px;
  overflow: hidden;
  text-align: center; }
  .hero .row {
    background: url("../images/dim-bg.png") no-repeat center top;
    padding: 75px 8px 0 8px; }
    .hero .row p {
      margin: 10px 0 70px;
      font-size: 24px; }
      .hero .row h1 span {
        font-weight: 700; }
    .hero .row a {
      display: block;
      text-decoration: none; }
      .hero .row a.launch {
        font-size: 20px;
        font-weight: 800;
        color: #EE6D0D;
        text-transform: uppercase;
        background: #ffffff;
        letter-spacing: 1px;
        width: 220px;
        height: 58px;
        margin: 0 auto;
        line-height: 55px;
        transition: .3s }
      .hero .row a.launch:hover{
        box-shadow:
          0 0 0 2px #EE6D0D,
          0 0 0 3px #ffffff;
      }
      .hero .row a.beta {
        color: #ffffff;
        width: 220px;
        line-height: 18px;
        margin: 7px auto; }
    .hero .row .browser {
      position: relative;
      bottom: -20px;
      padding: 0 15px; }

section {
  padding: 5em 0; }
  section h2 {
    font-size: 36px;
    line-height: 49px;
    font-weight: 700;
    margin-bottom: 25px; }
  section h3 {
    line-height: 27px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff; }
  section p {
    color: #ffffff;
    line-height: 19px;
    margin: 10px 0 26px; }

section.whats-dim {
  background: #555555;
  text-align: center; }
  section.whats-dim .col-5 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    section.whats-dim .col-5:last-child {
      margin-right: 0; }
  section.whats-dim .info .text-wrap {
    width: 100%; }
    .text-wrap a {
      color: #ffffff; }
  section.whats-dim img {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }

section.easy {
  background: #222222;
  text-align: center; }
  section.easy .col-5 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    section.easy .col-5:last-child {
      margin-right: 0; }
    section.easy .col-5 .image {
      margin-left: 8.5298%; }
      section.easy .col-5 .image img {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
    section.easy .col-5 .text-wrap {
      width: 100%; }

section.access {
  background: #ffffff;
  padding: 4em 0; }
  section.access .col-6 {
    text-align: center;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    section.access .col-6:last-child {
      margin-right: 0; }
  section.access h2 {
    color: #222222;
    line-height: 50px;
    letter-spacing: 0.4px; }
  section.access .devices {
    margin: 30px 0 10px; }
  section.access .systems {
    margin-bottom: 50px; }
  section.access a {
    display: block;
    text-decoration: none; }
    section.access a.launch {
      font-size: 20px;
      font-weight: 800;
      color: #ffffff;
      text-transform: uppercase;
      background: #EE6D0D;
      letter-spacing: 1px;
      width: 220px;
      height: 58px;
      text-align: center;
      margin: 0 auto;
      line-height: 55px;
      transition: .3s;}
      section.access a.launch:hover{
        box-shadow:
          0 0 0 2px #ffffff,
          0 0 0 3px #EE6D0D;
      }
    section.access a.beta {
      color: #000000;
      width: 220px;
      line-height: 18px;
      margin: 12px auto 20px;
      text-align: center; }

section.d2 {
  background: linear-gradient(
      rgba(41, 41, 47, 0.75),
      rgba(41, 41, 47, 0.75)),
      url(../images/Destiny-2-Official-Reveal-Art.jpg) no-repeat 0px -142px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 150px 0; }
  section.d2 .d2-support svg {
    display: block;
    float: left; }
  section.d2 .d2-support h4 {
    display: inline-block;
    color: #fff;
    margin-left: 15px; }


footer {
  background: #292929;
  padding: 5em 0 2em 0; }
  footer .footer-nav {
    margin-bottom: 7em; }
    footer .footer-nav .footer-logo {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      text-align: center;
      margin: 10px 0 30px; }
      footer .footer-nav .footer-logo:last-child {
        margin-right: 0; }
    footer .footer-nav .nav {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      footer .footer-nav .nav:last-child {
        margin-right: 0; }
      footer .footer-nav .nav:nth-child(3) {
        margin-right: 0; }
      footer .footer-nav .nav:nth-child(3+1) {
        clear: left; }
    footer .footer-nav .social {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      footer .footer-nav .social:last-child {
        margin-right: 0; }
    footer .footer-nav .link-headings {
      font-size: 10px;
      font-weight: 700;
      letter-spacing: .25px;
      line-height: 14px;
      text-transform: uppercase;
      color: #b9b9b9; }
    footer .footer-nav a {
      color: #ffffff;
      font-size: 11px;
      font-weight: 600;
      line-height: 30px;
      text-decoration: none; }
    footer .footer-nav .social {
      text-align: center;
      margin: 30px 0 10px; }
      footer .footer-nav .social .icon-button {
        margin-right: 5px; }
  footer .footer-bottom-nav li {
    display: inline-block;
    color: #b9b9b9;
    font-size: 12px;}
    footer .footer-bottom-nav li a {
      color: #b9b9b9;
      font-weight: 600;
      font-size: 10px;
      text-decoration: none;
      margin-right: 5px; }
  footer .copy {
    color: #b9b9b9;
    text-align: right;
    letter-spacing: 0.25px;
    font-weight: 600;
    font-size: 10px; }

/**
 * media queries
 */
@media screen and (min-width: 635px) {
  header .mobile-menu {
    display: none; }
  header .row .col-10 {
    display: block; } }

@media screen and (min-width: 840px) {
  footer .footer-nav .footer-logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    text-align: left;
    margin: 0; }
    footer .footer-nav .footer-logo:last-child {
      margin-right: 0; }
  footer .footer-nav .nav {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    footer .footer-nav .nav:last-child {
      margin-right: 0; }
  footer .footer-nav .social {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    text-align: right;
    margin: 0; }
    footer .footer-nav .social:last-child {
      margin-right: 0; } }

@media screen and (min-width: 1015px) {
  section.easy {
    text-align: left; }
    section.easy .image {
      margin-left: 8.5298%; }
    section.easy .col-5 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%; }
      section.easy .col-5:last-child {
        margin-right: 0; }
      section.easy .col-5 .text-wrap {
        width: 27em; }
  section.whats-dim {
    text-align: left; }
    section.whats-dim .col-5 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%; }
      section.whats-dim .col-5:last-child {
        margin-right: 0; }
    section.whats-dim .info {
      margin-left: 8.5298%; }
      section.whats-dim .info .text-wrap {
        width: 25em; }
  footer .footer-nav .nav {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    footer .footer-nav .nav:last-child {
      margin-right: 0; } }

@media screen and (min-width: 1150px) {
  section.access .col-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    text-align: left; }
    section.access .col-6:last-child {
      margin-right: 0; }
  section.access a.launch {
    margin: 0; }
  section.access a.beta {
    margin: 7px 0; } }

/*# sourceMappingURL=main.css.map*/
