<!doctype html>
<html lang="" ng-app="dimApp" ng-csp>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DIM</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.gstatic.com' rel='preconnect' crossorigin>
    <link href='https://www.bungie.net' rel='preconnect'>
    <link href='https://apis.google.com' rel='preconnect'>
    <link href='https://ssl.google-analytics.com' rel='preconnect'>
    <link href='https://www.google-analytics.com' rel='preconnect'>
    <link href='https://accounts.google.com' rel='preconnect'>
    <link href='https://ssl.gstatic.com' rel='preconnect'>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    {{#each htmlWebpackPlugin.files.chunks.main.css}}
      <link href="{{webpackConfig.output.publicPath}}{{this}}" rel="stylesheet">
    {{/each}}

  </head>

  <body ng-app="dimApp" ng-strict-di ng-controller="dimAppCtrl as app" ng-class="{ 'show-elements': app.settings.showElements, itemQuality: app.featureFlags.qualityEnabled && app.settings.itemQuality, 'show-new-items': app.settings.showNewItems, 'new-item-animated': app.settings.showNewAnimation }">
    <div class="ng-cloak" ng-click="trackActivity()">
      <div id="header">
        <div class="content">
          <span class="header-right">
            <dim-platform-choice platforms="app.platforms" current="app.currentPlatform" on-platform-change="app.platformChange(platform)" class="header-right"></dim-platform-choice>
            <div class="header-right" id="actions">

              <span class="link" ng-click="app.refresh($event)" translate-attr="{ title: 'Header.Refresh'}"><i ng-class="{'fa-spin': loadingTracker.active()}" class="fa fa-refresh"></i></span>
              <span class="link" ng-click="app.toggleMinMax($event)" translate-attr="{ title: 'LB'}"><i class="fa fa-bar-chart"></i></span>
              <span class="link" ng-if="app.featureFlags.materialsExchangeEnabled" ui-sref="materials-exchange" translate-attr="{ title: 'Header.MaterialsExchange' }"><i class="fa fa-list-alt"></i></span>
              <span class="link" ng-click="app.showSetting($event)" translate-attr="{ title: 'Settings'}"><i class="fa fa-cog"></i></span>
              <span class="link" ng-click="app.showFilters($event)" translate-attr="{ title: 'Header.Filters'}"><i class="fa fa-filter"></i></span>
              <span class="link" title="Search"><span focus-on="clicked" dim-search-filter=""></span></span>
            </div>
          </span>
          <span class="logo link" ui-sref="inventory" title="v{{$DIM_VERSION}} ({{$DIM_FLAVOR}})">DIM</span>
          <span class="link" ng-click="app.showAbout($event)" translate="Header.About"></span>
          <span class="link" ng-click="app.showSupport($event)" translate="Header.SupportDIM"></span>
          <span class="link" ng-if="app.featureFlags.vendorsEnabled" ng-class="{disabled: !app.vendorService.vendorsLoaded}" ng-click="app.toggleVendors($event)" translate="Vendors"></span>
          <span class="link" ng-if="app.xur.available" ng-click="app.showXur($event)">Xûr</span>
        </div>
      </div>
      <toaster-container toaster-options="{ 'time-out': 10000, limit: 6 }"></toaster-container>
      <div id="content" class="content" ui-view></div>
      <div class="store-bounds"></div>
      <dim-manifest-progress></dim-manifest-progress>
      <div class="random-loadout" ng-controller="dimRandomCtrl as random">
        <a class="loadout random" href="#" ng-disabled="random.disableRandomLoadout" ng-if="random.showRandomLoadout" ng-click="random.applyRandomLoadout($event)">&Pi;</a>
      </div>
    </div>

    <script type="text/javascript" src="{{webpackConfig.output.publicPath}}{{htmlWebpackPlugin.files.chunks.main.entry}}"></script>
  </body>

</html>
