@import '../../scss/variables.scss';

.filter-view {
  padding: 0 10px 1em 10px !important;

  td span {
    margin: 2px 4px;
    color: #eee;
    display: block;
    ul {
      padding-left: 2em;
    }
  }
}
