@use '../variables.scss' as *;

.filterView {
  padding: 0 10px 1em 10px !important;
  user-select: text;

  table {
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: rgb(255, 255, 255, 0.15);
    width: 100%;

    @include phone-portrait {
      table-layout: fixed;
    }

    tr:nth-child(2n) {
      background-color: rgb(0, 0, 0, 0.1);
    }
    tr:nth-child(2n + 1) {
      background-color: rgb(0, 0, 0, 0.3);
    }
  }
  th {
    text-align: left;
  }
  td,
  th {
    border: none;
    font-size: 13px;
    padding: 6px 9px;
    vertical-align: top;

    span,
    a {
      color: #eee;
      display: block;
      text-decoration: none;

      @include interactive($hover: true) {
        text-decoration: underline;
      }
    }
  }
  tr td:first-child {
    border-left: none;
  }

  kbd {
    background-color: #222;
    border-radius: 2px;
    padding: 0 2px;
    font-family: 'Open Sans', sans-serif;
  }
}

.search {
  margin: 8px 0 !important;
}

.entry {
  display: flex;

  margin-bottom: 4px;

  div {
    display: flex;
  }
  &:last-child {
    margin-bottom: 0;
  }

  .separator {
    opacity: 0.5;
  }
}
