@import '../variables.scss';

.searchResults {
  z-index: 10 !important;
  max-height: calc(100vh - #{2 * $header-height} - 16px);
  max-height: calc(100vh - #{2 * $header-height} - 16px + constant(safe-area-inset-top));
  max-height: calc(100vh - #{2 * $header-height} - 16px + env(safe-area-inset-top));
}
