.searchHistory {
  list-style: none;
  table {
    border-spacing: 0;
    width: 100%;
  }

  th {
    text-align: left;
    border-bottom: 1px solid white;
    white-space: nowrap;
  }

  td,
  th {
    vertical-align: top;
    padding: 16px 8px;
  }

  td {
    user-select: text;
  }

  tr:nth-child(2n) {
    td {
      background-color: rgb(0, 0, 0, 0.2);
    }
  }
}

.tabs {
  max-width: fit-content;
  margin-top: 8px;
}

.iconButton {
  composes: resetButton from '../dim-ui/common.m.scss';
  margin-left: 6px;
  color: var(--theme-text);
  padding: 0 2px;
}

.date {
  white-space: nowrap;
}

.instructions {
  margin: 1em;

  button {
    float: right;
  }
}

.sorter {
  margin-left: 2px;
}
