@use '../variables.scss' as *;

.searchResults {
  max-height: calc(var(--viewport-height) - var(--header-height) - 16px);
}

.header {
  margin: 0;
}

.contents {
  min-height: calc(#{$badge-height} + var(--item-size) + 4px) !important;
  margin: 10px;
}
