@import '../../scss/variables.scss';

.hide-filtered .search-hidden {
  display: none !important;
}

#filter-input {
  width: 250px;
  margin-left: -3px;
  margin-top: 4px;
  padding-right: 20px;
  border-radius: 0;
  -webkit-appearance: none;

  @media (max-width: 1100px) {
    width: 175px;
  }
}

.search-link {
  position: relative;
  top: -2px;

  // Yikes this is a hack
  @include phone-portrait {
    display: none;

    &.show {
      position: absolute;
      left: 29px;
      top: 4px;
      display: block;

      #filter-input {
        height: 28px;
        margin-top: 0;
        width: 150px;
      }

      .filter-help {
        top: 8px;
      }

      .dim-input {
        &:hover, &:focus {
          background-color: #222;
        }
      }

      input, select:focus {
        font-size: 16px; // so iOS doesn't zoom
      }
    }
  }
}
.search-button {
  display: none;
  @include phone-portrait {
    display: inline-block;
  }
}

.filter-help {
  position: absolute;
  right: -2px;
  top: 8px;
  cursor: pointer;
  .fa {
    font-size: 16px !important;
    color: #999 !important;
    &:hover {
      color: #E8A534 !important;
    }
  }
  .bulk-tag-select {
    bottom: 2px;
    background-color: #2e2e2e;
    position: relative;
    color: white;
  }
}

#filter-view td span {
  margin: 2px 4px;
  color: #eee;
  display: block;
}

#filter-view td span.ng-binding {
  &:hover {
    color: $blue;
    cursor: pointer;
  }
}

#filter-view ul {
  padding-left: 2em;
}

#filter-text {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

/* Textcomplete */

.dropdown-menu {
  border: 1px solid #ddd;
  background-color: white;
  transform: translate(0, -1px);
  .textcomplete-header, .textcomplete-footer {
    display: none;
  }
  li {
    border-top: 1px solid #ddd;
    padding: 2px 5px;
    &:nth-child(2) {
      border-top: none;
    }
    &:hover {
      background-color: #555;
    }
  }
  .active {
    background-color: #555;
  }
  li:hover a, .active a {
    color: white;
  }
  a {
    color: #333;
    font-size: 11px;
    &:hover {
      cursor: pointer;
    }
    text-decoration-line: none;
  }
  list-style: none;
  padding: 0;
  margin: 0;
}
