.item-review {
  left: 0;
  text-align: left;
  display: none;
  .show-reviews & {
    display: block;
  }
  .fa-star {
    font-size: .8em;
    bottom: 1px;
    padding-left: 1px;
    position: relative;
    opacity: .4;
  }
}
