// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Item header
//
// Displays the properties of the item at the
// top of the dropdown area.
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$item-header-spacing: 5px;

.item-header {
  background-color: #fff;
  color: #000;
  letter-spacing: 1px;
  overflow: hidden;
  padding: $item-header-spacing 28px $item-header-spacing $item-header-spacing;
  position: relative;
  text-overflow: ellipsis;

  .fa {
    cursor: pointer;
  }

  &.is-arc {
    background-color: $arc;
  }
  &.is-solar {
    background-color: $solar;
  }
  &.is-void {
    background-color: $void;
  }

  .item-title {
    color: #000;
    font-size: 1rem;
  }
  .icon {
    display: inline-block;
    text-align: center;
    width: 1rem;
  }
  .lock {
    vertical-align: baseline;
    font-size: 1rem;

    &.is-locking {
      opacity: .5;
    }
  }
  .element {
    display: inline-block;
    filter: invert(100%);
    height: 1rem;
    vertical-align: top;
    width: 1rem;
  }
  .info {
    font-size: 1.5em;
    position: absolute;
    right: $item-header-spacing;
    top: $item-header-spacing;
  }
}
