.item-review-container {
  width: 100%;
}

.item-dtr-review-input {
  background-color: #333;
  color: #fff;
  left: 0px;
  height: 30px;
  vertical-align: top;
}

.user-review-rating-preamble {
  font-size: larger;
  display: table-cell;
  width: 20%;
  vertical-align: middle;
}

.user-review-rating-field {
  display: table-cell;
}

.item-dtr-review-submit {
  background-color: #333;
  color: #fff;
  left: 0px;
  height: 30px;
  padding: 4px 8px;
  vertical-align: top;
}

.item-dtr-review {
  right: 0px;
  width: 69%;
  height: 30px;
  background-color: #333;
  padding: 4px 8px;
  border: none;
  outline: none;
  color: white; 
}

.user-review-community-overview {
  font-size: x-large;
  width: 100%;
}

.user-review-form .item-dtr-review-input {
  background-color: #333;
  color: #fff;
  left: 0px;
  height: 50px;
  vertical-align: top;
}

.user-review-form .item-dtr-review {
  right: 0px;
  width: 90%;
  height: 200px;
  background-color: #333;
  padding: 4px 8px;
  border: none;
  outline: none;
  color: white; 
}

.user-review-form .item-dtr-review-submit {
  background-color: #333;
  color: #fff;
  left: 0px;
  height: 50px;
  padding: 8px 12px;
  vertical-align: top;
}

.user-review-review-preamble {
  font-size: large;
  width: 100%;
  display: flex;
}

.user-review-review-field {
  width: 90%;
  display: flex;
  padding-bottom: 10px;
}

.user-review-container {
  width: 100%;
  display: table;
  background: #434444;
}

.user-review-form .item-dtr-pros {
  right: 0px;
  width: 75%;
  height: 125px;
  background-color: #333;
  padding: 4px 8px;
  border: none;
  outline: none;
  color: white; 
}

.user-review-pros-preamble {
  font-size: large;
  float: left;
  display: table-cell;
}

.user-review-pros-field {
  float: right;
  display: table-cell;
  width: 80%;
}

.user-review-cons-preamble {
  font-size: large;
  float: left;
  display: table-cell;
}

.user-review-cons-field {
  float: right;
  display: table-cell;
  width: 80%;
}

.user-review-form .item-dtr-cons {
  right: 0px;
  width: 75%;
  height: 125px;
  background-color: #333;
  padding: 4px 8px;
  border: none;
  outline: none;
  color: white; 
}

.user-review-submit {
  width: 30%;
  float: right;
}

.item-dtr-review-error {
  margin: 5px 10px;
  white-space: pre-wrap;
  color: #985C58;
  width: 100%;
  text-align: right; 
}

#discuss-drawer {
  left: 0;
  right: 0;
  position: fixed;
  z-index: 3;
  bottom: 0;
  background: #434444;
  color: #e0e0e0;
  box-shadow: 0 -1px 6px 0px #222;
  height: 80%; }

.discuss-options {
  width: 100%;
  float: right;
}

.community-review-display-name {
  font-size: xx-large;
  display: table-cell;
}

.community-review-rating {
  font-size: x-large;
  text-align: left;
  display: table-cell;
}

.user-review-form {
  float: left;
  width: 48%;
  height: 100%;
  overflow: auto;
  background: #434444;
}

.community-reviews {
  float: right;
  width: 50%;
  height: 100%;
  overflow: auto;
}

.community-review {
  display: table;
}

.community-review-review {
  font-size: 16px;
  display: table-cell;
  width: 100%;
}

.community-review-highlighter {
  display: table-cell;
  vertical-align: middle;
}

.community-review-content {
  display: table-cell;
}

.user-review-circle {
	border-radius: 50%;
	width: 60px;
	height: 60px;
  float: left;
}

.orange-circle {
  background-color: orange;
}

.green-circle {
  background-color: green;
}

.community-reviews-pros-container {
  width: 48%;
  display: table-cell;
  float: left;
}

.community-review-pros-header {
  font-size: 16px;
  display: flex;
}

.community-review-pros {
  display: flex;
}

.community-reviews-cons-container {
  width: 48%;
  display: table-cell;
  float: right;
}

.community-review-cons-header {
  font-size: 16px;
  display: flex;
}

.community-review-cons {
  display: flex;
}