.item-review-container {
  width: 100%;
}

.item-dtr-review-input {
  background-color: #333;
  color: #fff;
  left: 0px;
  height: 30px;
  vertical-align: top;
}

.user-review-rating-preamble {
  font-size: larger;
  display: table-cell;
  width: 20%;
  vertical-align: middle;
}

.user-review-rating-field {
  display: table-cell;
}

.item-dtr-review-submit {
  background-color: #333;
  color: #fff;
  left: 0px;
  height: 30px;
  padding: 4px 8px;
  vertical-align: top;
}

.item-dtr-review {
  right: 0px;
  width: 69%;
  height: 30px;
  background-color: #333;
  padding: 4px 8px;
  border: none;
  outline: none;
  color: white; 
}

.user-review-community-overview {
  font-size: x-large;
  width: 100%;
}

.user-review-form .item-dtr-review-input {
  background-color: #333;
  color: #fff;
  left: 0px;
  height: 50px;
  vertical-align: top;
}

.user-review-form .item-dtr-review {
  right: 0px;
  width: 90%;
  height: 200px;
  background-color: #333;
  padding: 4px 8px;
  border: none;
  outline: none;
  color: white; 
}

.user-review-form .item-dtr-review-submit {
  background-color: #333;
  color: #fff;
  left: 0px;
  height: 50px;
  padding: 8px 12px;
  vertical-align: top;
}

.user-review-review-preamble {
  font-size: large;
  width: 100%;
  display: flex;
}

.user-review-review-field {
  width: 90%;
  display: flex;
  padding-bottom: 10px;
}

.user-review-container {
  width: 100%;
  display: table;
  background: #434444;
}

.user-review-form .item-dtr-pros {
  right: 0px;
  width: 75%;
  height: 125px;
  background-color: #333;
  padding: 4px 8px;
  border: none;
  outline: none;
  color: white; 
}

.user-review-pros-preamble {
  font-size: large;
  float: left;
  display: table-cell;
}

.user-review-pros-field {
  float: right;
  display: table-cell;
  width: 80%;
}

.user-review-cons-preamble {
  font-size: large;
  float: left;
  display: table-cell;
}

.user-review-cons-field {
  float: right;
  display: table-cell;
  width: 80%;
}

.user-review-form .item-dtr-cons {
  right: 0px;
  width: 75%;
  height: 125px;
  background-color: #333;
  padding: 4px 8px;
  border: none;
  outline: none;
  color: white; 
}

.user-review-submit {
  width: 30%;
  float: right;
}

.item-dtr-review-error {
  margin: 5px 10px;
  white-space: pre-wrap;
  color: #985C58;
  width: 100%;
  text-align: right; 
}

.community-review-display-name {
  font-size: xx-large;
  display: table-cell;
}

.community-review-rating {
  font-size: x-large;
  text-align: left;
  display: table-cell;
}