.minmax {
  width: 900px;
  margin: 0 auto;

  #includeVendors {
    vertical-align: middle;
  }
  .includeRares {
    vertical-align: middle;
    margin-left: 0;
  }

  .example {
    width: 10px;
    height: 10px;
    display: inline-block;
  }

  .ex-or {
    background-color: #E8A534;
  }

  .ex-and {
    background-color: #B184C5;
  }

  .locked-perk-notification img {
    width: var(--item-size);
    height: var(--item-size);
  }

  .perk-addition {
    text-align: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .perk-addition-text-container:hover {
    opacity: 1;
    transition: 1s;
  }

  .perk-select-hidden .perk-select-box {
    display:none;
  }

  .perk-addition-text-container {
    opacity: 0;
    display: table-cell;
    vertical-align: middle;
    width: var(--item-size);
    height: var(--item-size);
  }

  .perk-addition-text {
    display: block;
    font-size: 8px;
  }

  .fa-arrow-circle-left {
    padding-right: 5px;
  }

  .labels {
    float: left;
    clear: both;
  }
  .label {
    text-align: center;
    overflow-wrap: break-word;
  }
  .other-configs {
    text-align: center;
  }
  .vendor-checkbox {
    margin: 0;
    margin-left: 10px;
  }

  .loadout {
    margin-bottom: 20px;
  }

  .expand-configs:hover {
    color: #E8A534;
    cursor: pointer;
  }

  .equip-button {
    margin-left: 5px;
  }

  #char-select {
    position: relative;
  }

  .ngdialog.char-popup {
    position: absolute;
    display: block;
    width: 180px;
    overflow: none;
    z-index: 2;
    top: 0;
    bottom: initial;
    margin: 0;
    padding: 0;
    border: none;
    border-top: none;
    color: rgba(245, 245, 245, 0.6);
    margin-bottom: 10px;
    cursor: pointer;
  }

  .minmax-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    .item {
      margin: 0;
    }
  }

  .minmax-select-box {
    display: inline-block;
    position: relative;
    height: 40px;
    width: 180px;
    padding-left: 40px;
    /* background: rgba(30, 36, 43, .5); */
    text-shadow: 1px 1px 1px #000000;
    color: #f5f5f5;
    text-decoration: none;
    background-size: cover;
    &.dropdown-option {
      width: 220px;
    }
    .emblem {
      position: absolute;
      left: 0;
      top: 1px;
      width: 38px;
      height: 38px;
      background-color: rgba(0, 0, 0, 0.2);
      background-size: cover;
    }
    .class {
      text-transform: capitalize;
      position: relative;
      display: block;
      top: 0;
      font-size: 1.29em;
      font-weight: 400;
    }
    .race-gender {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 0.9em;
      position: relative;
    }
    .level {
      position: absolute;
      top: 4px;
      right: 35px;
      font-weight: 200;
      font-size: 12px;
    }
    .currency {
      position: absolute;
      top: 4px;
      right: 40px;
      font-weight: 200;
      font-size: 14px;
    }
    .legendaryMarks {
      position: absolute;
      top: 23px;
      right: 40px;
    }
    .level.powerLevel {
      position: absolute;
      top: 18px;
      right: 35px;
      font-weight: 200;
      font-size: 12px;
      color: #f5dc56;
    }
    .powerLevel:before {
      content: "\2726";
      display: inline-block;
      vertical-align: 25%;
      font-size: 50%;
    }
  }

  .minmax-select-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(120, 120, 120, 0.7);
    width: 30px;
    height: 40px;
    color: rgba(200, 200, 200, 1);
    text-align: center;
    font-size: 15px;
    line-height: 35px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      background-color: rgba(160, 160, 160, 0.8);
      border: 1px solid rgba(32, 32, 32, 0);
      color: rgba(245, 245, 245, 1);
    }
    .active {
      background-color: rgba(10, 10, 10, 0.25);
      color: rgba(245, 245, 245, 0.75);
    }
  }

  .lock-container {
    position: relative;
    width: calc(var(--item-size) + 4px);
  }

  .item-container {
    margin: 20px 17px 0px 0;
  }

  .item-stats {
    display:inline-block;
  }

  .locked-button {
    margin-right: 5px;
  }

  .locked-item {
    display:inline-block;
    margin-right:20px;
    position:relative;
    float: left;
    text-align: center;
    width: calc(var(--item-size) + 15px);

    .empty-item {
      display: inline-block;
      background-color:#656565;
      width: var(--item-size);
      height: var(--item-size);
      border:2px solid #DDD;
    }
  }

  .item-overlay-container {
    position: relative;
    display: inline-block;
  }

  .vendor-icon-background {
    pointer-events: none;
    background-color: rgba(100, 100, 100, 0.6);
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .vendor-icon {
    width: 20px;
    height: 20px;
  }

  .excluded-item {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    position: relative;
  }

  dim-stats {
    display: inline-block;
    margin-bottom: 7px;
    margin-left: 22px;
    .stat-bars {
      width: 375px;
    }
  }
  .loadout .dim-button {
    float: left;
  }
  .set-item {
    position: relative;
    display: inline-block;
    margin-right: 7px;
    .talent-grid.smaller {
      width: 71px;
      max-height: 48px;
    }
  }
  .set-item:last-child {
    margin-right: 0;
  }

  .excluded-items {
    border: 2px solid #DDD;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc((var(--item-size) + 14px)*7);
    min-height: var(--item-size);
  }

  .excluded-container {
    margin-right: 10px;
  }

  .excluded-container:last-child {
    margin-right: 0;
  }
}

.ngdialog.perk-select-popup .perk-select-box {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  left: 0;
  top: 0;
  width: calc(((var(--item-size) + 20px) * 5) + 14px);
  min-height: calc((var(--item-size) * 5) + 10px);
  overflow-y: auto;
  background-color: #656565;
  border: 2px solid #DDD;
  z-index: 3;
  & .perk {
    width: calc(var(--item-size) + 20px);
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
  }

  & .perk:hover, & .active-perk-or {
    background-color: #E8A534;
  }

  &.shift-held .perk:hover, & .active-perk-and {
    background-color: #B184C5;
  }

  & .perk img {
    width: var(--item-size);
    height: var(--item-size);
    display: block;
    margin: auto;
  }

  & .perk small {
    text-align: center;
    display: block;
  }
}
