// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Move Popup
//
// The popup displaying info and actions for an single item.
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.move-popup-dialog {
  height: fit-content;
}

.move-popup {
  background-color: #222;
  cursor: default;
  min-height: 77px;
  width: 320px;
  height: fit-content;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);

  .interaction {
    display: flex;
    flex-direction: row;
  }
  .bounty-description {
    padding: 5px;
    display: inline-block;
  }
  .move-button {
    background-size: cover;
    width: 37px;
    height: 37px;
    text-align: center;
    line-height: 10px;
    margin: 6px 4px 6px 0;
    cursor: pointer;
    user-select: none;
    &:last-child {
      margin-right: 10px;
    }
    &:focus {
      outline-width: 5px;
    }
    span {
      text-transform: uppercase;
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }
  .infuse-perk {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #4887ba;
  }

  .locations {
    display: flex;
    flex-direction: row;
  }

  .interaction {
    margin: 0 6px;
  }
  dim-item-tag {
    position: absolute;
    right: 5px;
    select {
      background: transparent;
      border: none;
      outline: none;
    }
  }
}

.move-button {
  &.move-vault {
    background-image: url(/images/vault.png);
  }
  &.move-distribute {
    background-image: url(/images/arrows-out.png);
  }
  &.move-consolidate {
    background-image: url(/images/arrows-in.png);
  }
}
/*
.move-popup-right {
  right: 0;
}

.move-popup-bottom {
  top: 50px;
}
*/

.ngdialog.xur-move-popup {
  position: fixed;
  z-index: 10000;

  .compare-items {
    margin-top: 0;
    display: flex;
    flex-direction: row;
  }
  .more-item-details {
    margin-top: 0;
  }
  .item {
    opacity: 0.2;
  }
  .selected {
    opacity: 1.0;
  }
  a {
    outline: 0;
  }
}


