@import 'variables.scss';

.ngdialog {
  box-sizing: border-box;
  position: absolute;
  display: block;
  background-color: #222;
  -webkit-overflow-scrolling: touch;
  z-index: 3;
  bottom: 0;
  overflow: visible;
  h1 {
    font-weight: 400;
  }

  &.modal-dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 1000;
    font-size: 13px;
    background: transparent;
    display: flex;
    justify-content: center;

    .ngdialog-content {
      margin-top: 16px;
      max-height: fit-content;
      max-width: 80%;
      background-color: #222;
      border: solid 1px #3e3e3e;

      @media (max-width: 800px) {
        max-width: 100%;
        height: 100%;
      }
    }
  }
}

.ngdialog-inner-content {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  flex: 1;
  padding: 8px;

  > p {
    margin: 5px 0;
  }
}

.ngdialog-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  background: transparent;
  color: #e0e0e0;
  border: 0;

  @media (max-width: 800px) {
    top: 7px;
  }

  &:hover {
    color: $orange;
  }

  &:before {
    content: '\f00d';
    font-family: 'FontAwesome';
    cursor: pointer;
  }
}

.ngdialog-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.85);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backface-visibility: hidden;
}

.ngdialog-content {
  color: #e0e0e0;
  background-color: transparent;
  position: relative;
  z-index: 100;

  > {
    div {
      display: flex;
      flex-direction: column;
      height: 90%;
      max-height: 100%;

      > {
        h1,
        h2,
        h3,
        p,
        table,
        dl {
          padding-left: 25px;
          padding-right: 25px;

          img {
            vertical-align: middle;
          }
        }
      }
    }
  }

  > div form {
    padding: 0;
  }
  h1 {
    flex-shrink: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px;
    font-weight: 200;
    background-color: #101010;

    @media (max-width: 800px) {
      font-size: 20px;
      padding: 8px 15px;
    }
  }
  h2 {
    margin-top: 0;
  }
  > p {
    margin: 5px 0;
  }
  dl {
    background-color: #2f2f2f;
    border-radius: 6px;
    padding: 5px 15px;
    margin: 0.5em 0;
  }
  dt {
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    margin-top: 10px;
    color: $orange;
  }
  dd {
    margin: 10px 10px 15px 10px;
  }
  table {
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #222;
    tr:nth-child(2n + 1) {
      background-color: #1b1b1b;
    }
  }
  tr td:first-child {
    border-left-style: solid;
    border-left-width: 1px;
  }
  td {
    border-color: #1b1b1b;
    border-style: none solid solid none;
    border-top: medium none;
    border-width: medium 1px 1px medium;
    font-size: 13px;
    padding: 6px 9px;
    vertical-align: top;
  }
  input {
    &[type='checkbox'],
    &[type='radio'] {
      display: inline-block;
      width: 15px;
      height: 15px;
    }
  }
}
