/* Local Variables:     */
/* css-indent-offset: 2 */
/* End:                 */

@import 'variables.scss';

:root {
  // Item width including border
  --item-size: 50px;
  // Margin on the bottom and right of an item
  --item-margin: 6px;
  // Padding at the ends of inventory column
  --inventory-column-padding: 12px;
  --num-characters: 3;
  --character-columns: 3;
  --color-filter: '';
}

@media (max-width: 1025px) {
  :root {
    --item-size: 48px;
  }
}

@include phone-portrait {
  :root {
    --item-margin: 10px;
    --inventory-column-padding: 12px;
    /* prettier-ignore */
    --item-size: calc(
      (
        /* Full width */ 100vw -
        /* Column padding */ (2 * var(--inventory-column-padding) - var(--item-margin)) -
        /* Equipped item border */ #{2 * ($equipped-item-border + $equipped-item-padding)} -
        /* Item margins for each item */ var(--item-margin) * (var(--character-columns) + 1)
      ) / (var(--character-columns) + 1)
    ) !important;
  }

  .app.char-cols-3 {
    --item-margin: 15px;
    // Padding at the ends of inventory column
    --inventory-column-padding: 34px;
    // TODO: Not sure why I need to repeat this!
    /* prettier-ignore */
    --item-size: calc(
      (
        /* Full width */ 100vw -
        /* Column padding */ (2 * var(--inventory-column-padding) - var(--item-margin)) -
        /* Equipped item border */ #{2 * ($equipped-item-border + $equipped-item-padding)} -
        /* Item margins for each item */ var(--item-margin) * (var(--character-columns) + 1)
      ) / (var(--character-columns) + 1)
    ) !important;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.notloaded {
  opacity: 0;
  margin: 2em;
  animation: 1s linear 3s forwards fade-in;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

div:focus,
span:focus {
  outline-width: 0;
}

#DTRTooltip {
  display: none;
}

@keyframes browser-warning {
  to {
    opacity: 0;
    display: none;
  }
}
#browser-warning {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #990000;
  padding: 8px;
  text-align: center;
  &.hidden {
    display: none;
  }
  animation: 1s linear 10s forwards browser-warning;
}

/**
  Misc DIM page
 **/
.dim-page {
  // non-inventory page settings
  max-width: 900px;
  margin: 0 auto;
  filter: var(--color-filter);
}

.currency img {
  vertical-align: text-bottom;
  height: 16px;
  width: 16px;
}

dt {
  font-style: italic;
  font-weight: bold;
  margin-top: 8px;
}

dd {
  margin: 3px 20px;
}

a {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

h2,
h3 {
  margin-top: 20px;
  margin-bottom: 15px;
}

body {
  margin: 0 auto;
  padding-top: 44px;
  padding-top: calc(44px + constant(safe-area-inset-top));
  padding-top: calc(44px + env(safe-area-inset-top));
  background-color: #313233;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  // Disable drag and drop so we can use our polyfill
  -webkit-user-drag: none;
  // Disable pull to refresh in Android
  overscroll-behavior: contain;
}

::-webkit-scrollbar {
  width: 10px;

  &:horizontal {
    height: 10px;
  }
}

::-webkit-scrollbar-track {
  background: rgba(228, 228, 228, 0.2);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #e4e4e4;
  border-radius: 3px;
}

#system {
  outline: none;
  background-color: #fafafa;
  float: right;
  cursor: pointer;
  option {
    cursor: pointer;
  }
}

input,
select,
option {
  font-family: 'Open Sans', sans-serif;
}

input[type='search'] {
  -webkit-appearance: textfield;
}

.drag-help {
  font-size: 1.5em;
  position: fixed;
  backface-visibility: hidden;
  bottom: 2em;
  transition: transform 0.5s, opacity 0.5s, background-color 0.1s;
  background-color: rgba(0, 0, 0, 0.8);
  left: calc(50% - 15em);
  width: 30em;
  right: 0;
  border-radius: 0.5em;
  text-align: center;
  padding: 0.5em 0.5em;
  color: #e0e0e0;
}

.drag-help-hidden {
  transform: translateY(5em);
  opacity: 0;
}

.drag-help {
  &.drag-shift-activated,
  &.drag-dwell-activated {
    background-color: rgba(0, 60, 0, 0.8);
  }
}

#content {
  margin: 0 auto;
  user-select: none;
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.store-bounds {
  position: fixed;
  backface-visibility: hidden;
  pointer-events: none;
  bottom: 0px;
  left: 0;
  right: 0;
  top: 124px;
}

.ng-hide {
  display: none;
}

h2,
h3,
h4 {
  font-weight: 400;
}

.drag-enter {
  background-color: rgba(255, 255, 255, 0.1);
}

.drag-hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.on-dragging .ngdialog {
  display: none;
}

.ng-hide {
  display: none !important;
}

.close {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: absolute;
  top: 2px;
  right: calc(2px + var(--item-margin));
  background-image: url('../images/close.png');
  background-size: 16px 16px;
  background-color: rgba(100, 100, 100, 0.6);
  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.fa.fa-circle.trials {
  font-size: 18px;
  margin-right: 3px;
  color: #b12e21;
  opacity: 1;
  &.wins {
    color: #cfd92b;
  }
  &.incomplete {
    opacity: 0.35;
  }
}

.disabled {
  opacity: 0.5;
}

.support h2 {
  margin-top: 1em;
  margin-bottom: 0.25em;
}

.backers {
  a {
    margin-right: 1em;
  }
  img {
    border-radius: 50%;
  }
}

.fineprint {
  font-size: 0.85em;
  color: #aaa;
}

.stylizedAnchor {
  text-decoration: none;
}

.warning-block {
  color: white;
  background: #bd362f;
  padding: 0.5em 1em;
  display: inline-block;
}
