/* Local Variables:     */
/* css-indent-offset: 2 */
/* End:                 */

@import "variables.scss";

:root {
  --item-size: 44px;
  --num-characters: 3;
  --character-columns: 3;
  --vault-max-columns: 999;
}

// iPad - use smaller items to fit them on screen.
@media (max-width: 1025px) {
  :root {
    --item-size: 38px;
  }
}

@mixin item-size {
  width: 44px;
  height: 44px;
  width: var(--item-size);
  height: var(--item-size);
}

@mixin item-size-padded {
  width: 48px;
  height: 48px;
  width: var(--item-size + 4px);
  height: var(--item-size + 4px);
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

div:focus, span:focus {
  outline-width: 0;
}

#DTRTooltip {
  display: none;
}

/**
  New Item overlay area
**/

@keyframes new_overlay {
  0%   { transform: translate(calc(-1.5*var(--item-size)), calc(-1.5*var(--item-size))) scale(2)}
  100% { transform: translate(calc(1.5*var(--item-size)), calc(1.5*var(--item-size))) scale(2)}
}

.new_overlay {
  @include item-size;
  pointer-events: none;
  .new-item-animated & {
    will-change: transform;
    animation: new_overlay 4s linear infinite;
  }
}

.new_overlay_overflow {
  display: none;
  .show-new-items & {
    display: block;
    @include item-size;
    overflow: hidden;
  }
}

/**
  Header Area
**/

.currency img {
  vertical-align: text-bottom;
  height: 17px;
  width: 17px;
}

.logo {
  background: url('../logo.png') no-repeat;
  background-position: left center;
  background-size: 24px;
  height: 24px;
  padding-left: 32px;
  color: #999;
  font-size: 16px !important;
  font-weight: bold;
  color: $orange !important;
  font-weight: 400;
  &.dev {
    filter: grayscale(100%);
  }
  &.beta {
    filter: hue-rotate(153deg);
  }
}

.oc {
  background: url('../oc.svg') no-repeat;
  background-size: contain;
  padding-left: 18px;
  height: 14px;
  line-height: 15px !important;
}

#header {
  #user {
    color: white;
  }
  .fa {
    font-size: 15px;
    color: #fafafa;
  }
  .content {
    margin: 0 auto;
    padding: 8px 1em;
    > {
      .link, .header-right {
        margin-top: 1px;
      }
    }
    span, a {
      vertical-align: middle;
      margin: 0 6px;
      text-decoration: none;
      display: inline-block;
      font-size: 13px;
      line-height: 25px;
      text-align: center;
      -webkit-touch-callout: none;
      user-select: none;
      outline: none;
    }
  }
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  height: 42px;
  background-color: #222;
  .header-right {
    cursor: default;
    float: right;
  }
}

#actions {
  margin-top: 1px;
  .fa {
    font-size: 20px;
    &:hover {
      color: $orange;
      cursor: pointer;
    }
  }
}

.pull-right {
  float: right;
  text-align: right;
}

.hide-filtered .search-hidden {
  display: none !important;
}

.img.how:before {
  content: '';
  display: block;
  background-image: url('../images/how.png');
  position: absolute;
  height: 16px;
  width: 16px;
  background-size: 16px;
  right: 0;
  box-shadow: inset 0 0 10px 0px #B84;
}

#filter-input {
  width: 250px;
  margin-left: -3gpx;
  margin-bottom: 4px;
  padding-right: 20px;
  border-radius: 0;
  -webkit-appearance: none;
}

dt {
  font-style: italic;
  font-weight: bold;
  margin-top: 8px;
}

dd {
  margin: 3px 20px;
}

.item.search-hidden .item-elem {
  opacity: .20;
}

.search-link {
  position: relative;
  top: -2px;
}

.filter-help {
  position: absolute;
  right: -4px;
  top: 1px;
  .fa {
    font-size: 16px !important;
    color: #999 !important;
  }
}

.ngdialog.modal-dialog {
  position: fixed;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 1000;
  font-size: 13px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  .ngdialog-content {
    max-height: fit-content;
    max-width: 50%;
    background-color: #222;
    border: solid 1px #3e3e3e;
    height: 70%;
  }
}

a {
  color: $blue;
  font-size: 13px;
}

.ngdialog {
  box-sizing: border-box;
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ngdialog-content > div {
  display: flex;
  flex-direction: column;
  height: 90%;
  max-height: 100%;
}

.ngdialog-inner-content {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  flex: 1;
  padding: 15px;
}

.ngdialog-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  &:hover {
    color: $orange;
  }
}

/* settings dialog */

.settings td:nth-child(2) {
  white-space: nowrap;
  min-width: 20em;
}

@keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ngdialog * {
  box-sizing: inherit;
  &:before, &:after {
    box-sizing: inherit;
  }
}

.ngdialog-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.85);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  animation: ngdialog-fadein 0s;
}

.ngdialog.ngdialog-closing .ngdialog-overlay {
  -webkit-backface-visibility: hidden;
  animation: ngdialog-fadeout 0s;
}

.ngdialog-content {
  color: #e0e0e0;
  background-color: transparent;
  position: relative;
  z-index: 100;
  > div > {
    h1, h2, h3, p, table, dl {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  form {
    padding: 0;
  }
  h1 {
    flex-shrink: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px;
    font-weight: 200;
    background-color: #101010;
  }
  h2 {
    margin-top: 0;
  }
  > p {
    margin: 5px 0;
  }
  dl {
    background-color: #2F2F2F;
    border-radius: 6px;
    padding: 5px 15px;
    margin: 0 25px;
  }
  dt {
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    margin-top: 10px;
    color: $orange;
  }
  dd {
    margin: 10px 10px 15px 10px;
  }
  table {
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #222;
    tr:nth-child(2n+1) {
      background-color: #1B1B1B;
    }
  }
  tr td:first-child {
    border-left-style: solid;
    border-left-width: 1px;
  }
  td {
    border-color: #1B1B1B;
    border-style: none solid solid none;
    border-top: medium none;
    border-width: medium 1px 1px medium;
    font-size: 13px;
    padding: 6px 9px;
    vertical-align: top;
  }
  input {
    &[type="checkbox"], &[type="radio"] {
      display: inline-block;
      width: 15px;
      height: 15px;
    }
  }
}

#filter-view td span {
  margin: 2px 4px;
  color: #eee;
  display: block;
}

#filter-view td span.ng-binding {
  &:hover {
    color: $blue;
    cursor: pointer;
  }
}

h2, h3 {
  margin-top: 20px;
  margin-bottom: 15px;
}

.ngdialog.ngdialog-closing .ngdialog-content {
  -webkit-backface-visibility: hidden;
  animation: ngdialog-fadeout 0s;
}

.ngdialog-inner-content > p {
  margin: 5px 0;
}

.ngdialog-close:before {
  content: '\f00d';
  font-family: 'FontAwesome';
  cursor: pointer;
}

body {
  overflow-y: auto;
  min-width: 410px;
  margin: 0 auto;
  padding-top: 40px;
  background-color: #434444;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size:12px;
  > div:first-child {
    padding-top: 10px;
  }
}

::-webkit-scrollbar {
  width: 10px;

  &:horizontal{
    height:10px;
  }
}

::-webkit-scrollbar-track {
  background: rgba(228, 228, 228, 0.2);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #E4E4E4;
  border-radius: 3px;
}

#system {
  outline: none;
  margin-top: 1px;
  background-color: #fafafa;
}

input, select, option {
  font-family: 'Open Sans', sans-serif;
}

#system {
  float: right;
  margin-right: 5px;
  cursor: pointer;
  option {
    cursor: pointer;
  }
}

input[type="search"] {
  -webkit-appearance: textfield;
}

#filter-view ul {
  padding-left: 2em;
}

#filter-text {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

img {
  &.elemental {
    width: 16px !important;
    vertical-align: middle;
    margin-right: 3px;
    border-radius: 50%;
    cursor: pointer;
  }
  &.kinetic {
    background-color: black;
  }
  &.arc {
    background-color: $arc;
  }
  &.solar {
    background-color: $solar;
  }
  &.void {
    background-color: $void;
  }
}

.user {
  margin-bottom: 10px;
}

.title-wrapper {
  margin-bottom: 1px;
}

.title {
  flex: 1;
  padding: 0 16px;
  background-color: #353535;
  color: white;
  line-height: 34px;
  height: 34px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    background-color: #2f2f2f;
  }

  span[role="button"] {
    cursor: pointer;
    outline: none;
  }
  .bucket-count {
    float: right;
  }
  .icon {
    width: 30px;
  }
  .collapse {
    margin-left: -7px;
  }
}

.equipped {
  width: 56px;
  width: calc(var(--item-size) + 8px);
  margin-right: 12px;
}

.unequipped {
  flex: 1;
  margin-right: 20px;

  .vault & {
    margin-left: 0;
    margin-right: 0;
  }
}

.on-drag-enter > div, .on-drag-hover > div {
  background-color: rgba(200, 200, 200, 0.2);
}

.sub-section {
  flex: 1;
  margin-top: 6px;
  margin-bottom: 6px;
  position: relative;
  display: flex;
  flex-direction: row;

  > div {
    white-space: normal;
  }
}

.sub-bucket {
  min-height: 48px;
  min-height: calc(var(--item-size) + 4px);
  background-size: 44px;
  background-size: var(--item-size);
  background-position: 4px 4px;
  background-image: url('../images/bg_inventory_bucket_single_crop.png');
  background-repeat: no-repeat;
  &.on-drag-hover {
    box-shadow: inset 0 0 6px 0 rgba(200, 200, 200, 0.7);
  }
}

#drag-help {
  font-size: 1.5em;
  position: fixed;
  bottom: 2em;
  transition: transform .5s, opacity .5s, background-color .1s;
  background-color: rgba(0, 0, 0, 0.8);
  left: calc(50% - 15em);
  width: 30em;
  right: 0;
  border-radius: .5em;
  text-align: center;
  padding: .5em .5em;
  color: #e0e0e0;
}

.drag-help-hidden {
  transform: translateY(5em);
  opacity: 0;
}

#drag-help {
  &.drag-shift-activated, &.drag-dwell-activated {
    background-color: rgba(0, 60, 0, 0.8);
  }
}

.item-stat {
  opacity: .85;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 9.5px;
  padding: 0 2px;
  background: #ddd;
  color: #000;
  min-width: 10px;
  text-align: center;
  -webkit-user-select: none;
  box-sizing: content-box;
}
.itemQuality .item-stat-no-bg {
  background-color: transparent;
}

.item-quality {
  left: 0;
  text-align: left;
  display: none;
  .itemQuality & {
    display: block;
  }
}

.stat-damage-arc {
  background: $arc;
  color: white;
  text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.65);
}

.stat-damage-solar {
  background: $solar;
  color: white;
  text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.65);
}

.stat-damage-void {
  background: $void;
  color: white;
  text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.65);
}

.item {
  margin: 2px 2px -2px 2px;
  position: relative;
  display: inline-block;
  &.popup-open:before {
    border: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent;
    border-width: .4em .4em 0;
    top: -6px;
    content: "";
    display: block;
    left: 16px;
    position: absolute;
    z-index: 2;
  }

  .item-xp-bar-small {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
  }
}

.item-elem {
  background-color: #5c7183;
  cursor: pointer;
  border: 2px solid #DDD;
  > {
    .img, img {
      @include item-size;
      background-size: cover;
      display: block;
      &:focus {
        outline: none;
      }
    }
  }
  .element {
    display: none;
    pointer-events: none;
    .show-elements & {
      position: absolute;
      bottom: 2px;
      left: 2px;
      height: 16px;
      width: 16px;
      filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.7));
      background-repeat: no-repeat;
      background-size: contain;
      &.void {
        display: block;
        background-image: url('../images/void.png');
      }
      &.arc {
        display: block;
        background-image: url('../images/arc.png');
      }
      &.solar {
        display: block;
        background-image: url('../images/solar.png');
      }
    }
  }
}

.item-tag {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 4px;
  left: 4px;
  color: gold;
  pointer-events: none;
  &.no-tag {
    display: none;
  }
}

.item .stack {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1px;
  max-width: 20px;
  text-align: center;
  background: #F5f5f5;
  color: #24282b;
}

.complete {
  border-color: #f5dc56;
}

.over {
  background: rgba(0, 0, 0, 0.5);
}

dim-store-heading {
  display: block;
}

.character {
  flex: 1;
  margin-bottom: 10px;
  height: 58px;
  width: 100%;
}

.character-box {
  position: relative;
  border-bottom: 2px solid #888;
  height: 46px;
  cursor: pointer;

  * {
    //box-sizing: border-box;
  }

  .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 6px 4px 8px;
  }

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .overlay {
    display: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .1;
    background-color: white;
  }

  &:hover, &:active {
    .background {
      filter: brightness(85%);
    }
  }

  .character-text {
    font-family: Roboto, 'Open Sans', sans-serif;
    flex: 1;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5), 0px 0px 10px rgba(0,0,0,.5);
  }

  .top, .bottom {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    font-weight: 300;
  }
  .top {
    font-size: 20px;
    font-weight: 300;
    height: 24px;
  }
  .bottom {
    font-size: 12px;
    color: #bbb;
    letter-spacing: .125px;
    height: 14px;
  }
  .emblem {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
  }
  .class, .race-gender {
    text-transform: capitalize;
    flex: 1;
    text-overflow: ellipsis;
  }
  .level {
    margin-right: 1px;
  }
  .powerLevel {
    color: #f5dc56;
    &:before {
      content: "\2726";
      display: inline-block;
      vertical-align: 25%;
      font-size: 50%;
    }
  }
  .currencies {
    text-align: right;
  }
  .currency {
    font-weight: 200;
    font-size: 14px;
  }
}

.levelBar {
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: #5da469;

  &.moteProgress {
    background-color: #069;
    opacity: .6;
  }
}

/* INT/DIS/STR bars */
.stat-bars {
  width: 100%;
  opacity: .8;
  display: flex;
  flex-direction: row;
  margin-top: 3px;
  .stat {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
    .bar {
      flex: 1;
      height: 7px;
      margin-left: 1px;
      border-radius: 1px;
      background-color: gray;
      overflow: hidden;
      .progress {
        height: 100%;
        background-color: white;
        &.complete {
          background-color: #FB9F28;
        }
      }
    }
    img {
      height: 16px;
      width: 16px;
      margin-right: 2px;
    }
  }
}

.vault-capacity {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  opacity: 0.8;

  height: 16px;
  margin-top: 3px;
  .vault-bucket {
    flex: 1;
    margin-right: 8px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }
  }

  .vault-bucket-tag {
    height: 16px;
    width: 16px;
    text-align: center;
  }

  .vault-fill-bar {
    flex: 1;
    height: 7px;
    background-color: gray;
    border-radius: 1px;
    overflow: auto;
    margin-left: 2px;
  }
  .fill-bar {
    background-color: #FB9F28;
    height: 100%;
  }
  .vault-full {
    background-color: #cc3535;
  }
}

.loadout-button {
  color: white;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  margin-left: 6px;
  margin-top: 1px;
  opacity: 0.8;
}

.loadout-popup-content {
  line-height: 35px;
  background-color: #3A4150;
  color: #E4E4E4;
}

.loadout-menu {
  position: relative;
  [role="button"] {
    outline: none;
  }
}

.ngdialog.loadout-popup {
  position: absolute;
  display: block;
  width: 100%;
  max-height: calc(100vh - 121px);
  overflow: auto;
  z-index: 2;
  top: 0;
  bottom: initial;
  margin: 0;
  padding: 0;
  color: rgba(245, 245, 245, 0.6);
  margin-bottom: 10px;
  cursor: pointer;
}

.move-amount {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
}

.move-amount-slider {
  flex: 1;
  margin: 0 10px;
}

.move-amount input {
  margin-left: 10px;
  width: 3em;
}

.move-amount-arrow {
  font-size: 16px;
  cursor: pointer;
  color: gray;
  margin: 0 4px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    color: white;
  }
}

.move-amount-popup {
  .ngdialog-content {
    width: 40em;
    background-color: #222;
    height: fit-content !important;
  }
  .ngdialog-inner-content {
    padding-left: 0;
    padding-right: 0;
  }
  h1 {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 14px;
    padding-left: 10px !important;
    font-size: 1.65em;
  }
  .item {
    margin-right: .5em;
  }
  .buttons {
    text-align: center;
    margin-top: 1em;
  }
  button {
    border: 1px solid #3e3e3e;
    color: #e0e0e0;
    background-color: #101010;
    padding: 8px 16px;
    font-size: 1.4em;
    &:hover {
      background-color: #444;
      border-color: black;
    }
  }
}

/* rzslider */

rzslider, .rzslider {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 4px;
  top: -2px;
  vertical-align: middle;
  user-select: none;
  span {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
  }
  .rz-base {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .rz-bar-wrapper {
    left: 0;
    z-index: 1;
    width: 100%;
    height: 32px;
    padding-top: 16px;
    margin-top: -16px;
    box-sizing: border-box;
    &.rz-draggable {
      cursor: move;
    }
  }
  .rz-bar {
    left: 0;
    z-index: 1;
    width: 100%;
    height: 4px;
    background: gray;
    border-radius: 2px;
    &.rz-selection {
      z-index: 2;
      background: white;
      border-radius: 2px;
    }
  }
  .rz-pointer {
    top: -6px;
    z-index: 3;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 5px solid white;
    background-color: white;
    border-radius: 50%;
    &:focus {
      outline: none;
      background-color: #0db9f0;
    }
  }
  .rz-bubble {
    display: none;
    &.rz-selection {
      top: 16px;
    }
    &.rz-limit {
      color: #55637d;
    }
  }
}

/**
 * Move Popup - Details
 */

.item-details {
  margin: 10px;
}

.item-notes {
  width: 100%;
  height: 30px;
  background-color: #333;
  padding: 4px 8px;
  border: none;
  outline: none;
  color: white;
}
.item-description {
  margin: 5px 10px;
  white-space: pre-wrap;
}
.item-notes-error {
  margin: 5px 10px;
  white-space: pre-wrap;
  color: #985C58;
  width: 100%;
  text-align: right;
}

.item-perks {
  margin: 5px 10px;
}

.stats {
  width: 100%;
  display: table;
  border-spacing: 0 4px;

  .stat-box-row {
    overflow: hidden;
    margin-bottom: 4px;
    display: table-row;
  }
  .stat-box-wrap {
    white-space: normal !important;
  }
  .stat-box-cell {
    display: table-cell;
    line-height: 14px;
    white-space: nowrap;
    vertical-align: middle;
  }
  .stat-box-text {
    padding-right: 8px;
    padding-left: 10px;
    text-align: right;
  }
  .stat-box-val {
    text-align: left;
    padding-right: 10px;
    padding-left: 5px;
  }
  .higher-stats {
    color: #7DC878;
  }
  .lower-stats {
    color: #985C58;
  }
  .stat-box-outer {
    display: table-cell;
    height: 14px;
    line-height: 14px;
    background-color: #333;
    width: 100%;
  }
  .stat-box-container {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .stat-box-inner {
    display: block;
    height: 100%;
    float: left;
    line-height: 14px;
    background-color: #333;
    background-color: white;
    color: black;
    line-height: 20px;
    &.higher-stats {
      background-color: #7DC878;
    }
    &.lower-stats {
      background-color: #985C58;
    }
  }
}

.objective-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;

  &:last-child {
    margin-bottom: 0;
  }
}

.objective-checkbox {
  width: 17px;
  height: 17px;
  border: 1px solid #999;
  margin-right: 4px;
  box-sizing: border-box;
}

.objective-complete {
  opacity: 0.5;
  .objective-progress {
    background-color: #111;
  }
  .objective-progress-bar {
    display: none;
  }
  .objective-checkbox div {
    margin: 2px;
    height: 11px;
    width: 11px;
    background-color: #7DC878;
  }
}

.objective-progress {
  flex: 1;
  background-color: black;
  position: relative;
  min-height: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.objective-progress-bar {
  background-color: #7DC878;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.objective-description {
  position: relative;
  padding: 0 4px;
  flex: 1;
}

.objective-text {
  z-index: 2;
  margin-right: 4px;
}

.objective-boolean {
  .objective-progress-bar, .objective-text {
    display: none;
  }
  .objective-progress {
    background-color: transparent;
  }
  .objective-description {
    padding: 0;
  }
}

.talent-node-xp {
  fill: rgba(255, 255, 255, 0.1);
  stroke: none;
}

.talent-node-showxp .talent-node-xp {
  stroke: #5EA16A;
}

.talent-node-activated .talent-node-xp {
  fill: #4887ba;
}

.talent-node-img {
  opacity: 0.25;
}

.talent-node-activated .talent-node-img {
  opacity: 1;
}

.talent-node-default .talent-node-xp {
  fill: rgba(255, 255, 255, 0.4);
}

g {
  outline-width: 0;
}

#content {
  margin: 15px auto;
  padding: 0 1em;
  margin-top: 15px;
  user-select: none;
}

.content {
  // This assumes 3 characters
  min-width: calc((52px + 44px + (3 * (44px + 8px))) * 3 + 39px + 44px + (3 * (44px + 8px)));
  max-width: calc((52px + 44px + (3 * (44px + 8px))) * 3 + 20px + (999 * (44px + 8px)));
  min-width: calc((52px + var(--item-size) + (var(--character-columns) * (var(--item-size) + 8px))) * var(--num-characters) + 39px + var(--item-size) + (var(--character-columns) * (var(--item-size) + 8px)));
  max-width: calc((52px + var(--item-size) + (var(--character-columns) * (var(--item-size) + 8px))) * var(--num-characters) + 20px + (var(--vault-max-columns) * (var(--item-size) + 8px)));
}

.stores {
  display: block;
  // 84px margin to make room for the fixed header
  margin-top: 84px;
}

.store-bounds {
  position: fixed;
  pointer-events: none;
  bottom: -800px;
  left: 0;
  right: 0;
  top: 141px;
}

.collapse {
  cursor: pointer;
  font-size: 14px;
  color: $lightgray;
  &:hover, .collapse-handle:hover & {
    color: $orange;
  }
}

.collapse-handle {
  cursor: pointer;
}

.store-row {
  width: 100%;
  display: flex;
  flex-direction: row;

  // Bit of a hack to make things line up
  &.items:last-child .store-cell {
    padding-bottom: 14px;
  }

  i.collapse {
    outline: none;
    padding: 8px 7px 8px 10px;
    align-self: flex-start;
  }
}

.store-cell {
  flex-shrink: 0;
  display: flex;
  margin-right: 12px;
  width: calc(40px + 44px + (3 * (44px + 8px)));
  width: calc(40px + var(--item-size) + (var(--character-columns) * (var(--item-size) + 8px)));

  &.vault {
    max-width: calc(8px + (999 * (44px + 8px)));
    max-width: calc(8px + (var(--vault-max-columns) * (var(--item-size) + 8px)));
    background-color: rgba(245, 245, 245, 0.25);
    padding: 0 12px 1px;
    margin-left: -12px;
    margin-right: 0;
    width: auto;
    flex: 1;
  }
}
.store-text {
  padding-top: 5px;
}

.store-header {
  position: fixed;
  top: 53px;
  z-index: 10;
}

.store-header {
  margin-left: 28px;
}

.reputation {
  & .store-cell:first-child {
    margin-left: 28px;
  }
}

/* Loadout editor */

#loadout-drawer {
  left: 0;
  right: 0;
  position: fixed;
  z-index: 3;
  bottom: 0;
  background: #434444;
  color: #e0e0e0;
  box-shadow: 0 -1px 6px 0px #222;

  dim-stats {
    display: block;
    width: 300px;
    opacity: .3;

    &.complete {
      opacity: 1;
    }
  }
}

dim-compare {
  #loadout-drawer {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.loadout-item {
  position: relative;
}

.compare-bucket {
  white-space: nowrap;
  overflow-x: scroll;
  display: flex;
  margin-left: 100px;
  flex-direction: row;
  justify-content: flex-start;
  .fixed-left {
    border-left: none;
    position: fixed;
    left: 1em;
    width: 100px;
  }
  .compare-stat-label {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .talent-grid {
    padding: 4px 2px 0 2px;
    box-sizing: border-box;
    width: 150px;
    height: auto;
  }
}

.compare-options {
  margin: 1em 0;
}

.compare-item {
  border-left: 1px solid $lightgray;
  width: 150px;

  .item {
    float: right;
    padding: 0 4px 0 0;
    z-index: -10;
    .item-stat {
      display: none;
    }
  }
  > div {
    padding-left: 4px;
    height: 16px;
  }
  .highlight {
    background-color: rgba(128, 128, 128, .25);
    cursor: pointer;
  }
  .item-name {
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;

    .elemental {
      vertical-align: bottom;
      margin: 0;
    }
  }
  .sorted {
    color: $orange;
  }
  .close {
    position: static;
    float: right;
    margin: 1px 4px;
    padding-left: 0px;
  }
  .range {
    font-size: .9em;
  }
  dim-item-tag {
    height: 20px;
    margin-left: 5px;
    display: block;
    select {
      background: gray;
      border: none;
      color: white;
      width: 120px;
    }
  }
  .spacer {
    height: 20px;
    &.withTags {
      height: 40px;
    }
  }
}

@keyframes pop {
  to { transform: scale(1.5) }
}
.item-pop {
  animation: .25s linear 2 alternate pop;
  z-index: 1;
}

.loadout-content {
  padding: 1em;
}

.loadout-contents {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 50px;
  min-height: calc(var(--item-size) + 4px);
  .equipped {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 2px;
    background-image: url('../images/spartan.png');
    background-color: rgba(255, 0, 0, 0.6);
    background-size: 16px 16px;
  }
  .warn:before {
    width: 14px;
    height: 14px;
    font-size: 14px;
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 2px;
    content: '\f071';
    background-color: rgba(255, 204, 204, 0.6);
    background-size: 14px 14px;
  }
}

.loadout-bucket {
  display: flex;
  margin-right: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* Loadouts Dropdown */

.loadout-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.loadout-set {
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  overflow: hidden;
  background-color: #222;

  &:last-of-type {
      border: 0;
  }

  &:hover {
    background-color: #151515;
  }

  > span:first-child {
    flex: 1;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap !important;
    .fa {
      width: 12px;
      margin-right: 2px;
      text-align: center;
    }
    img.fa {
      transform: translateY(1px);
    }
  }

  > span:not(:first-child) {
    padding: 0 12px;
    text-align: center;
    color: #888;
    .fa {
      font-size: 1.2em;
    }
    &:hover {
      background-color: $blue;
      color: #222;

      &:delete {
        background-color: #ff9294;
      }
    }
  }

  .light {
    font-weight: 200;
    color: #f5dc56;
    float: right;
    &:before {
      content: "\2726";
      display: inline-block;
      vertical-align: 7%;
      font-size: 50%;
    }
  }
}

.button-extra {
  text-align: center;
}

.ng-hide {
  display: none;
}

.ngdialog {
  position: absolute;
  display: block;
  background-color: #222;
  top: 0;
  -webkit-overflow-scrolling: touch;
  z-index: 3;
  top: initial;
  left: initial;
  right: initial;
  overflow: visible;
  h1 {
    font-weight: 400;
  }
}

h2, h3, h4 {
  font-weight: 400;
}

.drag-enter {
  background-color: rgba(255, 255, 255, 0.1);
}

.drag-hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.on-dragging .ngdialog,
.on-dragging .new_overlay {
  display: none;
}

.ng-hide {
  display: none !important;
}

.close {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: absolute;
  top: 2px;
  right: 2px;
  background-image: url('../images/close.png');
  background-size: 16px 16px;
  background-color: rgba(100, 100, 100, 0.6);
  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.sprite-spinner {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-align: left;
  width: 22px;
  height: 22px;
}

.my-super-awesome-loading-box {
  margin-left: 15px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: -2px;
}

.sticky-header-background {
  left: 0;
  right: 0;
  top: 42px;
  background-color: #434444;
  height: 82px;
  position: fixed;
  z-index: 4;

  .something-is-sticky & {
    box-shadow: 0 1px 6px 0px #222;
  }
}

.inline-stats {
  display: inline-block;
  white-space: nowrap;
  margin-right: 15px;
}

.item-xp-bar {
  height: 4px;
  width: 100%;
  div {
    height: 100%;
    background-color: #5EA16A;
  }
}

/* Infuse */

.infuseSourceItemInfo {
  padding: 0px 0px 10px 25px;
  display: flex;
  flex-direction: row;
}

.infuseControls {
  padding: 0px 25px 10px 25px;
  label {
    display: block;
  }
}

.infuseDialog {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  small {
    font-size: 10px;
  }
  .ngdialog-inner-content {
    padding-left: 0;
    padding-right: 0;
  }
  .locked {
    position: absolute;
  }
  .gearsContainer {
    width: 100%;
    padding: 10px 25px;
    overflow: hidden;
  }
  .bigValue {
    font-size: 32px;
    line-height: 1em;
  }
  .infuseSourceItem {
    @include item-size-padded;
  }
  .infuseSourceDetailsRow {
    margin-left: 1rem;
  }
  .results {
    margin-bottom: 2px;
  }
}

.infuseHeader {
  display: flex;
  flex-direction: row;
}

.infuseResults {
  flex: 1;
}

.infuse-selected {
  outline: 2px solid black !important;
}

.bestInfusion label {
  display: inline;
  margin-right: 22px;
}

.infuse-hidden {
  opacity: 0.35;
}

.infuse-excluded {
  filter: greyscale();
  opacity: 0.15;
}

.black {
  background-color: #222222;
}

.grey {
  background-color: #6D6D6D;
}

.green {
  color: green;
}

.gearsContainer {
  .item {
    float: left;
    margin: 3px 3px;
    @include item-size-padded;
  }
  .infusedItem {
    float: left;
    margin: 3px 10px 3px 3px;
    @include item-size-padded;
  }
  .plusSeparator {
    float: left;
    margin-top: 5px;
    font-size: 32px;
  }
}

/* Textcomplete */

.dropdown-menu {
  border: 1px solid #ddd;
  background-color: white;
  transform: translate(-11px, 5px);
  li {
    border-top: 1px solid #ddd;
    padding: 2px 5px;
    &:first-child {
      border-top: none;
    }
    &:hover {
      background-color: #555;
    }
  }
  .active {
    background-color: #555;
  }
  li:hover a, .active a {
    color: white;
  }
  a {
    color: #333;
    font-size: 11px;
    &:hover {
      cursor: pointer;
    }
  }
  list-style: none;
  padding: 0;
  margin: 0;
}

// Makes an element appear up from the bottom of the screen with a fade
@mixin pop-in {
  &.ng-animate {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }

  &.ng-enter, &.ng-leave.ng-leave-active {
    opacity: 0;
    transform: translateY(5rem);
  }

  &.ng-leave, &.ng-enter.ng-enter-active {
    opacity: 1;
    transform: translateY(0rem);
  }
}

/* Engram Farming */

#item-farming {
  position: fixed;
  bottom: 6rem;
  background-color: rgba(0, 0, 0, 0.9);
  left: calc(50% - 21.5rem);
  width: 43rem;
  right: 0;
  border-radius: .5rem;
  padding: .5rem 1rem;
  color: #e0e0e0;
  align-items: center;
  text-align: left;
  display: flex;
  flex-direction: row;

  button {
    color: white;
    background-color: rgba(128, 128, 128, .8);
    border-radius: 4px;
    border: none;
    width: 6rem;
    height: 3rem;
    text-align: center;
    font-size: 1.5em;
    transition: .3s background-color;
    &:hover, &:active {
      background-color: rgba(232, 165, 52, .8);
    }
  }

  .item-details {
    display: flex;
    flex-direction: row;
    margin: 0;
    span {
      flex: 1;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  .engram-icon {
    position: relative;
    margin-right: 1em;
  }

  .item-count {
    font-size: 16px;
    position: absolute;
    width: 100%;
    height: 94%;
    font-weight: bold;
    color: rgb(232, 165, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  h1 {
    font-size: 16px;
    margin: 0;
  }

  p {
    margin: .25em 0;
  }

  @include pop-in;
}

/* Clear new items */

.clear-new-items {
  display: none;
  .show-new-items & {
    display: block;
    position: fixed;
    bottom: 2rem;
    right: 2rem;

    button {
      color: white;
      padding: 1rem 1.5rem;
      background-color: rgba(128, 128, 128, 1.0);
      border-radius: 4px;
      border: none;
      text-align: center;
      font-size: 1.5em;
      transition: .3s background-color;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
      &:hover, &:active {
        background-color: rgba(232, 165, 52, 1.0);
      }
    }

    @include pop-in;
  }
}

dim-manifest-progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;

  .manifest-progress {
    width: 24rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    padding: 1.5rem 1.5rem;
    background-color: #222;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
    white-space: pre-wrap;

    i {
      font-size: 2rem;
      margin-bottom: .5rem;
    }

    &.ng-animate {
      transition: opacity 0.3s ease-out;
    }

    &.ng-enter, &.ng-leave.ng-leave-active {
      opacity: 0;
    }

    &.ng-leave, &.ng-enter.ng-enter-active {
      opacity: 1;
    }
  }
}

.loadout {
  &.random {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: .5rem;
    color: #222;
    text-decoration: none;
    font-weight: normal;
  }
}

.current.character .character-box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  border-top: 13px solid gold;
  border-right: 13px solid transparent;
}

.fa.fa-circle.trials {
  font-size: 18px;
  margin-right: 3px;
  color: #b12e21;
  opacity: 1;
  &.wins {
    color: #cfd92b;
  }
  &.incomplete {
    opacity: .35;
  }
}

.disabled {
  opacity: 0.5;
}

.support h2 {
  margin-top: 1em;
  margin-bottom: .25em;
}

.backers a {
  margin-right: 1em;
}
