$lightgray: rgba(245, 245, 245, 0.25);
$orange: #e8a534;
$blue: #68a0b7;

// Elemental damage types
$arc: #85c5ec;
$solar: #f2721b;
$void: #b184c5;

$common: white;
$uncommon: #366e42;
$rare: #5076a3;
$legendary: #513065;
$exotic: #ceaf32;

// The color of XP bars
$xp: #5ea16a;
// Border for completed items/quests/bounties
$gold: #f5dc56;
$power: #09d7d0;

$character-box-height: 46px;

// Item tiles
$item-border-width: 1px;

// Border around equipped items
$equipped-item-border: 1px;
$equipped-item-padding: 2px;

// Full tile size including borders
$badge-font-size: '(var(--item-size) / 5)';
$badge-height: '(#{$badge-font-size} + 4px)';
$full-height-badge: '(var(--item-size) + #{$badge-height} - #{$item-border-width})';

@mixin phone-portrait {
  // This seems like a good breakpoint for portrait based on https://material.io/devices/
  // We can't use orientation:portrait because Android Chrome messes up when the keyboard is shown: https://www.chromestatus.com/feature/5656077370654720
  @media (max-width: 540px) {
    @content;
  }
}

$header-height: 44px;

@mixin below-header {
  top: $header-height;
  top: calc(#{$header-height} + constant(safe-area-inset-top));
  top: calc(#{$header-height} + env(safe-area-inset-top));
}

// A header for items or perks that matches the in-game display
@mixin destiny-header {
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

@mixin smoked-glass {
  background-color: rgba(0, 0, 0, 0.9);
  @supports (backdrop-filter: blur(30px)) {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(30px);
  }
}
