$lightgray: rgba(245, 245, 245, 0.25);
$orange: #E8A534;
$blue: #68a0b7;

// Elemental damage types
$arc: #85c5ec;
$solar: #f2721b;
$void: #b184c5;

// The color of XP bars
$xp: #5EA16A;
// Border for completed items/quests/bounties
$gold: #f5dc56;

$character-box-height: 46px;
