.inlineIcon {
  height: 25px;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  &.smaller {
    height: 20px;
    width: 20px;
    margin: 2.5px;
  }
}

.itemTriagePane {
  margin: 5px 10px 5px;
}

.ownershipTable {
  display: grid;
  grid-template-columns: auto max-content;
  margin-bottom: 15px;
  & > div {
    align-self: center;
    &.header {
      text-transform: uppercase;
      .inlineIcon {
        height: 18px;
        width: 18px;
        position: relative;
        top: -2px;
      }
    }
  }
}
.statTable {
  display: grid;
  grid-template-columns: auto max-content;
  margin-bottom: 15px;
  & > div {
    align-self: center;
    &.header {
      text-transform: uppercase;
      .inlineIcon {
        height: 18px;
        width: 18px;
        position: relative;
        top: -2px;
      }
    }
  }
}
.headerDivider {
  grid-column-end: span 2;
  background: #888;
  height: 1px;
}
.factorCombo {
  padding: 4px;
  & > * {
    display: inline-block;
  }
}
.comboCount {
  display: flex;
  justify-content: center;
  > span {
    text-align: right;
    margin-right: 0.5em;
    min-width: 2em;
  }
}

.bestStat {
  visibility: visible;
}
.thisStat {
  text-align: center;
}
.dimmed {
  opacity: 0.8;
}
.statValue {
  font-weight: bold;
  width: 20px;
  display: inline-block;
  text-align: center;
}

.statIconWrapper {
  width: 25px;
  display: inline-block;
}

.weaponSvg {
  // these have varying aspect ratios and are fill:black by default
  width: auto !important;
  filter: invert(1);
}

.headerImage {
  vertical-align: bottom;
  margin-bottom: -2px;
}

.inlineBlock {
  display: inline-block;
}
.searchBarIcon {
  cursor: pointer;
}
