.modSlotIcon {
  // height: 18px;
  // width: 18px;
  size: 20px;
  display: block;
}
.inlineIcon2 {
  height: 18px;
  width: auto;
  // margin: -3px 0;
  vertical-align: middle;
}

.factorIcon {
  size: 20px;
}
