@use '../variables' as *;

.insertButton {
  composes: dim-button from global;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: none;

  gap: 8px;
}

.stripSheet {
  max-width: 500px;
  margin: 0 auto;
}

.noSocketsMessage {
  margin: 2px 0 2px 8px;
  font-size: 14px;
}

.socketKindButton {
  border: 1px solid #666;
  cursor: pointer;
  margin: 1px 2px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  height: 100%;
  box-sizing: border-box;

  @include interactive($hover: true) {
    background-color: rgb(255, 255, 255, 0.1);
  }
  > * {
    margin-right: 8px;
  }
  &:focus {
    outline: 1px solid var(--theme-accent-secondary);
  }
}

.buttonInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.buttonTitle {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 4px;
  &.selectedTitle {
    color: var(--theme-accent-primary);
  }
}

.selectedButton {
  border-color: var(--theme-accent-primary);
  &:focus {
    outline: none;
  }
}

.itemTypeIcon {
  filter: invert(1);
  width: 18px;
  height: 18px;
  vertical-align: bottom;
}

.iconList {
  --item-size: 32px;
  display: flex;
  flex-flow: row wrap;
  margin: 8px 8px;
  &:last-child {
    margin-bottom: 0;
  }

  > * {
    margin: 0 4px 4px 0;
  }
}

.plug {
  cursor: pointer;

  &.ok {
    opacity: 0.3;
    transform: scale(0.8);
  }

  &.failed {
    outline: 2px solid $red;
  }
}
