.debugPage {
  margin: 2em 10px;
}

.cells {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1em;

  section {
    background: rgb(0, 0, 0, 0.1);
    padding: 1em;
  }

  h3 {
    margin: 0;
    font-weight: 700;
  }

  p {
    margin: 0;
  }
}

.error {
  background-color: rgb(100, 0, 0, 0.2);
  padding: 0.2em;
}

.token {
  background: rgb(0, 0, 0, 0.1);
  margin-top: 0.5em;
  padding: 0.5em;
}
