@use '../variables.scss' as *;

.about {
  dt {
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    margin-top: 10px;
    color: var(--theme-accent-primary);
  }
  dd {
    margin: 4px 0 8px 0;
  }
}

.logo {
  float: left;
  margin-right: 10px;
  margin-top: 8px;
}

.header {
  margin-bottom: 16px;
}

.social {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 8px;
  margin: 8px 0;
}
