@use 'sass:color';
@use '../variables.scss' as *;

.errorPanel {
  margin: 16px auto;
  max-width: 900px;
  padding: 0.85em;
  background: color.scale($red, $lightness: -90%);
  border-top: 4px solid $red;
  user-select: text;

  h2 {
    margin: 0 0 8px 0 !important;
    letter-spacing: normal !important;
    text-transform: none !important;
  }
  :global(.dim-button) {
    color: var(--theme-text);
    font-size: 12px;
  }
  p {
    font-size: 14px;
    white-space: pre-line;
  }
}

.links {
  composes: flexRow from '../dim-ui/common.m.scss';
  flex-wrap: wrap;
  gap: 8px;
}

.errorCode {
  color: #888;
  margin: 0 0 0 8px;
  font-size: 12px;
  float: right;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 16px;

  @include phone-portrait {
    flex-direction: column;
  }
}

.timeline {
  box-sizing: border-box;
  flex: 1;
  position: relative;
  border: 4px solid rgb(255, 255, 255, 0.3);

  iframe {
    width: 100%;
    overflow: auto;
    height: 400px;
    background-color: black;
    border: none;

    @include phone-portrait {
      height: 300px;
    }
  }
}
