.vendorEngramBadge {
  height: 12px;
  width: 12px;
  margin: 0 4px 0 0px !important;
  filter: invert(100%) invert(71%) sepia(96%) saturate(475%) hue-rotate(333deg) brightness(95%)
    contrast(91%);
}
