@import '../variables.scss';
@import 'ceaser-easing';

.logo {
  height: 24px;
  width: 68px;
  color: $orange !important;
  font-size: 16px !important;
  font-weight: bold;
  font-weight: 400;
  &.dev {
    filter: grayscale(100%) brightness(150%);
  }
  &.beta {
    filter: hue-rotate(160deg) brightness(107%);
  }
}
body {
  padding-top: $header-height;
  padding-top: calc(#{$header-height} + constant(safe-area-inset-top));
  padding-top: calc(#{$header-height} + env(safe-area-inset-top));
}
#header {
  padding: 0 0 0 2px;
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: constant(safe-area-inset-left);
  padding-left: env(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  padding-right: env(safe-area-inset-right);
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
  filter: var(--color-filter);

  #user {
    color: white;
  }
  .fa {
    font-size: 20px;
    color: #fafafa;
    &:hover {
      color: $orange;
      cursor: pointer;
    }
  }

  .app-icon {
    font-size: 1.33em;
    &:hover {
      color: $orange;
      cursor: pointer;
      transition: color 0.2s linear;
    }
  }

  .fa-bars {
    margin-left: 8px;
  }

  .logoLink {
    height: 24px;
  }

  .menuItem {
    margin: 0 8px;
    text-decoration: none;
    font-size: 13px;
    -webkit-touch-callout: none;
    user-select: none;
    outline: none;
    white-space: nowrap;
  }

  .link {
    color: white;
    cursor: pointer;

    &:hover,
    &.active {
      color: $orange;
      transition: color 0.2s linear;
    }
  }

  .header-right {
    cursor: default;
    display: flex;
    flex: 1;
    margin: 0 6px 0 8px;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    height: 100%;
  }

  &.search-expanded .header-right {
    @include phone-portrait {
      flex: 1;
    }
  }

  .header-separator {
    display: block !important;
    width: 0;
    height: 16px !important;
    border-right: 1px solid #6f7070;
  }
  .dropdown {
    @include below-header;
    position: absolute;
    display: flex;
    overflow: auto;
    height: calc(100vh - #{$header-height});
    height: calc(100vh - #{$header-height} - constant(safe-area-inset-top));
    height: calc(100vh - #{$header-height} - env(safe-area-inset-top));
    left: 0;
    margin: 0;
    padding: 0;
    min-width: 150px;
    background-color: black;
    padding-left: constant(safe-area-inset-left);
    padding-left: env(safe-area-inset-left);
    padding-bottom: 4px;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    flex-direction: column;

    hr {
      margin: 4px 0 2px 0;
      border: none;
      border-top: 1px solid #333;
    }

    .link {
      display: block;
      padding: 4px 2rem 4px 1rem;
      font-size: 16px;
      margin: 0;

      &.active {
        color: white;
        border-left: 4px solid $orange;
        padding-left: calc(1rem - 4px);
      }

      @include phone-portrait {
        font-size: 18px;
        padding: 6px 2rem;
        &.active {
          padding-left: calc(2rem - 4px);
        }
      }

      &:hover,
      &:focus {
        background-color: #3f3f3f;
        color: white;
        transition: none;
      }
    }
  }
  .dropdown-enter {
    transform: translateX(-250px);
  }

  .dropdown-enter.dropdown-enter-active {
    transform: translateX(0);
    transition: transform 200ms $easeOutCubic;
  }

  .dropdown-exit {
    transform: translateX(0);
  }

  .dropdown-exit.dropdown-exit-active {
    transform: translateX(-250px);
    transition: transform 200ms $easeInCubic;
  }

  .header-links {
    display: flex;
    flex-direction: row;
    height: $header-height;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    direction: rtl;
    justify-content: flex-end;

    @include phone-portrait {
      display: none;
    }
    @media (max-width: 700px) {
      display: none;
    }

    .link {
      height: 100%;
      display: flex;
      align-items: center;
      direction: ltr;

      &.active {
        border-bottom: 2px solid $orange;
        border-top: 2px solid black;
        box-sizing: border-box;
      }
    }
  }

  .menu {
    margin-right: none;
  }

  .version {
    padding: 4px 2rem 4px 1rem;
    color: #555;
    margin-top: auto;
  }
}

.pull-right {
  float: right;
  text-align: right;
}

.pwa-prompt {
  margin: 10px;
  font-size: 1.2em;
}
