<div id="header">
  <span class="menu link" ng-click="$ctrl.dropdown = !$ctrl.dropdown" dim-click-anywhere-but-here="$ctrl.dropdown = false">
    <i class="fa fa-bars"></i>
    <div class="dropdown" ng-if="$ctrl.dropdown">
      <a class="link"
         ng-if="$ctrl.destinyVersion == 1"
         ui-sref-active="active"
         ui-sref="destiny1.inventory"
         ng-i18next="Header.Inventory"></a>
      <a class="link"
         ng-if="$ctrl.destinyVersion == 2"
         ui-sref-active="active"
         ui-sref="destiny2.inventory"
         ng-i18next="Header.Inventory"></a>
      <a class="link"
         ng-if="$ctrl.destinyVersion == 1"
         ui-sref-active="active"
         ui-sref="destiny1.loadout-builder"
         ng-i18next="LB.LB"></a>
      <a class="link"
         ng-if="$ctrl.destinyVersion == 1"
         ui-sref-active="active"
         ui-sref="destiny1.vendors"
         ng-i18next="Vendors.Vendors"></a>
      <a class="link"
         ng-if="$ctrl.destinyVersion == 1"
         ui-sref-active="active"
         ui-sref="destiny1.record-books"
         ng-i18next="RecordBooks.RecordBooks"></a>
      <a class="link"
         ui-sref-active="active"
         ui-sref="destiny1.activities"
         ng-if="$ctrl.destinyVersion == 1"
         ng-i18next="Activities.Activities"></a>
      <span class="link"
         ng-if="$ctrl.destinyVersion == 1 && $ctrl.xur.available"
         ng-click="$ctrl.showXur($event)">Xûr</span>
      <a class="link second-to-go"
         ui-sref-active="active"
         ui-sref="destiny2.progress"
         ng-if="$ctrl.destinyVersion == 2"
         ng-i18next="Progress.Progress"></a>
      <hr>

      <span class="link"
         ui-sref-active="active"
         ui-sref="settings"
         ng-i18next="Settings.Settings"></span>
      <a class="link"
         ng-if="$ctrl.featureFlags.bugReportLink"
         target="_blank"
         rel="noopener noreferrer"
         href="https://github.com/DestinyItemManager/DIM/issues"
         ng-i18next="Header.ReportBug"></a>
      <hr>

      <span class="link"
            ui-sref-active="active"
            ui-sref="about"
            ng-i18next="Header.About"></span>
      <span class="link"
            ui-sref-active="active"
            ui-sref="support"
            ng-i18next="Header.SupportDIM"></span>
      <a class="link"
         target="_blank"
         rel="noopener noreferrer"
         href="https://teespring.com/stores/dim"
         ng-i18next="Header.Shop"></a>
    </div>
  </span>

  <img class="logo link"
       ng-class="::$ctrl.$DIM_FLAVOR"
       ui-sref="default-account"
       title="v{{::$ctrl.$DIM_VERSION}} ({{::$ctrl.$DIM_FLAVOR}})"
       src="~app/images/logo-type-right-light.svg"
       alt="DIM"/>

  <span class="link first-to-go"
        ui-sref-active="active"
        ui-sref="about"
        ng-i18next="Header.About"></span>
  <span class="link first-to-go"
        ui-sref-active="active"
        ui-sref="support"
        ng-i18next="Header.SupportDIM"></span>
  <a class="link first-to-go"
     target="_blank"
     rel="noopener noreferrer"
     href="https://teespring.com/stores/dim"
     ng-i18next="Header.Shop"></a>
  <a class="link first-to-go"
     ng-if="$ctrl.featureFlags.bugReportLink"
     target="_blank"
     rel="noopener noreferrer"
     href="https://github.com/DestinyItemManager/DIM/issues"
     ng-i18next="Header.ReportBug"></a>

  <span class="link first-to-go header-separator" ng-if="$ctrl.destinyVersion"></span>

  <a class="link second-to-go"
     ui-sref-active="active"
     ui-sref="destiny1.inventory"
     ng-if="$ctrl.destinyVersion == 1"
     ng-i18next="Header.Inventory"></a>
  <a class="link second-to-go"
     ui-sref-active="active"
     ui-sref="destiny2.inventory"
     ng-if="$ctrl.destinyVersion == 2"
     ng-i18next="Header.Inventory"></a>
  <a class="link second-to-go"
     ui-sref-active="active"
     ui-sref="destiny1.loadout-builder"
     ng-if="$ctrl.destinyVersion == 1"
     ng-i18next="LB.LB"></a>
  <a class="link second-to-go"
     ui-sref-active="active"
     ui-sref="destiny1.record-books"
     ng-if="$ctrl.destinyVersion == 1"
     ng-i18next="RecordBooks.RecordBooks"></a>
  <a class="link second-to-go"
     ui-sref-active="active"
     ui-sref="destiny1.activities"
     ng-if="$ctrl.destinyVersion == 1"
     ng-i18next="Activities.Activities"></a>
  <a class="link second-to-go"
     ui-sref-active="active"
     ui-sref="destiny1.vendors"
     ng-if="$ctrl.destinyVersion == 1"
     ng-i18next="Vendors.Vendors"></a>
  <span class="link second-to-go"
     ng-if="$ctrl.destinyVersion == 1 && $ctrl.xurAvailable"
     ng-click="$ctrl.showXur($event)">Xûr</span>
  <a class="link second-to-go"
     ui-sref-active="active"
     ui-sref="destiny2.progress"
     ng-if="$ctrl.destinyVersion == 2"
     ng-i18next="Progress.Progress"></a>

  <span class="header-right">
    <refresh
      ng-if="!$ctrl.showSearch"
      class="link"></refresh>
    <span class="link fa fa-cog"
          ng-if="!$ctrl.showSearch"
          ui-sref="settings"
          ng-i18next="[title]Settings.Settings"></span>
    <span class="link search-link"
          ng-class="{ show: $ctrl.showSearch }">
      <dim-search-filter ng-if="$ctrl.destinyVersion" destiny-version="$ctrl.destinyVersion"></dim-search-filter>
    </span>
    <span class="link search-button"
          ng-click="$ctrl.showSearch = !$ctrl.showSearch">
      <i class="fa fa-search"></i>
    </span>
    <account-select ng-if="$ctrl.account"
                    current-account="$ctrl.account">
    </account-select>
  </span>
</div>
