.manifest-progress {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 327px;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
  padding: 12px 24px;
  background-color: black;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  white-space: pre-wrap;
  z-index: 10;
  transition: transform 300ms ease-out, opacity 300ms ease-out;

  .app-icon {
    font-size: 16px;
    margin-right: 12px;
  }

  &.manifest-enter,
  &.manifest-exit.manifest-exit-active {
    opacity: 0;
    transform: translateY(50px);
  }

  &.manifest-enter.manifest-enter-active,
  &.manifest-exit {
    opacity: 1;
    transform: translateY(0);
  }
}
