@use '../variables' as *;

.refreshButton {
  composes: resetButton from '../dim-ui/common.m.scss';
  position: relative;
}

.userIsPlaying {
  background-color: #3fe700;
  // Just for fun - on Safari, on wide color displays, this is a very bright green
  background-color: lch(81% 132 132);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  position: absolute;
  bottom: -4px;
  right: -4px;
}
