<div>
  <h1><span translate="About.About"></span></h1>
  <div class="ngdialog-inner-content">
    <h3>Version $DIM_VERSION</h3>
    <p>
      <span translate="About.Description"></span>
    </p>
    <h2><span translate="About.ContactUs"></span></h2>
    <table>
      <tr>
        <td>
          Twitter
        </td>
        <td>
          Reddit
        </td>
        <td>
          GitHub
        </td>
      </tr>
      <tr>
        <td>
          <span translate="About.ContactTwitterText"></span>
          <br />
          <a href="https://twitter.com/ThisIsDIM" target="_blank">@ThisIsDIM</a>
        </td>
        <td>
          <span translate="About.ContactRedditText"></span>
          <br />
          <a href="https://destinyitemmanager.reddit.com" target="_blank">/r/destinyitemmanager</a>
        </td>
        <td>
          <span translate="About.ContactGitHubText"></span>
          <br />
          <a href="https://github.com/DestinyItemManager/DIM/" target="_blank">DIM Git Repo</a>
        </td>
      </tr>
    </table>
    <h2>FAQ</h2>
    <p>
    <dl>
      <dt><span translate="About.Q1"></span></dt>
      <dd><span translate="About.A1"></span></dd>
    </dl>
    <dl>
      <dt><span translate="About.Q2"></span></dt>
      <dd><span translate="About.A2"></span></dd>
    </dl>
    <dl>
      <dt><span translate="About.Q3"></span></dt>
      <dd><span translate="About.A3"></span></dd>
    </dl>
    <dl>
      <dt><span translate="About.Q4"></span></dt>
      <dd><span translate="About.A4a"></span><a href="http://bungie.net" target="_blank">Bungie.net</a><span translate="About.A4b"></span></dd>
    </dl>
    <dl>
      <dt><span translate="About.Q5"></span></dt>
      <dd><span translate="About.A5"></span></dd>
    </dl>

    <p><span translate="About.Note"></span></p>
  </div>
</div>
