<div class="minmax" ng-controller="dimMinMaxCtrl as normal">
  <a ui-sref='inventory' class="link"><i class='fa fa-arrow-circle-left'></i>Back to DIM</a>
  <h1>Loadout builder</h1>

  <p>
    <label ng-class="{selected: normal.active === 'warlock'}" class='character-select'>
      <input ng-change="normal.normalizeBuckets()" type='radio' ng-model='normal.active' value='warlock'>Warlock
    </label>
    <label ng-class="{selected: normal.active === 'titan'}" class='character-select'>
      <input ng-change="normal.normalizeBuckets()" type='radio' ng-model='normal.active' value='titan'>Titan
    </label>
    <label ng-class="{selected: normal.active === 'hunter'}" class='character-select'>
      <input ng-change="normal.normalizeBuckets()" type='radio' ng-model='normal.active' value='hunter'>Hunter
    </label>
  </p>

  <dim-loadout></dim-loadout>

  <p>

<!--
    <label ng-class="{selected: normal.type === bucket}" class='character-select' ng-repeat="bucket as bucket for (bucket, data) in normal.ranked">
      <input ng-change="normal.normalizeBuckets()" type='radio' ng-model='normal.type' value='{{bucket}}'>{{bucket}}
    </label>
-->

    Armor: <select ng-model='normal.type' ng-options="bucket as bucket for (bucket, data) in normal.ranked"></select>
    <span> (+{{normal.getBonus(335, normal.type)}} bonus excluded from items)</span>
  </p>

  <div class="section">
    <div class="labels">
      <div><small>Intellect</small></div>
      <div><small>Discipline</small></div>
      <div><small>Strength</small></div>
    </div>
    <div class="itemQuality">
      <div ng-repeat="item in normal.ranked[normal.type] | orderBy:'-quality.min'">
        <div class="item-container" ng-if="item.primStat.value >= 280">
          <div class="item-stats">
            <div ng-repeat="stat in item.stats track by $index" ng-init="normalStat = item.normalStats[$index]" ng-style="normalStat.qualityPercentage | qualityColor:'color'">
              <small ng-if="normalStat.scaled === 0">-</small>
              <span ng-if="normalStat.scaled > 0"><small ng-bind="normalStat.scaled"></small>/<small ng-bind="stat.split"></small></span>
            </div>
          </div>
          <dim-store-item item-data="item" store-data="normal.getStore(item.owner)"></dim-store-item>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="labels">
      <p>Locked Items</p>
    </div>
    <div class="itemQuality">
      <div ng-repeat="(type, lockeditem) in normal.lockeditems">
        <div class="locked-item" ng-switch="lockeditem" ui-on-drop="normal.onDrop($data, type)" drag-channel="{{type}}" drop-channel="{{type}}" drop-validate="normal.lockedItemsValid($data, type)">
          <div ng-switch-when="null" class="empty-item"></div>
          <div ng-switch-default>
            <div ng-click="normal.onRemove(type)" class="locked-item-remove"><span>&#10060;</span></div>
            <dim-store-item item-data="lockeditem" store-data="normal.getStore(lockeditem.owner)"></dim-store-item>
          </div>
          <div class="label">{{type}}</div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="!normal.highestsets">
    <p>Missing legendary or exotic pieces to build a full set!</p>
  </div>
  <div ng-show="normal.progress < 1 && normal.highestsets">
    <p>Loading best sets ({{normal.progress*100 | number:2}}%)</p>
  </div>
  <div ng-show="normal.progress >= 1">
    <p>Set Tiers (Int/Dis/Str):
      <select ng-model='normal.activesets' ng-options="val disable when val.charAt(0) == '-' for val in normal.allSetTiers"></select>
      &nbsp; Order:
      <select ng-model='normal.setOrder' ng-change="normal.onOrderChange()">
        <option value="-int_val,-disc_val,-str_val">Int/Dis/Str</option>
        <option value="-int_val,-str_val,-disc_val">Int/Str/Dis</option>
        <option value="-disc_val,-int_val,-str_val">Dis/Int/Str</option>
        <option value="-disc_val,-str_val,-int_val">Dis/Str/Int</option>
        <option value="-str_val,-int_val,-disc_val">Str/Int/Dis</option>
        <option value="-str_val,-disc_val,-int_val">Str/Dis/Int</option>
      </select>
      &nbsp; <small>Displaying top 20 sets</small>
    </p>
  </div>
  <div ng-show="normal.progress >= 1">
    <div class="section" ng-repeat="set in normal.highestsets[normal.activesets] | orderBy:normal.setOrderValues | limitTo:20">
      <div class="labels">
        <div><small>Intellect</small>: <small>{{set.int_val}}</small></div>
        <div><small>Discipline</small>: <small>{{set.disc_val}}</small></div>
        <div><small>Strength</small>: <small>{{set.str_val}}</small></div>
        <div><small>Bonus Type</small>: </div>
      </div>
      <div class="itemQuality">
        <span ng-repeat="armorpiece in set.armor">
          <div class="set-item">
            <dim-store-item item-data="armorpiece.item" store-data="normal.getStore(armorpiece.item.owner)"></dim-store-item>
            <div class="label"><small>{{armorpiece.bonus_type === 'int'? 'Intellect': (armorpiece.bonus_type === 'disc'? 'Discipline' : 'Strength')}}</small></div>
          </div>
        </span>
        <button ng-click="normal.newLoadout(set)">Create Loadout</button>
      </div>
    </div>
  </div>
</div>
