<div ng-controller="dimMinMaxCtrl as normal" style="min-width:900px">
  <a ui-sref='inventory' class="link"><i class='fa fa-arrow-circle-left' style='padding-right:5px;'></i>Back to DIM</a>
  <h1>Armor Comparison</h1>

  <p>Estimate item stats at higher light levels <input type='checkbox' ng-model='normal.doNormalize' ng-change='normal.normalizeBuckets()'>
    <span ng-show='normal.doNormalize'>Estimate stats at light level <input style='width:35px;padding-left:5px;border:none' type='number' ng-model='normal.normalize' placeholder='320' ng-change='normal.normalizeBuckets()' /></span>
  </p>
<!--  <p>The stats displayed are the <b>base</b> stats for the item.</p>-->

<!--  <span class="link" ng-click="help=!help">Click here for more information</span>-->

<!--  <div ng-show="help">-->
<!--    <p>This page will help you determine what your best gear is.</p>-->
<!--    <p>Tips:</p>-->
    <ul>
      <li>The perks/bonus that increase intellect/dis/str are NOT included, only the "base" stats are shown.</li>
      <li>The 'Percent of max' is percentage of a perfectly rolled item.</li>
      <li>The 'Percent of max' is constant as the item is infused to higher light levels.</li>
      <li>Prioritize the perks on an item before its stat distibution, and then compare the stat roll.</li>
<!--
      <li>Just because something has a low quality stat roll, does not be mean you should toss it.</li>
      <li>At 310 light, it's possible to hit tier 11 with an average of greater than 87% gear.</li>
      <li>At 320 light, it's possible to hit tier 11 with an average of greater than 59% gear.</li>
      <li>Clicking on an item will show you its perks, the infusion calculator, and move commands.</li>
-->
      <li>Pure roll items generally are worse than split rolls.</li>
    </ul>
<!--  </div>-->

  <p>Class: <select ng-model='normal.active' ng-change='normal.normalizeBuckets()'>
    <option value='titan'>Titan</option>
    <option value='hunter'>Hunter</option>
    <option value='warlock'>Warlock</option>
  </select> &nbsp; Armor: <select ng-model='normal.type' ng-options="bucket as bucket for (bucket, data) in normal.ranked"></select> <span ng-show="normal.doNormalize">(+{{normal.getBonus(normal.normalize, normal.type)}} bonus excluded)</span></p>

<!--  <div ng-repeat="(type, items) in normal.ranked[normal.type]">-->
<!--    <h3 ng-bind="type"></h3>-->
    <span style='display: inline-block; margin-right: 20px'>
      <div><small>Intellect</small></div>
      <div><small>Discipline</small></div>
      <div><small>Strength</small></div>
      <div><small>Percent of max</small></div>
    </span>
    <span ng-repeat="item in normal.ranked[normal.type] | orderBy:'-quality'">
      <div style='display: inline-block; padding: 3px 0 0 3px'>
        <div style='display: inline-block'>
          <div ng-repeat="stat in item.stats track by $index">
            <small ng-bind="item.normalStats[$index].base"></small>
          </div>
        </div>
        <div dim-store-item item-data="item" store-data="normal.getStore(item.owner)"></div>
        <div style="background-color: {{normal.getColor(item.quality)}};margin-right:2px;">
          <small style="display:block;margin-left:5px;color:black;" ng-bind="item.quality < 0 || item.quality > 100 ? '&nbsp;' : item.quality + '%'"></small>
        </div>
      </div>
    </span>
<!--  </div>-->
</div>
