<ul>
  <li><a href="#/best">Click here (or the graph icon) to try out the Loadout builder page!</a></li>
  <li>Update the stat roll percentage formula to show min-max possible after infusion.</li>
</ul>
<p>
<p>
  Our <a href="https://github.com/DestinyItemManager/DIM/blob/master/CHANGELOG.md"
  target="_blank">changelog</a> is available if you would like to know more.
</p>
<p>
  Follow us on: <a style="margin: 0 5px;" href="http://destinyitemmanager.reddit.com"
  target="_blank"><i class="fa fa-reddit fa-2x"></i></a> <a style="margin: 0 5px;"
  href="http://twitter.com/ThisIsDIM" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
</p>
