
<p>Are you ready for "Wrath of the Machine"?</p>
<ul style="margin: 0;padding:0;">
  <li>Rejoice! <a href="http://imgur.com/a/eNyir" target="_blank">Item Quality</a> has returned.</li>
  <li>View your item rolls on <a href="destinytracker.com" target="_blank">Destiny Tracker</a> by clicking the item name in the popup header.  It includes your perks and is sharable.</li>
  <li>Users can equip loadouts directly from the Loadout Builder.</li>
  <li>Moving consumables within loadouts has been improved with better handling and error messages.  Put some heavy in that loadout next time.</li>
  <li>Record Books have their own row in the inventory.</li>
</ul>
<p>
  Our full <a href="https://github.com/DestinyItemManager/DIM/blob/master/CHANGELOG.md"
  target="_blank">changelog</a> is available if you would like to know more.
</p>
<p>
  Follow us on: <a style="margin: 0 5px;" href="http://destinyitemmanager.reddit.com"
  target="_blank"><i class="fa fa-reddit fa-2x"></i></a> <a style="margin: 0 5px;"
  href="http://twitter.com/ThisIsDIM" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
</p>
