<p>Bring back the infusion dialog as an Infusion Fuel Finder. It doesn't do as much as it used to, but now it's optimized for quickly finding eligable infusion items.</p>
<p>Fix a bug where hovering over a drop zone with a consumable/material stack and waiting for the message to turn green still wouldn't trigger the partial move dialog.</p>
<p>Added a new "Item Leveling" auto-loadout. This loadout finds items for you to dump XP into. It strongly favors locked items, and won't replace an incomplete item that you have equipped. Otherwise, it goes after items that already have the most XP (closest to completion), preferring exotics and legendaries if they are locked, and rares and legendaries if they're not locked (because you get more materials out of disassembling them that way).</p>
<p>There's a new setting that will show elemental damage icons on your weapons. Elemental damage icons are now always shown in the title of the item popup.</p>
<p>Elder's Sigil won't go above 100% completion for the score portion anymore.</p>
<p>Added roll quality percentage indicator. You can now see how your intellect/discipline/strength stacks up against the maximum stat roll for your armor.</p>

  <input style="margin-top: 1px; vertical-align: middle;" id="20160411v35" type="checkbox">
  <label for="20160411v35">Hide This Popup</label></p>
