<div id="filter-view" ng-controller="dimSettingsCtrl as vm">
  <h1>Filters</h1>
  <div class="ngdialog-inner-content">
  <p>
    Click filters below to apply, or by typing in the search box.
  </p>
  <p>
    Filters are combined using 'and' logic, for example "is:arc light:>300" will return all arc items with over 300 light. Filters can be negated using "not:", for example "not:engram" will find all non-engram items.
  </p>
  <table>
    <tr>
      <td>Filter</td>
      <td>Description</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="item name"></dim-filter-link>
      </td>
      <td>Shows items where their name has a partial match to the filter text.</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:arc"></dim-filter-link>
        <dim-filter-link filter="is:solar"></dim-filter-link>
        <dim-filter-link filter="is:void"></dim-filter-link>
        <dim-filter-link filter="is:kinetic"></dim-filter-link>
      </td>
      <td>Shows items based on their damage type.</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="light:value"></dim-filter-link>
        <dim-filter-link filter="light:&gt;=value"></dim-filter-link>
        <dim-filter-link filter="light:&gt;value"></dim-filter-link>
        <dim-filter-link filter="light:&lt;value"></dim-filter-link>
        <dim-filter-link filter="light:&lt;=value"></dim-filter-link>
      </td>
      <td>Shows items based on their light level (Attack for Weapons; Defense for Armor). "level" is an alias for "light".</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="stat:impact:value"></dim-filter-link>
        <dim-filter-link filter="stat:impact:&gt;=value"></dim-filter-link>
        <dim-filter-link filter="stat:impact:&gt;value"></dim-filter-link>
        <dim-filter-link filter="stat:impact:&lt;value"></dim-filter-link>
        <dim-filter-link filter="stat:impact:&lt;=value"></dim-filter-link>
      </td>
      <td>Shows items based on their stat value. The available filters are:
        <ul>
          <li>stat:rof:</li>
          <li>stat:impact:</li>
          <li>stat:range:</li>
          <li>stat:stability:</li>
          <li>stat:reload:</li>
          <li>stat:magazine:</li>
          <li>stat:aimassist: or stat:aa:</li>
          <li>stat:equipspeed:</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="quality:value"></dim-filter-link>
        <dim-filter-link filter="quality:&gt;=value"></dim-filter-link>
        <dim-filter-link filter="quality:&gt;value"></dim-filter-link>
        <dim-filter-link filter="quality:&lt;value"></dim-filter-link>
        <dim-filter-link filter="quality:&lt;=value"></dim-filter-link>
      </td>
      <td>Shows items based on their total stat quality percentage. "percentage" is an alias for "quality".</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:light"></dim-filter-link>
        <dim-filter-link filter="has:light"></dim-filter-link>
      </td>
      <td>Items that contribute to your light level.</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:weapon"></dim-filter-link>
        <dim-filter-link filter="is:armor"></dim-filter-link>
        <dim-filter-link filter="is:cosmetic"></dim-filter-link>
      </td>
      <td>High level item categories.</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:equipment"></dim-filter-link>
        <dim-filter-link filter="is:equippable"></dim-filter-link>
      </td>
      <td>Items that can be equipped.</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:transferable"></dim-filter-link>
        <dim-filter-link filter="is:movable"></dim-filter-link>
      </td>
      <td>Items that can be moved between characters.</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:equipped"></dim-filter-link>
      </td>
      <td>Items that are currently equipped on a character.</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:weapon"></dim-filter-link>
        <dim-filter-link filter="is:class"></dim-filter-link>
        <dim-filter-link filter="is:primary"></dim-filter-link>
        <dim-filter-link filter="is:special"></dim-filter-link>
        <dim-filter-link filter="is:heavy"></dim-filter-link>
      </td>
      <td>Shows items based on their weapon classes.</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:armor"></dim-filter-link>
        <dim-filter-link filter="is:helmet"></dim-filter-link>
        <dim-filter-link filter="is:gauntlets"></dim-filter-link>
        <dim-filter-link filter="is:chest"></dim-filter-link>
        <dim-filter-link filter="is:leg"></dim-filter-link>
        <dim-filter-link filter="is:classitem"></dim-filter-link>
      </td>
      <td>Shows armors based on their category.</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:common"></dim-filter-link>
        <dim-filter-link filter="is:uncommon"></dim-filter-link>
        <dim-filter-link filter="is:rare"></dim-filter-link>
        <dim-filter-link filter="is:legendary"></dim-filter-link>
        <dim-filter-link filter="is:sublime"></dim-filter-link>
        <dim-filter-link filter="is:exotic"></dim-filter-link>
        <dim-filter-link filter="is:white"></dim-filter-link>
        <dim-filter-link filter="is:green"></dim-filter-link>
        <dim-filter-link filter="is:blue"></dim-filter-link>
        <dim-filter-link filter="is:purple"></dim-filter-link>
        <dim-filter-link filter="is:yellow"></dim-filter-link>
      </td>
      <td>Shows items based on their rarity tier.</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:intellect"></dim-filter-link>
        <dim-filter-link filter="is:discipline"></dim-filter-link>
        <dim-filter-link filter="is:strength"></dim-filter-link>
      </td>
      <td>Shows armor that has points in the named stat.</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:infusable"></dim-filter-link>
        <dim-filter-link filter="is:infuse"></dim-filter-link>
      </td>
      <td>Shows items that can be infused.</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:ascended"></dim-filter-link>
        <dim-filter-link filter="is:unascended"></dim-filter-link>
      </td>
      <td>Shows items that have an ascend node and if they have been ascended or not.</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:reforgeable"></dim-filter-link>
        <dim-filter-link filter="is:reforge"></dim-filter-link>
        <dim-filter-link filter="is:rerollable"></dim-filter-link>
        <dim-filter-link filter="is:reroll"></dim-filter-link>
      </td>
      <td>Shows items that can be reforged at the Gunsmith.</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:complete"></dim-filter-link>
        <dim-filter-link filter="is:incomplete"></dim-filter-link>
        <dim-filter-link filter="is:xpincomplete, is:needsxp"></dim-filter-link>
        <dim-filter-link filter="is:xpcomplete"></dim-filter-link>
        <dim-filter-link filter="is:upgraded"></dim-filter-link>
      </td>
      <td>Shows items at various states of leveling:
        <ul>
          <li>Complete shows items that are totally complete - every upgrade unlocked.</li>
          <li>Incomplete shows items that are not complete - there's still at least one upgrade to unlock.</li>
          <li>xpincomplete/needsxp shows items that can still have XP put into them.</li>
          <li>xpcomplete shows items that cannot have XP put into them (whether or not their upgrades have been unlocked).</li>
          <li>Upgraded shows items that have enough XP to unlock all their nodes, but not all the nodes have been unlocked.</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:titan"></dim-filter-link>
        <dim-filter-link filter="is:hunter"></dim-filter-link>
        <dim-filter-link filter="is:warlock"></dim-filter-link>
      </td>
      <td>Shows items based on their class affinty.</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:dupe"></dim-filter-link>
        <dim-filter-link filter="is:duplicate"></dim-filter-link>
      </td>
      <td>Shows duplicate items</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:locked"></dim-filter-link>
        <dim-filter-link filter="is:unlocked"></dim-filter-link>
      </td>
      <td>Shows items based on their locked status.</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:tracked"></dim-filter-link>
        <dim-filter-link filter="is:untracked"></dim-filter-link>
      </td>
      <td>Shows quests/bounties based on their tracked status.</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:stackable"></dim-filter-link>
      </td>
      <td>Shows items that can stack (ammo synths, strange coin, etc)</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:pulserifle"></dim-filter-link>
        <dim-filter-link filter="is:scoutrifle"></dim-filter-link>
        <dim-filter-link filter="is:handcannon"></dim-filter-link>
        <dim-filter-link filter="is:autorifle"></dim-filter-link>
        <dim-filter-link filter="is:sniperrifle"></dim-filter-link>
        <dim-filter-link filter="is:shotgun"></dim-filter-link>
        <dim-filter-link filter="is:fusionrifle"></dim-filter-link>
        <dim-filter-link filter="is:sidearm"></dim-filter-link>
        <dim-filter-link filter="is:rocketlauncher"></dim-filter-link>
        <dim-filter-link filter="is:machinegun"></dim-filter-link>
        <dim-filter-link filter="is:sword"></dim-filter-link>
        <dim-filter-link filter="is:primaryweaponengram"></dim-filter-link>
        <dim-filter-link filter="is:specialweaponengram"></dim-filter-link>
        <dim-filter-link filter="is:heavyweaponengram"></dim-filter-link>
      </td>
      <td>Shows weapons based on their weapon type.</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:engram"></dim-filter-link>
      </td>
      <td>Shows engrams.</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:glimmeritem"></dim-filter-link>
        <dim-filter-link filter="is:glimmerboost"></dim-filter-link>
        <dim-filter-link filter="is:glimmersupply"></dim-filter-link>
      </td>
      <td>Shows items that are consumables that are related to gaining glimmer:
        <ul>
          <li>Any type of glimmer item.</li>
          <li>Items that boost the amount glimmer gaied for 10 minutes.</li>
          <li>Items that are exchangable with Rahool for 200 glimmer.</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:new"></dim-filter-link>
      </td>
      <td>Shows new items.</td>
    </tr>
    <tr ng-if="vm.featureFlags.tagsEnabled">
      <td>
        <dim-filter-link filter="tag:none"></dim-filter-link>
        <dim-filter-link filter="tag:favorite"></dim-filter-link>
        <dim-filter-link filter="tag:keep"></dim-filter-link>
        <dim-filter-link filter="tag:junk"></dim-filter-link>
        <dim-filter-link filter="tag:infuse"></dim-filter-link>
      </td>
      <td><ul>
        <li>Shows items with out a tag.</li>
        <li>Shows favorite items.</li>
        <li>Shows keep items.</li>
        <li>Shows items you wish to eventually dismantle.</li>
        <li>Shows items you wish to eventually infuse.</li>
      </ul></td>
    </tr>
    <tr ng-if="vm.featureFlags.tagsEnabled">
      <td>
        <dim-filter-link filter="notes:value"></dim-filter-link>
      </td>
      <td>Search for items that you have tagged with custom notes</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:year1"></dim-filter-link>
        <dim-filter-link filter="is:year2"></dim-filter-link>
        <dim-filter-link filter="is:year3"></dim-filter-link>
      </td>
      <td>Shows items from which year of Destiny they appeared in.</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:inloadout"></dim-filter-link>
        <dim-filter-link filter="not:inloadout"></dim-filter-link>
      </td>
      <td>Shows items that are included in any loadout.</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:postmaster"></dim-filter-link>
        <dim-filter-link filter="is:inpostmaster"></dim-filter-link>
      </td>
      <td>Items that are currently in the Postmaster.</td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:fwc"></dim-filter-link>
        <dim-filter-link filter="is:do"></dim-filter-link>
        <dim-filter-link filter="is:nm"></dim-filter-link>
        <dim-filter-link filter="is:speaker"></dim-filter-link>
        <dim-filter-link filter="is:variks"></dim-filter-link>
        <dim-filter-link filter="is:shipwright"></dim-filter-link>
        <dim-filter-link filter="is:osiris"></dim-filter-link>
        <dim-filter-link filter="is:xur"></dim-filter-link>
        <dim-filter-link filter="is:shaxx"></dim-filter-link>
        <dim-filter-link filter="is:cq"></dim-filter-link>
        <dim-filter-link filter="is:eris"></dim-filter-link>
        <dim-filter-link filter="is:ev"></dim-filter-link>
      </td>
      <td>
        <span>Item is available from vendor <i>Future War Cult</i></span>
        <span>Item is available from vendor <i>Dead Orbit</i></span>
        <span>Item is available from vendor <i>New Monarchy</i></span>
        <span>Item is available from vendor <i>Speaker</i></span>
        <span>Item is available from vendor <i>Variks</i></span>
        <span>Item is available from vendor <i>Shipwright</i> (Amanda Holiday)</span>
        <span>Item is available from vendor <i>Osiris</i></span>
        <span>Item is available from vendor <i>Xur</i></span>
        <span>Item is available from vendor <i>Shaxx</i></span>
        <span>Item is available from vendor <i>Crucible Quartermaster</i></span>
        <span>Item is available from vendor <i>Eris Morn</i></span>
        <span>Item is available from vendor <i>Eververse</i></span>
      </td>
    </tr>
    <tr>
      <td>
        <dim-filter-link filter="is:vanilla"></dim-filter-link>
        <dim-filter-link filter="is:qw"></dim-filter-link>
        <dim-filter-link filter="is:ib"></dim-filter-link>
        <dim-filter-link filter="is:vog"></dim-filter-link>
        <dim-filter-link filter="is:ce"></dim-filter-link>
        <dim-filter-link filter="is:poe"></dim-filter-link>
        <dim-filter-link filter="is:trials"></dim-filter-link>
        <dim-filter-link filter="is:ttk"></dim-filter-link>
        <dim-filter-link filter="is:coe"></dim-filter-link>
        <dim-filter-link filter="is:kf"></dim-filter-link>
        <dim-filter-link filter="is:srl"></dim-filter-link>
        <dim-filter-link filter="is:cd"></dim-filter-link>
        <dim-filter-link filter="is:roi"></dim-filter-link>
        <dim-filter-link filter="is:af"></dim-filter-link>
        <dim-filter-link filter="is:wotm"></dim-filter-link>
        <dim-filter-link filter="is:dawning"></dim-filter-link>
      </td>
      <td>
        <span>Available from release <i>Vanilla</i></span>
        <span>Available from activity <i>Queen's Wrath</i></span>
        <span>Available from activity <i>Iron Banner</i></span>
        <span>Available from activity <i>Vault of Glass</i></span>
        <span>Available from activity <i>Crota's End</i></span>
        <span>Available from activity <i>Prison of Elders</i></span>
        <span>Available from activity <i>Trials of Osiris</i></span>
        <span>Available from release <i>The Taken King</i></span>
        <span>Available from activity <i>Challenge of Elders</i></span>
        <span>Available from activity <i>King's Fall</i></span>
        <span>Available from activity <i>Sparrow Racing League</i></span>
        <span>Available from activity <i>Crimson Doubles</i></span>
        <span>Available from release <i>Rise of Iron</i></span>
        <span>Available from activity <i>Archon Forge</i></span>
        <span>Available from activity <i>Wrath of the Machine</i></span>
        <span>Available from activity <i>The Dawning</i></span>
      </td>
    </tr>
  </table>
  </div>
