<div class="infuseDialog" ng-controller="dimInfuseCtrl as infuse" dim-click-anywhere-but-here="infuse.closeDialog()">
  <h1>Infusion Calculator</h1>
  <div class="infuseHeader">

    <div class="infuseSourceItemInfo">
      <div class="infuseSourceItem" dim-infuse-item item-data="infuse.source"></div>

      <div class="infuseSourceDetailsRow">
        <div><strong>{{infuse.source.name}}</strong></div>
        <div>{{infuse.source.type}}</div>
      </div>

      <div class="infuseSourceDetailsRow">
        <div>{{infuse.statType}}</div>
        <div class="bigValue">{{infuse.source.primStat.value}}</div>
      </div>
    </div>

    <div class="infuseControls">
      <label><input class="controls" type="checkbox" id="infuse-all" ng-model="infuse.getAllItems" ng-change="infuse.getItems()">Show infusable items across all characters and vault</label>
      <label><input class="controls" type="checkbox" id="infuse-locked" ng-model="infuse.showLockedItems" ng-change="infuse.getItems()">Include 'locked' items</label>
      <label><input class="controls" type="checkbox" id="infuse-blues" ng-model="infuse.onlyBlues" ng-change="infuse.getItems()">Limit to rare (blue) items</label>
    </div>
  </div>
  <div class="bestInfusion infuseControls">
    <label>
      Infuse {{infuse.statType}} up to:
      <select ng-options="path as path.light + (path.light == 'Manual' ? '' : (' (' + path.path.length + ')')) for path in infuse.paths" ng-model="infuse.selectedPath" ng-change="infuse.selectInfusionPath()"></select>
    </label>
  </div>

  <div class="gearsContainer grey">
    <span ng-if="!infuse.view.length"><strong>No infusable items available.</strong></span>
    <span ng-if="infuse.view.length">Select items to infuse:</span>
    <div ng-repeat="value in infuse.infusable">
      <div class="{{infuse.inView(value)}}" dim-infuse-item item-data="value" ng-click="infuse.toggleItem($event, value)"></div>
    </div>
  </div>

  <div class="gearsContainer black infuseResults">
    <div ng-show="infuse.infused != 0">
      <div class="infuseTargets">
        <div ng-repeat="value in infuse.targets">
          <div class="plusSeparator" ng-if="!$first">+</div>
          <div class="infusedItem" dim-infuse-item item-data="value" ng-click="infuse.toggleItem($event, value)"></div>
        </div>
      </div>
      <div class="result">
        <span>Will bring the gear to</span>
        <span class="bigValue">{{infuse.infused}}</span>
        <span class="green">(+ {{infuse.difference}})</span>
        <span>using {{infuse.targets.length*3}} <span class="legendaryMarks"><img alt="Legendary Marks" title="Legendary Marks" src="/images/legendaryMarks.png"></span></span>
        <span ng-if="infuse.exotic">+ {{infuse.targets.length}} <span class="legendaryMarks"><img alt="Exotic Shards" title="Exotic Shards" src="http://www.bungie.net/common/destiny_content/icons/e6d2a0561e784ae224e2aa53aa66e8a7.jpg"></span></span>
        <span>+ {{infuse.targets.length*250 | number}} <span class="glimmer"><img alt="Glimmer" title="Glimmer" src="/images/glimmer.png"></span></span>
        <span>+ {{infuse.targets.length*10 | number}} <span class="glimmer"><img alt="Materials" title="Materials" ng-src="http://www.bungie.net/common/destiny_content/icons/{{infuse.statType == 'Attack' ? 'f2572a4949fb16df87ba9760f713dac3' : '972ae2c6ccbf59cde293a2ed50a57a93'}}.jpg"></span></span>

      </div>
      <button ng-if="infuse.getAllItems" ng-disabled="infuse.transferInProgress" ng-click="infuse.transferItems()">Transfer items</button>
    </div>
  </div>

  <div class='gearsContainer'><small>This calculator uses the best known algorithm for infusing. If you find any discrepancies <a href='https://www.reddit.com/r/DestinyTheGame/comments/3o48e2/infusion_data_collection_request/' target='_blank'>let us know.</a> DIM can't actually perform infusions, it can just tell you what you'll get.</small></div>
</div>
