<div class="infuseDialog" ng-controller="dimInfuseCtrl as infuse" dim-click-anywhere-but-here="app.closeLoadoutPopup()">
  <h1>Infusion Calculator</h1>
  <p>
    <input class="controls" type="checkbox" id="infuse-all" ng-model="infuse.getAllItems" ng-change="infuse.getItems()"><label for="infuse-all">Show all infusable items</label>
    <br class="clear" />
    <input class="controls" type="checkbox" id="infuse-locked" ng-model="infuse.showLockedItems" ng-change="infuse.getItems()"><label for="infuse-locked">Include 'locked' items</label>
  </p>

  <p>
    <span class="infuseSourceItem" dim-infuse-item item-data="infuse.item"></span>

    <span class="infuseSourceDetailsRow">
      <span><strong>{{infuse.item.name}}</strong></span><br />
      <span>{{infuse.item.type}}</span>
    </span>

    <span class="infuseSourceDetailsRow">
      <span>Attack</span><br />
      <span class="bigValue">{{infuse.item.primStat.value}}</span>
    </span>
  </p>

  <div class="gearsContainer grey">
    <span ng-if="!infuse.infuseService.data.view.length"><strong>No infusable items available.</strong></span>
    <span ng-if="infuse.infuseService.data.view.length">Select items to infuse:</span>
    <div ng-repeat="value in infuse.infuseService.data.view">
      <div class="item" dim-infuse-item item-data="value" ng-click="infuse.toggleItem(value)"></div>
    </div>
  </div>

  <div class="gearsContainer black">
    <div ng-show="infuse.infuseService.data.infused != 0">
      <div ng-repeat="value in infuse.infuseService.data.targets">
        <div class="plusSeparator" ng-if="!$first">+</div>
        <div class="infusedItem" dim-infuse-item item-data="value" ng-click="infuse.toggleItem(value)"></div>
      </div>
      <br class="clear" />
      <div class="result">
        <span>Will bring the gear to</span>
        <span class="bigValue">{{infuse.infuseService.data.infused}}</span>
        <span class="green">(+ {{infuse.infuseService.data.difference}})</span>
        <span>with {{infuse.infuseService.data.targets.length*3}} <span class="legendaryMarks"><img src="/images/legendaryMarks.png"></span></span>
      </div>
    </div>
  </div>

  <br class="clear" />
  
  <div class='gearsContainer'><small>This calculator uses the best known algorithm for infusing. If you find any discrepancies <a href='https://www.reddit.com/r/DestinyTheGame/comments/3o48e2/infusion_data_collection_request/'>let us know.</a></small></div>
</div>
