<div ng-controller="dimSettingsCtrl as vm">
  <h1>Settings</h1>
  <div class="ngdialog-inner-content">
<!--  <input ng-if='vm.showSync()' type='button' class='btn' ng-click='vm.driveSync()' value='Sync with Drive' />-->
  <form class="settings">
    <table>
      <tr>
        <td>
          <label for="spreadsheetLinks" title="Download a CSV list of your items that can be easily viewed in the spreadsheet app of your choice.">Download Spreadsheets</label>
        </td>
        <td>
          <div id="spreadsheetLinks">
            <button ng-click="app.downloadWeaponCsv()" ng-disabled="loadingTracker.active()" title="Download Csv"> <i class="fa fa-table"></i> Weapons</button>
            <button ng-click="app.downloadArmorCsv()" ng-disabled="loadingTracker.active()" title="Download Csv"> <i class="fa fa-table"></i> Armor</button>
          </div>
        </td>
      </tr>
      <tr>
      <tr>
        <td>
          <label for="condensedItems" title="Items that do not match filter criteria will be hidden.">Hide Unfiltered Items while Filtering</label>
        </td>
        <td>
          <input type="checkbox" ng-model="vm.settings.hideFilteredItems"/>
        </td>
      </tr>
      <tr>
        <td>
          <label for="details" title="Clicking on an item will show a popup that can be expanded to show perk and stat details.  This option will always show that detail when you click on an item.">Always Show Item Details</label>
        </td>
        <td>
          <input type="checkbox" id="details" ng-model="vm.settings.itemDetails"/>
        </td>
      </tr>
      <tr>
        <td>
          <label for="itemQuality" title="Will enable advanced min/max features on the move dialog and enable the armor comparison view.">Enable advanced stat quality comparison features</label>
        </td>
        <td>
          <input type="checkbox" id="itemQuality" ng-model="vm.settings.itemQuality"/>
        </td>
      </tr>
      <tr>
        <td>
          <label for="showElements" title="Show elemental damage icons on weapons.">Show elemental damage icons on weapons</label>
        </td>
        <td>
          <input type="checkbox" id="showElements" ng-model="vm.settings.showElements"/>
        </td>
      </tr>
      <tr>
        <td>
          <label for="itemSort" title="Sort items by rarity or their primary stat value.">Sort Items by:</label>
        </td>
        <td>
          <label>
            <input type="radio" ng-model="vm.settings.itemSort" value="primaryStat">Primary stat</label>
          <br>
          <label>
            <input type="radio" ng-model="vm.settings.itemSort" value="rarityThenPrimary">Rarity, then primary stat</label>
          <br>
          <label>
            <input type="radio" ng-model="vm.settings.itemSort" value="rarity">Rarity, then name</label>
          <br>
          <label ng-show="vm.settings.itemQuality">
            <input type="radio" ng-model="vm.settings.itemSort" value="quality">Stat roll percent, then Prim Stat</label>
        </td>
      </tr>
      <tr>
        <td>
          <label for="charCol" title="Select the number of columns for character inventory.">Character Inventory Columns</label>
        </td>
        <td>
          <select id="charCol" ng-model="vm.settings.charCol" ng-options="option.id as option.name for option in vm.charColOptions" required></select>
        </td>
      </tr>
      <tr>
        <td>
          <label title="Characters can be ordered by last login or based on their creation date.">Character Order</label>
        </td>
        <td>
          <label>
            <input type="radio" ng-model="vm.settings.characterOrder" value="mostRecent" ng-model-options="{ updateOn: 'default blur' }">By Most Recent Character</label>
          <br>
          <label>
            <input type="radio" ng-model="vm.settings.characterOrder" value="fixed" ng-model-options="{ updateOn: 'default blur' }">Fixed</label>
        </td>
      </tr>
    </table>
  </form>
  </div>
</div>
