<div ng-controller="dimSettingsCtrl" dim-click-anywhere-but-here="app.closeLoadoutPopup()">
  <h1>Settings</h1>
  <h2>Look and Feel</h2>
  <style>
    .settings td:nth-child(2) {
      white-space: nowrap;
    }
  </style>
  <form class="settings">
    <table>
      <tr>
        <td>
          <label for="condensedItems" title="Items that do not match filter criteria will be hidden.">Hide Unfiltered Items while Filtering</label>
        </td>
        <td>
          <input type="checkbox" ng-model="vm.settings.hideFilteredItems" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" ng-change="vm.save('hideFilteredItems')"></input>
        </td>
      </tr>
      <tr>
        <td>
          <label for="details" title="Clicking on an item will show a popup that can be expanded to show perk and stat details.  This option will always show that detail when you click on an item.">Always Show Item Details</label>
        </td>
        <td>
          <input type="checkbox" id="details" ng-model="vm.settings.itemDetails" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" ng-change="vm.save('itemDetails')"></input>
        </td>
      </tr>
      <tr>
        <td>
          <label for="itemStat" title="Will display information in the lower-right of the item that is appropriate to the item such as attack, defense, and bounty status.">Display Primary Stat Values on Items</label>
        </td>
        <td>
          <input type="checkbox" id="itemStat" ng-model="vm.settings.itemStat" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" ng-change="vm.save('itemStat')"></input>
        </td>
      </tr>
      <tr>
        <td>
          <label for="itemSort" title="Sort items by rarity or their primary stat value.">Sort Items by:</label>
        </td>
        <td>
          <label>
            <input type="radio" ng-model="vm.settings.itemSort" value="primaryStat" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" ng-change="vm.save('itemSort')">Primary Stat</label>
          <br>
          <label>
            <input type="radio" ng-model="vm.settings.itemSort" value="rarity" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" ng-change="vm.save('itemSort')">Rarity</label>
        </td>
      </tr>
      <tr>
        <td>
          <label for="charCol" title="Select the number of columns for character inventory.">Character Inventory Columns</label>
        </td>
        <td>
          <select id="charCol" ng-model="vm.settings.charCol" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" ng-options="option.id as option.name for option in vm.charColOptions" required ng-change="vm.save('charCol')"></select>
        </td>
      </tr>
      <tr>
        <td>
          <label for="vaultCol" title="Select the number of columns for character inventory.">Vault Columns</label>
        </td>
        <td>
          <select id="vaultCol" ng-model="vm.settings.vaultCol" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" ng-options="option.id as option.name for option in vm.vaultColOptions" required ng-change="vm.save('vaultCol')"></select>
        </td>
      </tr>
      <tr>
        <td>
          <label title="Characters can be ordered by last login or based on their creation date.">Character Order</label>
        </td>
        <td>
          <label>
            <input type="radio" ng-model="vm.settings.characterOrder" value="mostRecent" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" ng-change="vm.save('characterOrder')">By Most Recent Character</label>
          <br>
          <label>
            <input type="radio" ng-model="vm.settings.characterOrder" value="fixed" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" ng-change="vm.save('characterOrder')">Fixed</label>
        </td>
      </tr>
    </table>
  </form>
</div>
