<div dim-about dim-click-anywhere-but-here="app.closeLoadoutPopup()">
  <h1 class="orange">Supporting DIM</h1>
  <p>
    DIM is a product that is free to download and use. The source code for DIM is
    open sourced, and free to anyone to enhance. You will never see
    an ad in DIM. That is our committment.
  </p>
  <p>
    We're all huge fans of Destiny. DIM came to life in those hours of gameplay
    because we felt that pain of transferring gear between characters and forgetting
    that one item, or trips down to the tower to unload your ROC strikes. DIM is
    the tool that will help you get more gametime.
  </p>
  <h2>How can I contribute?</h2>
  <p>
    <dl>
      <dt>Donate to DIM</dt>
      <dd>
        We use <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=EE2BLN2YN2Q5L" target="_blank">PayPal</a>
        to accept donations.  If DIM has made a difference in your gametime, support the team working on the project.
      </dd>
    </dl>
    <dl>
      <dt>Share the DIM with your friends!</dt>
      <dd>
        Once you've experienced how easy it is to equip a loadout, you'll be hooked.
        Share the fun with your friends!
      </dd>
    </dl>
    <dl>
      <dt>Do you have an idea for DIM?</dt>
      <dd>
        Visit us on <a href="http://destinyitemmanager.reddit.com" target="_blank">/r/destinyitemmanager</a>
        and let us know about your idea.  You'll
        hear from us as well as the community around DIM which is a great way to
        iterate and improve an idea.
      </dd>
    </dl>
    <dl>
      <dt>I'm a developer/designer/enthusist and I'm looking to contribute to the source.</dt>
      <dd>
        Visit us on <a href="https://github.com/kyleshay/DIM" target="_blank">GitHub</a>
        and send one of the contributors a message.  We're more
        than happy to accept pull requests.  Join us as a contributor and join our
        meetings where we talk about the next version, feature updates, or crushing bugs.
      </dd>
    </dl>
  </p>
</div>
