@use '../variables.scss' as *;

// TODO: dedup with LoadoutView

.loadout {
  composes: flexColumn from '../dim-ui/common.m.scss';
  margin-bottom: 10px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.25);
}

.title {
  composes: flexRow from '../dim-ui/common.m.scss';
  align-items: center;

  h2 {
    flex: 1;
    display: flex;
    margin: 0 !important;
    font-size: 16px;
    align-items: center;
    gap: 0.5em;
  }

  @include phone-portrait {
    flex-direction: column;
    align-items: flex-start;
  }
}

.icon {
  height: 32px;
  width: 32px;
}

// TODO: extract common
.power {
  display: inline;
  color: $gold;
  flex: inherit;
  font-size: 12px;
  letter-spacing: normal;
  svg {
    margin-right: 2px;
    font-size: 10px;
  }
}

.actions {
  composes: flexRow from '../dim-ui/common.m.scss';
  flex-flow: row wrap;
  gap: 4px;

  @include phone-portrait {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.contents {
  display: flex;
  flex-flow: row wrap;
  margin-top: 10px;
  min-height: 16px;
  gap: 24px;

  @include phone-portrait {
    gap: 12px;
  }
}

.itemCategory {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--item-margin);

  :global(.stat-row) {
    justify-content: space-between;
  }

  :global(.stat-bars) {
    margin-top: 0;
  }
}

.itemsInCategory {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--item-size));
  gap: var(--item-margin);
  width: 100%;
}

.categoryWeapons {
  width: calc(3 * var(--item-size) + 2 * var(--item-margin));
}
.categoryArmor {
  width: calc(5 * var(--item-size) + 4 * var(--item-margin));
}

.placeholder {
  background: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: var(--item-size);
  display: flex;
  align-items: center;
  justify-content: center;

  @include phone-portrait {
    display: none;
  }
}
