@import '../variables.scss';

.page {
  margin-top: 10px;
  @include phone-portrait {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.menu {
  :global(.dim-button),
  select {
    width: 100%;
  }
}

.menuButtons {
  margin: 8px 0;
  @include vertical-space-children(8px);
  @include phone-portrait {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.menuButton {
  composes: dim-button from global;
  text-align: left;
}
