@import '../../scss/variables.scss';

#loadout-drawer {
  padding-top: 14px;
  max-height: calc(100% - #{$header-height} - 82px - 10px);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  .dim-stats {
    display: block;
    width: 300px;
    opacity: 0.3;

    &.complete {
      opacity: 1;
    }
  }
}

.loadout-equip-help {
  border: 1px solid #333;
  background-color: #f00;
  margin: 0 2px;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.loadout-item {
  position: relative;
}

.loadout-content {
  .dim-input {
    height: 23px;
  }

  .dim-select {
    height: 23px;
    padding: 4px 0;
    vertical-align: top;
  }
}

#loadout-options {
  padding: 0 1em;
  .sheet & {
    padding-right: 38px;
  }
}

.loadout-contents {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: calc(var(--item-size) + 4px);
  overflow-x: auto;
  margin-top: 8px;
  padding: 0 1em;
  flex-wrap: wrap;
  .equipped {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 2px;
    background-image: url('../../images/spartan.png');
    background-color: rgba(255, 0, 0, 0.6);
    background-size: 16px 16px;
  }
  .warn:before {
    width: 14px;
    height: 14px;
    font-size: 14px;
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 2px;
    content: '\f071';
    background-color: rgba(255, 204, 204, 0.6);
    background-size: 14px 14px;
  }
}

.loadout-drop {
  &.on-drag-hover {
    box-shadow: inset 0 0 6px 0 rgba(200, 200, 200, 0.7);
  }
}

.loadout-bucket {
  margin-right: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
