@import '../../scss/variables.scss';

.loadout-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.loadout-set {
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  overflow: hidden;
  background-color: black;

  .loadout-type-icon {
    color: #666;
  }

  &:last-of-type {
    border: 0;
  }

  &:hover {
    background-color: #151515;
  }

  > span:first-child {
    flex: 1;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap !important;
    line-height: 35px;
    .app-icon,
    .fa {
      width: 12px;
      margin-right: 5px;
      text-align: center;
    }
  }

  > span:not(:first-child) {
    margin: 6px 4px 6px 4px;
    padding: 0 6px;
    border-radius: 4px;
    text-align: center;
    color: #888;
    background-color: #222;
    display: flex;
    align-items: center;
    .app-icon,
    .fa {
      font-size: 13px;
    }
    &:hover {
      background-color: $blue;
      color: #222;

      &.delete {
        background-color: #ff9294;
      }
    }
  }

  .light {
    float: right;
    .app-icon {
      font-size: 10px;
      vertical-align: -0.125em;
      margin-right: 2px !important;
    }
    &::before {
      display: none;
    }
  }
}

.badge {
  border-radius: 50%;
  border-radius: 10px;
  background: $orange;
  padding: 0 4px;
  color: black;
  font-size: 9px;
}

.loadout-popup-content {
  background-color: #3a4150;
  color: #e4e4e4;
}

.loadout-menu {
  position: absolute;
  max-width: 230px;
  width: 100%;
  max-height: calc(100vh - 121px);
  overflow: auto;
  z-index: 2;
  color: rgba(245, 245, 245, 0.6);
  margin-bottom: 10px;
  overscroll-behavior: contain;
  cursor: pointer;

  [role='button'] {
    outline: none;
  }

  .detached & {
    position: fixed;
    top: 101px;
    z-index: 1000;
    max-height: calc(100vh - 221px);
    max-width: 230px;
    left: calc((100% - 230px) / 2);
  }
}
