@import '../../scss/variables.scss';

.loadout-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.loadout-set {
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  overflow: hidden;
  background-color: #222;

  &:last-of-type {
      border: 0;
  }

  &:hover {
    background-color: #151515;
  }

  > span:first-child {
    flex: 1;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap !important;
    .fa {
      width: 12px;
      margin-right: 2px;
      text-align: center;
    }
    img.fa {
      transform: translateY(1px);
    }
  }

  > span:not(:first-child) {
    padding: 0 12px;
    text-align: center;
    color: #888;
    .fa {
      font-size: 1.2em;
    }
    &:hover {
      background-color: $blue;
      color: #222;

      &:delete {
        background-color: #ff9294;
      }
    }
  }

  .light {
    font-weight: 200;
    color: $gold;
    float: right;
    &:before {
      content: "\2726";
      display: inline-block;
      vertical-align: 7%;
      font-size: 50%;
    }
  }
}