@use '../variables.scss' as *;

.loadout {
  composes: flexColumn from '../dim-ui/common.m.scss';
  padding: 15px;
  background: rgb(0, 0, 0, 0.25);

  @include phone-portrait {
    padding: 10px;
  }
}

.title {
  composes: flexRow from '../dim-ui/common.m.scss';
  align-items: center;
  user-select: text;
  gap: 1em;

  @include phone-portrait {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  h2 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 0 !important;
    font-size: 18px;
    text-transform: none;
    letter-spacing: normal;
  }
}

.actions {
  composes: flexRow from '../dim-ui/common.m.scss';
  flex-flow: row wrap;
  gap: 4px;
  margin-left: auto;

  @include phone-portrait {
    margin: 8px 0;
    width: 100%;
    justify-content: space-between;
  }
}

.findings {
  display: flex;
  flex-flow: row wrap;
  column-gap: 8px;
  > * {
    opacity: 0;
    animation: 0.2s linear 0s forwards fade-in;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.finding {
  text-transform: none;
  font-size: 12px;
  letter-spacing: normal;
  color: #ccc;

  :global(.app-icon) {
    margin-right: 0.2em;
  }
}

.contents {
  display: flex;
  flex-flow: row wrap;
  margin-top: 10px;
  min-height: 16px;
  gap: 24px;

  @include phone-portrait {
    gap: 12px;
  }
}

.classIcon {
  width: 16px !important;
  height: 16px !important;
  margin-right: 8px;
}

.loadoutNotes {
  margin: 4px 0;
  white-space: pre-wrap;
  user-select: text;
}

.modsStack {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  flex: 1;

  h3 {
    margin: 0 0 4px 0;
  }
}

.artifactMods {
  --item-size: 40px;
}
