@use '../variables.scss' as *;

.menu {
  :global(.dim-button),
  select {
    width: 100%;
  }
}

.menuButtons {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  gap: 8px;

  @include phone-portrait {
    padding-left: 10px;
    padding-right: 10px;
  }

  > :global(.dim-button) {
    justify-content: flex-start;
  }
}

.menuButton {
  composes: dim-button from global;
  text-align: left;
}

.menuLoadout > span:not(.app-icon) {
  text-transform: none !important;
  letter-spacing: normal !important;
}

.hashtagTip {
  display: flex;
  align-items: center;
}

.loadoutRow {
  padding-bottom: 10px;
}

.seasonHeader {
  composes: flexRow from '../dim-ui/common.m.scss';
  align-items: center;
  gap: 0.25em;
  margin: 16px 0 0 0;
  border-bottom: 1px solid var(--theme-text);
  font-size: 16px;

  @include phone-portrait {
    padding: 0 8px;
  }
}
