@import '../../scss/variables.scss';

#loadout-drawer {
  left: 0;
  right: 0;
  position: fixed;
  backface-visibility: hidden;
  z-index: 3;
  bottom: 0;
  background: #434444;
  color: #e0e0e0;
  box-shadow: 0 -1px 6px 0px #222;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  // 10px below the character header
  max-height: calc(100% - #{$header-height} - 82px - 10px);

  dim-stats {
    display: block;
    width: 300px;
    opacity: .3;

    &.complete {
      opacity: 1;
    }
  }
}

.loadout-item {
  position: relative;
}

.loadout-content {
  padding: 1em;
}

.loadout-contents {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 50px;
  min-height: calc(var(--item-size) + 4px);
  overflow-x: auto;
  .equipped {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 2px;
    background-image: url('../../images/spartan.png');
    background-color: rgba(255, 0, 0, 0.6);
    background-size: 16px 16px;
  }
  .warn:before {
    width: 14px;
    height: 14px;
    font-size: 14px;
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 2px;
    content: '\f071';
    background-color: rgba(255, 204, 204, 0.6);
    background-size: 14px 14px;
  }
}

.loadout-bucket {
  display: flex;
  margin-right: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
