.container {
  margin-bottom: 8px;
}

.title {
  font-size: 12px;
  text-transform: uppercase;
}

.categories {
  display: flex;
  flex-direction: row;
}

.category {
  display: block;
  margin-right: 16px;
}

.categoryName {
  font-size: 10px;
  text-transform: uppercase;
}

.mods {
  display: flex;
  flex-direction: row;
  align-items: center;

  > * {
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.addMod {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-size: calc((var(--item-size) / 3));
  height: calc((var(--item-size) + ((var(--item-size) / 5) + 4px) - 1px));
  justify-content: center;
  margin: 0;
  opacity: 0.3;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
  width: calc(var(--item-size) / 2);

  &:hover {
    opacity: 1;
  }
}
