.container {
  margin: 8px 0;
}

.title {
  font-size: 13px;
  margin-right: 4px 0;
  text-transform: uppercase;
}

.disclaimer {
  font-style: italic;
  padding-top: 8px;
}

.warningIcon {
  color: yellow;
  margin-right: 4px;
}

.categories {
  display: flex;
  flex-direction: row;
}

.category {
  display: block;
  margin-right: 16px;
}

.categoryNameContainer {
  display: flex;
}

.categoryName {
  flex-grow: 1;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  width: 0;
}

.mods {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: fit-content;

  > * {
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.addMod {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-size: calc((var(--item-size) / 3));
  height: calc((var(--item-size) + ((var(--item-size) / 5) + 4px) - 1px));
  justify-content: center;
  margin: 0;
  opacity: 0.3;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
  width: calc(var(--item-size) / 2);

  &:hover {
    opacity: 1;
  }
}
