@import '../../scss/variables.scss';

.notifications-container {
  position: fixed;
  top: $header-height;
  right: 0;
  z-index: 1000;
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  backface-visibility: hidden;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include phone-portrait {
    bottom: 0;
    flex-direction: column-reverse;
    padding-bottom: 44px;
    padding-bottom: calc(44px + constant(safe-area-inset-bottom));
    padding-bottom: calc(44px + env(safe-area-inset-bottom));
  }

  @media all and (display-mode: standalone) {
    padding-bottom: 0;
  }
}
