@import '../../scss/variables.scss';

.notifications-container {
  position: fixed;
  top: $header-height;
  right: 0;
  z-index: 1000;
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  backface-visibility: hidden;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
