.roll {
  display: flex;
  flex-direction: row;
}

.orGroup {
  border: 1px solid #333;
  border-radius: calc((16 / 50 * var(--item-size)) + 2px);
  padding: 2px;

  &:nth-child(n + 1) {
    margin-left: 2px;
  }
}
