@use 'sass:color';
@use '../variables.scss' as *;

.roll {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.orGroup {
  border: 1px solid #333;
  border-radius: calc(#{dim-item-px(16)} + 2px);
  padding: 2px;
}

.notes {
  max-width: 50em;
  line-height: 1.4;
  text-wrap: pretty;
  white-space: pre-wrap;
}

.invalidPlug {
  color: $red;
  border: 1px solid $red;
  background: color.scale($red, $lightness: -90%);
  border-radius: 100%;
  size: calc(#{dim-item-px(30)});
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
}

.rollGroup {
  h3 {
    &:has(+ .subtitle) {
      margin-bottom: 0;
    }
  }
}

.subtitle {
  color: var(--theme-text-secondary);
  margin-top: 0.1em;
  margin-bottom: 0.5em;
}
