@use 'sass:color';
@import '../variables.scss';

.roll {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.orGroup {
  border: 1px solid #333;
  border-radius: calc((16 / 50 * var(--item-size)) + 2px);
  padding: 2px;
}

.notes {
  max-width: 50em;
  line-height: 1.4;
  text-wrap: pretty;
  white-space: pre-wrap;
}

.invalidPlug {
  color: $red;
  border: 1px solid $red;
  background: color.scale($red, $lightness: -90%);
  border-radius: 100%;
  height: calc(30 / 50 * var(--item-size));
  width: calc(30 / 50 * var(--item-size));
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
}
