@import '../variables';

.armory {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  padding: 16px;
  box-sizing: border-box;
  background-color: #0b0c0f;

  :global(.collapse-content) {
    background: rgba(0, 0, 0, 0.2);
  }
}

.links {
  float: right;
  margin: 0 0 0 32px;
  padding: 0;
}

.header {
  --item-size: 100px;
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;

  h1 {
    @include destiny-header;
    margin: 0 0 4px 0;
  }

  :global(.item) {
    margin: 0 16px 16px 0;
    img {
      // We're scaling up, keep it sharp
      image-rendering: pixelated;
    }
  }

  p {
    margin: 8px 0 0 0;
    white-space: pre-wrap;
  }
}

.subtitle {
  display: flex;
  align-items: center;
  > * {
    margin: 0;
  }
  @include horizontal-space-children(4px);
}

.source {
  display: flex;
  align-items: center;
  &:nth-child(2) {
    border-left: 1px solid white;
    padding-left: 6px;
    margin-left: 4px;
  }
  > img {
    margin-right: 2px;
  }
}

.flavor {
  font-style: italic;
}

.stats {
  width: 300px;
}
