<div ng-if="vm.service.active" id="item-farming">
  <div class="engram-icon">
    <div class="item-count">{{ vm.service.itemsMoved }}</div>
    <img
      class="engram"
      ng-class="{ active: (vm.service.movingItems || vm.service.makingRoom) }"
      src="~app/images/engram.svg"
      height="60"
      width="60"
    />
  </div>
  <div>
    <p
      ng-i18next="[i18next]({ store: vm.service.store.name, context: vm.service.store.gender }){{ vm.makeRoomForItems ? 'FarmingMode.Desc' : 'FarmingMode.MakeRoom.Desc' }}"
    ></p>
    <div class="item-details">
      <div>
        <p ng-i18next="FarmingMode.Configuration"></p>
        <p>
          <input
            id="make-room-for-items"
            type="checkbox"
            ng-change="vm.makeRoomForItemsChanged()"
            ng-model="vm.makeRoomForItems"
          /><label
            for="make-room-for-items"
            ng-i18next="[title]FarmingMode.MakeRoom.Tooltip;FarmingMode.MakeRoom.MakeRoom"
          ></label>
        </p>
      </div>
      <div>
        <p ng-i18next="FarmingMode.Quickmove"></p>
        <div>
          <div
            class="item"
            ng-repeat="item in vm.service.consolidate track by $index"
            ng-click="vm.consolidate(item, vm.service.store)"
          >
            <div class="item-img" ng-style="item.icon | bungieBackground"></div>
            <div class="item-stat">
              <div class="primary-stat">{{ item.amount }}</div>
            </div>
          </div>
        </div>
      </div>
      <span><button ng-click="vm.stop($event)" ng-i18next="FarmingMode.Stop"></button></span>
    </div>
  </div>
</div>
