.metric {
  background-color: black;
}

.icon {
  position: relative;
}

.bannerIcon {
  position: absolute;
  width: 18px;
}

.scopeIcon {
  position: absolute;
  width: 16px;
  left: 1px;
  top: 16px;
}

.metricIcon {
  position: absolute;
  width: 16px;
  left: 1px;
  top: 29px;
}
