.presentation-node {
  .collapse {
    margin-right: 4px;
  }

  > .presentation-node > .presentation-node {
    margin-left: 1em;
  }

  &.only-child {
    margin-left: 0 !important;
  }

  .leaf-node {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    margin: 8px 0 4px 2px;
    .node-name {
      margin-right: 8px;
      flex: 1;
    }
  }

  .node-name {
    img {
      height: 24px;
      width: 24px;
      vertical-align: middle;
    }
  }

  .node-progress {
    text-align: right;
    .node-progress-count {
      font-size: 12px;
      text-transform: none;
      letter-spacing: 0;
    }
    .node-progress-bar {
      background: #666;
      height: 2px;
      width: 8em;
      margin-top: 2px;
    }
    .node-progress-bar-amount {
      background: #ccc;
      height: 2px;
    }
  }

  .leaf-node .node-progress {
    margin-right: 16px;
    .node-progress-count {
      font-size: 11px;
    }
  }
}

.collectibles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
