@import '../../scss/variables.scss';

.triumph-record {
  width: calc(33% - 18px);
  background: #282828;
  border: 1px solid #282828;
  padding: 8px 8px 8px 4px;
  margin: 3px;
  display: flex;
  flex-direction: row;

  @include phone-portrait {
    width: 100%;
  }

  h3 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
  }

  p {
    margin: 0 0 8px 0;
    color: #a1a2a2;
    white-space: pre-wrap;
  }

  .record-objectives {
    margin-top: 8px;
  }

  .record-info {
    flex: 1;
  }

  .record-value {
    float: right;
    color: #a1a2a2;
  }

  &.obscured h3 {
    color: #a1a2a2;
  }

  &.redeemed {
    border-color: $gold;
    .record-value {
      display: none;
    }
  }

  &.unlocked {
    border-color: $blue;
  }

  .record-lore img {
    margin-right: 4px;
    vertical-align: bottom;
  }

  .record-icon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 4px;
  }
}
