<div>
    <h1>Apoyando DIM</h1>
    <div class="ngdialog-inner-content">
        <p>DIM es un producto gratis para descargar y usar. El código fuente de DIM es de fuente abierta, y libre para que cualquiera pueda mejorar. Nunca verás anuncios en DIM. Ese es nuestro compromiso.</p>
        <p>Todos somos grandes fans de Destiny. DIM se hizo realidad entre horas de juego porque sentimos ese dolor al transferir objetos entre nuestros personajes y olvidar un solo artículo, o viajes a la Torre para descargar nuestras recompensas de asaltos ROC. DIM es la herramienta que te permitirá conseguir más tiempo en el juego.</p>
        <h2>¿Cómo puedo contribuir?</h2>
        <div>
            <dl>
<dt>Dale una propina a DIM!</dt>
                <dd>Utilizamos <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=EE2BLN2YN2Q5L" target="_blank">PayPal</a> para aceptar propinas. Si DIM ha hecho una diferencia en tu experiencia en el juego, considera apoyar al equipo trabajando en el proyecto.</dd>
            </dl>
<dl>
<dt>Únete al Equipo Traductor!</dt>
                <dd>Para una traducción sin inconvenientes usamos <a href="https://www.transifex.com/destiny-item-manager/destiny-item-manager/" target="_blank">Transifex</a>. Si quieres que DIM esté en tu lenguaje únete al equipo de traducción.</dd>
            </dl>
<dl>
<dt>Comparte DIM con tus amigos.</dt>
                <dd>Una vez que hayas experimentado que tan fácil es equipar tus artículos, quedarás enganchado. Comparte la diversión con tus amigos!</dd>
            </dl>
<dl>
<dt>¿Tienes alguna idea para DIM?</dt>
                <dd>Visítanos en <a href="http://destinyitemmanager.reddit.com" target="_blank">/r/destinyitemmanager</a> y háznos saber sobre tu idea. También escucharás sobre nosotros y la comunidad que rodea DIM lo cual es una gran forma de iterar y mejorar una idea.</dd>
            </dl>
<dl>
<dt>Soy un desarrollador/diseñador/entusiasta y estoy buscando contribuir al código fuente.</dt>
                <dd>Visítanos en <a href="https://github.com/DestinyItemManager/DIM/" target="_blank">GitHub</a> y envía un mensaje a alguno de los contribuidores. Estámos mas que felices de aceptar pull requests. Únete como un como un contribuidor y asiste a alguna de nuestras juntas donde hablamos de la siguiente versión de DIM, actualizaciones de características, o aplastando bugs.</dd>
            </dl>
</div>
    </div>
</div>
