@import '../../scss/variables.scss';

.character-order-editor {
  display: flex;
  flex-direction: row;

  .character-order-editor-item {
    width: calc(400px - 25px / 3);
    background: black;
    padding: 8px;
    text-align: center;
    margin: 8px;
  }
}

.sortable-character {
  img {
    height: 44px;
    width: 44px;
  }
  .power-level {
    color: $power;
    &:before {
      content: '\2726';
      display: inline-block;
      vertical-align: 25%;
      font-size: 50%;
    }
  }
}
