@use '../variables.scss' as *;

.headerRow {
  composes: flexRow from '../dim-ui/common.m.scss';
  align-items: center;

  label {
    flex-grow: 1;
  }
}

.customDesc {
  composes: fineprint from './SettingsPage.m.scss';
}

// a style for inputs or input wrappers
.inputlike {
  box-sizing: border-box;
  flex-grow: 1;
  border: 0;

  @include interactive($hover: true, $focus: true) {
    outline: none;
    box-shadow: inset 0 0 0 1px var(--theme-search-dropdown-border);
  }
}

.statOption {
  background: #4443;
  border: 1px solid #0000;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--theme-text);
  flex: 0 !important;
  gap: 4px;
  padding: 3px 0;
  display: flex !important;
  align-items: center;
  margin: 0;
  flex-direction: row;

  @include phone-portrait {
    flex-direction: column;
  }
}

.classOption {
  display: flex;
  gap: 7px;
  font-size: 16px !important;
  align-items: center;
  cursor: default;
  user-select: none;
}

.classDropdownIcon {
  margin: 0;
  height: 18px;
  width: 18px;
  font-size: 18px !important;
}

// editor for a single stat
.customStatEditor {
  composes: flexColumn from '../dim-ui/common.m.scss';
  border: 1px solid;
  margin: 8px 0;
  padding: 6px;
  animation: pulse-border 1s ease-in-out 0s infinite alternate;
  gap: 4px;
}

.identifyingInfo {
  composes: flexWrap from '../dim-ui/common.m.scss';
  align-items: center;
  justify-content: flex-end;
  gap: 8px;

  img {
    height: 1.5em;
  }
  code {
    background-color: #000;
  }
}

.label {
  flex-grow: 1;
  text-wrap: balance;
}

.classIcon {
  font-size: 20px;
  width: 1.4em;
  text-align: center;
}

.filter {
  flex-grow: 1;
  color: var(--theme-text-secondary);
}

.zero {
  opacity: 0.4;
}

.editableStatsRow {
  composes: flexRow from '../dim-ui/common.m.scss';
  align-items: center;
  justify-content: space-between;
  gap: 4px;

  img {
    height: 1.5em;
  }
}

// all info for a custom stat, without the editing controls
.customStatView {
  composes: flexRow from '../dim-ui/common.m.scss';
  align-items: center;
  gap: 8px;
}

@keyframes pulse-border {
  0% {
    border-color: #fff8;
  }
  100% {
    border-color: #fff4;
  }
}
