@import '../variables.scss';

.settings {
  font-size: 14px;
  max-width: 500px;
  padding: 0 10px;

  select,
  .dim-button {
    font-size: 14px;
  }

  h1 {
    margin: 8px 0 8px 0;
  }

  h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0 0 4px 0 !important;
  }

  section {
    margin-bottom: 2em;
  }

  react-toggle {
    display: inherit;
  }

  .setting {
    padding: 8px;
    margin: 0 0 4px 0;
    background-color: #222;
    > .setting {
      padding: 0;
      margin: 0;
    }
  }

  .horizontal {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
    align-items: center;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .itemSize {
    label {
      flex: 0;
      white-space: nowrap;
      margin-right: 0;
    }

    input {
      flex: 1;
      margin: 0 1em;
    }

    button {
      margin-left: 1em;
    }
  }

  label {
    flex: 1;
    display: block;
    margin-right: 1em;
  }
  .stylizedAnchor {
    margin-right: 0.5em;
  }

  .examples {
    margin: 0 0 4px 0;
    display: flex;
    flex-direction: row;
    @include horizontal-space-children(4px);
  }

  .radioOptions {
    margin: 8px 0 0 4px;
    label {
      display: block;
      margin-bottom: 2px;
    }
  }

  td:nth-child(2) {
    white-space: nowrap;
    min-width: 20em;
  }

  .ratings-key {
    margin-top: 4px;
  }

  input[type='checkbox'] {
    font-size: 16px;
  }

  .wish-list-text {
    width: 100%;
    background: #313233;
    color: #999;
    border-radius: 4px;
    height: 30px;
    border: none;
    ::placeholder {
      color: #999;
    }
  }

  .customStats {
    display: grid;
    grid-template-columns: max-content 1fr;
    margin: 8px 0 0 0;
    gap: 4px 8px;
  }
}
