.sort-order-editor {
  padding: 4px 0 0 0;
}

.sort-order-editor-item {
  background: black;
  padding: 4px 8px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: opacity 0.2s;

  .fa,
  .app-icon {
    padding: 4px;
  }

  .sort-button {
    cursor: pointer;
    transition: opacity 0.2s;
  }

  &.is-dragging {
    .sort-button {
      opacity: 0;
    }
  }

  .reorder-handle {
    color: #444;
  }

  .name {
    flex: 1;
    margin: 0 6px;
  }
}
